<template>
  <home-item
    title="Alerts"
    :loading="loading"
  >
    <div v-if="failed">
      Couldn't get alerts.
    </div>
    <div v-else-if="alerts && alerts.length > 0">
      <div>
        <div
          class="p-3"
          v-for="alert in alerts"
          :key="alert.summarized ? alert.summarized.reduce((prev, curr) => prev + curr.id) : alert.id"
          :class="{ blur: !isPro }"
        >
          <alert-display        
            :alert="alert"
            :isPro="isPro"
            :linkToExpandedAlerts="true"
          />
        </div>
        <div v-if="isPro">
          <div
            class="has-text-centered mt-3"
            :set="settings = getAlertSettings()"
            v-if="more"
          >
            <action
              :text="'View more alerts from the last week'"
              :route="{
                name: 'Alerts',
                query: {
                  filter: settings ? JSON.stringify(settings) : undefined
                }
              }"
            />
          </div>
        </div>
        <div v-else class="pl-2 mt-3">
          <router-link
            :to="{
              name: 'AccountSettings',
              query: {
                section: 'payment'
              } 
            }"
          >
            Become a PLAN_NAME
          </router-link> to see {{ alerts.length }}{{ more ? '+' : '' }} alerts for {{ settings ? 'this device' : 'your devices'}}.
        </div>
      </div>
    </div>
    <!-- Explain alerts if there aren't any -->
    <alerts-placeholder v-else-if="!loading"/>
  </home-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import HomeItem from '@/components/account-home/home-item.vue'
import Action from '@/components/common/action.vue'
import dayjs from 'dayjs'
import { Prop, Watch } from 'vue-property-decorator'
import { AlertsFilterSettings } from '@/requests/alerts-v2/get-alerts-with-filter'
import GetAlerts, { Alert, AlertsResult } from '@/requests/alerts-v2/get-alerts'
import GetAlertsWithFilter from '@/requests/alerts-v2/get-alerts-with-filter'
import PostAlertsDismissed from '@/requests/alerts-v2/post-alerts-dismissed'
import { MetaResp } from '@/requests/request'
import AlertDisplay from '@/components/alerts/alert-display.vue'

@Component({
  components: {
    HomeItem,
    Action,
    AlertDisplay,
    AlertsPlaceholder: () => import('@/components/common/alerts-placeholder.vue')
  }
})
export default class AlertsItem extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly mac: string | undefined
  @Prop() readonly num: number | undefined
  /**
   * The returned alerts.
   */
  alerts: Alert[] | null = null
  more = false
  failed = false
  loading = true

  /**
   * Requests.
   */
  getAlerts = new GetAlerts()
  getAlertsWithFilter = new GetAlertsWithFilter()
  postAlertsDismissed = new PostAlertsDismissed()

  @Watch('deviceID')
  @Watch('mac')
  load () {
    this.loading = true
    this.failed = false
    this.more = false
    this.alerts = null
    const timestamp = dayjs().subtract(6, 'd').startOf('day').unix()
    const done = (alerts: MetaResp<AlertsResult>) => {
      if (alerts.spec.alerts) {
        this.alerts = alerts.spec.alerts
        this.more = alerts.spec.more
      } else {
        // Handle when alerts is null - means none are available
        this.alerts = []
        this.more = false
      }
      this.loading = false
      this.$emit('done')
    }
    const failed = () => {
      this.failed = true
      this.loading = false
      this.$emit('done')
    }
    const pageOptions = {
      'num-per-page': this.numAlerts,
      page: 0,
      start: timestamp
    }
    const settings = this.getAlertSettings()
    if (settings) {
      this.getAlertsWithFilter.handle({
        query: pageOptions,
        filter: settings
      }).then(done).catch(failed)
    } else {
      this.getAlerts.handle(pageOptions).then(done).catch(failed)
    }
  }

  mounted () {
    this.load()
  }

  getAlertSettings (): AlertsFilterSettings | null {
    if (!this.mac && this.deviceID) {
      return {
        allDevices: false,
        deviceId: this.deviceID,
        categories: {},
        devices: {
          implicitExclude: true,
          includedDevices: {}
        },
        dataSources: []
      } as AlertsFilterSettings
    } else if (this.deviceID && this.mac) {
      const includedDevices: {[compoundID: string]: boolean} = {}
      includedDevices[this.deviceID + '/' + this.mac] = true
      return {
        allDevices: false,
        deviceId: '',
        categories: {},
        dataSources: [],
        devices: {
          implicitExclude: true,
          includedDevices: includedDevices
        }
      } as AlertsFilterSettings
    } else {
      return null
    }
  }


  /**
   * Dismiss an alert shown here.
   */
  deleteAlert (alertID: string): void {
    this.postAlertsDismissed.handle([alertID]).then(() => {
      if (this.alerts !== null) {
        this.alerts = this.alerts.filter(alert => alert.id !== alertID)
      }
    })
  }

  get numAlerts (): number {
    if (!this.num) {
      return 10
    }
    return this.num
  }
}
</script>

<style scoped>
.more {
  margin-top: 10px;
}
</style>
