<template>
  <home-item
    title="Blocked categories"
    class="usage-item"
    :loading="loading"
  >
    <p v-if="placeholder" class="has-text-grey pl-2">
      Nothing to show yet.
    </p>
    <canvas ref="canvas" v-else/>
    <action
      class="pl-2 pt-2"
      text="More info"
      v-if="isPro"
      :route="{
        name: 'Usage',
        query: {
          'section': 'blocked'
        }
      }"
    />
    <div v-else class="pl-2 pt-2">
      <router-link
        :to="{
          name: 'AccountSettings',
          query: {
            section: 'payment'
          } 
        }"
      >
        Become a PLAN_NAME
      </router-link>
      to see more detail.
    </div>
  </home-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import HomeItem from '@/components/account-home/home-item.vue'
import { ArcElement, Chart, DoughnutController, Legend, Tooltip } from 'chart.js'
import dayjs from 'dayjs'
import Action from '@/components/common/action.vue'
import GetBlockedCategories, { CategoryCount } from '@/requests/usage-v2/get-blocked-categories'
import { Prop, Watch } from 'vue-property-decorator'

Chart.register(DoughnutController, ArcElement, Legend, Tooltip)

@Component({
  components: {
    HomeItem,
    Action
  }
})
export default class UsageItem extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly mac: string | undefined

  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * Whether to show placeholder when there is no data.
   */
  placeholder = false

  categoryCount: CategoryCount[] = []

  chart: Chart<"doughnut", number[], string> | null = null

  readonly START_COLOR = [216, 27, 96]
  readonly END_COLOR = [253, 216, 53]

  /**
   * Requests.
   */
  getBlockedCategories = new GetBlockedCategories()

  @Watch('deviceID')
  @Watch('mac')
  load () {
    this.loading = true
    this.placeholder = false
    this.categoryCount = []
    // Get the requests
    const timestamp = dayjs().subtract(6, 'd').startOf('day').unix()
    this.getBlockedCategories.handle({
      'device-id': this.deviceID,
      'mac': this.mac,
      'start-timestamp': timestamp
    }).then(data => {
      this.loading = false
      this.categoryCount = data.spec
      if (!data.spec || !data.spec.length) {
        // No data
        this.placeholder = true
        this.$emit('done')
        return
      }
      const occurrences = data.spec.map(count => count.count)
      const labels = data.spec.map(count => count.category)
      const canvasEl = this.$refs.canvas as HTMLCanvasElement
      const ctx = canvasEl.getContext('2d') as CanvasRenderingContext2D
      if (this.chart !== null) {
        this.chart.destroy()
      }
      this.chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [
            {
              data: occurrences,
              backgroundColor: occurrences.map((_, index) => {
                // Create a smooth gradient from red to yellow
                const propThrough = index / (occurrences.length - 1) // Proportion we are through categories
                const rgb = this.START_COLOR.map((colVal, idx) => {
                  const diff = this.END_COLOR[idx] - colVal
                  const add = diff * propThrough
                  return colVal + add
                })
                return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')'
              })
            }
          ],
          labels: labels
        },
        options: {
          responsive: true
        }
      })
      this.$emit('done')
    })
  }
  
  mounted () {
    this.load()
  }
}
</script>

<style scoped>
</style>
