<template>
  <div class="home-item card p-5 mb-5 mr-5 has-background-white">
    <div>
      <skeleton-text v-if="loading"></skeleton-text>
      <div v-else class="has-family-secondary has-text-weight-semibold is-size-5 mb-2 pl-2"> {{ title }} </div>
    </div>
    <slot/>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import SkeletonText from '@/components/common/skeleton-text.vue'

@Component({
  components: {
    SkeletonText
  }
})
export default class HomeItem extends Vue {
  /**
   * The title to show at the top.
   */
  @Prop() readonly title: string | undefined
  /**
   * Whether to show skeleton text instead of a title.
   */
  @Prop() readonly loading: boolean | undefined
}
</script>

<style scoped>
.home-item {
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  width: 715px;
}

@media (max-width: 1100px) {
  .home-item {
    padding: 20px 10px;
    box-shadow: none;
    border-radius: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px;
    width: 100%;
  }
}
</style>
