<template>
  <home-item
    title="My device"
    :loading="loading"
    v-if="show"
  >
    <div v-if="!loading">
      <!-- If we are on a ROUTER_NAME network, link to its settings. -->
      <my-lifeguard v-if="routerResolved"/>
      <!-- If not on ROUTER_NAME but are encrypted, show so -->
      <!-- Show notification status -->
      <self-service-page :fromHome="true"/>
    </div>
  </home-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import HomeItem from '@/components/account-home/home-item.vue'
import RaisedItem from '@/components/common/raised-item.vue'
import GetRouter from '@/requests/proto/get-router'
import EnableNotifications from '@/components/account-home/enable-notifications.vue'
import SelfServicePage from '@/components/home/self-service-page.vue'

@Component({
  components: {
    HomeItem,
    RaisedItem,
    MyLifeguard: () => import('@/components/account-home/my-lifeguard.vue'),
    EnableNotifications,
    SelfServicePage
  }
})
export default class MyDeviceItem extends Vue {
  loading = true
  routerResolved = false
  show = true

  /**
   * Requests.
   */
  getRouter = new GetRouter()

  mounted () {
    this.getRouter.handle().then(() => {
      this.routerResolved = true
    }).catch(() => {}).finally(() => {
      if (!this.routerResolved && !localStorage.getItem('my-ss-self-service-page')) {
        this.show = false
      }
      this.loading = false
      this.$emit('done')
    })
  }
}
</script>

<style scoped>
.help-inner {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
