<template>
  <raised-item>
    <div class="v-center">
      <b-icon
        icon="router-wireless"
        type="is-primary"
      />
      <span>
        On ROUTER_NAME Network.
      </span>
      <!-- Button to view mydevice -->
      <b-button
        outlined
        rounded
        type="is-primary"
        tag="a"
        :href="routerHost"
        target="blank"
      >
        View ROUTER_NAME
      </b-button>
    </div>
  </raised-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import RaisedItem from '@/components/common/raised-item.vue'
import { getRouterHost } from '@/helpers/functions'

@Component({
  components: {
    RaisedItem
  }
})
export default class MyLifeguard extends Vue {

  get routerHost (): string {
    return getRouterHost()
  }
}
</script>

<style scoped>
</style>
