<template>
  <home-item
    v-show="show"
    title="Recently online"
    :loading="loading"
  >
    <div v-if="devices">
      <router-link
        v-for="deviceId in devicesList"
        :key="deviceId"
        :to="{
          name: 'Devices',
          query: {
            'device-id': devices.devices[deviceId].id,
            'mac': devices.devices[deviceId].mac
          }
        }"
      >
        <button-field-card
          :title="devices.devices[deviceId].name"
          :tags="getDeviceTags(devices.devices[deviceId])"
          :buttonLinks="{
            router: {
              name: 'Devices',
              query: {
                'device-id': devices.devices[deviceId].parents ? devices.devices[deviceId].parents.filter(parent => parent && devices.devices[parent].type === 'router')[0] : undefined
              }
            }
          }"
          :fields="getDeviceFields(devices.devices[deviceId])"
          :icon="getDeviceIcon(devices.devices[deviceId])"
          :clickable="true"
        >
          <div
            v-if="devices.devices[deviceId].type === 'group'"
            slot="top-left"
            style="position: relative; width: 34px; height: 22px;"
          >
            <group-icon
              :icon="devices.devices[deviceId].icon"
              :small="true"
              style="position: absolute; top: -16px; left: -15px;"
            />
          </div>
        </button-field-card>
      </router-link>
    </div>
    <div class="is-flex is-justify-content-center">
      <action
        text="All devices"
        :route="{
          name: 'Devices'
        }"
      />
    </div>
  </home-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import HomeItem from '@/components/account-home/home-item.vue'
import Action from '@/components/common/action.vue'
import { Prop } from 'vue-property-decorator'
import { Device, DevicesList } from '@/requests/devices-v2/get-devices-list'
import { getDeviceIcon, getDevices, getDeviceType } from '@/helpers/functions'
import dayjs from 'dayjs'
import ButtonFieldCard, { Tag } from '../common/button-field-card.vue'
import GroupIcon from '../my-devices/group-icon.vue'

@Component({
  components: {
    HomeItem,
    Action,
    ButtonFieldCard,
    GroupIcon
  }
})
export default class OnlineItem extends Vue {
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly num: number | undefined
  
  loading = true
  show = true
  devicesList: string[] | null = null
  devices: DevicesList | null = null

  mounted () {
    if (!this.num || this.deviceID) {
      this.$emit('done')
      this.loading = false
      this.show = false
      return
    }
    const n = this.num
    getDevices().then(devices => {
      if (devices.activityStatus !== 'OK' || !devices.deviceOrder) {
        this.show = false
        return
      }
      this.devices = devices
      this.devicesList = devices.deviceOrder
        .map(id => (devices.devices as {[id: string]: Device})[id]) // Convert to list of device objects
        .filter(device => device.lastActivity && device.type !== 'router') // Only include those with recent activity and exclude routers
        .filter(device =>
          !device.parents ||
          !device.parents.some(parent => parent && (devices.devices as {[id: string]: Device})[parent].type === 'group')) // Include group over individual devices
        .slice(0, n) // Top n results
        .map(device => device.id + (device.mac ? '/' + device.mac : '')) // Back to compound id
      if (!this.devicesList.length) {
        this.show = false
      }
    }).catch(() => this.show = false).finally(() => {
      this.loading = false
      this.$emit('done')
    })
  }

  getDeviceIcon (device: Device): string | undefined {
    return getDeviceIcon(device)
  }

  getDeviceFields (device: Device): string[][] {
    return [
      ['Last seen:', this.formatTime(device.lastActivity, true)],
      ['Type: ', getDeviceType(device)]
    ]
  }

  formatTime (time: number, isUsageData?: boolean): string {
    if (isUsageData && this.devices && this.devices.activityStatus !== 'OK') {
      if (this.devices.activityStatus === 'OFF_LOGGING') {
        return 'Logging is disabled'
      } else {
        return 'Temporarily unavailable'
      }
    }
    return time ? dayjs.unix(time).fromNow() : 'Never (or over 90 days ago)'
  }

  getDeviceTags (device: Device): Tag[] {
    const tags: Tag[] = []
    if (this.devices && device.parents && device.parents.length) {
      const devicesList = this.devices.devices
      const routers = device.parents.filter(parent => parent && (devicesList as {[key: string]: Device})[parent].type === 'router')
      if (routers.length) {
        const router = (devicesList as {[key: string]: Device})[routers[0]]
        tags.push({
          name: 'router',
          text: 'On network "' + router.name + '"',
          type: 'is-grey',
          icon: 'router-wireless'
        })
      }
    }
    return tags
  }
}
</script>
