<template>
  <home-item
    title="Update Subscription"
    v-if="!isPro"
  >
    <div class="pl-2">
      <router-link
        :to="{
          name: 'AccountSettings',
          query: {
            section: 'payment'
          } 
        }"
      >
        Become a PLAN_NAME
      </router-link>
      to see more on your dashboard.
    </div>
  </home-item>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import HomeItem from '@/components/account-home/home-item.vue'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {
    HomeItem
  }
})
export default class SubscriptionItem extends Vue {
  @Prop() readonly isPro: boolean | undefined

  mounted () {
    this.$emit('done')
  }
}
</script>
