<template>
  <home-item
    title="Top categories"
    class="usage-item"
    :loading="loading"
  >
    <p v-if="placeholder" class="has-text-grey pl-2">
      Nothing to show yet.
    </p>
    <canvas ref="canvas" v-else />
    <action
      class="pl-2 pt-2"
      v-if="isPro"
      text="More info"
      :route="{
        name: 'Usage',
        query: {
          'section': 'allowed'
        }
      }"
    />
    <div v-else class="pl-2 pt-2">
      <router-link
        :to="{
          name: 'AccountSettings',
          query: {
            section: 'payment'
          } 
        }"
      >
        Become a PLAN_NAME 
      </router-link>
      to see more detail.
    </div>
  </home-item>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import HomeItem from '@/components/account-home/home-item.vue'
import { ArcElement, Chart, ChartOptions, DoughnutController, Legend, Tooltip } from 'chart.js'
import dayjs from 'dayjs'
import GetViewedCategories from '@/requests/usage-v2/get-viewed-categories'
import Action from '@/components/common/action.vue'
import { Prop, Watch } from 'vue-property-decorator'

Chart.register(DoughnutController, ArcElement, Legend, Tooltip)

@Component({
  components: {
    HomeItem,
    Action
  }
})
export default class UsageItem extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly mac: string | undefined
  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * Our data.
   */
  occurences: number[] = []
  labels: string[] = []
  /**
   * The chart.
   */
  chart: Chart | null = null
  /**
   * The last window width.
   */
  lastWidth = -1
  /**
   * Whether to allow updating the graph. Used for throttling
   * updates against window resizes.
   */
  allowUpdate = true
  /**
   * Whether to show a placeholder.
   */
  placeholder = false

  /**
   * Width threshold to show a more compact view.
   */
  readonly MOBILE_THRESHOLD = 1000
  readonly START_COLOR = [142, 36, 170]
  readonly END_COLOR = [3, 155, 229]

  /**
   * Requests.
   */
  getViewedCategories = new GetViewedCategories()

  private updateGraphFunc = this.updateGraph.bind(this)

  @Watch('deviceID')
  @Watch('mac')
  load () {
    this.loading = true
    this.occurences = []
    this.labels = []
    this.placeholder = false
    // Get the requests
    const timestamp = dayjs().subtract(6, 'd').startOf('day').unix()
    this.getViewedCategories.handle({
      'device-id': this.deviceID,
      'mac': this.mac,
      'start-timestamp': timestamp
    }).then(data => {
      this.loading = false
      if (!data.spec || !data.spec.length) {
        this.placeholder = true
        return
      }
      this.occurences = data.spec.slice(0, 10).map(count => count.count)
      this.labels = data.spec.slice(0, 10).map(count => count.category)
      if (!this.placeholder) {
        this.updateGraph()
      }
      this.$emit('done')
    })
    window.addEventListener('resize', this.updateGraphFunc)
  }

  mounted () {
    this.load()
  }

  beforeDestroy () {
    window.removeEventListener('resize', this.updateGraphFunc)
  }

  /**
   * @returns The chart options for the current screen width.
   */
  getOptions (): ChartOptions {
    const width = window.innerWidth
    if (width < this.MOBILE_THRESHOLD) {
      return {
        responsive: true,
        aspectRatio: 2.1,
        plugins: {
          legend: {
            display: false
          }
        }
      }
    } else {
      return {
        responsive: true,
        aspectRatio: 1.25
      }
    }
  }

  updateGraph () {
    if (this.allowUpdate) {
      this.allowUpdate = false
      window.requestAnimationFrame(() => {
        // Lazy function
        const width = window.innerWidth
        if (this.lastWidth === -1 ||
          (width < this.MOBILE_THRESHOLD && this.lastWidth > this.MOBILE_THRESHOLD) ||
          (width > this.MOBILE_THRESHOLD && this.lastWidth < this.MOBILE_THRESHOLD)) {
          // If we passed through the mobile threshold, reinit the graph
          const canvasEl = this.$refs.canvas as HTMLCanvasElement
          if (!canvasEl) {
            return
          }
          const ctx = canvasEl.getContext('2d') as CanvasRenderingContext2D
          if (this.chart) {
            this.chart.destroy()
          }
          this.chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              datasets: [
                {
                  data: this.occurences,
                  backgroundColor: this.occurences.map((_, index) => {
                    // Create a smooth gradient
                    const propThrough = index / (this.occurences.length - 1) // Proportion we are through categories
                    const rgb = this.START_COLOR.map((colVal, idx) => {
                      const diff = this.END_COLOR[idx] - colVal
                      const add = diff * propThrough
                      return colVal + add
                    })
                    return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')'
                  })
                }
              ],
              labels: this.labels
            },
            options: this.getOptions()
          })
        }
        this.lastWidth = width
        this.allowUpdate = true
      })
    }
  }
}
</script>

<style scoped>
</style>
