<template>
  <b-modal
    :active="true"
    v-on:update:active="$emit('new-active', $event)"
    style="z-index: 100;"
  >
    <div class="inner">
      VPNs (Virtual Private Networks) can be used to get around firewalls and filtering restrictions, like those on your ROUTER_NAME. <br>
      BRAND_NAME monitors your network to detect when a device attempts to use one. <br><br>
      As originally created, VPN technology was used by businesses to access devices from off site; and does have legitimate uses.
    </div>
  </b-modal>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class VpnExplainerModal extends Vue {}
</script>

<style scoped>
.inner {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
</style>
