<template>
  <div>
    <div v-if="loading">
      <spinner/>
    </div>
    <div v-else>
      <b-field label="All devices">
        <b-checkbox :value="value.allDevices" @input="assignFields({'allDevices': $event, 'deviceId': ''})" />
      </b-field>
      <div class="card p-3 mb-3" v-if="!value.allDevices">
        <b-field label="Select...">
          <b-radio
            :value="oneDeviceOnly"
            @input="assignFields({deviceId: '-'})"
            name="name"
            :native-value="true">
            One Device
          </b-radio>
          <b-radio
            :value="oneDeviceOnly"
            @input="assignFields({deviceId: ''})"
            name="name"
            :native-value="false">
            Multiple Devices
          </b-radio>
        </b-field>
        <b-field v-if="oneDeviceOnly" v-bind="oneDeviceOnlyBind">
          <device-selector
            :position="dropdownPosition"
            :mobile="mobile"
            :devices="devices"
            v-model="deviceSelection"
            :validTypes="['android', 'ios', 'windows', 'router', 'router-client', 'group']"
          />
        </b-field>
        <b-field v-else>
          <device-selector-multi
            :position="dropdownPosition"
            :mobile="mobile"
            :devices="devices"
            v-model="multiDeviceSelection"
          />
        </b-field>
      </div>
      <b-field label="Include default categories">
        <b-checkbox
          :value="includeDefaultCategories"
          @input="includeDefaultCategories = $event; $event && assignFields({'categories': {}})"
        />
      </b-field>
      <div class="card p-3 mb-3" v-if="!includeDefaultCategories">
        <b-field label="Included Categories">
          <included-categories
            :value="value.categories"
            @input="assignFields({'categories': $event})"
          />
        </b-field>
      </div>
      <b-field label="All alert types">
        <b-checkbox
          :value="value.dataSources.length === 0"
          @input="$event ? assignFields({'dataSources': []}) : assignFields({'dataSources': Object.keys(ALL_ORIGINS).map(origin => origin)})"
        />
      </b-field>
      <div class="card p-3" v-if="value.dataSources.length > 0">
        <b-field
          v-for="origin in Object.keys(ALL_ORIGINS)"
          :key="origin"
          :label="ALL_ORIGINS[origin].name"
          :set="notAvailable = origin === 'NOACTIVITY' && !loggingEnabled"
          :message="notAvailable ? 'Not available because logging is off' :ALL_ORIGINS[origin].description"
        >
          <b-checkbox
            :disabled="notAvailable"
            :value="notAvailable ? false :value.dataSources.includes(origin)"
            @input="$event ? value.dataSources.push(origin) : value.dataSources.splice(value.dataSources.indexOf(origin), 1)"
          />
        </b-field>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { AlertsFilterSettings } from '@/requests/alerts-v2/get-alerts-with-filter'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'
import Spinner from '@/components/common/spinner.vue'
import DeviceSelector  from '@/components/common/device-selector.vue'
import IncludedCategories from '@/components/alert-settings/included-categories.vue'
import GetLoggingEnabled from '@/requests/user-v2/get-logging-enabled'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import { DeviceSelection, getDevices } from '@/helpers/functions'
import DeviceSelectorMulti from '@/components/common/device-selector-multi.vue'

@Component({
  components: {
    Spinner,
    DeviceSelector,
    IncludedCategories,
    DeviceSelectorMulti
  }
})
export default class AlertFilterEdit extends Vue {
  @Prop() readonly value: AlertsFilterSettings | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop({ default: 'is-bottom-right' }) readonly dropdownPosition: string | undefined

  readonly ALL_ORIGINS: {[origin: string]: object} = {
    'REQUEST': {
      name: 'Blocked Site',
      description: 'See when a device tries to access a blocked site'
    },
    'SCREENSHOT': {
      name: 'Screencast',
      description: 'See when explicit content is detected during a screencast'
    },
    'DEVICE_STATUS': {
      name: 'Device not protected',
      description: 'See when a device self-reports as not protected'
    },
    'EVASION_ATTEMPT': {
      name: 'Evasion attempt',
      description: 'See when a device self-reports an attempt to disable protection'
    },
    'VPN_ATTEMPT': {
      name: 'VPN attempt',
      description: 'See when a suspected VPN connection is made (ROUTER_NAME router clients only)'
    },
    'INSTALLED_APP': {
      name: 'Installed apps',
      description: 'See when new apps are installed on a device'
    },
    'LOGGED_NOTIFICATION': {
      name: 'Notification',
      description: 'See when a notification with matching keywords is detected on a device'
    },
    'NOACTIVITY': {
      name: 'No Activity',
      description: 'See when a device has no recent internet activity, which could indicate protection being disabled'
    },
    'SECURITY_ALERTS': {
      name: 'Security Alert',
      description: 'See when a device has internet activity indicating a security concern'
    }
  }

  includeDefaultCategories = true
  oneDeviceOnly = true
  loading = true
  loggingEnabled = true
  devices: DevicesList | null = null

  getLoggingEnabled = new GetLoggingEnabled()

  @Watch('value', { immediate: true }) updateIncludeDefaultCategories(value: AlertsFilterSettings) {
    this.includeDefaultCategories = Object.keys(value.categories).length === 0
    this.oneDeviceOnly = !value.allDevices && value.deviceId !== ''
  }

  mounted () {
    Promise.all([
      getDevices().then(devices => {
        this.devices = devices
      }),
      this.getLoggingEnabled.handle().then(loggingEnabled => {
        this.loggingEnabled = loggingEnabled.spec
      })
    ]).then(() => this.loading = false)
  }

  assignFields(fields: {[key: string]: any}) {
    const newObj = cloneDeep(this.value)
    this.$emit('input', assign(newObj, fields))
  }

  get deviceSelection (): DeviceSelection {
    if (!this.value) {
      return {id: '', mac: ''}
    }
    return {
      id: this.value.deviceId,
      mac: ''
    }
  }

  set deviceSelection (newSelection: DeviceSelection) {
    this.assignFields({
      'deviceId': newSelection.id
    })
  }

  get multiDeviceSelection (): {[compoundId: string]: boolean} {
    if (!this.value || !this.devices || !this.value.devices || !this.value.devices.includedDevices) {
      return {}
    }
    return this.value.devices.includedDevices
  }

  set multiDeviceSelection (newSelection: {[compoundId: string]: boolean}) {
    this.assignFields({
      'devices': {
        implicitExclude: true,
        includedDevices: newSelection
      }
    })
  }

  /**
   * Validation for the one-device selection.
   */
  get oneDeviceOnlyBind (): { type: string, message: string } {
    let type = ''
    let message = ''
    if (this.deviceSelection.id === '-') {
      type = 'is-danger'
      message = 'Pick a device'
    }
    return {
      type: type,
      message: message
    }
  }
}
</script>
