<template>
  <div>
    <b-steps
      v-model="step"
      has-navigation
    >
      <b-step-item
        :label="'New cost ' + plan.price.period"
        icon="credit-card-clock-outline"
        clickable
      >
        <div>
          <div v-for="(addon, idx) in value" :key="addon.id" style="display: inline-block;">
            <addon
              class="mr-4"
              :addon="addon.addon"
              :quantity="addon.quantity"
              :min="addon.min"
              @update:quantity="setQuantity(idx, $event)"
              :baseQuotaMaps="[plan.anyPlanQuotas, plan.anyCbPlanQuotas, plan.planQuotas]"
            />
          </div>
        </div>
        <b-message
          v-if="removeError"
        >
          This add-on is already removed from your subscription.
        </b-message>
        <div
          class="mt-5"
          v-else-if="estimate"
        >
          <b-field label="Next bill" message="May include one-off discounts or credits"/>
          <invoice-summary
            :class="{faded: loadingEstimate}"
            :invoice="estimate.nextRenewalCosts"
            :isRecurring="true"
            :plan="plan"
          />
        </div>
        <spinner v-else/>
      </b-step-item>
      <b-step-item label="Due now" icon="credit-card-lock-outline" clickable v-if="estimate && estimate.immediateCosts">
        <b-message
          v-if="value.filter(addon => addon.addon.prorateOnUpgrade && addon.addon.invoiceImmediately).length"
          type="is-primary"
        >
          This add-on requires immediate activation.
        </b-message>
        <invoice-summary
          v-if="estimate"
          :invoice="estimate.immediateCosts"
          :plan="plan"
        />
      </b-step-item>
      <div slot="navigation">
        <b-button
          :label="step === 0 ? 'Cancel' : ''"
          @click="step === 0 ? $emit('close', true) : step--"
          :icon-left="step === 0 ? '' : 'chevron-left'"
          class="ml-3 mr-2"
        />
        <b-button
          :disabled="!estimate || removeError || loadingEstimate"
          type="is-primary"
          :loading="checkingOut"
          :label="nextLabel"
          @click="(step === 0 && !(estimate && !estimate.immediateCosts)) ? step++ : checkout()"
          :icon-right="(step === 0 && !(estimate && !estimate.immediateCosts)) ? 'chevron-right' : 'check'"
        />
      </div>
    </b-steps>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { Addon, Plan } from '@/requests/user-v2/get-plan'
import { ChangeSubscriptionEstimate } from '@/requests/user-v2/post-subscription-estimate'
import AddonComponent from '@/components/create-account/addon.vue'
import InvoiceSummaryComponent from '@/components/create-account/invoice-summary.vue'
import Spinner from '@/components/common/spinner.vue'
import PostAddonModificationEstimate from '@/requests/user-v2/post-addon-modification-estimate'
import PostAddonModification, { AddonChange } from '@/requests/user-v2/post-addon-modification'
import cloneDeep from 'lodash/cloneDeep'

export interface AddonCheckoutArg {
  addon: Addon
  quantity: number
  min?: number
}

export type AddonCheckoutArgs = AddonCheckoutArg[]

@Component({
  components: {
    Addon: AddonComponent,
    InvoiceSummary: InvoiceSummaryComponent,
    Spinner
  }
})
export default class AddonCheckout extends Vue {
  @Prop() readonly value: AddonCheckoutArgs | undefined
  @Prop() readonly plan: Plan | undefined
  @Prop() readonly quantity: number | undefined

  estimate: ChangeSubscriptionEstimate | null = null
  step = 0
  checkingOut = false
  removeError = false
  loadingEstimate = true

  postAddonModification = new PostAddonModification()
  postAddonModificationEstimate = new PostAddonModificationEstimate()

  setQuantity(idx: number, quantity: number) {
    if (!this.value) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal[idx].quantity = quantity
    this.$emit('input', newVal)
  }

  argsToChanges (args: AddonCheckoutArgs): AddonChange[] {
    return args.map(arg => {
        return {
          id: arg.addon.id,
          delete: arg.quantity === 0,
          newQuantity: arg.quantity === 0 ? null : arg.quantity
        }
      }
    )
  }

  @Watch('value', { immediate: true })
  updateEstimate (value: AddonCheckoutArgs | undefined) {
    if (!value) {
      return
    }
    this.loadingEstimate = true
    this.postAddonModificationEstimate.handle({
      changes: this.argsToChanges(value)
    }).then(estimate => {
      this.estimate = estimate.spec
      this.loadingEstimate = false
      this.removeError = false
    }).catch(err => this.handleErr(err))
  }

  checkout () {
    const value = this.value
    if (!value) {
      return
    }
    this.checkingOut = true
    this.postAddonModification.handle({
      changes: this.argsToChanges(value)
    }).then(() => {
      this.checkingOut = false
        this.$buefy.toast.open({
          message: 'Add-ons updated',
          type: 'is-success',
          duration: 5000,
          position: 'is-bottom'
        })
        this.$emit('close')
    }).catch(err => this.handleErr(err))
  }

  handleErr (reason: any) {
    this.checkingOut = false
    this.estimate = null
    if (reason && reason.meta && reason.meta.message) {
      if (reason.meta.message === 'Couldn\'t modify addons: that addon does not exist') {
        // This means the addon doesn't exist on the plan currently. Show special error message.
        this.removeError = true
      } else if (reason.meta.message.includes('no valid card on file')) {
        this.$buefy.dialog.confirm({
          message: 'Cannot change the subscription as there is no valid card on file',
          type: 'is-primary',
          confirmText: 'Add payment method',
          onConfirm: () => {
            this.$emit('paymentmethod')
            this.$emit('close', true)
          },
          onCancel: () => {
            this.$emit('close', true)
          }
        })
      } else {
        this.$buefy.dialog.alert({
          message: reason.meta.message,
          type: 'is-danger'
        })
        this.$emit('close', true)
      }
    }
  }

  get nextLabel (): string {
    if (this.step === 0 && !(this.estimate && !this.estimate.immediateCosts)) {
      return 'Next'
    }
    if (!this.estimate || !this.plan) {
      return ''
    }
    let checkoutText = ''
    if (this.estimate.immediateCosts && this.estimate.immediateCosts.total) {
      checkoutText = 'Pay ' + (this.plan as Plan).price.currencySymbol + this.estimate.immediateCosts.total
    } else {
      checkoutText = 'Confirm'
    }
    if (this.estimate.trialEnd) {
      checkoutText += ' and end trial'
    } else if (this.estimate.subscriptionStart) {
      checkoutText += ' and start '
      if (this.plan.price.period.includes('year')) {
        checkoutText += 'yearly '
      } else if (this.plan.price.period.includes('month')) {
        checkoutText += 'monthly '
      } else if (this.plan.price.period.includes('week')) {
        checkoutText += 'weekly '
      } else if (this.plan.price.period.includes('day')) {
        checkoutText += 'daily '
      }
      checkoutText += 'subscription'
    } else {
      checkoutText += ' and checkout'
    }
    return checkoutText
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}
</style>
