<template>
  <div v-if="!loading">
    <b-message>
      Choose the page that we'll show in place of a site that has been blocked.
    </b-message>
    <b-field>
      <b-radio
        v-model="selected"
        name="name"
        native-value="Default">
        Show the block page wherever possible
      </b-radio>
    </b-field>
    <b-field>
      <b-radio
        v-model="selected"
        name="name"
        native-value="NX">
        Show nothing (better performance; site will appear to not exist)
      </b-radio>
    </b-field>
    <b-button
      type="is-primary"
      @click="save"
      :loading="saving"
    >
      Save
    </b-button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetBlockPage, { APIBlockPage } from '@/requests/user-v2/get-block-page'
import PutBlockPage from '@/requests/user-v2/put-block-page'

@Component
export default class BlockPage extends Vue {
  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * The selected value. Either "Default" or "NX".
   */
  selected: 'Default' | 'NX' = 'Default'
  /**
   * Whether we are saving.
   */
  saving = false

  /**
   * Requests.
   */
  getBlockPage = new GetBlockPage()
  putBlockPage = new PutBlockPage()

  mounted () {
    this.$emit('update:loading', true)
    this.getBlockPage.handle().then(blockPage => {
      if (blockPage.spec.enabled) {
        this.selected = 'NX'
      } else {
        this.selected = 'Default'
      }
      this.$emit('update:loading', false)
      this.loading = false
    })
  }

  save () {
    this.saving = true
    let settings: APIBlockPage
    if (this.selected === 'Default') {
      settings = {
        customDomain: '',
        enabled: false,
        nxDomain: false
      }
    } else {
      settings = {
        customDomain: '',
        enabled: true,
        nxDomain: true
      }
    }
    this.putBlockPage.handle(settings).then(() => {
      this.saving = false
      this.$buefy.toast.open({
        message: 'Saved',
        type: 'is-success',
        position: 'is-bottom'
      })
    })
  }
}
</script>
