<template>
  <div class="is-flex is-justify-content-center" :class="{faded: loading}">
    <div class="card py-4 px-5 mb-5" v-if="subscription">
      <div style="width: 750px" class="is-hidden-touch"/>
      <b-tag
        :type="tagType"
      >
        {{ tagText }}
      </b-tag>
      <p class="is-size-7 mt-2 has-text-grey">
        {{ statusDescription }}
        <span v-if="isAppStoreManaged">
          <br/><br/>
          Your subscription is managed by the Apple App Store. To modify or cancel it, open the App Store on
          an Apple device.<br/> You can change to a web subscription once the subscription is cancelled on the
          App Store.
        </span>
      </p>
      <b-field class="mt-2" style="overflow-x: auto;">
        <p class="control" v-if="canAddPayment">
          <b-button
            type="is-primary"
            icon-left="credit-card-plus-outline"
            label="Add payment method"
            @click="addPaymentMethod"
            :disabled="isAppStoreManaged"
          />
        </p>
        <p class="control" v-else>
          <b-button
            icon-left="credit-card-edit-outline"
            label="Edit payment methods"
            @click="editPaymentMethods(false)"
          />
        </p>
        <p class="control" v-if="canCancel">
          <b-button
            icon-left="cancel"
            label="Cancel"
            @click="showCancelSurveyIfNecessary"
            :disabled="isAppStoreManaged"
          />
        </p>
        <p class="control" v-if="canReactivate">
          <b-button
            icon-left="play"
            label="Reactivate"
            @click="reactivate"
            :disabled="isAppStoreManaged"
          />
        </p>
        <p class="control" v-if="subscription.canSubscribeChargebee">
          <b-button
            icon-left="swap-horizontal"
            label="Change plan"
            tag="router-link"
            :disabled="isAppStoreManaged && !(subscription.chargebeeSubscription.status === 'non_renewing' || subscription.chargebeeSubscription.status === 'cancelled')"
            :to="{
              name: 'CreateAccount',
              query: {
                'signed-in': '1',
                'resubscribe': '1'
              }
            }"
          />
        </p>
      </b-field>
      <div class="mt-5" v-if="!invoiceHidden">
        <b-field label="Next bill" message="May include one-off discounts or credits"/>
        <subscription-timeline
          class="mt-5"
          :items="timelineItems"
        />
        <div class="is-flex is-justify-content-center">
          <div :style="{width: mobile ? '' : '400px'}">
            <invoice-summary
              :invoice="subscription.nextChargebeeInvoice"
              :plan="subscription.chargebeePlan"
            />
          </div>
        </div>
        <slot name="below-invoice"/>
      </div>
      <b-field label="Add-ons" class="mt-3" v-if="subscription.chargebeePlan && subscription.chargebeePlan.addons && subscription.chargebeePlan.addons.length"/>
      <div v-if="subscription.chargebeePlan && subscription.chargebeePlan.addons">
        <addon
          v-for="addon in subscription.chargebeePlan.addons"
          :key="addon.id"
          :addon="addon"
          :set="subAddon = getSubscriptionAddonById(addon.id)"
          :quantity="subAddon ? subAddon.quantity : 0"
          :baseQuotaMaps="[subscription.chargebeePlan.anyPlanQuotas, subscription.chargebeePlan.anyCbPlanQuotas, subscription.chargebeePlan.planQuotas]"
          :disabled="true"
        >
          <b-field slot="topRight">
            <p class="control">
              <b-button
                size="is-small"
                v-if="subAddon && subAddon.updatable"
                :label="subAddon.quantity ? 'Edit' : 'Add'"
                :icon-left="subAddon.quantity ? 'pencil' : 'plus'"
                @click="editAddon(addon)"
              />
            </p>
            <p class="control">
              <b-button
                v-if="subAddon && subAddon.quantity"
                size="is-small"
                icon-right="delete"
                @click="deleteAddon(addon)"
              />
            </p>
            <p class="control">
              <b-button
                v-if="!subAddon"
                size="is-small"
                icon-right="plus"
                label="Add"
                @click="addAddon(addon)"
              />
            </p>
          </b-field>
        </addon>
      </div>
    </div>
    <b-modal
      v-if="cancelSurvey"
      :active="true"
      @update:active="cancelSurvey = false"
    >
      <div class="card px-4 py-3">
        <survey
          :surveyId="cancelSurveyId"
          :authenticated="true"
          @done="cancelSurvey = false; cancel();"
        />
      </div>
    </b-modal>
    <b-modal
      v-if="confirmReactivation"
      :active="true"
      @update:active="confirmReactivation = false"
    >
      <div class="card px-4 py-3">
        <spinner v-if="!reactivateEstimate"/>
        <div v-else>
          <b-steps
            v-model="reactivationStep"
            has-navigation
          >
            <b-step-item :label="'New cost ' + subscription.chargebeePlan.price.period" icon="credit-card-clock-outline" v-if="reactivateEstimate.nextRenewalCosts" clickable>
              <b-field label="Next bill" message="May include one-off discounts or credits"/>
              <invoice-summary
                :invoice="reactivateEstimate.nextRenewalCosts"
                :isRecurring="true"
                :plan="subscription.chargebeePlan"
              />
            </b-step-item>
            <b-step-item label="Due now" icon="credit-card-lock-outline" clickable>
              <invoice-summary
                :invoice="reactivateEstimate.immediateCosts"
                :plan="subscription.chargebeePlan"
              />
            </b-step-item>
            <div slot="navigation">
              <b-button
                :label="reactivationStep === 0 ? 'Cancel' : ''"
                @click="reactivationStep === 0 ? confirmReactivation = false : reactivationStep--"
                :icon-left="reactivationStep === 0 ? '' : 'chevron-left'"
                class="ml-3 mr-2"
              />
              <b-button
                type="is-primary"
                :label="reactivationStep === 0 ? 'Confirm' : (reactivateEstimate.immediateCosts && reactivateEstimate.immediateCosts.total ? 'Pay ' + subscription.chargebeePlan.price.currencySymbol + reactivateEstimate.immediateCosts.total + ' and reactivate' : 'Reactivate')"
                @click="reactivationStep === 0 ? reactivationStep++ : finishReactivate()"
                :icon-right="reactivationStep === 0 ? 'chevron-right' : 'check'"
              />
            </div>
          </b-steps>
        </div>
      </div>
    </b-modal>
    <b-modal
      v-if="checkoutArgs"
      :active="true"
      @update:active="checkoutArgs = null"
    >
      <div class="card px-4 py-3">
        <addon-checkout
          v-model="checkoutArgs"
          :plan="subscription.chargebeePlan"
          @close="checkoutArgs = null; refreshSubscription();"
          @paymentmethod="canAddPayment ? addPaymentMethod() : editPaymentMethods(false)"
        />
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { getChargebeeSite, isDevEnvironment } from '@/helpers/functions'
import Survey from '@/components/common/survey.vue'
import dayjs from 'dayjs'
import { Prop, Watch } from 'vue-property-decorator'
import GetSubscription, { ChargebeeSubscriptionAddon, Subscription } from '@/requests/user-v2/get-subscription'
import InvoiceSummaryItemComponent from '@/components/create-account/invoice-summary-item.vue'
import { Addon } from '@/requests/user-v2/get-plan'
import AddonComponent from '@/components/create-account/addon.vue'
import SubscriptionTimeline, { TimelineItem } from '@/components/create-account/subscription-timeline.vue'
import CancelSubscription from '@/requests/user-v2/cancel-subscription'
import ReactivateSubscription from '@/requests/user-v2/reactivate-subscription'
import GetChargebeeCheckoutRedirect from '@/requests/user-v2/get-chargebee-checkout-redirect'
import GetChargebeePaymentMethodsRedirect from '@/requests/user-v2/get-chargebee-payment-methods-redirect'
import GetReactivateSubscriptionEstimate from '@/requests/user-v2/get-reactivate-subscription-estimate'
import { ChangeSubscriptionEstimate } from '@/requests/user-v2/post-subscription-estimate'
import Spinner from '@/components/common/spinner.vue'
import Collapse from '@/components/common/collapse.vue'
import InvoiceSummaryComponent from '@/components/create-account/invoice-summary.vue'
import AddonCheckout, { AddonCheckoutArgs } from '@/components/account-settings/addon-checkout.vue'

declare let Chargebee: any

@Component({
  components: {
    Survey,
    SubscriptionTimeline,
    InvoiceSummaryItem: InvoiceSummaryItemComponent,
    Addon: AddonComponent,
    Spinner,
    Collapse,
    InvoiceSummary: InvoiceSummaryComponent,
    AddonCheckout
  }
})
export default class ChargebeePayment extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly subscription: Subscription | undefined
  @Prop() readonly mobile: boolean | undefined

  readonly cancelSurveyId = 0

  cancelSurvey = false
  confirmReactivation = false
  reactivationStep = 0
  reactivateEstimate: ChangeSubscriptionEstimate | null = null
  checkoutArgs: AddonCheckoutArgs | null = null

  getSubscription = new GetSubscription()
  cancelSubscription = new CancelSubscription()
  reactivateSubscription = new ReactivateSubscription()
  getChargebeeCheckoutRedirect = new GetChargebeeCheckoutRedirect()
  getChargebeePaymentMethodsRedirect = new GetChargebeePaymentMethodsRedirect()
  getReactivateSubscriptionEstimate = new GetReactivateSubscriptionEstimate()

  mounted () {
    if (!document.getElementById('cb-script')) {
      this.$emit('update:loading', true)
      const el = document.createElement("script")
      el.setAttribute('src', 'https://js.chargebee.com/v2/chargebee.js')
      el.setAttribute('data-cb-site', getChargebeeSite())
      el.setAttribute('id', 'cb-script')
      document.body.appendChild(el)
      const interval = setInterval(() => {
        if (Chargebee) {
          // Connect to chargebee
          Chargebee.init({
            site: getChargebeeSite()
          })
          clearInterval(interval)
          this.$emit('update:loading', false)
          switch (this.$route.query.snackbar) {
            case '1':
              this.$buefy.snackbar.open({
                type: 'is-warning',
                message: 'Add a payment method to keep devices protected',
                duration: 10_000,
                actionText: 'Add',
                onAction: () => {
                  this.addPaymentMethod()
                }
              })
              break
          }
        }
      }, 500)
    }
  }

  get tagType (): string {
    if (!this.subscription) {
      return ''
    }
    switch (this.subscription.status) {
      case 'TRIAL':
      case 'TRIAL_CANCELLED':
      case 'NON_RENEWING':
        return 'is-warning'
      case 'NO_CARD':
      case 'NOT_PAID':
      case 'CANCELLED':
        return 'is-danger'
      default:
        return 'is-primary'
    }
  }

  get tagText (): string {
    if (!this.subscription) {
      return ''
    }
    switch (this.subscription.status) {
      case 'TRIAL':
        return 'In trial'
      case 'TRIAL_CANCELLED':
        return 'Cancelled in trial'
      case 'NOT_PAID':
        return 'Not paid'
      case 'NO_CARD':
        return 'No card'
      case 'NON_RENEWING':
        return 'Non-renewing'
      case 'CANCELLED':
        return 'Cancelled'
      case 'ACTIVE':
        return 'Active'
      case 'FUTURE':
        return 'Future'
    }
    return ''
  }

  get statusDescription (): string {
    if (!this.subscription) {
      return ''
    }
    switch (this.subscription.status) {
      case 'TRIAL':
        return 'Subscription in free trial period. Add a payment method to continue using PLAN_NAME features after it expires.'
      case 'TRIAL_CANCELLED':
        return 'Subscription will be cancelled at the end of the free trial. Any payment methods will not be charged.'
      case 'NOT_PAID':
        return 'Payment for the subscription failed as well as any retries. Please update payment method and reactivate.'
      case 'NO_CARD':
        return 'Subscription cancelled because there is no payment method attached to it. Please add a payment method and reactivate.'
      case 'NON_RENEWING':
        return 'Subscription will be cancelled at the end of the billing period. Any payment methods will not be charged.'
      case 'CANCELLED':
        return 'Subscription has been cancelled. You can reactivate it below.'
      case 'ACTIVE':
        return 'You\'re all set! Enjoy the PLAN_NAME experience.'
      case 'FUTURE':
        return 'You have recently changed subscription. This subscription will activate when any remaining time on your previous subscription runs out.'
    }
    return ''
  }

  get invoiceHidden (): boolean {
    if (!this.subscription) {
      return false
    }
    switch (this.subscription.status) {
      case 'TRIAL_CANCELLED':
      case 'NOT_PAID':
      case 'NO_CARD':
      case 'NON_RENEWING':
      case 'CANCELLED':
        return true
      default:
        return false
    }
  }

  get canCancel (): boolean {
    if (!this.subscription) {
      return false
    }
    switch (this.subscription.status) {
      case 'TRIAL':
      case 'ACTIVE':
      case 'FUTURE':
        return true
      default:
        return false
    }
  }

  get canReactivate (): boolean {
    if (!this.subscription) {
      return false
    }
    switch (this.subscription.status) {
      case 'TRIAL':
      case 'ACTIVE':
      case 'FUTURE':
        return false
      default:
        if (this.subscription.chargebeeSubscription.status === 'future') {
          // If subscription is future but there is no card, no card is returned. A card
          // must be added before reactivation will work.
          return false
        }
        return true
    }
  }

  get canAddPayment (): boolean {
    if (!this.subscription || !this.subscription.chargebeeSubscription) {
      return false
    }
    return this.subscription.chargebeeSubscription.customerCardStatus === 'no_card'
  }

  get isAppStoreManaged (): boolean {
    if (!this.subscription || !this.subscription.chargebeePlan) {
      return false
    }
    return this.subscription.chargebeePlan.channel !== 'web'
  }

  get timelineItems (): TimelineItem[] {
    if (!this.subscription || !this.subscription.chargebeePlan) {
      return []
    }
    switch (this.subscription.status) {
      case 'TRIAL':
        return [
          {
            topText: this.todayDate,
            icon: 'credit-card-plus',
            bottomText: 'Add card'
          },
          {
            topText: this.nextBillRelative,
            icon: 'hand-heart',
            bottomText: 'Try for free'
          },
          {
            topText: this.nextBill,
            icon: 'credit-card-check',
            bottomText: 'First payment'
          }
        ]
      case 'TRIAL_CANCELLED':
        return [
          {
            topText: this.todayDate,
            icon: 'calendar',
            bottomText: 'Now'
          },
          {
            topText: this.nextBillRelative,
            icon: 'hand-heart',
            bottomText: 'Use for free'
          },
          {
            topText: this.nextBill,
            icon: 'cancel',
            bottomText: 'Subscription<br/>cancelled'
          }
        ]
      case 'NOT_PAID':
        return []
      case 'NO_CARD':
        return []
      case 'NON_RENEWING':
        return [
          {
            topText: this.todayDate,
            icon: 'calendar',
            bottomText: 'Now'
          },
          {
            topText: this.nextBillRelative,
            icon: 'calendar-clock',
            bottomText: 'Use Remaining<br/>Time'
          },
          {
            topText: this.nextBill,
            icon: 'credit-card-check',
            bottomText: 'Subscription<br/>cancelled'
          }
        ]
      case 'CANCELLED':
        return []
      case 'ACTIVE':
        return [
          {
            topText: this.todayDate,
            icon: 'calendar',
            bottomText: 'Now'
          },
          {
            topText: this.nextBillRelative,
            icon: 'calendar-clock',
            bottomText: 'Current<br/>billing cycle'
          },
          {
            topText: this.nextBill,
            icon: 'credit-card-check',
            bottomText: 'Next Payment'
          }
        ]
      case 'FUTURE':
        return [
          {
            topText: this.todayDate,
            icon: 'calendar',
            bottomText: 'Now'
          },
          {
            topText: this.nextBillRelative,
            icon: 'calendar-clock',
            bottomText: 'Use Remaining<br/>Time'
          },
          {
            topText: this.nextBill,
            icon: 'credit-card-check',
            bottomText: 'Next Payment'
          }
        ]
    }
    return []
  }

  get nextBillRelative (): string {
    if (!this.subscription) {
      return ''
    }
    if (!this.subscription.nextBill || dayjs.unix(this.subscription.nextBill).isBefore(dayjs())) {
      return '0 Days'
    }
    return dayjs.unix(this.subscription.nextBill).fromNow(true)
  }

  get nextBill (): string {
    if (!this.subscription) {
      return ''
    }
    if (!this.subscription.nextBill || dayjs.unix(this.subscription.nextBill).isBefore(dayjs())) {
      return dayjs().format('D MMMM')
    }
    return dayjs.unix(this.subscription.nextBill).format('D MMMM')
  }

  get todayDate (): string {
    return dayjs().format('D MMMM')
  }

  refreshSubscription () {
    this.$emit('update:loading', true)
    this.getSubscription.handle({ refresh: true }).then(sub => {
      this.$emit('update:subStatus', sub.spec.status)
      this.$emit('update:subscription', sub.spec)
      this.$emit('update:loading', false)
    })
  }

  handleErr (reason: any) {
    if (reason && reason.meta && reason.meta.message) {
      this.$buefy.dialog.alert({
        message: 'Become a PLAN_NAME to use that feature',
        type: 'is-danger'
      })
    }
  }

  cancel () {
    if (this.loading) {
      return
    }
    this.$emit('update:loading', true)
    this.cancelSubscription.handle().then(() => {
      this.refreshSubscription()
    }).catch(err => {
      this.$emit('update:loading', true)
      this.handleErr(err)
    })
  }

  reactivate () {
    if (this.loading || !this.subscription) {
      return
    }
    if (this.subscription.status === 'NOT_PAID' || this.subscription.status === 'NO_CARD' || this.subscription.status === 'CANCELLED') {
      // Confirm before reactivation
      this.confirmReactivation = true
    } else {
      this.finishReactivate()
    }
  }

  finishReactivate () {
    this.$emit('update:loading', true)
    this.reactivateSubscription.handle().then(() => {
      this.confirmReactivation = false
      this.refreshSubscription()
    }).catch(err => {
      this.$emit('update:loading', false)
      this.handleErr(err)
    })
  }

  addPaymentMethod () {
    if (this.loading) {
      return
    }
    this.editPaymentMethods()
  }

  editPaymentMethods (reactivateAfter?: boolean) {
    if (this.loading) {
      return
    }
    const chargebeeInstance = Chargebee.getInstance()
    chargebeeInstance.openCheckout({
      hostedPage: () => new Promise((resolve, reject) => {
        this.getChargebeePaymentMethodsRedirect.handle().then(page => {
          resolve(page.spec)
        }).catch(err => reject(err))
      }),
      close: () => {
        if (reactivateAfter) {
          this.confirmReactivation = true
        } else {
          this.refreshSubscription()
        }
      },
      error: () => {
        this.$buefy.toast.open({
          message: 'Error during checkout',
          type: 'is-danger',
          position: 'is-bottom'
        })
      }
    })
  }

  @Watch('confirmReactivation', { immediate: true }) loadReactivationEstimate (confirmReactivation: boolean) {
    if (!confirmReactivation) {
      this.reactivateEstimate = null
      this.reactivationStep = 0
    } else {
      this.getReactivateSubscriptionEstimate.handle().then(estimate => {
        this.reactivateEstimate = estimate.spec
      }).catch(err => this.handleErr(err))
    }
  }

  getPlanAddonById (id: string): Addon | undefined {
    if (!this.subscription || !this.subscription.chargebeePlan) {
      return undefined
    }
    if (!this.subscription.chargebeePlan.addons) {
      return undefined
    }
    return this.subscription.chargebeePlan.addons.filter(a => a.id === id)[0]
  }

  getSubscriptionAddonById (id: string): ChargebeeSubscriptionAddon | undefined {
    if (!this.subscription || !this.subscription.chargebeeSubscription) {
      return undefined
    }
    if (!this.subscription.chargebeeSubscription.addons) {
      return undefined
    }
    return this.subscription.chargebeeSubscription.addons.filter(a => a.id === id)[0]
  }

  getOriginalAddonPrice (addon: Addon, quantity: number): number {
    if (addon.price.pricingModel === 'stairstep') {
      for (let i = 0; i < addon.price.pricingTiers.length; i++) {
        const currTier = addon.price.pricingTiers[i]
        if (quantity <= currTier.end) {
          return currTier.price.numericPrice
        }
      }
      return addon.price.pricingTiers[addon.price.pricingTiers.length-1].price.numericPrice
    } else if (addon.price.pricingModel === 'per_unit') {
      return addon.price.priceAndPeriod.numericPrice * quantity
    } else {
      return -1
    }
  }

  editAddon(addon: Addon) {
    const subAddon = this.getSubscriptionAddonById(addon.id)
    if (!subAddon) {
      return
    }
    this.checkoutArgs = [{
      addon: addon,
      quantity: subAddon.quantity
    }]
  }

  deleteAddon(addon: Addon) {
    this.checkoutArgs = [{
      addon: addon,
      quantity: 0
    }]
  }

  addAddon(addon: Addon) {
    let quantity = 0
    if (addon.price.pricingModel === 'stairstep') {
      quantity = addon.price.pricingTiers[0].end
    } else {
      quantity = 1
    }
    this.checkoutArgs = [{
      addon: addon,
      quantity: quantity
    }]
  }

  setInitialCheckoutAddonQuantity() {
    
  }

  get originalInvoicePrice (): number {
    if (!this.subscription || !this.subscription.chargebeePlan) {
      return -1
    }
    let price = this.subscription.chargebeePlan.price.numericPrice
    if (this.subscription.chargebeeSubscription.addons) {
      this.subscription.chargebeeSubscription.addons.forEach(addon => {
        const planAddon = this.getPlanAddonById(addon.id)
        if (!planAddon) {
          throw new Error('couldn\'t get add-on')
        }
        price += this.getOriginalAddonPrice(planAddon, addon.quantity)
      })
    }
    return price
  }

  showCancelSurveyIfNecessary () {
    if (this.cancelSurveyId) {
      this.cancelSurvey = true
    } else {
      this.cancel()
    }
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}
</style>
