<template>
  <div>
    <b-message
      type="is-danger"
    >
      Deleting your account is <strong>not reversible</strong> and will remove all your data.
      Your subscription (if any) will be cancelled, and any registered devices will continue
      to provide filtering but custom block sites, usage, and other features will not work.
      <br/>
      <br/>
      If you have a ROUTER_NAME device(s), factory reset to ensure the account is completely removed.
    </b-message>
    <b-button
      type="is-danger"
      :loading="deletingAccount"
      @click="doDeleteAccount"
    >
      Delete account
    </b-button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import DeleteAccountReq from '@/requests/user-v2/delete-account'
import { TOKEN_STORAGE_NAME, EMAIL_STORAGE_NAME } from '@/helpers/constants'
import GetSubscription from '@/requests/user-v2/get-subscription'

@Component
export default class DeleteAccount extends Vue {
  deletingAccount = false

  deleteAccount = new DeleteAccountReq()
  getSubscription = new GetSubscription()

  /**
   * Show a prompt and then delete the user's account.
   */
  doDeleteAccount () {
    const finish = () => this.$buefy.dialog.prompt({
      message: 'Please enter your account email to confirm.',
      type: 'is-danger',
      inputAttrs: {
        type: 'text',
        placeholder: 'My email'
      },
      confirmText: 'Delete account',
      trapFocus: true,
      onCancel: () => {
        this.deletingAccount = false
      },
      onConfirm: (value) => {
        this.deleteAccount.handle(value).then(() => {
          this.$buefy.toast.open({
            type: 'is-success',
            message: 'Account deleted',
            position: 'is-bottom',
            duration: 5000
          })
          localStorage.removeItem(TOKEN_STORAGE_NAME)
          localStorage.removeItem(EMAIL_STORAGE_NAME)
          this.$router.push({
            name: 'Login'
          })
        }).catch(code => {
          if (code == 400) {
            this.$buefy.toast.open({
              type: 'is-danger',
              message: 'Incorrect email',
              position: 'is-bottom',
            })
          } else {
            this.$buefy.toast.open({
              type: 'is-danger',
              message: 'Unknown error',
              position: 'is-bottom',
            })
          }
        })
      }
    })
    this.deletingAccount = true
    this.getSubscription.handle({ refresh: true }).then(subscription => {
      if (subscription.spec && subscription.spec.chargebeePlan && subscription.spec.chargebeePlan.channel !== 'web' &&
        subscription.spec.chargebeeSubscription && subscription.spec.status === 'ACTIVE') {
        this.$buefy.dialog.confirm({
          message: 'You have an Apple App Store subscription, which can only be cancelled from the App Store itself. Deleting your account will not cancel this subscription.',
          confirmText: 'Acknowledge',
          onConfirm: () => {
            finish()
          },
          onCancel: () => {
            this.deletingAccount = false
          }
        })
      } else {
        finish()
      }
    })
  }
}
</script>
