<template>
  <div>
    <div v-if="subStatus === 'NOT_PAID'">
      <b-message
        type="is-danger"
        icon="google-play"
        has-icon
      >
        Your PLAN_NAME subscription is managed by Google Play. On the last renewal, there were issues charging your payment method.
        Or, your subscription is paused. Please fix the subscription on Google Play to regain PLAN_NAME.
      </b-message>
      <div>
        <b-field>
          <a
            href="https://play.google.com/store/account/subscriptions"
            target="blank"
          >
            <b-button
              target="blank"
              icon-right="open-in-new"
              type="is-primary"
            >
              Manage Subscription
            </b-button>
          </a>
        </b-field>
      </div>
    </div>
    <div v-else-if="subStatus === 'CANCELLED'">
      <b-message
        type="is-danger"
        icon="google-play"
        has-icon
      >
        Your PLAN_NAME subscription is managed by Google Play and has been cancelled.
        Download the Android app to regain PLAN_NAME.
      </b-message>
    </div>
    <div v-else-if="subStatus === 'NON_RENEWING'">
      <b-message
        type="is-warning"
        icon="google-play"
        has-icon
      >
        Your PLAN_NAME subscription is managed by Google Play and has been cancelled.
        You can still use the remaining time on the subscription.
        Download the Android app to resume the subscription. 
      </b-message>
      <div>
        <b-field>
          <a
            href="https://play.google.com/store/account/subscriptions"
            target="blank"
          >
            <b-button
              target="blank"
              icon-right="open-in-new"
              type="is-primary"
            >
              Manage Subscription
            </b-button>
          </a>
        </b-field>
      </div>
    </div>
    <div v-else>
      <b-message
        type="is-primary"
        icon="google-play"
        has-icon
      >
        Your PLAN_NAME subscription is managed by Google Play.
      </b-message>
      <div>
        <b-field>
          <a
            href="https://play.google.com/store/account/subscriptions"
            target="blank"
          >
            <b-button
              target="blank"
              icon-right="open-in-new"
              type="is-primary"
            >
              Manage Subscription
            </b-button>
          </a>
          <b-button
            @click="cancelSurvey = true"
            :loading="cancelling"
            type="is-danger"
            class="ml-3"
          >
            Cancel Subscription
          </b-button>
        </b-field>
      </div>
    </div>
    <b-modal
      v-if="cancelSurvey"
      :active="true"
      @update:active="cancelSurvey = false"
    >
      <div class="card p-3">
        <survey
          :surveyId="5"
          :authenticated="true"
          @done="cancelSurvey = false; cancel();"
        />
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue'
import { Prop } from 'vue-property-decorator';
import Survey from '@/components/common/survey.vue'
import GetSubscription from '@/requests/user-v2/get-subscription'
import CancelSubscription from '@/requests/user-v2/cancel-subscription';

@Component({
  components: {
    Survey
  }
})
export default class GooglePlayPayment extends Vue {
  /**
   * The status of the subscription.
   */
  @Prop() readonly subStatus: string | undefined
  /**
   * Whether we are cancelling.
   */
  cancelling = false
  /**
   * Whether we are doing the cancellation survey.
   */
  cancelSurvey = false
  /**
   * Requests.
   */
  cancelSubscription = new CancelSubscription()
  getSubscription = new GetSubscription()

  /**
   * Cancel the user's subcription.
   */
  cancel () {
    if (confirm("Are you sure you wish to cancel the subscription? It cannot be resumed from here.")) {
      this.cancelling = true
      this.cancelSubscription.handle().then(() => {
        // Wait before refreshing info
        setTimeout(() => {
          this.getSubscription.handle({refresh: false}).then(sub => {
            this.cancelling = false
            this.$emit('update:subStatus', sub.spec.status)
          })
        }, 2000);
      })
    }
  }
}
</script>
