<template>
  <div v-if="subscription">
    <b-message
      v-if="referer"
    >
      You were referred by {{ referer }}. They may get a kickback for any payments.
    </b-message>
    <chargebee-payment
      v-if="subscription.chargebeeSubscription"
      :subscription.sync="subscription"
      :mobile="mobile"
      @update:subStatus="$emit('update:subStatus', $event)"
      :loading="loading"
      @update:loading="$emit('update:loading', $event)"
    />
    <google-play-payment
      v-else-if="subscription.googlePlaySubscription"
      :subscription.sync="subscription"
      @update:subStatus="$emit('update:subStatus', $event)"
      :loading="loading"
      @update:loading="$emit('update:loading', $event)"
    />
    <b-message
      v-else-if="subscription.status === 'INACTIVE_UNKNOWN'"
      type="is-danger"
    >
      We encountered an error getting your subscription. Please <a href="CONTACT_URL" target="blank">contact support</a>
      or try again later.
    </b-message>
    <b-message
      v-else-if="subscription.status === 'COURTESY'"
      type="is-success"
      has-icon
      :icon="account-heart"
    >
      Courtesy account granted! All features are enabled.
    </b-message>
    <div
      v-else-if="subscription.status === 'MISSING'"
    >
      <b-message
        type="is-warning"
        title="Basic Surfer"
        :closable="false"
      >
        Start a free trial to get access to PLAN_NAME features.
      </b-message>
      <b-button
        label="Choose plan"
        icon-left="play"
        tag="router-link"
        :to="{
          name: 'CreateAccount',
          query: {
            'signed-in': '1',
          }
        }"
      />
    </div>
    <div v-if="subscription.status !== 'MISSING' && subscription.canSubscribeChargebee && subscription.chargebeeSubscription === null">
      <b-message
        class="mt-4"
        icon="swap-horizontal"
        :has-icon="true"
        type="is-primary"
      >
        You can switch to a different plan to:
        <ul>
          <li>
            Change to/from annual billing
          </li>
          <li>
            Change to/from a business/school plan
          </li>
          <li>
            Switch away from a Google Play Subscription
          </li>
        </ul>
        <br/>
        <b-button
          type="is-primary"
          tag="router-link"
          label="View Other Plans"
          icon-left="play"
          :to="{
            name: 'CreateAccount',
            query: {
              'signed-in': '1',
              'resubscribe': '1'
            }
          }"
        />
      </b-message>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import ChargebeePayment from '@/components/account-settings/chargebee-payment.vue'
import GooglePlayPayment from '@/components/account-settings/google-play-payment.vue'
import GetSubscription, { Subscription } from '@/requests/user-v2/get-subscription'
import GetReferrer from '@/requests/account/get-referrer'
import GetReferrerName from '@/requests/referrals/get-referrer-name'

@Component({
  components: {
    ChargebeePayment,
    GooglePlayPayment
  }
})
export default class Payment extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined

  subscription: Subscription | null = null
  referer = ''

  getSubscription = new GetSubscription()
  getReferrer = new GetReferrer()
  getReferrerName = new GetReferrerName()

  mounted () {
    this.$emit('update:loading', true)
    Promise.all([
      this.getSubscription.handle({ refresh: true }).then(sub => {
        this.$emit('update:subStatus', sub.spec.status)
        this.subscription = sub.spec
      }),
      this.getReferrer.handle().then(referrer => {
        this.referer = referrer.spec
      }),
    ]).then(() => {
      this.$emit('update:loading', false)
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}
</style>
