<template>
  <div v-if="codes">
    <div v-if="codes && codes.length">
      <div
        v-for="code in codes"
        :key="code"
        class="mb-2 px-1"
      >
        <template>
          <div><strong>{{ code }}</strong></div>
        </template>
      </div>
      <a download="BRAND_NAME_KEBAB_CASE-recovery-codes.txt" :href="recoveryCodesHref">
        <b-button
          icon-left="download"
        >
          Download
        </b-button>
      </a>
    </div>
    <div v-else>
      <b-message
        type="is-warning"
      >
        There are no recovery codes remaining.
      </b-message>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import CopyText from '@/components/common/copy-text.vue'

@Component({
  components: {
    CopyText
  }
})
export default class RecoveryCodes extends Vue {
  /**
   * The codes.
   */
  @Prop() readonly codes: string[] | undefined

  /**
   * @returns An href that can be used to download the recovery codes as a txt file.
   */
  get recoveryCodesHref(): string {
    if (!this.codes) {
      return ''
    }
    const encodedCodes = this.codes.map(code => encodeURIComponent(code)).join('%0A')
    return `data:text/plain;charset=utf-8,${encodedCodes}`
  }
}
</script>
