<template>
  <div v-if="!loading">
    <!-- Success message if account verified -->
    <div v-if="verified">
      <b-message
        type="is-success"
      >
        Good to Go! Account Verified.
      </b-message>
    </div>
    <!-- Option to resend email if account unverified -->
    <div v-else>
      <b-message
        type="is-danger"
      >
        Account not verified. Click the link in the email to verify your account.<br/>
        If the link is expired or the email hasn't arrived, resend the email here:
      </b-message>
      <b-button
        type="is-primary"
        @click="resend()"
      >
        Resend Email
      </b-button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetVerification from '@/requests/account/get-verification'
import ResendVerificationEmail from '@/requests/account/resend-verification-email'

@Component
export default class VerificationStatus extends Vue {
  /**
   * Whether we are loading.
   */
  loading = true
  /**
   * Whether the account is verified.
   */
  verified = false
  /**
   * Whether we are re-sending the email.
   */
  sending = false

  /**
   * Requests.
   */
  getVerification = new GetVerification()
  resendVerificationEmail = new ResendVerificationEmail()

  mounted () {
    this.getVerification.handle().then(verified => {
      this.verified = verified
      this.loading = false
    })
  }

  /**
   * Resend the verification email.
   */
  resend () {
    this.sending = true
    this.resendVerificationEmail.handle().then(() => {
      this.sending = false
      this.$buefy.toast.open({
        message: 'Email Sent!',
        type: 'is-success',
        position: 'is-bottom'
      })
    }).catch(() => {
      this.sending = false
      this.$buefy.toast.open({
        message: 'Failed to send email',
        type: 'is-danger',
        position: 'is-bottom'
      })
    })
  }
}
</script>
