<template>
  <div class="addon-block mt-4 mb-2" v-if="addon">
    <div class="addon has-background-white pl-4">
      <div class="addon-top-row ml-1 mr-4">
        <b-icon
          :icon="addon.icon"
          class="has-text-grey-dark"
        />
        <div
          class="
            addon-name
            is-size-6
            has-text-weight-medium has-text-grey-dark
            py-4
            pl-4
          "
        >
          {{ addon.title }}
        </div>
        <div style="flex-grow: 1" />
        <slot name="topRight"/>
      </div>
      <div v-if="addon.price.pricingModel === 'stairstep' || disabled">
        <b-progress
          :max="addon.maxQuantity"
          :set="baseQuota = getBaseQuota(Object.keys(addon.quotas)[0])"
          :value="baseQuota + quantity"
          type="is-primary"
          class="mb-2 mr-2"
          show-value
        >
          <span>{{ quantity === 0 ? baseQuota + ' (free)' : baseQuota + quantity + '' }}</span>
        </b-progress>
      </div>
      <b-slider
        v-else-if="addon.price.pricingModel === 'per_unit' && !disabled"
        :value="
          stagingQuantity !== -1
            ? stagingQuantity
            : quantity
        "
        @input="stagingQuantity = $event"
        :custom-formatter="
          (v) =>
            v === 0
              ? getBaseQuota(Object.keys(addon.quotas)[0]) + ' (free)'
              : getBaseQuota(Object.keys(addon.quotas)[0]) + v + ''
        "
        @mousedown.native="waitForMouseUp"
        :max="addon.maxQuantity"
        class="pl-5 ml-3 pr-6 mt-5 pt-4"
        tooltip-always
      />
      <div class="pl-1 pr-1 pb-1 is-size-7 has-text-grey">
        {{ addon.description }}
      </div>
      <b-select
        v-if="addon.price.pricingModel === 'stairstep' && !disabled"
        :set="position = positionWithinTiers()"
        :value="position"
        @input="updateQuantityFromPosition($event)"
        class="mb-3"
      >
        <option :value="-1">
          {{ getBaseQuota(Object.keys(addon.quotas)[0]) + " (free)" }}
        </option>
        <option
          v-for="(tier, idx) in addon.price.pricingTiers"
          :key="tier.start"
          :value="idx"
          >{{
            getBaseQuota(Object.keys(addon.quotas)[0]) +
            tier.end *
              addon.quotas[Object.keys(addon.quotas)[0]].valueDelta
          }}</option>
      </b-select>
      <p
        v-if="addon.bottomLink"
        class="pl-1 pr-1 pb-4 is-size-7 has-text-grey"
      >
        <a :href="addon.bottomLink" target="blank">{{
          addon.bottomLinkText
        }}</a>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Addon, QuotaConfig } from "@/requests/user-v2/get-plan";
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

@Component
export default class AddonComponent extends Vue {
  @Prop() readonly addon: Addon | undefined;
  @Prop() readonly quantity: number | undefined;
  @Prop() readonly baseQuotaMaps: ({[quotaName: string]: QuotaConfig} | null)[] | undefined
  @Prop() readonly disabled: boolean | undefined

  stagingQuantity = -1
  onSlideEnd: ((this: Document, ev: MouseEvent) => any) | null = null

  waitForMouseUp () {
    if (this.onSlideEnd === null) {
      this.onSlideEnd = () => {
        if (!this.onSlideEnd) {
          return
        }
        this.$emit('update:quantity', this.stagingQuantity === -1 ? 0 : this.stagingQuantity)
        this.stagingQuantity = -1
        document.removeEventListener('mouseup', this.onSlideEnd)
      }
      this.onSlideEnd.bind(this as unknown as any)
    }
    document.addEventListener('mouseup', this.onSlideEnd)
  }

  getBaseQuota (quota: string): number {
    if (!this.baseQuotaMaps) {
      return 0
    }
    let currentValue = 0
    this.baseQuotaMaps.forEach(quotaMap => {
      if (!quotaMap) {
        return
      }
      const quotaConfig = quotaMap[quota]
      if (!quotaConfig) {
        return
      }
      if (quotaConfig.maxValue !== undefined && quotaConfig.maxValue !== null) {
        currentValue = quotaConfig.maxValue
      }
      if (quotaConfig.valueDelta !== undefined && quotaConfig.valueDelta !== null) {
        currentValue += quotaConfig.valueDelta
      }
    })
    return currentValue
  }

  positionWithinTiers (): number {
    if (!this.addon || !this.quantity) {
      return -1
    }
    for (let i = 0; i < this.addon.price.pricingTiers.length; i++) {
      if (this.quantity <= this.addon.price.pricingTiers[i].end) {
        return i
      }
    }
    return this.addon.price.pricingTiers.length-1
  }

  updateQuantityFromPosition (position: number) {
    if (!this.addon) {
      return
    }
    if (position === -1) {
      this.$emit('update:quantity', 0)
    } else {
      this.$emit('update:quantity', this.addon.price.pricingTiers[position].end)
    }
  }
}
</script>

<style scoped>
.addon {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.addon-top-row {
  display: flex;
  align-items: center;
}

.addon-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
</style>
