<template>
  <div>
    <div :class="mobile ? 'mb-5' : 'card py-3 px-4 mb-5'" v-if="plan">
      <div>
        <subscription-timeline
          :items="isResubscribe ? [
            {
              topText: todayDate,
              icon: 'swap-horizontal',
              bottomText: 'Switch to<br/>plan'
            },
            {
              topText: nextBillRelative,
              icon: 'timer',
              bottomText: 'Use remaining<br/>time'
            },
            {
              topText: trialExpiry,
              icon: 'credit-card-check',
              bottomText: 'First payment'
            }
          ] : [
            {
              topText: todayDate,
              icon: 'credit-card-plus',
              bottomText: 'Add Card'
            },
            {
              topText: plan.trial.trial,
              icon: 'hand-heart',
              bottomText: 'Try for free'
            },
            {
              topText: trialExpiry,
              icon: 'credit-card-check',
              bottomText: 'First payment'
            }
          ]"
        />
        <div class="is-flex is-justify-content-center mt-3">
          <div v-if="estimate" class="invoices">
            <invoice-summary
              :invoice="estimate.nextRenewalCosts"
              :plan="plan"
              :isRecurring="true"
              :extraLine="true"
              :compact="true"
            >
              <slot name="extraLine" slot="extraLine"/>
              <slot name="extraLineRight" slot="extraLineRight"/>
            </invoice-summary>
          </div>
        </div>
      </div>
      <div class="is-flex is-justify-content-center mt-3">
        <div>
          <div style="width: 400px" class="is-hidden-touch"/>
          <b-field>
            <p class="control" v-if="plan.addons && plan.addons.length">
              <b-button
                label="Addons"
                type="is-primary"
                outlined
                class="mr-2"
                :icon-right="showAddons ? 'chevron-up' : 'chevron-down'"
                size="is-small"
                @click="showAddons = !showAddons; showCoupon = false;"
              />
            </p>
          </b-field>
          <div v-if="showAddons && estimate">
            <div
              v-for="addon in plan.addons"
              :key="addon.id"
              :set="valueIdx = value.addons ? value.addons.map((_, idx) => idx).filter(idx => value.addons[idx].id === addon.id)[0] : undefined"
            >
              <addon
                :addon="addon"
                :quantity="valueIdx !== undefined ? value.addons[valueIdx].quantity : 0"
                :baseQuotaMaps="[plan.anyPlanQuotas, plan.anyCbPlanQuotas, plan.planQuotas]"
                @update:quantity="updateAddonQuantity(addon, $event)"
              />
            </div>
          </div>
        </div>
        <slot name="bottom"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import GetPlan, { Addon, Plan } from '@/requests/user-v2/get-plan'
import PostSubscriptionEstimate, { ChangeSubscriptionEstimate } from '@/requests/user-v2/post-subscription-estimate'
import { CreateChargebeeSubscriptionArgs } from '@/requests/user-v2/post-subscription'
import dayjs from 'dayjs'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'
import InvoiceSummary from '@/components/create-account/invoice-summary.vue'
import SubscriptionTimeline from '@/components/create-account/subscription-timeline.vue'
import AddonComponent from '@/components/create-account/addon.vue'
import PutAddon from '@/requests/user-v2/put-addon'
import DeleteAddon from '@/requests/user-v2/delete-addon'

@Component({
  components: {
    InvoiceSummary,
    SubscriptionTimeline,
    Addon: AddonComponent
  }
})
export default class CreateSubscription extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly value: CreateChargebeeSubscriptionArgs | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly planId: string | undefined
  @Prop() readonly planPriceId: string | undefined
  @Prop() readonly planPeriod: string | undefined
  @Prop() readonly planPrefix: string | undefined
  @Prop() readonly isResubscribe: boolean | undefined
  @Prop() readonly nextBill: number | undefined
  // If true, the subscription has already been created and all we should do is change
  // the addons on the subscription when they are changed.
  @Prop() readonly subscriptionCreated: boolean | undefined

  plan: Plan | null = null
  showAddons = false
  coupon = ''
  estimate: ChangeSubscriptionEstimate | null = null
  anim = false

  getPlan = new GetPlan()
  postSubscriptionEstimate = new PostSubscriptionEstimate()
  putAddon = new PutAddon()
  deleteAddon = new DeleteAddon()

  assignFields(fields: {[key: string]: any}) {
    const newObj = cloneDeep(this.value)
    this.$emit('input', assign(newObj, fields))
  }

  updateEstimate (delay: boolean, v: CreateChargebeeSubscriptionArgs) {
    this.$emit('update:loading', true)
    setTimeout(() => {
      this.postSubscriptionEstimate.handle(v).then(estimate => {
        this.estimate = estimate.spec
        this.$emit('update:loading', false)
        this.$emit('isFree', !estimate.spec || (
          (!estimate.spec.immediateCosts || (
            estimate.spec.immediateCosts.total === 0 && !estimate.spec.immediateCosts.discountValidOnce && !estimate.spec.immediateCosts.discountValidUntil
          )) &&
          (!estimate.spec.nextRenewalCosts || (
            estimate.spec.nextRenewalCosts.total === 0 && !estimate.spec.nextRenewalCosts.discountValidOnce && !estimate.spec.nextRenewalCosts.discountValidUntil
          ))
        ))
        this.$nextTick(() => {
          this.anim = true
        })
      }).catch(err => {
        if (err && err.meta && err.meta.message === 'Couldn\'t get subscription estimate: that coupon is invalid') {
          this.assignFields({'coupon': ''})
          this.$buefy.dialog.alert({
            type: 'is-danger',
            message: 'That coupon is invalid'
          })
        }
      })
    }, delay ? 2000 : 0)
  }

  @Watch('planId', { immediate: true }) idUpdate (id: string | undefined) {
    if (id) {
      this.loadPlan(this.value, id, this.planPriceId, this.planPeriod, this.planPrefix)
    }
  }

  @Watch('planPriceId', { immediate: true }) priceIdUpdate (planPriceId: string | undefined) {
    if (planPriceId) {
      this.loadPlan(this.value, this.planId, planPriceId, this.planPeriod, this.planPrefix)
    }
  }

  @Watch('planPeriod', { immediate: true }) planPeriodUpdate (planPeriod: string | undefined) {
    if (planPeriod) {
      this.loadPlan(this.value, this.planId, this.planPriceId, planPeriod, this.planPrefix)
    }
  }

  @Watch('planPrefix', { immediate: true }) prefixUpdate (prefix: string | undefined) {
    if (prefix) {
      this.loadPlan(this.value, this.planId, this.planPriceId, this.planPeriod, prefix)
    }
  }

  @Watch('value', { immediate: true }) valueUpdate (newValue: CreateChargebeeSubscriptionArgs | undefined, oldValue: CreateChargebeeSubscriptionArgs | undefined) {
    if (!newValue) {
      return
    }
    if ((oldValue === undefined) !== (newValue === undefined)) {
      this.loadPlan(newValue, this.planId, this.planPriceId, this.planPeriod, this.planPrefix)
    } else if (newValue.planID !== oldValue?.planID) {
      this.loadPlan(newValue, this.planId, this.planPriceId, this.planPeriod, this.planPrefix)
    } else if (newValue.planPrefix !== oldValue.planPrefix) {
      this.loadPlan(newValue, this.planId, this.planPriceId, this.planPeriod, this.planPrefix)
    } else if (newValue.coupon !== oldValue.coupon) {
      this.loadPlan(newValue, this.planId, this.planPriceId, this.planPeriod, this.planPrefix)
    } else if ((newValue.addons !== null && newValue.addons !== undefined) !== (oldValue.addons !== null && oldValue.addons !== undefined)) {
      this.loadPlan(newValue, this.planId, this.planPriceId, this.planPeriod, this.planPrefix)
    } else if (newValue.addons !== null && oldValue.addons !== null && newValue.addons !== undefined && oldValue.addons !== undefined && (
      newValue.addons.some(addon => !oldValue.addons.some(oldAddon => oldAddon.id === addon.id)) || // Addon added
      oldValue.addons.some(oldAddon => !newValue.addons.some(addon => addon.id === oldAddon.id)) || // Addon removed
      newValue.addons.some(addon => { // Addon quantity changed
        const prevAddonArr = oldValue.addons.filter(oldAddon => oldAddon.id === addon.id)
        if (!prevAddonArr.length) {
          return false
        }
        return prevAddonArr[0].quantity !== addon.quantity
      })
    )) {
      this.loadPlan(newValue, this.planId, this.planPriceId, this.planPeriod, this.planPrefix)
    }
  }

  loadPlan (
    v: CreateChargebeeSubscriptionArgs | undefined,
    planID: string | undefined, planPriceId: string | undefined,
    planPeriod: string | undefined, planPrefix: string | undefined) {
    if (!planID && !planPrefix && !planPeriod && !planPriceId) {
      return
    }
    this.$emit('update:loading', true)
    this.getPlan.handle({
      id: planID ? planID : null,
      'price-id': planPriceId ? planPriceId : null,
      period: planPeriod ? planPeriod : null,
      prefix: planPrefix ? planPrefix : null
    }).then(plan => {
      this.plan = plan.spec
      this.showAddons = true
      if (!v) {
        v = {planID: plan.spec.id, planPriceID: plan.spec.priceID} as CreateChargebeeSubscriptionArgs
        if (typeof this.$route.query.coupon === 'string') {
          v.coupon = this.$route.query.coupon
          this.coupon = this.$route.query.coupon
        }
      } else {
        v = assign(cloneDeep(v), {planID: plan.spec.id, planPriceID: plan.spec.priceID})
      }
      this.$emit('input', v)
      this.$nextTick(() => {
        this.updateEstimate(false, v as CreateChargebeeSubscriptionArgs)
      })
    })
  }

  updateAddonQuantity(addon: Addon, selection: number) {
    if (!this.value) {
      return
    }
    const currAddons = this.value.addons ? cloneDeep(this.value.addons) : []
    let relevantIdx = -1
    for (let i = 0; i < currAddons.length; i++) {
      const currAddon = currAddons[i]
      if (currAddon.id === addon.id) {
        // Found it
        relevantIdx = i
        break
      }
    }
    if (relevantIdx === -1 && selection !== 0) {
      // Wasn't found and we are supposed to be adding something
      currAddons.push({
        id: addon.id,
        quantity: selection
      })
      if (this.subscriptionCreated) {
        this.putAddon.handle({
          id: addon.id,
          quantity: selection
        })
      }
    } else {
      // Was found
      if (selection === 0) {
        currAddons.splice(relevantIdx, 1)
        if (this.subscriptionCreated) {
          this.deleteAddon.handle(addon.id)
        }
      } else {
        currAddons[relevantIdx].quantity = selection
        if (this.subscriptionCreated) {
        this.putAddon.handle({
          id: addon.id,
          quantity: selection
        })
      }
      }
    }
    this.assignFields({'addons': currAddons})
  }

  get nextBillRelative (): string {
    if (!this.nextBill || dayjs.unix(this.nextBill).isBefore(dayjs())) {
      return '0 Days'
    }
    return dayjs.unix(this.nextBill).fromNow(true)
  }

  get todayDate (): string {
    return dayjs().format('D MMMM')
  }

  /**
   * @returns A formatted date for when the trial will expire.
   */
  get trialExpiry (): string {
    if (!this.plan) {
      return ''
    }
    if (this.isResubscribe) {
      if (!this.nextBill || dayjs.unix(this.nextBill).isBefore(dayjs())) {
        return dayjs().format('D MMMM')
      }
      return dayjs.unix(this.nextBill).format('D MMMM')
    }
    return dayjs().add(this.plan.trial.trialPeriod, this.plan.trial.trialPeriodUnit as dayjs.ManipulateType).format('D MMMM')
  }
}
</script>
