<template>
  <div>
    <transition-group name="slide-down">
      <div :key="1" v-if="picking">
        <div class="has-family-secondary is-size-5 has-text-weight-semibold has-text-centered mb-2">
          Get Protected
        </div>
        <div class="has-family-secondary is-size-6 has-text-grey has-text-centered">
          Get your devices set up with BRAND_NAME.
        </div>
        <setup-option-picker
          :config="setupOptions"
          :mobile="mobile"
          :noBack="true"
          ref="picker"
          title="Protect a device"
          id="all"
          :customOnDone="true"
          @done="picking = false; scrollTop()"
          @update:loading="$emit('update:loading', $event)"
        />
        <div class="mt-5 pl-2 pr-4 is-flex is-justify-content-center">
          <b-field>
            <p class="control">
              <b-button
                icon-left="arrow-left"
                label="Back"
                @click="back"
              />
            </p>
            <p class="control">
              <b-button
                label="Do this later"
                @click="$emit('done')"
              />
            </p>
          </b-field>
        </div>
      </div>
      <div v-else :key="2">
        <div class="has-family-secondary is-size-5 has-text-weight-semibold has-text-centered mb-2">
          Great work!
        </div>
        <div class="has-family-secondary is-size-6 has-text-grey has-text-centered">
          You've added a device to your account. You can add more now, or click the Done button.
        </div>
        <div class="mt-5 pl-2 pr-4 is-flex is-justify-content-center">
          <b-field>
            <p class="control">
              <b-button
                icon-left="arrow-left"
                label="Add more"
                @click="picking = true"
              />
            </p>
            <p class="control">
              <b-button
                label="Done"
                icon-right="check"
                type="is-primary"
                @click="$emit('done')"
              />
            </p>
          </b-field>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script lang="ts">
import { getAllSetupOptions, SetupOption } from '@/helpers/constants'
import Vue from 'vue'
import Component from 'vue-class-component'
import SetupOptionPicker from '@/components/device-setup/setup-option-picker.vue'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {
    SetupOptionPicker
  }
})
export default class DeviceSetup extends Vue {
  @Prop() readonly mobile: boolean | undefined

  /**
   * The options for setting up a user's device.
   */
  setupOptions: SetupOption[] = getAllSetupOptions()
  /**
   * Whether the user is picking options.
   */
  picking = true

  scrollTop () {
    window.scrollTo(0, 0);
  }

  back () {
    const selectedOptions = this.$route.query['selected-options-all']
    if (typeof selectedOptions !== 'string') {
      this.$emit('back')
      return
    }
    const selectionOptionsArr = JSON.parse(selectedOptions)
    if (!selectionOptionsArr || !selectionOptionsArr.length) {
      this.$emit('back')
      return
    }
    (this.$refs.picker as SetupOptionPicker).back()
  }
}
</script>

<style scoped>
.category {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 20px;
}

.category-top-row {
  display: flex;
  align-items: center;
}

.category-block {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.slide-down-enter-active {
  transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);;
}
.slide-down-leave-active {
  transition: all 0s cubic-bezier(0.4, 0.0, 1, 1);;
}

.slide-down-enter, .slide-down-leave-to
/* .slide-down-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}
</style>
