<template>
  <div class="is-flex mt-2 pt-2 line-item is-justify-content-space-between is-align-items-center is-size-7">
    <div class="has-family-secondary is-size-5 has-text-weight-semibold" v-if="item && item.leftText && item.leftTextBold">
      {{ item.leftText.replaceAll('Prorated Charges', 'Upfront Charge') }}
    </div>
    <div class="" v-else-if="item && item.leftText">
      {{ item.leftText.replaceAll('Prorated Charges', 'Upfront Charge') }}
    </div>
    <div v-else>
      <slot name="extraLine"/>
    </div>
    <div class="has-text-success" v-if="item && item.rightText && item.rightTextSuccess">
      {{ item.rightText }}
    </div>
    <div class="has-text-weight-bold" v-else-if="item && item.rightText && item.rightTextBold">
      {{ item.rightText }}
    </div>
    <div class="" v-else-if="item && item.rightText">
      {{ item.rightText }}
    </div>
    <div v-else>
      <slot name="extraLineRight"/>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

export interface InvoiceSummaryItem {
  key: string;
  leftText?: string;
  leftTextBold?: boolean;
  rightText?: string;
  rightTextSuccess?: boolean;
  rightTextBold?: boolean;
}

@Component
export default class InvoiceSummaryItemComponent extends Vue {
  @Prop() readonly item: InvoiceSummaryItem | undefined
}
</script>

<style scoped>
.line-item {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}
</style>
