<template>
  <div class="is-flex is-justify-content-space-between line-container mt-3" v-if="items">
    <div
      v-for="(itemOrDivider, idx) in itemsOrDividers"
      :key="idx"
      :class="itemOrDivider.divider ? 'is-flex-grow-1 divider mt-1 ' + (itemOrDivider.last ? 'has-background-contrast' : '') : 'is-flex is-flex-direction-column is-align-items-center'"
      :style="itemOrDivider.divider ? 'border: 1px solid rgba(0, 0, 0, 0.3); opacity: 0.35;' : ''"
    >
      <div class="circle-adjacent is-size-7 pb-1" v-if="itemOrDivider.timelineItem" v-html="itemOrDivider.timelineItem.topText"/>
      <div
        class="
          circle-outer
          has-background-primary
          is-flex is-justify-content-center is-align-items-center
        "
        v-if="itemOrDivider.timelineItem"
      >
        <div
          class="
            circle
            has-background-white
            is-flex is-justify-content-center is-align-items-center
          "
        >
          <b-icon
            :icon="itemOrDivider.timelineItem.icon"
            size="is-small"
            type="is-primary"
          />
        </div>
      </div>
      <div class="circle-adjacent is-size-7" v-if="itemOrDivider.timelineItem">
        <div class="has-text-centered pt-1" v-html="itemOrDivider.timelineItem.bottomText"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue"
import Component from "vue-class-component"
import { Prop } from "vue-property-decorator"

export interface TimelineItem {
  topText: string;
  icon: string;
  bottomText: string;
}

export interface TimelineItemOrDivider {
  divider: boolean;
  last?: boolean;
  timelineItem?: TimelineItem;
}

@Component
export default class SubscriptionTimeline extends Vue {
  @Prop() readonly items: TimelineItem[] | undefined

  get itemsOrDividers (): TimelineItemOrDivider[] {
    if (!this.items) {
      return []
    }
    const a: TimelineItemOrDivider[] = []
    for (let i = 0; i < this.items.length; i++) {
      a.push({
        divider: false,
        timelineItem: this.items[i]
      })
      if (i < this.items.length - 1) {
        a.push({
          last: i === this.items.length - 2,
          divider: true
        })
      }
    }
    return a
  }
}
</script>

<style scoped>
.line-container {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.divider {
  height: 33px;
  transform: translateY(18px) scaleX(150%);
}

.circle-outer {
  border-radius: 5px;
  height: 33px;
  width: 33px;
  position: relative;
  z-index: 2;
}

.circle-adjacent is-size-7 {
  height: 30px;
}

.circle {
  height: 27px;
  width: 27px;
}

@media screen and (max-width: 500px) {
  .divider {
    transform: translateY(18px) scaleX(200%);
  }
}
</style>
