<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Sign in to control blocked sites, view usage, and more."/>
    <!-- Optional: google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- end google font -->
  
    <!-- Dynamically configured variables by the backend -->
    <meta
      name="apiURL"
      content="{{ .apiURL }}"
    >
    <meta
      name="apiIpv6URL"
      content="{{ .apiIpv6URL }}"
    >
    <meta
      name="dotHost"
      content="{{ .dotHost }}"
    >
    <meta
      name="dohURL"
      content="{{ .dohURL }}"
    >
    <meta
      name="chargebeeDefaultPlan"
      content="{{ .chargebeeDefaultPlan }}"
    >
    <meta
      name="chargebeeDefaultPeriod"
      content="{{ .chargebeeDefaultPeriod }}"
    >
    <meta
      name="chargebeeDefaultPriceId"
      content="{{ .chargebeeDefaultPriceId }}"
    >
    <meta
      name="chargebeeSite"
      content="{{ .chargebeeSite }}"
    >
    <meta
      name="routerRole"
      content="{{ .routerRole }}"
    >
    <meta
      name="host"
      content="{{ .host }}"
    >
    <meta
      name="routerHosts"
      content="{{ .routerHosts }}"
    >
    <meta
      name="routerHost"
      content="{{ .routerHost }}"
    >
    <meta
      name="plainProtoDomain"
      content="{{ .plainProtoDomain }}"
    >
    <meta
      name="dohProtoDomain"
      content="{{ .dohProtoDomain }}"
    >
    <meta
      name="dotProtoDomain"
      content="{{ .dotProtoDomain }}"
    >
    <meta
      name="dnscryptProtoDomain"
      content="{{ .dnscryptProtoDomain }}"
    >
    <meta
      name="routerProtoDomain"
      content="{{ .routerProtoDomain }}"
    >
    <meta
      name="categorizerURL"
      content="{{ .categorizerURL }}"
    >
    <title>BRAND_NAME</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
