<template>
  <div>
    <canvas ref="canvas"/>
  </div>
</template>

<script lang="ts">
import GetActivity from '@/requests/usage-v2/get-activity'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { BarController, BarElement, CategoryScale, Chart, LinearScale } from 'chart.js'
import dayjs from 'dayjs'
import { getTimezone } from '@/helpers/functions'

Chart.register(BarController, CategoryScale, BarElement, LinearScale)

@Component
export default class Activity extends Vue {
  /**
   * The current start date.
   * (Unix timestamp, s)
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   * (Unix timestamp, s)
   */
  @Prop() readonly endDate: number | undefined
  /**
   * Whether this component is currently selected.
   * Only request data once it becomes visible.
   */
  @Prop() readonly visible: boolean | undefined
  /**
   * Current device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Current device MAC.
   */
  @Prop() readonly mac: string | undefined
  /**
   * Whether we are loading the data.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether a prop was changed while this
   * component was invisible.
   */
  propsChanged = false
  /**
   * The current chart.
   */
  chart: Chart | null = null

  /**
   * Requests.
   */
  getActivity = new GetActivity()
  
  mounted () {
    this.updateNowOrLater()
  }

  loadData () {
    this.$emit('update:loading', true)
    this.getActivity.handle({
      'start-timestamp': this.startDate,
      'end-timestamp': this.endDate,
      'tz': getTimezone(),
      'device-id': this.deviceID ? this.deviceID : '',
      'mac': this.mac
    }).then(data => {
      this.$emit('update:loading', false)
      if (!data.spec.blocks) {
        data.spec.blocks = []
        data.spec.views = []
      }
      const canvasEl = this.$refs.canvas as HTMLCanvasElement
      const ctx = canvasEl.getContext('2d') as CanvasRenderingContext2D
      const labels = data.spec.blocks
        .map((_, idx) => dayjs.unix(this.startDate as number).add(idx, 'd'))
        .map(time => time.format('ddd'))
      const datasets = [
        {
          data: data.spec.views,
          label: 'Sites surfed',
          backgroundColor: '#1976d2'
        },
        {
          data: data.spec.blocks,
          label: 'Sites blocked',
          backgroundColor: '#e53935'
        }
      ]
      if (this.chart) {
        this.chart.data.labels = labels
        this.chart.data.datasets = datasets
      }
      this.chart = new Chart(ctx, {
        type: 'bar',
        data: {
          datasets: datasets,
          // Use dayjs to generate a nice time label
          // for the last 7 days.
          labels: labels
        },
        options: {
          responsive: true
        }
      })
      this.$emit('done')
    })
  }

  /**
   * When going from invisible to visible, load the data if it
   * has changed.
   */
  @Watch('visible') loadWhenVisible (nowVis: boolean, wasVis: boolean) {
    if (nowVis && !wasVis && this.propsChanged) {
      this.propsChanged = false
      this.loadData()
    }
  }

  /**
   * Fired when a re-request is needed. If invisible, update
   * when we become visible again. If visible, update
   * immediately.
   */
  updateNowOrLater () {
    if (this.visible) {
      this.loadData()
    } else {
      this.propsChanged = true
    }
  }

  @Watch('startDate') wStartDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('endDate') wEndDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('deviceID') wDeviceID (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('mac') wMac (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
}
</script>
