<template>
  <div v-if="!loading">
    <!-- If items are selected, allow deleting or unselecting -->
    <b-field v-if="selectedRows.length" class="my-4">
      <p class="control">
        <b-button
          type="is-danger"
          icon-left="delete"
          rounded
          @click="confirmDelete"
        >
          Delete
        </b-button>
      </p>
      <p class="control">
        <b-button
          rounded
          @click="selectedRows = []"
        >
          Unselect All
        </b-button>
      </p>
    </b-field>
    <!-- Filter buttons and dialog -->
    <collapse title="Filter" class="mb-5" v-else>
      <div class="p-2 is-flex is-align-items-baseline filter-row">
        <b-field label="Search for a domain">
          <p class="control">
            <b-input
              v-model="currentDomainSearch"
              @blur="filter = { 'domain-search': currentDomainSearch, page: 0 }"
              @keyup.native="$event.key === 'Enter' && (filter = { 'domain-search': currentDomainSearch, page: 0 })"
              autocomplete="off"
            />
          </p>
          <p class="control">
            <b-button
              @click="filter = { 'domain-search': currentDomainSearch, page: 0 }"
            >
              Go
            </b-button>
          </p>
        </b-field>
        <div style="flex-grow: 1"/>
        <b-field class="filter-button-group">
          <p class="control">
            <b-button
              @click="loadStagingFilter();"
              rounded
            >
              {{ numFilters ? numFilters + ' filter(s) active' : 'More filters' }}
            </b-button>
          </p>
          <p class="control">
            <b-tooltip label="Clear filters" position="is-bottom">
              <b-button
                v-if="numFilters"
                icon-left="filter-off-outline"
                rounded
                type="is-primary"
                @click="filter = { 'category-id': [], 'action': '', 'page': '0' }"
              />
            </b-tooltip>
          </p>
        </b-field>
      </div>
    </collapse>
    <b-modal
      v-if="showFilter"
      :active="true"
      @update:active="showFilter = false; applyStagingFilter();"
    >
      <div class="card p-5">
        <!-- Category selection -->
        <div>
          <b-checkbox
            v-model="stagingFilterAllCategories"
          >
            All categories
          </b-checkbox>
        </div>
        <b-field label="Categories" v-if="!stagingFilterAllCategories" class="mt-2">
        </b-field>
        <div v-if="!stagingFilterAllCategories" class="pl-3">
          <div
            class="m-1 is-inline-block category-card"
            v-for="category in Object.keys(allCategories.categoryData)"
            :key="category"
          >
            <b-checkbox
              class="m-2"
              :value="stagingFilterCategories.includes(category)"
              @input="$event ? addStagingCategory(category) : removeStagingCategory(category)"
            >
              {{ allCategories.categoryData[category].name }}
            </b-checkbox>
          </div>
        </div>
        <!-- Action selection -->
        <b-field label="Action" class="mt-2">
          <b-radio class="ml-5" v-model="stagingFilterAction" :native-value="''">
            Any
          </b-radio>
          <b-radio v-model="stagingFilterAction" native-value="access">
            <b-tag>Nothing</b-tag>
          </b-radio>
          <b-radio v-model="stagingFilterAction" native-value="blacklist">
            <b-tag type="is-danger">Blocked</b-tag>
          </b-radio>
          <b-radio v-model="stagingFilterAction" native-value="redirect">
            <b-tag type="is-primary">Redirected</b-tag>
          </b-radio>
          <b-radio v-model="stagingFilterAction" native-value="whitelist">
            <b-tag type="is-success">Allowed</b-tag>
          </b-radio>
        </b-field>
      </div>
    </b-modal>
    <b-table
      v-if="history && history.history"
      :data="history.history"
      :loading="loadingTable"
      striped
      checkable
      backend-sorting
      :default-sort="['time', 'desc']"
      :checked-rows.sync="selectedRows"
      :narrowed="mobile"
      @sort="handleSort"
    >
      <b-table-column
        :label="mobile ? '' : 'Domain'"
        field="domain"
        v-slot="props"
        sortable
      >
        <!-- Show the domain: if filtering, highlight the search term -->
        <span :class="{'deleted': deletedItems[props.row.timestamp + props.row.deviceID + props.row.mac + props.row.domain + props.row.action]}">
          <quick-site-add
            :domain="props.row.domain"
            :wasBlock="props.row.action === 'blacklist' ? true : (props.row.action === 'whitelist' ? false : null)"
            :deviceID="props.row.deviceID"
            :mac="props.row.mac"
            :devices="devices"
          >
            <span v-if="!filter['domain-search']" :class="mobile ? 'has-text-black' : undefined">{{ props.row.domain }}</span>
            <span v-else>
              <component
                v-for="(section, idx) in splitDomain(props.row.domain)"
                :is="section.bold ? 'strong' : 'span'"
                :key="idx" :class="mobile ? 'has-text-black' : undefined"
              >{{ section.content }}</component>
            </span>
            <span
              v-if="deletedItems[props.row.timestamp + props.row.deviceID + props.row.mac + props.row.domain + props.row.action]"    
            > (Deleting)</span>
          </quick-site-add>
        </span>
      </b-table-column>
      <b-table-column
        label="Device"
        v-slot="props"
      >
        <router-link
          v-if="props.row.mac"
          :to="{
            name: 'Devices',
            query: {
              'device-id': props.row.deviceID,
              'mac': props.row.mac
            }            
          }"
        >
          {{ devices.devices[props.row.deviceID + '/' + props.row.mac] ?
              devices.devices[props.row.deviceID + '/' + props.row.mac].name :
              '' }}
        </router-link>
        <router-link
          v-else
          :to="{
            name: 'Devices',
            query: {
              'device-id': props.row.deviceID
            }
          }"
        >
          {{ devices.devices[props.row.deviceID] ?
              devices.devices[props.row.deviceID].name :
              '' }}
        </router-link>
      </b-table-column>
      <b-table-column
        label="Action"
        v-slot="props"
      >
        <b-tooltip v-if="props.row.action === 'access'" label="No rule was present for this domain.">
          <b-tag>Nothing</b-tag>
        </b-tooltip>
        <b-tooltip v-else-if="props.row.action === 'blacklist'" label="Domain was blocked for this device.">
          <b-tag type="is-danger">Blocked</b-tag>
        </b-tooltip>
        <b-tooltip v-else-if="props.row.action === 'redirect'" label="Domain was redirected, which is typically performed to enforce SafeSearch filtering.">
          <b-tag type="is-primary">Redirected</b-tag>
        </b-tooltip>
        <b-tooltip v-else-if="props.row.action === 'whitelist'" label="Domain was allowed for this device.">
          <b-tag type="is-success">Allowed</b-tag>
        </b-tooltip>
      </b-table-column>
      <b-table-column
        label="Categories"
        v-slot="props"
      >
        <span>{{ formatCategoryNames(props.row.categoryNames) }}</span>
      </b-table-column>
      <b-table-column
        label="Time"
        field="time"
        v-slot="props"
        sortable
      >
        <span>{{ formatTime(props.row.timestamp) }}</span>
      </b-table-column>
    </b-table>
    <!-- Pagination -->
    <div class="is-flex p-5" v-if="history && history.history && history.history.length">
      <b-button
        @click="filter = { 'page': filter.page - 1 }"
        :disabled="filter.page === 0 || loading"
        icon-left="arrow-left"
      >
        Prev
      </b-button>
      <div style="flex-grow: 1"/>
      <p class="has-text-grey pt-2">
        Page {{ filter.page + 1 }}
      </p>
      <div style="flex-grow: 1"/>
      <b-button
        @click="filter = { 'page': filter.page + 1 }"
        :disabled="!history.more || loading"
        icon-right="arrow-right"
      >
        Next
      </b-button>
    </div>
    <!-- Placeholder if nothing found -->
    <div v-if="!history || !history.history || !history.history.length" class="is-flex is-align-items-center is-flex-direction-column">
      <b-icon
        icon="history"
        size="is-large"
      />
      <p class="is-size-4 mt-3">
        Nothing found
      </p>
      <p class="is-size-6 mt-2 has-text-grey">
        No internet history found. Either the device isn't in use, or the search filters need to be widened.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { Route } from 'vue-router'
import GetHistory, { GetHistoryAction, GetHistoryParams, GetHistorySort, UsageHistory, UsageHistoryItem } from '@/requests/usage-v2/get-history'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import dayjs from 'dayjs'
import Collapse from '@/components/common/collapse.vue'
import { BNoticeComponent } from 'buefy/types/components'
import DeleteUsageHistory from '@/requests/usage-v2/delete-usage-history'
import QuickSiteAdd from '@/components/usage/quick-site-add.vue'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import { CategoryMetadata } from '@/requests/blocking/get-category-blocking'
import GetCategoryBlockingMetadata from '@/requests/blocking/get-category-blocking-metadata'

@Component({
  components: {
    Collapse,
    QuickSiteAdd
  }
})
export default class History extends Vue {
  @Prop() readonly mobile: boolean | undefined
  /**
   * The current start date.
   * (Unix timestamp, s)
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   * (Unix timestamp, s)
   */
  @Prop() readonly endDate: number | undefined
  /**
   * Whether this component is currently selected.
   * Only request data once it becomes visible.
   */
  @Prop() readonly visible: boolean | undefined
  /**
   * Current device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Current device MAC.
   */
  @Prop() readonly mac: string | undefined
  /**
   * Current device name.
   */
  @Prop() readonly deviceName: string | undefined
  /**
   * Whether we are currently loading data.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * The devices list.
   */
  @Prop() readonly devices: DevicesList | undefined
  /**
   * Whether a prop was changed while this
   * component was invisible.
   */
  propsChanged = false
  /**
   * The loaded data.
   */
  history: UsageHistory | null = null
  /**
   * The currently entered domain search.
   */
  currentDomainSearch = ''
  /**
   * Whether to show the filter dialog.
   */
  showFilter = false
  /**
   * Currently being edited: categories to show.
   */
  stagingFilterCategories: number[] = []
  /**
   * Whether to show all categories using the filter.
   */
  stagingFilterAllCategories = true
  /**
   * Currently being edited: the type of action to show.
   */
  stagingFilterAction: GetHistoryAction = 'access'
  /**
   * List of all categories.
   */
  allCategories: CategoryMetadata | null = null
  /**
   * Whether we are loading the table.
   */
  loadingTable = false
  /**
   * The rows that are selected.
   */
  selectedRows: UsageHistoryItem[] = []
  /**
   * The last snackbar to be opened.
   */
  lastSnackbar: BNoticeComponent | null = null
  /**
   * List of history items that have been deleted in the current session.
   * Key is a concatenation of the timestamp, device ID, mac, domain, and action.
   */
  deletedItems: {[concatID: string]: true} = {}

  /**
   * Requests.
   */
  getHistory = new GetHistory()
  getCategoryBlockingMetadata = new GetCategoryBlockingMetadata()
  deleteUsageHistory = new DeleteUsageHistory()

  mounted () {
    this.updateNowOrLater()
  }

  loadData () {
    this.$emit('update:loading', true)
    this.loadingTable = true
    this.getHistory.handle(this.filter).then(history => {
      this.history = history.spec
      this.$emit('update:loading', false)
      this.loadingTable = false
    })
  }

  /**
   * When going from invisible to visible, load the data if it
   * has changed.
   */
  @Watch('visible') loadWhenVisible (nowVis: boolean, wasVis: boolean) {
    if (nowVis && !wasVis && this.propsChanged) {
      this.propsChanged = false
      this.loadData()
    }
  }

  /**
   * Fired when a re-request is needed. If invisible, update
   * when we become visible again. If visible, update
   * immediately.
   */
  updateNowOrLater () {
    if (this.visible) {
      this.loadData()
    } else {
      this.propsChanged = true
    }
  }

  @Watch('startDate') wStartDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('endDate') wEndDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('deviceID') wDeviceID (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('mac') wMac (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }

  @Watch('$route', { deep: true }) watchRoute (to: Route, from: Route) {
    // Only update when certain params change, those used below
    const differs = (key: string) => to.query[key] != from.query[key]
    if (differs('domain-search') || differs('category-id') || differs('action') || differs('num-per-page') || differs('page') || differs('sort')) {
      this.updateNowOrLater()
    }
  }

  /**
   * @returns The current params for getting history, from defaults or the route.
   */
  get filter (): GetHistoryParams {
    const q = this.$route.query
    // Variable filters are stored in route
    const domainSearch =  typeof q['domain-search'] === 'string'  ? q['domain-search']                    : ''
    const categoryID =    typeof q['category-id'] === 'string'    ? JSON.parse(q['category-id'])          : []
    const action =        typeof q['action'] === 'string'         ? q['action']                           : ''
    const numPerPage =    typeof q['num-per-page'] === 'string'   ? parseInt(q['num-per-page'])           : 50
    const page =          typeof q['page'] === 'string'           ? parseInt(q['page'])                   : 0
    const sort =          typeof q['sort'] === 'string'           ? q['sort']                             : 'date-new-first'
    return {
      'start-timestamp': this.startDate,
      'end-timestamp': this.endDate,
      'device-id': this.deviceID,
      'mac': this.mac,
      'domain-search': domainSearch,
      'category-id': categoryID,
      'action': action as GetHistoryAction,
      'num-per-page': numPerPage,
      'page': page,
      'sort': sort as GetHistorySort
    }
  }

  /**
   * Sets our filter params, without overriding other query params.
   */
  set filter (newFilter: GetHistoryParams) {
    const newObj = this.filter
    assign(newObj, newFilter)
    // Some filter params come from props and are already in the query, don't add these here
    delete newObj['start-timestamp']
    delete newObj['end-timestamp']
    delete newObj['device-id']
    delete newObj['mac']
    // Avoid overwriting whole query object
    const existingQuery = cloneDeep(this.$route.query)
    assign(existingQuery, newObj)
    if (existingQuery['page']) {
      existingQuery['page'] = existingQuery['page'] + '' 
    }
    if (existingQuery['category-id']) {
      existingQuery['category-id'] = JSON.stringify(existingQuery['category-id'])
    }
    this.$router.push({
      name: 'Usage',
      query: existingQuery
    })
    window.scrollTo(0, 0);
  }

  /**
   * @returns A formatted time given a timestamp.
   */
  formatTime (timestamp: number): string {
    return dayjs.unix(timestamp).format('h:mma MMM D')
  }

  /**
   * @returns A formatted string of the categories of a domain.
   */
  formatCategoryNames (names: string[]): string {
    if (!names || names.length === 0) {
      return 'None'
    }
    let toReturn = ''
    for (let i = 0; i < names.length; i++) {
      toReturn += names[i]
      if (i < names.length - 1) {
        toReturn += ', '
      }
    }
    return toReturn
  }

  /**
   * Called when the current sort is updated.
   */
  handleSort (field: string, order: string) {
    if (field === 'time') {
      if (order === 'asc') {
        this.filter = {
          sort: 'date-old-first',
          page: 0
        }
      } else {
        this.filter = {
          sort: 'date-new-first',
          page: 0
        }
      }
    } else if (field === 'domain') {
      if (order === 'asc') {
        this.filter = {
          sort: 'alpha-a-z',
          page: 0
        }
      } else {
        this.filter = {
          sort: 'alpha-z-a',
          page: 0
        }
      }
    }
  }

  /**
   * If there is a search term, highlight it within the domain by splitting into parts.
   */
  splitDomain (domain: string): { content: string; bold: boolean }[] {
    const search = this.filter['domain-search']
    if (!search) {
      return [
        {
          content: domain,
          bold: false
        }
      ]
    }
    const startIdx = domain.indexOf(search)
    return [
      {
        content: domain.substring(0, startIdx),
        bold: false
      },
      {
        content: domain.substring(startIdx, startIdx + search.length),
        bold: true
      },
      {
        content: domain.substring(startIdx + search.length, domain.length),
        bold: false
      }
    ]
  }

  /**
   * Load the current filter into the staging vars.
   */
  loadStagingFilter () {
    this.$emit('update:loading', true)
    const finish = () => {
      const filter = this.filter
      this.stagingFilterCategories = filter['category-id'] as number[]
      this.stagingFilterAllCategories = this.stagingFilterCategories.length === 0
      this.stagingFilterAction = filter['action'] as GetHistoryAction
      this.$emit('update:loading', false)
      this.showFilter = true
    }
    if (this.allCategories === null) {
      this.getCategoryBlockingMetadata.handle({includeNotBlockable: true}).then(categories => {
        this.allCategories = categories.spec
        finish()
      })
    } else {
      finish()
    }
  }

  /**
   * Tick a staging category.
   */
  addStagingCategory (category: number) {
    const idx = this.stagingFilterCategories.indexOf(category)
    if (idx === -1) {
      this.stagingFilterCategories.push(category)
    }
  }

  /**
   * Untick a staging category.
   */
  removeStagingCategory (category: number) {
    const idx = this.stagingFilterCategories.indexOf(category)
    if (idx !== -1) {
      this.stagingFilterCategories.splice(idx, 1)
    }
  }

  /**
   * Apply the staging variables as the filter.
   */
  applyStagingFilter () {
    if (this.stagingFilterAllCategories) {
      this.stagingFilterCategories = []
    }
    this.filter = {
      'category-id': this.stagingFilterCategories,
      'action': this.stagingFilterAction,
      'page': 0
    }
  }

  /**
   * Show a confirmation to delete the selected rows.
   */
  confirmDelete () {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you wish to delete ' + this.selectedRows.length + ' history items?',
      type: 'is-danger',
      title: 'Confirm',
      confirmText: 'Delete',
      cancelText: 'Cancel',
      onConfirm: () => {
        this.loadingTable = true
        this.deleteUsageHistory.handle(this.selectedRows).then(() => {
          this.selectedRows.forEach(row => {
            this.deletedItems[row.timestamp + row.deviceID + row.mac + row.domain + row.action] = true
          })
          this.selectedRows = []
          this.loadData()
        })
      },
      onCancel: () => {
        this.selectedRows = []
      }
    })
  }

  /**
   * @returns The amount of active filters.
   */
  get numFilters (): number {
    const filter = this.filter
    let numFilters = 0
    if (filter['category-id'] && filter['category-id'].length) {
      numFilters++
    }
    if (filter['action']) {
      numFilters++
    }
    return numFilters
  }

  @Watch('selectedRows') showDeleteNotif () {
    if (this.lastSnackbar) {
      this.lastSnackbar.close()
    }
    if (this.selectedRows.length) {
      this.lastSnackbar = this.$buefy.snackbar.open({
        message: this.selectedRows.length + ' Selected',
        actionText: 'Delete History',
        type: 'is-danger',
        onAction: this.confirmDelete,
        duration: 5000
      })
    }
  }
}
</script>

<style scoped>
.category-card {
  background-color: #f7f7f7;
  border-radius: 3px;
}

.deleted {
  text-decoration: line-through;
}

@media screen and (max-width: 600px) {
  .filter-row {
    flex-direction: column;
  }

  .filter-button-group {
    margin-top: 20px;
  }
}

</style>
