<template>
  <div>
    <!-- Each category -->
    <div v-if="!loading && data && data.length">
      <div class="has-text-centered has-text-grey mb-4">
        Traffic compared to previous time period {{ compareStartTime }} - {{ compareEndTime }}
      </div>
      <b-collapse
        v-for="(category) in data.flatMap(i => i.children ? [i].concat(i.children) : i)"
        :key="category.categoryID"
        class="card"
        :class="{'mt-5': category.children}"
        :open="false"
      >
        <div
          slot="trigger"
          slot-scope="props"
          class="card-header bar-container"
          role="button"
        >
          <p
            class="card-header-title above-bar"
            :class="{ 'ml-5': !category.children && !category.categoryID.startsWith('usage_insights') }"
          >
            <b-icon
              size="is-small"
              :icon="getIcon(category)"
              class="has-text-grey-dark mr-2"
            />
            {{ category.name }} · {{ friendlyNum(category.quantity) }}
            <span class="has-text-grey-light pl-3" style="display: inline-block; vertical-align: middle;">
              <b-icon :icon="category.percent > 0 ? 'arrow-up' : 'arrow-down'" :type="category.percent > 0 ? 'is-success' : 'is-danger'" size="is-small"/>
              {{ friendlyNum(Math.abs(category.quantity - category.prevQuantity)) }}
              {{ category.percent >= 0 ? 'over' : 'below' }}
              last {{ timePeriod }}
            </span>
          </p>
          <a class="card-header-icon above-bar has-text-grey-dark">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
          </a>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="has-text-grey is-size-7">
              {{ category.description }}
            </p>
            <div>{{ (category.percent < 0 ? 'Down ' : 'Up ') + category.percent + '% to ' + category.quantity }}.</div>
            <!-- Link to more info -->
            <action
              class="pt-2"
              text="More info"
              :route="moreInfoRoute(category)"
            />
          </div>
        </div>
      </b-collapse>
      <div class="has-text-centered pt-4">
        <b-button
          rounded
          v-if="trimmed"
          @click="currMax += 22; loadData();"
          label="Load more"
        />
      </div>
    </div>
    <!-- Show that there's nothing if there isn't -->
    <div v-if="!loading && (!data || !data.length)">
      Not enough data to get insights. Please try again later.
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import dayjs from 'dayjs'
import { getTimezone } from '@/helpers/functions'
import GetInsights, { Insight } from '@/requests/usage-v2/get-insights'
import Action from '@/components/common/action.vue'
import { RawLocation, Route } from 'vue-router'
import cloneDeep from 'lodash/cloneDeep'
import assign from 'lodash/assign'

@Component({
  components: {
    Action
  }
})
export default class ViewedAllowedCategories extends Vue {
  /**
   * The current start date.
   * (Unix timestamp, s)
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   * (Unix timestamp, s)
   */
  @Prop() readonly endDate: number | undefined
  /**
   * Whether this component is currently selected.
   * Only request data once it becomes visible.
   */
  @Prop() readonly visible: boolean | undefined
  /**
   * Current device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Current device MAC.
   */
  @Prop() readonly mac: string | undefined
  /**
   * Whether we are currently loading data.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether a prop was changed while this
   * component was invisible.
   */
  propsChanged = false
  /**
   * The data.
   */
  data: Insight[] = []
  biggestIncrease = -1
  biggestDecrease = 1
  currMax = 10
  trimmed = true

  /**
   * Requests
   */
  getInsights = new GetInsights()

  mounted () {
    this.updateNowOrLater()
  }

  /**
   * Load the data for the current props,
   * then display it.
   */
  loadData () {
    this.$emit('update:loading', true)
    this.data = []
    if (this.startDate !== undefined && this.endDate !== undefined) {
      // Get the start/end timestamps as YYYYMMDD
      const startTime = dayjs.unix(this.startDate).startOf('day').format('YYYYMMDD')
      const endTime = dayjs.unix(this.endDate).format('YYYYMMDD')
      const timezone = getTimezone()
      const deviceID = this.deviceID ? this.deviceID : ''
      this.getInsights.handle({
        'start-date': startTime,
        'end-date': endTime,
        'tz': timezone,
        'device-id': deviceID,
        'mac': this.mac,
        max: this.currMax
      }).then(viewedCategories => {
        if (viewedCategories.spec.insights && viewedCategories.spec.insights.length) {
          this.data = viewedCategories.spec.insights
          this.trimmed = viewedCategories.spec.trimmed
        }
        this.biggestIncrease = -1
        this.biggestDecrease = 1
        this.data.forEach(insight => {
          if (insight.percent > 0 && insight.percent > this.biggestIncrease) {
            this.biggestIncrease = insight.percent
          } else if (insight.percent < 0 && insight.percent < this.biggestDecrease) {
            this.biggestDecrease = insight.percent
          }
          if (insight.children) {
            insight.children.forEach(insight => {
              if (insight.percent > 0 && insight.percent > this.biggestIncrease) {
                this.biggestIncrease = insight.percent
              } else if (insight.percent < 0 && insight.percent < this.biggestDecrease) {
                this.biggestDecrease = insight.percent
              }
            })
          }
        })
        this.$emit('update:loading', false)
      })
      this.propsChanged = false
    }
  }

  /**
   * When going from invisible to visible, load the data if it
   * has changed.
   */
  @Watch('visible') loadWhenVisible (nowVis: boolean, wasVis: boolean) {
    if (nowVis && !wasVis && this.propsChanged) {
      this.propsChanged = false
      this.loadData()
    }
  }

  /**
   * Fired when a re-request is needed. If invisible, update
   * when we become visible again. If visible, update
   * immediately.
   */
  updateNowOrLater () {
    if (this.visible) {
      this.loadData()
    } else {
      this.propsChanged = true
    }
  }


  @Watch('startDate') wStartDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('endDate') wEndDate (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('deviceID') wDeviceID (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }
  @Watch('mac') wMac (newVal: any, oldVal: any) {
    if (newVal !== oldVal) {
      this.updateNowOrLater();
    }
  }

  get compareStartTime (): string {
    if (!this.startDate) {
      return ''
    }
    if (!this.endDate) {
      return ''
    }
    const diff = dayjs.unix(this.startDate).diff(dayjs.unix(this.endDate), 's')
    return dayjs.unix(this.startDate+diff).format('ddd, MMM D')
  }

  get compareEndTime (): string {
    if (!this.startDate) {
      return ''
    }
    if (!this.endDate) {
      return ''
    }
    const diff = dayjs.unix(this.startDate).diff(dayjs.unix(this.endDate), 's')
    return dayjs.unix(this.endDate+diff).format('ddd, MMM D')
  }

  get timePeriod (): string {
    if (!this.startDate) {
      return ''
    }
    if (!this.endDate) {
      return ''
    }
    let ret = dayjs.unix(this.startDate).to(dayjs.unix(this.endDate))
    if (ret.startsWith('in')) {
      ret = ret.replaceAll('in', '')
    }
    return ret
  }

  /**
   * @returns A route for more info for a category with the index.
   */
  moreInfoRoute (i: Insight): RawLocation {
    if (i.categoryID === 'usage_insights_viewed_site_count') {
      const currQuery = cloneDeep(this.$route.query)
      assign(currQuery, {
        'section': 'allowed',
      })
      return {
        name: 'Usage',
        query: currQuery
      }
    } else if (i.categoryID === 'usage_insights_blocked_site_count') {
      const currQuery = cloneDeep(this.$route.query)
      assign(currQuery, {
        'section': 'blocked',
      })
      return {
        name: 'Usage',
        query: currQuery
      }
    } else {
      const currQuery = cloneDeep(this.$route.query)
      assign(currQuery, {
        'section': 'history',
        'category-id': JSON.stringify([i.categoryID]),
        'action': '',
        'page': '0',
        'sort': 'date-new-first'
      })
      return {
        name: 'Usage',
        query: currQuery
      }
    }
  }

  friendlyNum (num: number): string {
    return Number(num).toLocaleString()
  }

  /**
   * @returns The icon name for a particular category. Returns predefined one
   *          if available, otherwise fall back to a letter icon representing the name.
   */
  getIcon (i: Insight): string {
    if (i.icon === '') {
      return 'alpha-' + i.name.substring(0, 1).toLowerCase() + '-box-outline'
    }
    return i.icon
  }
}
</script>

<style scoped>
.bar-container {
  position: relative;
}

.bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 1;
}

.above-bar {
  position: relative;
  z-index: 2;
}

.line-left {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
</style>
