<template>
  <b-dropdown
    position="is-bottom-left"
    style=""
  >
    <template #trigger="{}">
      <b-button
        :type="done ? (hasBeenBlocked ? 'is-danger' : 'is-success') : 'is-light'"
        size="is-small"
        icon-right="dots-horizontal"
        :loading="loading"
      >
        <slot/>
      </b-button>
    </template>
    <b-dropdown-item
      v-for="(option, idx) in options"
      :key="idx"
      @click="doOption(option)"
    >
      {{ option.displayText }}
    </b-dropdown-item>
  </b-dropdown>
</template>

<script lang="ts">
import { DevicesList } from '@/requests/devices-v2/get-devices-list';
import PostBlockingChanges from '@/requests/blocking/post-blocking-changes';
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

interface Option {
  displayText: string;
  domain: string;
  block: boolean;
  device: string;
}

@Component
export default class QuickSiteAdd extends Vue {
  @Prop() readonly domain: string | undefined
  @Prop() readonly wasBlock: boolean | null | undefined
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly mac: string | undefined
  @Prop() readonly devices: DevicesList | undefined

  loading = false
  done = false
  hasBeenBlocked = false

  postBlockingChanges = new PostBlockingChanges()

  get options (): Option[] {
    if (!this.domain || !this.devices || this.deviceID === undefined || this.mac === undefined) {
      return []
    }
    const devicesList = this.devices.devices
    // Domain options:
    // If this is a subdomain, offer the option to take action on the superdomain
    const domains = [ this.domain ]
    const domainSplit = this.domain.split('.')
    const domainSplitLen = domainSplit.length
    if (domainSplitLen > 2) {
      domains.unshift(domainSplit[domainSplitLen-2] + '.' + domainSplit[domainSplitLen-1])
    }
    // Action options:
    const actions: boolean[] = []
    if (this.wasBlock === null) {
      actions.push(true, false)
    } else if (this.wasBlock) {
      actions.push(false)
    } else {
      actions.push(true)
    }
    // Device options:
    const compoundId = this.deviceID + (this.mac ? '/' + this.mac : '')
    const devices: string[] = [ compoundId ]
    // Add parent devices, if any
    if (this.devices.devices && this.devices.devices[compoundId]) {
      const device = this.devices.devices[compoundId]
      if (device.parents) {
        device.parents.forEach(parent => {
          devices.push(parent)
        })
      }
      devices.push('')
    }
    return actions.flatMap(action => {
      return domains.flatMap(domain => {
        return devices.map(device => {
          return {
            displayText: (action ? 'Block ' : 'Allow ') + domain + ' for ' + (device && devicesList ? devicesList[device].name : 'all devices'),
            domain: domain,
            block: action,
            device: device
          }
        })
      })
    })
  }

  doOption (option: Option) {
    if (!this.devices || this.deviceID === undefined || this.mac === undefined) {
      return []
    }
    const devicesList = this.devices.devices
    const doneToast = () => {
      this.$buefy.toast.open({
        position: 'is-bottom',
        message: (option.block ? 'Blocked ' : 'Allowed ') + option.domain + ' for ' + (option.device && devicesList ? devicesList[option.device].name : 'all devices'),
        type: 'is-dark',
        duration: 4000
      })
      this.loading = false
      this.done = true
      this.hasBeenBlocked = option.block
    }
    this.loading = true
    this.postBlockingChanges.handle({
      id: this.deviceID,
      mac: this.mac,
      body: {
        changes: [
          {
            domain: {
              id: option.domain,
              model: {
                blocked: option.block
              },
              ruleset: {
                device: {
                  accountId: '',
                  deviceId: option.device.split('/')[0],
                  mac: option.device.split('/')[1]
                }
              }
            }
          }
        ]
      }
    }).then(() => {
      doneToast()
    })
  }
}
</script>
