<template>
  <b-tabs
    class="mt-5"
    type="is-toggle"
    v-model="selected"
  >
    <b-tab-item
      :headerClass="mobile ? 'ml-4' : 'ml-2'"
      label="Blocked"
      icon="cancel"
    >
      <viewed-blocked-categories
        class="mt-4"
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :devices="devices"
        :deviceName="deviceName"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[0]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="Accessed"
      icon="check-circle"
    >
      <viewed-allowed-categories
        class="mt-4"
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[1]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="History"
      icon="history"
    >
      <history
        class="mt-4"
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[2]"
        :loading="loading"
        :devices="devices"
        :mobile="mobile"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="Activity"
      icon="chart-bar"
    >
      <activity
        class="mt-4"
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[3]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
    <b-tab-item
      label="Insights"
      icon="trending-up"
    >
      <insights
        class="mt-4"
        :startDate="startDate"
        :endDate="endDate"
        :deviceID="deviceID"
        :mac="mac"
        :visible="URL_SUFFIXES[selected] === URL_SUFFIXES[4]"
        :loading="loading"
        @update:loading="$emit('update:loading', $event)"
      />
    </b-tab-item>
  </b-tabs>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import ViewedBlockedCategories from '@/components/usage/viewed-blocked-categories.vue'
import ViewedAllowedCategories from '@/components/usage/viewed-allowed-categories.vue'
import History from '@/components/usage/history.vue'
import { Prop } from 'vue-property-decorator'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import Activity from '@/components/usage/activity.vue'
import Insights from '@/components/usage/insights.vue'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'

@Component({
  components: {
    ViewedBlockedCategories,
    ViewedAllowedCategories,
    History,
    Activity,
    Insights
  }
})
export default class UsageTabs extends Vue {
  @Prop() readonly mobile: boolean | undefined
  /**
   * The current start date.
   * (Unix timestamp, ms)
   */
  @Prop() readonly startDate: number | undefined
  /**
   * The current end date.
   * (Unix timestamp, ms)
   */
  @Prop() readonly endDate: number | undefined
  /**
   * Current device ID.
   */
  @Prop() readonly deviceID: string | undefined
  /**
   * Current MAC.
   */
  @Prop() readonly mac: string | undefined
  /**
   * Whether we are loading data.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * The devices list.
   */
  @Prop() readonly devices: DevicesList | undefined
  /**
   * Each URL suffix by index.
   */
  URL_SUFFIXES = [
    'blocked',
    'allowed',
    'history',
    'activity',
    'insights'
  ]

  /**
   * Store the selected tab in the URL.
   */
  set selected (newSelectedIdx: number) {
    this.$router.push({
      name: 'Usage',
      query: assign(cloneDeep(this.$route.query), {
        section: this.URL_SUFFIXES[newSelectedIdx]
      })
    })
  }

  /**
   * @returns The selected tab from the URL.
   */
  get selected (): number {
    const section = this.$route.query.section
    if (typeof section === 'string') {
      return this.URL_SUFFIXES.indexOf(section)
    }
    return 0
  }
}
</script>
