<template>
  <div>
    <usage-tiles
      :isPro="isPro"
      :showMyDevice="true"
    />
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import UsageTiles from '@/components/my-devices/usage-tiles.vue'

@Component({
  components: {
    UsageTiles,
  }
})
export default class AccountHome extends Vue {
  @Prop() readonly isPro: boolean | undefined

  mounted () {
    this.$emit('update:loading', false)
  }
}
</script>
