<template>
  <div>
    <!-- Show generic or more specific title if we are in a section -->
    <page-top
      :title="section === '' ? 'Account settings' : SECTION_NAMES[section]"
      :float="true"
      :mobile="mobile"
    >
      <b-button
        slot="left-icon"
        icon-left="arrow-left"
        v-if="section !== ''"
        @click="$router.back()"
        rounded
      />
    </page-top>
    <!-- If not in a section, list sections -->
    <div v-if="section === ''">
      <list-item
        v-for="currSection in Object.keys(SECTION_NAMES)"
        :key="currSection"
        :route="{
          name: 'AccountSettings',
          query: {
            section: currSection
          }
        }"
      >
        <div slot="left" class="is-inline-flex">
          <b-icon
            :icon="SECTION_ICONS[currSection]"
          />
          <span class="ml-2">
            {{ SECTION_NAMES[currSection] }}
          </span>
        </div>
      </list-item>
    </div>
    <!-- If in a section, show the section component -->
    <component
      v-else
      :is="SECTION_ELEMENTS[section]"
      @update:subStatus="$emit('update:subStatus', $event)"
      class="pt-3 mx-4"
      :loading="loading"
      :mobile="mobile"
      @update:loading="$emit('update:loading', $event)"
    />
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import PageTop from '@/components/common/page-top.vue'
import VerificationStatus from '@/components/account-settings/verification-status.vue'
import Payment from '@/components/account-settings/payment.vue'
import ListItem from '@/components/common/list-item.vue'
import { Prop } from 'vue-property-decorator'
import DeleteAccount from '@/components/account-settings/delete-account.vue'
import BlockPage from '@/components/account-settings/block-page.vue'
import Privacy from '@/components/account-settings/privacy.vue'
import Communication from '@/components/account-settings/communication.vue'
import Timezone from '@/components/account-settings/timezone.vue'
import Security from '@/components/account-settings/security.vue'

@Component({
  components: {
    ListItem,
    PageTop,
    VerificationStatus,
    Payment,
    DeleteAccount,
    BlockPage,
    Privacy,
    Communication,
    Timezone,
    Security,
  }
})
export default class AccountSettings extends Vue {
  /**
   * Whether the current component is loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether we are in mobile view.
   */
  @Prop() readonly mobile: boolean | undefined

  /**
   * Map from section ID to name.
   */
  readonly SECTION_NAMES = {
    'payment': 'Subscription',
    'security': 'Security and login',
    'timezone': 'Timezone',
    'block-page': 'Block page',
    'privacy': 'Privacy',
    'verification': 'Email verification',
    'communication': 'Communication',
    'delete-account': 'Delete account'
  }
  /**
   * Map from section ID to icon.
   */
  readonly SECTION_ICONS = {
    'payment': 'credit-card',
    'security': 'lock',
    'timezone': 'map-clock',
    'block-page': 'file-cancel',
    'privacy': 'account-eye',
    'verification': 'email-check',
    'communication': 'email-newsletter',
    'delete-account': 'delete',
  }
  /**
   * Map from section ID to the element implementation.
   */
  readonly SECTION_ELEMENTS = {
    'payment': 'payment',
    'security': 'security',
    'timezone': 'timezone',
    'block-page': 'block-page',
    'privacy': 'privacy',
    'verification': 'verification-status',
    'communication': 'communication',
    'delete-account': 'delete-account',
  }

  mounted () {
    this.$emit('update:loading', false)
  }

  /**
   * @returns The ID of the section from the URL.
   */
  get section (): string {
    if (typeof this.$route.query.section === 'string') {
      return this.$route.query.section
    }
    return ''
  }
}
</script>
