<template>
  <div class="page-root">
    <page-top
      title="Blocking & Screentime"
      :mobile="mobile"
      :overrideBottom="true"
    >
      <div slot="right">
        <spinner v-if="saving"/>
        <device-selector
          v-else
          style="margin-bottom: 6.5px;"
          v-model="deviceSelection"
          :mobile="mobile"
          :devices="devices"
        />
      </div>
    </page-top>
    <!-- For editing the rules -->
    <blocking-editor
      v-if="devices && deviceSelection"
      :loading="loading"
      :mobile="mobile"
      @update:loading="$emit('update:loading', $event)"
      :saving.sync="saving"
      :tab.sync="tab"
      :device="deviceSelection"
      :devices="devices"
      :isPro="isPro"
      :disableIfNotPro="true"
      :screentime="true"
    />
    <div
      v-else-if="devices && !deviceSelection"
      class="is-flex is-align-items-center is-flex-direction-column mt-3"
    >
      <p class="is-size-6 mt-2 has-text-grey-dark">
        Select a device to get started.
      </p>
    </div>
    <div class="has-text-centered has-text-grey mt-5" v-if="deviceSelection">
      To stop and start access, visit <router-link
        :to="isPro ? {
          name: 'StopStartAccess',
          query: {
            'device-id': deviceSelection.id,
            mac: deviceSelection.mac
          }
        } : {
          name: 'AccountSettings',
          query: {
            section: 'payment',
            message: '1'
          }
        }"
      >
        Screentime
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {  Prop, Watch } from 'vue-property-decorator'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector from '@/components/common/device-selector.vue'
import BlockingEditor from '@/components/blocking/editor.vue'
import { Device, DevicesList } from '@/requests/devices-v2/get-devices-list'
import { DeviceSelection, deviceSelectionFromRoute, deviceSelectionToRoute, getDevices } from '@/helpers/functions'
import assign from 'lodash/assign'
import Spinner from '@/components/common/spinner.vue'
import cloneDeep from 'lodash/cloneDeep'

@Component({
  components: {
    PageTop,
    DeviceSelector,
    BlockingEditor,
    Spinner
  },
  // Prevent accidental route navigation.
  beforeRouteLeave (to, from, next) {
    if ((this as any).saving) {
      const answer = window.confirm('Do you really want to leave? You will lose unsaved changes.')
      if (answer) {
        next()
      } else {
        next(false)
      }
    } else {
      next()
    }
  }
})
export default class Blocking extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined

  devices: DevicesList | null = null
  saving = false

  mounted () {
    console.log(this.$route)
    getDevices().then(devices => {
      this.devices = devices
      if (!this.deviceSelection) {
        this.$emit('update:loading', false)
      }
    })
  }

  get deviceSelection (): DeviceSelection | undefined {
    return deviceSelectionFromRoute(this.$route)
  }

  set deviceSelection (selection: DeviceSelection | undefined) {
    this.$router.push(deviceSelectionToRoute(this.$route, selection))
  }

  get tab (): string {
    const q = this.$route.query.tab
    if (typeof q === 'string') {
      return q
    }
    return 'categories'
  }

  set tab (newTab: string) {
    this.$router.push({
      name: 'Blocking',
      query: assign(cloneDeep(this.$route.query), {
        tab: newTab
      })
    })
  }
}
</script>
