<template>
  <div
    v-if="!loading"
  >
    <div
      class="p-3 mb-2 is-size-5 is-family-secondary has-text-weight-semibold"
    >
      Clear browsing history for:
    </div>
    <device-selector
      v-model="deviceSelection"
      class="ml-2"
      :devices="devices"
      :mobile="mobile"
    />
    <div
      class="p-3 mb-2 is-size-5 is-family-secondary has-text-weight-semibold"
    >
      Delete:
    </div>
    <b-field class="ml-3">
      <b-checkbox
        type="is-danger"
        v-model="deleteBrowsingHistory"
      >
        Browsing history
      </b-checkbox>
      <b-checkbox
        type="is-danger"
        v-model="deleteSecurityAlerts"
      >
        Security Alerts
      </b-checkbox>
    </b-field>
    <b-message
      v-if="deleteBrowsingHistory || deleteSecurityAlerts"
      type="is-danger"
      class="mt-5 ml-2"
    >
      This will delete all {{ dataTypes }} for the {{ !deviceSelection.id && !deviceSelection.mac ? 'whole account' : 'device(s)' }}. It is not reversible, and it may
      take a few minutes for the changes to show.
    </b-message>
    <b-button
      v-if="deleteBrowsingHistory || deleteSecurityAlerts"
      class="ml-2"
      icon-left="delete"
      type="is-danger"
      rounded
      @click="confirmDelete"
    >
      Delete
    </b-button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import DeviceSelector from '@/components/common/device-selector.vue'
import { Prop } from 'vue-property-decorator'
import DeleteAllUsageHistory from '@/requests/usage-v2/delete-all-usage-history'
import DeleteSecurityAlerts from '@/requests/security-alerts/delete-security-alerts'
import { SecurityAlert } from '@/requests/security-alerts/get-security-alerts'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import { DeviceSelection, deviceSelectionFromRoute, deviceSelectionToRoute, getDevices } from '@/helpers/functions'

@Component({
  components: {
    DeviceSelector
  }
})
export default class ClearHistory extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined
  devices: DevicesList | null = null

  deleteBrowsingHistory = true
  deleteSecurityAlerts = true

  /**
   * Requests.
   */
  deleteAllUsageHistory = new DeleteAllUsageHistory()
  deleteSecurityAlertsReq = new DeleteSecurityAlerts()

  mounted () {
    getDevices().then(devices => {
      this.devices = devices
      this.$emit('update:loading', false)
    })
  }

  get dataTypes (): string {
    let andPrefix = false
    let str = ''
    if (this.deleteBrowsingHistory) {
      str += 'browsing history '
      andPrefix = true
    }
    if (this.deleteSecurityAlerts) {
      if (andPrefix) {
        str += ' and '
      }
      str += 'security alerts'
    }
    return str
  }

  get deviceSelection (): DeviceSelection | undefined {
    return deviceSelectionFromRoute(this.$route)
  }

  set deviceSelection (selection: DeviceSelection | undefined) {
    this.$router.push(deviceSelectionToRoute(this.$route, selection))
  }

  /**
   * Show a dialog to confirm whether to delete usage data.
   */
  confirmDelete () {
    if (!this.devices) {
      return
    }
    // Find the name of the device
    const selection = this.deviceSelection
    if (!selection) {
      return
    }
    const compoundId = selection.id + (selection.mac ? '/' + selection.mac : '')
    let deviceName = this.devices.devices && this.devices.devices[compoundId] ? this.devices.devices[compoundId].name : 'All devices'
    this.$buefy.dialog.confirm({
      message: 'Are you sure you wish to delete data for ' + deviceName + '?',
      type: 'is-danger',
      confirmText: 'Delete',
      onConfirm: () => {
        this.$emit('update:loading', true)
        const proms: Promise<any>[] = []
        if (this.deleteBrowsingHistory) {
          proms.push(this.deleteAllUsageHistory.handle({
            'device-id': selection.id,
            mac: selection.mac
          }))
        }
        if (this.deleteSecurityAlerts) {
          proms.push(this.deleteSecurityAlertsReq.handle({
            deviceID: selection.id,
            mac: selection.mac,
          } as SecurityAlert))
        }
        Promise.all(proms).then(() => {
          this.$emit('update:loading', false)
          this.$buefy.toast.open({
            message: 'Data deleted',
            type: 'is-success',
            position: 'is-bottom',
            duration: 4000
          })
        })
      }
    })
  }
}
</script>
