<template>
  <div class="confirm-password-reset">
    <!-- Tell if expired -->
    <div v-if="expired">
      <b-message
        type="is-warning"
      >
        The password reset link is expired - please request another <router-link :to="{
          name: 'SendPasswordReset'
        }">here</router-link>.
      </b-message>
    </div>
    <div v-else>
      <password-strength-input
        label1="New password"
        label2="Confirm new password"
        @input="password = $event"
        @input-enter="reset"
        @valid="valid = $event"
        class="mb-4"
      />
      <b-button
        type="is-primary"
        @click="reset"
        :disabled="!valid"
        :loading="resetting"
      >
        Change password
      </b-button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PostPasswordReset from '@/requests/account/post-password-reset'
import { parseClaims } from '@/helpers/functions'

@Component({
  components: {
    PasswordStrengthInput: () => import('@/components/common/password-strength-input.vue'),
  }
})
export default class ConfirmPasswordReset extends Vue {
  /**
   * The currently typed password.
   */
  password = ''
  /**
   * Whether the password is valid.
   */
  valid = false
  /**
   * Whether we are resetting.
   */
  resetting = false

  /**
   * Requests.
   */
  postPasswordReset = new PostPasswordReset()

  mounted () {
    this.$emit('update:loading', false)
  }

  /**
   * @returns Whether the current reset key is expired.
   */
  get expired (): boolean {
    const key = this.$route.query.key
    if (typeof key !== 'string') {
      return false
    }
    const claims = parseClaims(key)
    const expTimestamp = claims['exp']
    if (typeof expTimestamp !== 'number') {
      return false
    }
    return Math.round(new Date().getTime() / 1000) > expTimestamp
  }

  /**
   * Reset the password.
   */
  reset () {
    // Get the key from the URL
    const key = this.$route.query.key
    if (typeof key === 'string' && this.valid) {
      // Do the reset
      this.resetting = true
      this.postPasswordReset.handle({
        key: key,
        password: this.password
      }).then(() => {
        this.$buefy.toast.open({
          message: 'Password reset',
          type: 'is-success',
          position: 'is-bottom'
        })
        this.$router.push({
          name: 'Login'
        })
        this.resetting = false
      }).catch(() => {
        this.$buefy.toast.open({
          message: 'Couldn\'t reset password',
          type: 'is-danger',
          position: 'is-bottom'
        })
        this.resetting = false
      })
    } else {
      // Have no valid key
      this.$buefy.toast.open({
        message: 'Couldn\'t reset password',
        type: 'is-danger',
        position: 'is-bottom'
      })
    }
  }
}
</script>

<style scoped>
.confirm-password-reset {
  max-width: 750px;
  margin: auto;
}
</style>
