<template>
  <div
    class="create-account clip-width"
    :class="{ faded: loading }"
  >
    <div class="clip-width-smaller mb-5">
      <b-message
        v-if="status === 'DANGER_TEXT'"
        :active.sync="statusActive"
        type="is-danger"
        :title="statusText"
      />
    </div>
    <div>
      <b-steps :has-navigation="false" v-model="currStep">
        <b-step-item :clickable="true" icon="account" v-if="!signedIn">
          <div class="clip-width-smaller">
            <b-message
              v-if="refererID"
              type="is-primary"
            >
              You've been invited by <strong>{{ referrerName }}</strong>.
            </b-message>
            <auth
              :createAccount="true"
              :loading="loading"
              @update:loading="$emit('update:loading', $event)"
              :referer="refererID"
              @done="onCreateAccount"
            />
            <div class="has-text-centered pt-2">
              <div style="background-color: #eaeaea; height: 1px;" class="mb-3"></div>
              <p class="has-text-grey mb-3">
                Already have an account? <router-link
                  :to="{
                    name: 'Login'
                  }"
                >
                  Login.
                </router-link>
              </p>
            </div>
          </div>
        </b-step-item>
        <b-step-item :clickable="currStep >= 1" icon="credit-card-outline" v-if="planId">
          <create-subscription
            v-if="currStep === 1 || signedIn && currStep === 0"
            class="mb-2"
            v-model="subscriptionCreateArgs"
            :loading="loading"
            @update:loading="$emit('update:loading', $event)"
            :planId="planId"
            :planPeriod="planPeriod"
            :planPriceId="planPriceId"
            :planPrefix="planPrefix"
            :isResubscribe="isResubscribe"
            :nextBill="nextBill"
            :subscriptionCreated="noChangeUserType"
            :mobile="mobile"
            @isFree="isFree = $event"
          />
          <div class="is-flex is-justify-content-center">
            <b-field>
              <p class="control">
                <b-button
                  icon-left="arrow-left"
                  label="Back"
                  @click="currStep--"
                  :disabled="signedIn && noChangeUserType"
                />
              </p>
              <p class="control">
                <b-button
                  :label="isResubscribe ? 'Switch to plan' : 'Add Payment Method'"
                  icon-right="arrow-right"
                  @click="addedPayment ? currStep++ : addPayment()"
                  type="is-primary"
                />
              </p>
            </b-field>
          </div>
          <div class="is-flex is-justify-content-center mt-4">
            <a
              @click="currStep++"
            >
              <span v-if="isResubscribe || signedIn">
                Don't change plans
              </span>
              <span v-else>
                Get later
              </span>
            </a>
          </div>
        </b-step-item>
        <b-step-item :clickable="false" icon="cellphone-link" v-if="!signedIn">
          <device-setup
            @back="currStep--"
            @done="currStep++"
          />
        </b-step-item>
      </b-steps>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GetRefererName from '@/requests/referrals/get-referrer-name'
import { EMAIL_STORAGE_NAME, TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { Prop, Watch } from 'vue-property-decorator'
import GetChargebeeSubscriptionCheckoutRedirect from '@/requests/user-v2/get-chargebee-checkout-redirect'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import CreateSubscription from '@/components/create-account/create-subscription.vue'
import PostSubscription, { CreateChargebeeSubscriptionArgs } from '@/requests/user-v2/post-subscription'
import GetSubscription from '@/requests/user-v2/get-subscription'
import Auth, { AuthResult } from '@/components/common/auth.vue'
import { getChargebeeSite, loadFromMetaTag, metaTagOrDefault } from '@/helpers/functions'
declare let Chargebee: any
declare let plausible: (event: string) => void

@Component({
  components: {
    Auth,
    DeviceSetup: () => import('@/components/create-account/device-setup.vue'),
    CreateSubscription
  }
})
export default class CreateAccountView extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly subStatus: string | undefined
  /**
   * Whether the status text is active.
   */
  statusActive = true
  /**
   * Type of status text to show.
   */
  status: 'NONE' | 'DANGER_TEXT' = 'NONE'
  /**
   * Status text to show if applicable.
   */
  statusText = ''
  /**
   * The name of the referer, if any.
   */
  referrerName = ''
  subscriptionCreateArgs: CreateChargebeeSubscriptionArgs | null = null
  nextBill = 0
  /**
   * The the latest invoice estimate is free, don't prompt for payment methods.
   */
  isFree = false

  /**
   * Requests.
   */
  getRefererName = new GetRefererName()
  getChargebeeSubscriptionCheckoutRedirect = new GetChargebeeSubscriptionCheckoutRedirect()
  getSubscription = new GetSubscription()
  postSubscription = new PostSubscription()

  mounted () {
    if (this.refererID) {
      this.getRefererName.handle(this.refererID).then(name => {
        this.referrerName = name
        this.$emit('update:loading', false)
      })
    } else {
      this.$emit('update:loading', false)
    }
    if ((this.planId || this.planPrefix) && !document.getElementById('cb-script')) {
      const el = document.createElement("script")
      el.setAttribute('src', 'https://js.chargebee.com/v2/chargebee.js')
      el.setAttribute('data-cb-site', getChargebeeSite())
      el.setAttribute('id', 'cb-script')
      document.body.appendChild(el)
    }
  }

  /**
   * @returns The ID of the referer.
   */
  get refererID (): number {
    if (typeof this.$route.query.referer === 'string') {
      return parseInt(this.$route.query.referer)
    }
    return 0
  }

  /**
   * Called when the account has been created.
   */
  onCreateAccount (result: AuthResult) {
    localStorage.setItem(TOKEN_STORAGE_NAME, result.token)
    localStorage.setItem(EMAIL_STORAGE_NAME, result.email)
    this.currStep++
  }

  handleErr (reason: any) {
    if (reason && reason.meta && reason.meta.message) {
      this.$buefy.dialog.alert({
        message: reason.meta.message,
        type: 'is-danger'
      })
    }
  }

  get planId (): string {
    return metaTagOrDefault('chargebeeDefaultPlan', '')
  }

  get planPeriod (): string {
    return metaTagOrDefault('chargebeeDefaultPeriod', '')
  }

  get planPriceId (): string {
    return metaTagOrDefault('chargebeeDefaultPriceId', '')
  }

  get planPrefix (): string {
    return ''
  }

  get isResubscribe (): boolean {
    return this.$route.query.resubscribe === '1'
  }

  /**
   * Redirect to home page once finished.
   */
  onFinish () {
    let redirectPath = '/'
    if (typeof this.$route.query.redirect === 'string') {
      redirectPath = this.$route.query.redirect
    }
    this.$router.push({
      path: redirectPath
    })
  }

  @Watch('currStep') checkFinished (newStep: number) {
    let afterLastStep = 2
    if (this.signedIn) {
      afterLastStep -= 2
    }
    if (this.planId) {
      afterLastStep += 1
    }
    if (newStep >= afterLastStep) {
      this.onFinish()
    }
  }

  get currStep (): number {
    const q = this.$route.query['step']
    if (typeof q === 'string') {
      return parseInt(q)
    } else if (typeof q === 'number') {
      return q
    }
    return 0
  }

  set currStep (step: number) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'step': step + '' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get signedIn (): boolean {
    return this.$route.query['signed-in'] === '1'
  }

  get selectedPlan (): number {
    const q = this.$route.query.period
    if (typeof q === 'string') {
      if (q === 'monthly') {
        return 1
      }
    }
    return 0
  }

  set addedPayment (u: boolean) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'added-payment': u ? '1' : '0' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get addedPayment (): boolean {
    return this.$route.query['added-payment'] === '1'
  }

  set noChangeUserType (u: boolean) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'no-change-user-type': u ? '1' : '0' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get noChangeUserType (): boolean {
    return this.$route.query['no-change-user-type'] === '1'
  }

  /**
   * Show a dialog to add a payment method.
   */
  addPayment () {
    if (!this.subscriptionCreateArgs) {
      return
    }
    this.$emit('update:loading', true)
    const finish = () => {
      this.currStep++
      this.noChangeUserType = true
      this.addedPayment = true
      this.$emit('update:loading', false)
    }
    // Function to open chargebee when done
    const openChargebee = () => {
      if (this.isFree) {
        this.getSubscription.handle({refresh: true}).then(sub => {
          this.nextBill = sub.spec.nextBill
          this.$emit('update:subStatus', sub.spec.status)
          finish()
        })
        return
      }
      // Skip checkout if the user is already on chargebee with a valid card
      if (this.isResubscribe && this.addedPayment) {
        finish()
        return
      }
      // Wait for the chargebee global to show up
      const interval = setInterval(() => {
        if (Chargebee) {
          // Connect to chargebee
          Chargebee.init({
            site: getChargebeeSite()
          })
          clearInterval(interval)
          this.$emit('update:loading', false)
          const chargebeeInstance = Chargebee.getInstance()
          chargebeeInstance.openCheckout({
            hostedPage: () => new Promise((resolve, reject) => {
              this.getChargebeeSubscriptionCheckoutRedirect.handle().then(page => resolve(page.spec)).catch(err => reject(err))
            }),
            success: () => {
              // Refresh the token to have the new payment status
              this.$emit('update:loading', true)
              this.getSubscription.handle({refresh: true}).then(sub => {
                this.nextBill = sub.spec.nextBill
                this.$emit('update:subStatus', sub.spec.status)
                finish()
              })
            },
            error: () => {
              // For some reason this will fail on ios. As a workaround, try redirecting to the subscriptions page instead.
              this.$router.push({
                name: 'AccountSettings',
                query: {
                  section: 'payment'
                }
              })
            }
          })
        }
      }, 500)
    }
    if (this.noChangeUserType) {
      openChargebee()
    } else {
      this.noChangeUserType = true
      this.postSubscription.handle({
        resubscribe: this.isResubscribe,
        chargebee: this.subscriptionCreateArgs
      }).then(() => {
        openChargebee()
      }).catch(code => {
        this.handleErr(code)
      })
    }
  }
}
</script>

<style scoped>
.create-account {
  min-height: 100vh;
}

.clip-width-smaller {
  max-width: 550px;
  margin: auto;
}

.clip-width {
  max-width: 780px;
  margin: auto;
}

.box {
  padding: 30px;
  margin: 15px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  -6px -6px 11px #d9d9d9, 
              6px 6px 11px #ffffff;
}

.faded {
  opacity: 0.5;
}

.plan-selection-button {
  position: absolute;
  border-radius: 200px;
}

@media screen and (max-width: 600px) {
  .box {
    box-shadow: none;
    background: none;
    padding: 0px;
  }
}
</style>
