<template>
  <div :class="{ faded: loading }" class="outer">
    <div
      class="top-container px-4 py-3 has-text-black is-flex is-align-items-center"
      v-if="!noTitleBar"
    >
      <div>
        <div class="is-family-secondary has-text-weight-semibold is-size-5">Registration</div>
      </div>
      <div style="flex-grow: 1"/>
      <b-dropdown position="is-bottom-left">
        <template #trigger="{ active }">
          <b-button
            :type="active ? 'is-primary' : undefined"
            icon-left="dots-vertical"
          />
        </template>
        <b-dropdown-item @click="setResult({skipped: true})">
          Skip
        </b-dropdown-item>
      </b-dropdown>
    </div>
    <b-steps
      :has-navigation="false"
      v-model="currStep"
      :class="{
        'shifted-up': noTitleBar
      }"
    >
      <!-- Step for naming the device -->
      <b-step-item label="Device" :clickable="false" icon="cellphone-link">
        <div class="is-flex is-align-items-center has-text-grey">
          <b-icon
            size="is-medium"
            icon="cellphone-link"
          />
          <div class="px-5 my-3">
            Link your BRAND_NAME account to block sites and watch this device's activity
            remotely.
          </div>
        </div>
        <b-field label="Name" message="How this device will show in the dashboard.">
          <b-input
            v-model="deviceName"
            type="text"
            autocomplete="off"
            ref="deviceName"
            @keyup.native="$event.key === 'Enter' && currStep === 0 && currStep++"
          />
        </b-field>
        <div class="is-flex is-justify-content-center">
          <b-button
            type="is-primary"
            icon-left="arrow-right"
            @click="currStep++"
          >
            Next
          </b-button>
        </div>
      </b-step-item>
      <b-step-item label="Account" :clickable="false" icon="account">
        <b-tabs class="mt-2" position="is-centered" v-model="signinOption">
          <b-tab-item label="Create" icon="account-plus" v-if="showCreate">
            <auth
              v-if="signinOption === 0"
              :createAccount="true"
              @email="email = $event"
              @password="password = $event"
              @code="twofactorCode = $event"
              :loading="loading"
              @update:loading="$emit('update:loading', $event)"
              @done="authDone"
            />
          </b-tab-item>
          <b-tab-item label="Scan" v-if="showQr" icon="qrcode">
            <b-message
              v-if="showSignIn"
              type="is-primary"
            >
              Don't have a code to scan? <a @click="signinOption = signinOption + 1">Sign in</a> instead.
            </b-message>
            <video ref="qr"/>
          </b-tab-item>
          <b-tab-item label="Sign In" icon="account-lock-outline" v-if="showSignIn">
            <div v-if="resolvingQuota">
              <resolve-device-quota
                :quota="quota"
                :auth="lastAuthToken"
                @done="deviceQuotaResolved"
              />
            </div>
            <auth
              v-if="signinOption > 0"
              v-show="!resolvingQuota"
              @email="email = $event"
              @password="password = $event"
              @code="twofactorCode = $event"
              signinFormName="device-registration-login"
              :loading="loading"
              @update:loading="$emit('update:loading', $event)"
              @done="authDone"
            />
          </b-tab-item>
        </b-tabs>
      </b-step-item>
      <b-step-item label="Done" :clickable="false" icon="check">
        <div v-if="!wasCreated && group === null && devices">
          <div class="has-text-centered mt-2 has-text-grey">Who will be using this device?</div>
          <group-selector
            v-model="group"
            :groups="devices.deviceOrder ? devices.deviceOrder.filter(id => devices.devices[id].type === 'group') : []"
            :mobile="mobile"
            :auth="lastAuthToken"
            :list="devices"
          />
        </div>
        <div v-else>
          <div class="is-flex is-align-items-center has-text-grey">
            <b-icon
              size="is-medium"
              icon="cellphone-link"
            />
            <div class="px-5 my-3">
              Device registered as <strong>{{ deviceName }}</strong>.
            </div>
          </div>
          <b-field>
            <b-button
              class="mt-3"
              type="is-primary"
              icon-left="check"
              label="Finish"
              @click="finish"
            />
          </b-field>
        </div>
      </b-step-item>
    </b-steps>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { getDevices, getTokenPrimaryRole, isDevEnvironment } from '@/helpers/functions'
import QrScanner from 'qr-scanner'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import GetQuota, { Quota } from '@/requests/quotas/get-quota'
import Auth, { AuthResult } from '@/components/common/auth.vue'
import RedeemQrSigninToken from '@/requests/user-v2/redeem-qr-signin-token'
import PostAuthToken from '@/requests/user-v2/post-auth-token'
import Post2FAToken from '@/requests/user-v2/post-2fa-token'
import GetMetadata from '@/requests/devices-v2/get-metadata'
import dayjs from 'dayjs'
import LocalizedFormat from 'dayjs/plugin/localizedFormat'
import DeleteDevice from '@/requests/devices-v2/delete-device'
import GetSubscription, { Subscription } from '@/requests/user-v2/get-subscription'
import PostDevice from '@/requests/devices-v2/post-device'
import { DevicesList, DeviceType } from '@/requests/devices-v2/get-devices-list'
import GetDeviceConnections from '@/requests/devices-v2/get-device-connections'
import PutDeviceGroup from '@/requests/devices-v2/put-device-group'
dayjs.extend(LocalizedFormat)
declare let SSApp: AppIfc

export interface PostDeviceResponse {
  createdId: string;
  metadata: {[key: string]: string};
}

export interface Result {
  // True if the user skipped, false otherwise. Only available if the titlebar in the webview is shown.
  // Not available in reauth.
  skipped: boolean;
  // True if a new device was registered. On registration, this is always true if the process wasn't skipped.
  // On reauth, this is only true if the device was deleted and had to be re-created.
  registered: boolean;
  // The ID of the created device. Only set if registered was true.
  deviceID: string;
  // The dns token of the created device. Only set if registered was true.
  dnsToken: string;
  // A new auth token for the device. Always returned from reauth, and registration when not skipped.
  authToken: string;
  // The email the user logged in as. Always returned.
  email: string;
  // Device metadata.
  metadata: {[key: string]: string};
}

// The interface to give android the result
export interface AppIfc {
  result: (resultJSON: string) => void
  checkCamera: () => boolean
}

@Component({
  components: {
    Auth,
    ResolveDeviceQuota: () => import('@/components/device-setup/resolve-device-quota.vue'),
    GroupSelector: () => import('@/components/my-devices/group-selector.vue'),
  },
  beforeRouteLeave (to, from, next) {
    // If login times out, we will be sent back to the login page.
    // Instead of doing that, just reset to the start of this page.
    if (to.name === 'Login') {
      (this as DeviceRegistration).reset(true)
    } else {
      next()
    }
  }
})
export default class DeviceRegistration extends Vue {
  @Prop() readonly loading: boolean | undefined

  email = ''
  password = ''
  twofactorCode = ''
  deviceID = ''
  metadata: {[key: string]: string} = {}
  dnsToken = ''
  deviceAuthToken = ''
  lastAuthToken = ''
  wasCreated = false
  group: string | null = null
  devices: DevicesList | null = null

  gotQrResult = false
  resolvingQuota = false
  quota: Quota | null = null

  scanner: QrScanner | null = null

  /**
   * Requests.
   */
  redeemQrSigninToken = new RedeemQrSigninToken()
  postAuthToken = new PostAuthToken()
  getQuota = new GetQuota()
  postDevice = new PostDevice()
  getDeviceConnections = new GetDeviceConnections()
  deleteDeviceReq = new DeleteDevice()
  getSubscription = new GetSubscription()
  putDeviceGroup = new PutDeviceGroup()

  mounted () {
    this.$emit('update:loading', false)
    if (this.$refs['deviceName']) {
      (this.$refs['deviceName'] as any).focus()
    }
    this.$nextTick(() => {
      this.checkScanner(this.signinOption) // If the page is refreshed, need to call this to enable scanner
    });
  }

  /**
   * Show an error.
   */
  error (text: string) {
    this.$buefy.dialog.alert({
      message: text,
      type: 'is-danger',
    })
  }

  deviceQuotaResolved () {
    this.resolvingQuota = false
    if (this.twofactorCode === '') {
      // 2fa not enabled
      this.authDone()
    }
    // 2fa enabled, will need the code again
  }

  parseMetadata (): {[key: string]: string} {
    const q = this.$route.query['device-metadata']
    if (typeof q !== 'string') {
      return {}
    }
    return JSON.parse(q)
  }

  // Register either a regular device or a knox device if that metadata is set.
  registerDevice (sub: Subscription | undefined): Promise<PostDeviceResponse> | null {
    const meta = this.parseMetadata()
    return new Promise<PostDeviceResponse>((resolve, reject) => {
      this.postDevice.handle({
        type: this.deviceOS as DeviceType,
        name: this.deviceName,
        icon: '',
        metadata: {}
      }).then(result => {
        resolve({
          createdId: result.spec.id,
          metadata: {}
        })
      }).catch(() => reject())
    })
  }

  completingAuth = false

  authDone (authResult?: AuthResult) {
    if (this.completingAuth) {
      return
    }
    this.completingAuth = true
    if (authResult) {
      this.getQuota.setAuth(authResult.token)
      this.postDevice.setAuth(authResult.token)
      this.getDeviceConnections.setAuth(authResult.token)
      this.getSubscription.setAuth(authResult.token)
      this.putDeviceGroup.setAuth(authResult.token)
      this.lastAuthToken = authResult.token
      if (authResult.created) {
        this.wasCreated = true
      }
    }
    this.$emit('update:loading', true)
    const email = this.email
    const password = this.password
    getDevices({ auth: authResult ? authResult.token : '' }).then(devices => {
      this.devices = devices
    }).finally(() => {
      this.getSubscription.handle({refresh: false}).then(sub => {
        // Get the devices quota to see if we can create one
        this.getQuota.handle('devices').then(quota => {
          this.quota = quota.spec
          if (quota.spec.currentValue >= quota.spec.maxValue) {
            this.resolvingQuota = true
            this.$emit('update:loading', false)
            this.completingAuth = false
            return
          }
          this.resolvingQuota = false
          // OK, can create device
          const deviceRegistered = this.registerDevice(sub.spec)
          if (!deviceRegistered) {
            this.completingAuth = false
            return
          }
          deviceRegistered.then(result => {
            this.deviceID = result.createdId
            this.metadata = result.metadata
            // OK - get an auth token for the device
            this.postAuthToken.handle({
              username: email,
              password: password,
              'device-id': result.createdId,
              'enable-sub': true
            }).then(token => {
              const getDnsTokenAndFinish = () => {
                this.getDeviceConnections.handle(result.createdId).then(connections => {
                  this.dnsToken = connections.spec.dnsToken
                  this.currStep++
                  this.completingAuth = false
                })
              }
              const role = getTokenPrimaryRole(token.spec.token)
              if (role === 'complete-twofactor') {
                // Need to submit 2fa again
                const req = new Post2FAToken(false)
                req.setAuth(token.spec.token)
                req.handle(this.twofactorCode).then(token => {
                  this.deviceAuthToken = token.spec.token
                  getDnsTokenAndFinish()
                }).catch(() => {
                  // Delete the created device, or user ends up in infinite loop when devices is maxed
                  // out and 2fa is active
                  this.deleteDeviceReq.handle({
                    id: result.createdId,
                    mac: ''
                  }).then(() => {
                    this.error('Invalid code, try again')
                    this.$emit('update:loading', false)
                    this.completingAuth = false
                  }).catch(() => {
                    this.error('Couldn\'t create device')
                    this.reset(false)
                  })
                })
              } else {
                this.deviceAuthToken = token.spec.token
                getDnsTokenAndFinish()
              }
            }).catch(() => {
              // Only way this happens is if the password was wrong to begin with. Prompt to enter
              // password again.
              this.$router.push({
                name: 'DeviceRegistration',
                query: assign(cloneDeep(this.$route.query), {
                  'auth-steps': JSON.stringify([0]),
                  'auth-step': '0'
                })
              })
              this.error('Invalid password')
              this.completingAuth = false
            })
          }).catch(err => {
            this.error('Couldn\'t create device')
            this.reset(false)
          })
        }).catch(() => {
          this.error('Couldn\'t create device')
          this.reset(false)
        })
      }).catch(() => {
        this.error('Couldn\'t create device')
        this.reset(false)
      })
    })
  }

  onQrResult (result: QrScanner.ScanResult) {
    if (this.gotQrResult) {
      return
    }
    const fail = () => {
      this.$emit('update:loading', false)
      if (this.showSignIn) {
        this.signinOption++
        this.$buefy.toast.open({
          type: 'is-danger',
          message: 'Couldn\'t register using QR code. Try signing in.',
          position: 'is-bottom',
          duration: 5000
        })
        this.gotQrResult = false
      } else {
        this.$buefy.toast.open({
          type: 'is-danger',
          message: 'Couldn\'t register using QR code.',
          position: 'is-bottom',
          duration: 5000
        })
        this.gotQrResult = false
      }
    }
    const getMetadataAndFinish = (authToken: string) => {
      const req = new GetMetadata()
      req.setAuth(authToken)
      req.handle().then(metadata => {
        this.metadata = metadata.spec
        this.currStep++
      }).catch(code => {
        if (code === 401) {
          // This means we weren't allowed to get the metadata, which is a valid configuration. So just don't return it.
          this.metadata = {}
          this.currStep++
        } else {
          fail()
        }
      })
    }
    this.gotQrResult = true
    this.$emit('update:loading', true);
    this.redeemQrSigninToken.handle({
      token: result.data,
      type: this.deviceType,
      os: this.deviceOS,
      name: this.deviceName,
      roles: this.deviceOS === 'android' ? 'android' : ''
    }).then(redeemResult => {
      this.deviceAuthToken = redeemResult.spec.authToken
      this.deviceID = redeemResult.spec.deviceID
      this.dnsToken = redeemResult.spec.dnsToken
      this.email = redeemResult.spec.email
      getMetadataAndFinish(redeemResult.spec.authToken)
    }).catch(() => {
      // Maybe the role wasn't anything... try again with nothing
      this.redeemQrSigninToken.handle({
        token: result.data,
        type: this.deviceType,
        os: this.deviceOS,
        name: this.deviceName,
      }).then(redeemResult => {
        this.deviceAuthToken = redeemResult.spec.authToken
        this.deviceID = redeemResult.spec.deviceID
        this.dnsToken = redeemResult.spec.dnsToken
        this.email = redeemResult.spec.email
        getMetadataAndFinish(redeemResult.spec.authToken)
      }).catch(() => {
        fail()
      })
    })
  }

  /**
   * Go back to the first step if login times out.
   */
  reset (loginTimedOut: boolean) {
    if (loginTimedOut) {
      this.$buefy.toast.open({
        message: 'Login Timed Out',
        type: 'is-danger',
        position: 'is-top',
        duration: 5000
      })
    }
    this.completingAuth = false
    this.currStep = 1
    this.email = ''
    this.password = ''
    this.twofactorCode = ''
    this.deviceID = ''
    this.metadata = {}
    this.gotQrResult = false
    this.dnsToken = ''
    this.deviceAuthToken = ''
    this.group = null
    if (typeof this.$route.query.name === 'string') {
      this.deviceName = this.$route.query.name
    } else {
      this.deviceName = ''
    }
  }

  finish () {
    this.setResult({
      skipped: false,
      registered: true,
      deviceID: this.deviceID,
      dnsToken: this.dnsToken,
      authToken: this.deviceAuthToken,
      email: this.email,
      metadata: this.metadata
    })
  }

  /**
   * Place the result in the window object for the device to retrieve.
   */
  setResult (result: Result) {
    if (isDevEnvironment()) {
      console.log('result')
      console.log(result)
    }
    const windowAny = window as any
    const sendNative = () => {
      if (windowAny.SSApp) {
        SSApp.result(JSON.stringify(result))
      } else if (windowAny.webkit && windowAny.webkit.messageHandlers && windowAny.webkit.messageHandlers.authResultHandler &&
                  windowAny.webkit.messageHandlers.authResultHandler.postMessage) {
        const func = (windowAny.webkit.messageHandlers.authResultHandler.postMessage as (result: Result) => void).bind(windowAny.webkit.messageHandlers.authResultHandler)
        func(result)
      }
    }
    this.$emit('update:loading', true);
    if (this.group) {
      this.putDeviceGroup.handle({
        id: result.deviceID,
        mac: '',
        newGroup: this.group
      }).then(() => {
        sendNative()
      })
    } else {
      sendNative()
    }
  }

  @Watch('currStep') stopLoading (newStep: number) {
    this.$nextTick(() => {
      this.$emit('update:loading', false)
    })
  }

  get deviceOS (): string {
    if (typeof this.$route.query.os === 'string') {
      return this.$route.query.os
    }
    return 'android'
  }

  get deviceType (): string {
    if (typeof this.$route.query.type === 'string') {
      return this.$route.query.type
    }
    return 'mobile'
  }

  get noTitleBar (): boolean {
    return this.$route.query.titlebar === '0'
  }

  get showQr (): boolean {
    return this.$route.query.qr === '1'
  }

  get showCreate (): boolean {
    return this.$route.query['create-account'] !== '0'
  }

  get showSignIn (): boolean {
    return this.$route.query['sign-in'] !== '0'
  }

  @Watch('signinOption') checkScanner(newStep?: number) {
    if (newStep === 1 || (!this.showCreate && newStep === 0) || newStep === undefined) {
      if (this.$refs['qr']) {
        if (this.scanner) {
          return
        }
        const windowAny = window as any
        if (windowAny.SSApp) {
          if (!SSApp.checkCamera()) {
            return
          }
        }
        this.scanner = new QrScanner(
          this.$refs['qr'] as HTMLVideoElement,
          this.onQrResult.bind(this),
          {
            maxScansPerSecond: 0.5
          }
        )
        const scanner = this.scanner
        scanner.start()
      }
    }
  }

  get currStep (): number {
    if (typeof this.$route.query['step'] === 'string') {
      return parseInt(this.$route.query['step'])
    }
    return 0
  }

  set currStep (step: number) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'step': step + '' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
    if (step === 1 && !this.showCreate) {
      this.$nextTick(() => {
        this.checkScanner()
      })
    }
  }

  get signinOption (): number {
    if (typeof this.$route.query['signin-option'] === 'string') {
      return parseInt(this.$route.query['signin-option'])
    }
    return 0
  }

  set signinOption (step: number) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'signin-option': step + '' })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }

  get deviceName (): string {
    if (typeof this.$route.query['name'] === 'string') {
      return this.$route.query['name']
    }
    return ''
  }

  set deviceName (name: string) {
    if (!this.$route.name) {
      return
    }
    const newQuery = assign(cloneDeep(this.$route.query), { 'name': name })
    this.$router.push({
      name: this.$route.name,
      query: newQuery
    })
  }
}
</script>

<style scoped>
.top-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.faded {
  opacity: 0.4;
}

.outer {
  max-width: 500px;
  margin: auto;
}

.shifted-up {
  margin-top: -60px;
}
</style>
