<template>
  <div :class="{faded: loading, 'pr-2 pl-3': mobile}">
    <transition name="fade">
      <div
        v-if="queryDeviceId || queryMac"
        :set="device = devices ? devices.devices[queryDeviceId + (queryMac ? '/' + queryMac : '')] : null"
        class="px-2"
      >
        <b-button
          class="mb-3 ml-2"
          outlined rounded
          type="is-primary"
          label="See all devices"
          tag="router-link"
          icon-left="arrow-left"
          :disabled="loading"
          :to="{
            name: 'Devices'
          }"
        />
        <div v-if="devices">
          <div class="ml-3">
            <div class="is-flex" :class="{'is-flex-direction-column is-flex-direction-flex-start mb-5': mobile && (device.type === 'ios' || device.type === 'dns')}">
              <div class="is-flex" v-if="device.type === 'group'">
                <b-tooltip
                  label="Edit"
                >
                  <group-icon
                    class="mt-3"
                    :icon="devices.devices[queryDeviceId].icon"
                    :large="true"
                    style="position: relative; top: 5px; cursor: pointer;"
                    @click.native="editingIconFor = devices.devices[queryDeviceId]"
                  />
                </b-tooltip>
                <div>
                  <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 pt-4 pb-1">
                    {{ device.name }}'s devices
                  </div>
                  <div class="is-size-7 has-text-grey ml-3 pb-4">
                    Last seen {{ formatTime(device.lastActivity, true) }}
                  </div>
                </div>
              </div>
              <div class="is-flex" v-else>
                <b-icon
                  :icon="getDeviceIcon(device)"
                  size="is-large"
                  class="mt-4 pt-1"
                />
                <div>
                  <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 pt-4 pb-1">
                    {{ device.name }}
                  </div>
                  <div class="is-size-7 has-text-grey ml-3 pb-4">
                    Registered {{ formatTime(device.registeredTime) }}
                  </div>
                </div>
              </div>
              <div class="is-flex-grow-1" v-if="!mobile || (device.type !== 'ios' && device.type !== 'dns')"/>
              <div>
                <div class="mt-3" v-if="!mobile || (device.type !== 'ios' && device.type !== 'dns')"/>
                <b-field>
                  <p class="control" v-if="device.type === 'ios' || device.type === 'dns'">
                    <!-- iOS device that has been supervised before, there may be multiple options -->
                    <b-dropdown
                      v-if="device.type === 'ios' && device.metadata"
                      position="is-bottom-left"
                    >
                      <template #trigger>
                        <b-button
                          label="Prevent Uninstall"
                          rounded
                          type="is-primary"
                          icon-left="lock-outline"
                          icon-right="menu-down"
                        />
                      </template>
                      <b-dropdown-item
                        v-if="device.metadata['is_supervised']"
                        custom
                      >
                        <router-link
                          :to="{
                            name: 'IosUnSupervise',
                            query: {
                              'device-id': device.id
                            }
                          }"
                        >
                          Un-supervise device
                        </router-link>
                      </b-dropdown-item>
                      <b-dropdown-item
                        v-else
                        custom
                      >
                        <router-link
                          :to="{
                            name: 'IosPreventUninstall',
                            query: {
                              'device-id': device.id
                            }
                          }"
                        >
                          Re-supervise device
                        </router-link>
                      </b-dropdown-item>
                      <b-dropdown-item
                        v-if="device.metadata['is_supervised']"
                        custom
                      >
                        <router-link
                          :to="{
                            name: 'IosSupervisionComplete',
                            query: {
                              'device-id': device.id
                            }
                          }"
                        >
                          Allow/block factory reset
                        </router-link>
                      </b-dropdown-item>
                      <b-dropdown-item
                        v-if="device.metadata['_reserved_ios_removal_password']"
                        @click="showingRemovalPasswordFor = device.id"
                      >
                        Show removal password
                      </b-dropdown-item>
                    </b-dropdown>
                    <!-- iOS device, hasn't been supervised yet -->
                    <b-button
                      rounded
                      v-else-if="device.type === 'ios'"
                      label="Prevent Uninstall"
                      icon-left="lock-outline"
                      type="is-primary"
                      tag="router-link"
                      :to="{
                        name: 'IosPreventUninstall',
                        query: {
                          'device-id': device.id
                        }
                      }"
                    />
                    <!-- DNS device, show connection options -->
                    <b-button
                      v-else-if="device.type === 'dns'"
                      rounded
                      label="Connect"
                      icon-left="connection"
                      type="is-primary"
                      @click="connect(device.id)"
                    />
                  </p>
                  <p class="control">
                    <b-dropdown position="is-bottom-left" @input="handleDropdownItem(device, $event)">
                      <template #trigger>
                        <b-button
                          rounded outlined
                          icon-right="dots-vertical"
                        />
                      </template>
                      <b-dropdown-item
                        v-for="item in getDropdownItems(device)"
                        :value="item"
                        :key="item"
                      >
                        {{ getDropdownItemLabel(item) }}
                      </b-dropdown-item>
                    </b-dropdown>
                  </p>
                </b-field>
              </div>
            </div>
            <div>
              <div class="is-size-7 mt-1 mb-1">
                <strong>Type:</strong> {{ getDeviceType(device) }}
              </div>
              <div class="is-size-7 mt-1 mb-1" v-if="device.mac">
                <span><strong>MAC address:</strong> {{ device.mac }}</span>
              </div>
              <div class="is-size-7 mt-1 mb-1" v-if="device.version && device.type !== 'router-client'">
                <span><strong>Version:</strong> {{ device.version }}</span>
              </div>
              <div class="is-size-7 mt-1 mb-1">
                <span><strong>Last Activity:</strong> {{ formatTime(device.lastActivity, true) }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 ml-2" v-if="devices">
          <b-button
            class="mb-2"
            label="Blocking"
            type="is-primary"
            icon-right="arrow-right"
            rounded
            tag="router-link"
            :to="{
              name: 'Blocking',
              query: {
                'device-id': queryDeviceId,
                'mac': queryMac
              }
            }"
          />
          <b-button
            class="mb-2 ml-3"
            label="Screentime"
            type="is-primary"
            icon-right="arrow-right"
            rounded
            tag="router-link"
            :to="isPro ? {
              name: 'StopStartAccess',
              query: {
                'device-id': queryDeviceId,
                'mac': queryMac
              }
            } : {
              name: 'AccountSettings',
              query: {
                section: 'payment',
                message: '1'
              }
            }"
          />
          <b-button
            v-if="
              (device.type === 'android' && isAtLeastVersion(device, 3, 5)) ||
              (device.type === 'group' && device.children &&
                device.children.some(child => devices.devices[child].type === 'android' && isAtLeastVersion(devices.devices[child], 3, 5))
              )
            "
            class="ml-3 mb-2"
            label="App Approval"
            type="is-primary"
            icon-right="arrow-right"
            rounded
            tag="router-link"
            :to="{
              name: 'Blocking',
              query: {
                'device-id': queryDeviceId,
                'mac': queryMac,
                'tab': 'apps'
              }
            }"
          />
          <b-button
            class="ml-3 mb-2"
            label="Browsing History"
            type="is-primary"
            icon-right="arrow-right"
            rounded
            tag="router-link"
            :to="isPro ? {
              name: 'Usage',
              query: {
                'device-id': queryDeviceId,
                'mac': queryMac
              }
            } : {
              name: 'AccountSettings',
              query: {
                section: 'payment',
                message: '1'
              }
            }"
          />
        </div>
        <transition-group name="fade">
          <router-link
            v-for="(deviceId, idx) in device && device.children ? device.children : []"
            :key="deviceId"
            :to="{
              name: 'Devices',
              query: {
                'device-id': devices.devices[deviceId].id,
                'mac': devices.devices[deviceId].mac
              }
            }"
            :style="{'transition-delay': (idx > 20 ? 0 : 200*idx) + 'ms', 'display': 'inline-block'}"
          >
            <button-field-card
              :title="devices.devices[deviceId].name"
              :tags="getDeviceTags(device, devices.devices[deviceId])"
              :buttonLinks="{
                router: {
                  name: 'Devices',
                  query: {
                    'device-id': devices.devices[deviceId].parents ? devices.devices[deviceId].parents.filter(parent => routers.includes(parent))[0] : undefined
                  }
                }
              }"
              :fields="getDeviceFields(devices.devices[deviceId])"
              :icon="getDeviceIcon(devices.devices[deviceId])"
              :clickable="true"
              :disabled="loading"
              @input-group="updatingGroupFor = devices.devices[deviceId]"
            />
          </router-link>
        </transition-group>
        <usage-tiles
          v-if="devices"
          class="mt-5"
          :isPro="isPro"
          :deviceID="queryDeviceId"
          :mac="queryMac"
        />
      </div>
      <div v-else>
        <div class="border-bottom is-flex is-justify-content-space-between is-align-items-center">
          <div>
            <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 pt-4 pb-3">Devices</div>
            <div class="is-size-7 has-text-grey ml-3 pb-4"> <b-tag type="is-primary" class="mr-1">New!</b-tag> You can now group devices by user to manage their settings together.</div>
          </div>
          <b-dropdown
            v-model="sort"
            position="is-bottom-left"
          >
            <template #trigger>
              <b-button
                icon-left="sort"
                :label="mobile ? undefined : SORT_NAMES[sort]"
                rounded
              />
            </template>
            <b-dropdown-item
              v-for="sort in SORTS"
              :key="sort"
              :value="sort"
            >
              {{ SORT_NAMES[sort] }}
            </b-dropdown-item>
          </b-dropdown>
        </div>
        <div v-if="queryDeviceIdMulti.length" class="mt-4 ml-3">
          <b-tag
            type="is-primary"
            closable
            outlined
            size="is-medium"
            @close="exitMultiDevice"
          >
            Filtering for {{ queryDeviceIdMulti.length }} devices
          </b-tag>
        </div>
        <router-link
          :to="{
            name: 'DeviceSetup'
          }"
        >
          <button-field-card
            title="New device"
            icon="plus"
            :fields="[['', 'Protect a device', 'has-text-danger']]"
            style="height: 177px; border: 1px dashed rgba(0, 0, 0, 0.5); cursor: pointer;"
          >
          </button-field-card>
        </router-link>
        <transition-group name="fade">
          <router-link
            v-for="(deviceId, idx) in ungrouped"
            :key="deviceId"
            :to="{
              name: 'Devices',
              query: {
                'device-id': devices.devices[deviceId].id,
                'mac': devices.devices[deviceId].mac
              }
            }"
            :style="{'transition-delay': (idx > 20 ? 0 : 200*idx) + 'ms', 'display': 'inline-block'}"
          >
            <button-field-card
              :title="devices.devices[deviceId].name"
              :tags="getDeviceTags('', devices.devices[deviceId])"
              :buttonLinks="{
                router: {
                  name: 'Devices',
                  query: {
                    'device-id': devices.devices[deviceId].parents ? devices.devices[deviceId].parents.filter(parent => routers.includes(parent))[0] : undefined
                  }
                }
              }"
              :fields="getDeviceFields(devices.devices[deviceId])"
              :icon="getDeviceIcon(devices.devices[deviceId])"
              :clickable="true"
              :disabled="loading"
              @input-group="updatingGroupFor = devices.devices[deviceId]"
            />
          </router-link>
        </transition-group>
        <div
          v-for="group in groups"
          :key="group"
          class="border-top mt-3 pt-3"
          :ref="'group' + group"
        >
          <div class="is-flex is-align-items-center">
            <b-tooltip
              label="Edit"
            >
              <group-icon
                :icon="devices.devices[group].icon"
                :large="true"
                style="position: relative; top: 5px; cursor: pointer;"
                @click.native="editingIconFor = devices.devices[group]"
              />
            </b-tooltip>
            <div>
              <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 pt-4 pb-1">
                <router-link
                  :to="{
                    name: 'Devices',
                    query: {
                      'device-id': group
                    }
                  }"
                >
                  {{ devices.devices[group].name }}
                </router-link>
              </div>
              <div class="is-size-7 has-text-grey ml-3 pb-4">
                Last seen {{ formatTime(devices.devices[group].lastActivity, true) }}
              </div>
            </div>
            <div class="is-flex-grow-1"/>
            <!-- Dropdown for more options -->
            <b-dropdown
              position="is-bottom-left"
              :value="null"
              :disabled="loading"
              @input="handleDropdownItem(devices.devices[group], $event)"
            >
              <!-- Three dots trigger -->
              <b-button
                slot="trigger"
                type="is-primary"
                rounded
                outlined
              >
                <b-icon icon="dots-horizontal" size="is-small" />
              </b-button>
              <!-- Items -->
              <b-dropdown-item
                v-for="item in getDropdownItems(devices.devices[group])"
                :value="item"
                :key="item"
              >
                {{ getDropdownItemLabel(item) }}
              </b-dropdown-item>
            </b-dropdown>
          </div>
          <div v-if="devices.devices[group].children" class="pb-4">
            <transition-group name="fade">
              <router-link
                v-for="(childId, idx) in devices.devices[group].children.slice(0, 5)"
                :key="childId"
                :style="{'transition-delay': (idx > 20 ? 0 : 200*idx) + 'ms'}"
                :to="{
                  name: 'Devices',
                  query: {
                    'device-id': devices.devices[childId].id,
                    'mac': devices.devices[childId].mac
                  }
                }"
              >
                <button-field-card
                  :disabled="loading"
                  :title="devices.devices[childId].name"
                  :tags="getDeviceTags(devices.devices[group], devices.devices[childId])"
                  :buttonLinks="{
                    router: {
                      name: 'Devices',
                      query: {
                        'device-id': devices.devices[childId].parents ? devices.devices[childId].parents.filter(parent => routers.includes(parent))[0] : undefined
                      }
                    }
                  }"
                  :fields="getDeviceFields(devices.devices[childId])"
                  :icon="getDeviceIcon(devices.devices[childId])"
                  @input-group="updatingGroupFor = devices.devices[childId]"
                  :clickable="true"
                />
              </router-link>
            </transition-group>
            <div v-if="devices.devices[group].children.length > 5" class="is-flex">
              <div class="is-flex-grow-1"/>
              <b-button
                outlined rounded
                :disabled="loading"
                size="is-medium"
                type="is-primary"
                :label="'See all ' + devices.devices[group].children.length + ' of ' + devices.devices[group].name + '\'s devices'"
                tag="router-link"
                icon-right="arrow-right"
                :to="{
                  name: 'Devices',
                  query: {
                    'device-id': group
                  }
                }"
              />
            </div>
          </div>
        </div>
        <div
          v-for="router in routers"
          :key="router"
          class="border-top mt-3 pt-3"
        >
          <div class="is-flex is-align-items-center">
            <b-icon
              icon="router-wireless"
              size="is-large"
            />
            <div>
              <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 pt-4 pb-1">
                <router-link
                  :to="{
                    name: 'Devices',
                    query: {
                      'device-id': router
                    }
                  }"
                >
                  {{ devices.devices[router].name }}
                </router-link>
              </div>
              <div class="is-size-7 has-text-grey ml-3 pb-4">
                Last seen {{ formatTime(devices.devices[router].lastActivity) }}
              </div>
            </div>
            <div class="is-flex-grow-1"/>
            <!-- Dropdown for more options -->
            <b-dropdown
              position="is-bottom-left"
              :value="null"
              :disabled="loading"
              @input="handleDropdownItem(devices.devices[router], $event)"
            >
              <!-- Three dots trigger -->
              <b-button
                slot="trigger"
                type="is-primary"
                rounded
                outlined
              >
                <b-icon icon="dots-horizontal" size="is-small" />
              </b-button>
              <!-- Items -->
              <b-dropdown-item
                v-for="item in getDropdownItems(devices.devices[router])"
                :value="item"
                :key="item"
              >
                {{ getDropdownItemLabel(item) }}
              </b-dropdown-item>
            </b-dropdown>
          </div>
          <div v-if="devices.devices[router].children" class="pb-4">
            <transition-group name="fade">
              <router-link
                v-for="(clientId, idx) in devices.devices[router].children.slice(0, 5)"
                :key="clientId"
                :style="{'transition-delay': (idx > 20 ? 0 : 200*idx) + 'ms'}"
                :to="{
                  name: 'Devices',
                  query: {
                    'device-id': router,
                    'mac': devices.devices[clientId].mac
                  }
                }"
              >
                <button-field-card
                  :disabled="loading"
                  :title="devices.devices[clientId].name"
                  :tags="getDeviceTags(devices.devices[router], devices.devices[clientId])"
                  :buttonLinks="{
                    router: {
                      name: 'Devices',
                      query: {
                        'device-id': router
                      }
                    }
                  }"
                  :fields="getDeviceFields(devices.devices[clientId])"
                  :icon="getDeviceIcon(devices.devices[clientId])"
                  @input-group="updatingGroupFor = devices.devices[clientId]"
                  :clickable="true"
                />
              </router-link>
            </transition-group>
            <div v-if="devices.devices[router].children.length > 5" class="is-flex">
              <div class="is-flex-grow-1"/>
              <b-button
                outlined rounded
                :disabled="loading"
                size="is-medium"
                type="is-primary"
                :label="'See all ' + devices.devices[router].children.length + ' devices on network'"
                tag="router-link"
                icon-right="arrow-right"
                :to="{
                  name: 'Devices',
                  query: {
                    'device-id': router
                  }
                }"
              />
            </div>
          </div>
        </div>
      </div>
    </transition>
    <b-modal
      v-if="updatingGroupFor"
      :active="true"
      @update:active="updatingGroupFor = null; resetPostSwitchChanges(); refresh();"
    >
      <div
        class="card px-4 py-3"
        :set="currGroupArr = updatingGroupFor.parents.filter(parent => groups[parent])"
      >
        <group-selelector
          :value="currGroupArr.length ? currGroupArr[0] : ''"
          @input="setGroup($event)"
          :loading="loading"
          @update:loading="$emit('update:loading', $event)"
          :forDevice="updatingGroupFor"
          :groups="groups"
          :list="devices"
          :mobile="mobile"
          :changes.sync="postSwitchChanges"
          :deviceMigrations.sync="deviceMigrations"
        />
      </div>
    </b-modal>
    <b-modal
      v-else-if="editingIconFor"
      :active="true"
      @update:active="saveIcon()"
    >
      <div
        class="card px-5 py-5"
      >
        <group-icon-selector
          :value="editingIconFor.icon"
          @input="$set(editingIconFor, 'icon', $event)"
        />
      </div>
    </b-modal>
    <b-modal
      :active="true"
      v-if="dohConnection"
      @update:active="dohConnection = ''"
    >
      <div class="card px-5 py-5">
        <connect
          :token="dnsToken"
          :blockedCategories="blockedCategories"
          :dohConnection="dohConnection"
          :dotConnection="dotConnection"
          :connectingDevice="connectingDevice"
          :ip="ip"
          :ip6="ip6"
          :linkedIP.sync="linkedIp"
          :linkedIP6.sync="linkedIp6"
          :servers="servers"
          @help="dohConnection = ''; showLinkedIpHelp = true;"
        />
      </div>
    </b-modal>
    <b-modal
      v-if="showLinkedIpHelp"
      :active="true"
      @update:active="showLinkedIpHelp = false"
    >
      <linked-ip-warning/>
    </b-modal>
    <b-modal
      :active="true"
      v-if="deletingGroup"
      @update:active="deletingGroup = null; deletingGroupDiff = null; postSwitchChangesMulti = null;"
    >
      <div class="card px-5 py-4">
        <div class="content mt-3">
          <i
            v-if="!Object.keys(deletingGroupDiff.devices).length"
          >
            Deleting this user will have no effect on blocking. Deleting a user does not delete their devices.
          </i>
          <i v-else>
            Deleting a user does not delete their devices. It will have an effect on blocking for the following devices:
          </i>
        </div>
        <div
          v-for="device in Object.keys(deletingGroupDiff.devices)"
          :key="device"
        >
          <collapse
            :title="devices.devices[device].name"
            :set="mNewGroup = devices.devices[device].mac ? devices.devices[device].id : ''"
          >
            <device-blocking-diff
              :diff="deletingGroupDiff.devices[device]"
              :mobile="mobile"
              :device="device"
              :devices="devices"
              :newGroup="mNewGroup"
              :newGroupName="mNewGroup ? devices.devices[mNewGroup].name : 'all devices'"
              :changes="postSwitchChangesMulti[device]"
              @update:changes="$set(postSwitchChangesMulti, device, $event)"
            />
          </collapse>
        </div>
        <div class="is-flex mt-4">
          <div class="is-flex-grow-1"/>
          <b-button
            rounded
            icon-right="delete"
            type="is-danger"
            @click="finalizeDeleteGroup"
          >
            Delete {{ deletingGroup.name }}
          </b-button>
        </div>
      </div>
    </b-modal>
    <b-modal
      v-if="showLinkedIpHelp"
      :active="true"
      @update:active="showLinkedIpHelp = false"
    >
      <linked-ip-warning/>
    </b-modal>
    <b-modal
      v-if="showingRemovalPasswordFor"
      :active="true"
      @update:active="showingRemovalPasswordFor = null"
    >
      <div class="card px-3 py-5">
        <div class="is-flex is-justify-content-center mb-4">
          <p>
            Here's your removal password. You can use it to uninstall the profile from the device, or
            <router-link
              :to="{
                name: 'IosUnSupervise',
                query: {
                  'device-id': showingRemovalPasswordFor
                }
              }"
            >un-supervise</router-link> it.
          </p>
        </div>
        <div class="is-flex is-justify-content-center">
          <div
            class="has-background-grey-lighter px-2 py-1 is-size-3"
            style="font-family: monospace"
          >
            {{ devices.devices[showingRemovalPasswordFor].metadata['_reserved_ios_removal_password'] }}
          </div>
        </div>
      </div>
    </b-modal>
    <self-service-config
      v-if="selfServiceDevice"
      :loading="loading"
      @update:loading="$emit('update:loading', $event)"
      :device="selfServiceDevice"
    />
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import PageTop from '@/components/common/page-top.vue'
import { Prop, Watch } from 'vue-property-decorator'
import { Device, DeviceListSort, DevicesList } from '@/requests/devices-v2/get-devices-list'
import { getBestPlainDnsServers, getBlockedBaseCategories, getDeviceIcon, getDevices, getDeviceType, getDohURL, getDotHost, PlainDnsServers } from '@/helpers/functions'
import ButtonFieldCard, { Tag } from '@/components/common/button-field-card.vue'
import dayjs from 'dayjs'
import { Route } from 'vue-router'
import UsageTiles from '@/components/my-devices/usage-tiles.vue'
import GroupIcon from '@/components/my-devices/group-icon.vue'
import GroupSelelector from '@/components/my-devices/group-selector.vue'
import PutDeviceGroup from '@/requests/devices-v2/put-device-group'
import DeleteDeviceGroup from '@/requests/devices-v2/delete-device-group'
import GroupIconSelector from '@/components/my-devices/group-icon-selector.vue'
import PutDeviceGroupIcon from '@/requests/devices-v2/put-device-group-icon'
import PutDeviceName from '@/requests/devices/put-device-name'
import DeleteDevice from '@/requests/devices-v2/delete-device'
import LogoutDevice from '@/requests/devices-v2/logout-device'
import GetDeviceConnections from '@/requests/devices-v2/get-device-connections'
import GetIP from '@/requests/user-v2/get-ip-v2'
import GetIP6 from '@/requests/user-v2/get-ip6-v2'
import LinkedIpWarning from '@/components/my-devices/linked-ip-warning.vue'
import Connect from '@/components/my-devices/connect.vue'
import GetGroupDeletePreview, { BlockingModelDiff } from '@/requests/devices-v2/get-group-delete-preview'
import Collapse from '@/components/common/collapse.vue'
import DeviceBlockingDiff, { applyPostSwitchChanges, PostSwitchChanges } from '@/components/my-devices/device-blocking-diff.vue'
import HomeItem from '@/components/account-home/home-item.vue'
import { PostSelfServiceTokenArgs } from '@/requests/devices-v2/post-self-service-token'
import SelfServiceConfig from '@/components/my-devices/self-service-config.vue'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'

type DropdownAction = 'rename' | 'logout' | 'doDelete' | 'connect' | 'selfService'

@Component({
  components: {
    HomeItem,
    PageTop,
    ButtonFieldCard,
    UsageTiles,
    GroupIcon,
    GroupSelelector,
    GroupIconSelector,
    LinkedIpWarning,
    Connect,
    Collapse,
    DeviceBlockingDiff,
    SelfServiceConfig
  }
})
export default class Devices extends Vue {
  readonly SORTS: DeviceListSort[] = [ 'active-first', 'inactive-first', 'registered-new-first', 'registered-old-first', 'name-a-z', 'name-z-a' ]
  readonly SORT_NAMES: {[s: string]: string} = {
    'active-first': 'Activity, recent first',
    'inactive-first': 'Activity, oldest first',
    'registered-new-first': 'Registration date, recent first',
    'registered-old-first': 'Registration date, oldest first',
    'name-a-z': 'Name A-Z',
    'name-z-a': 'Name Z-A'
  }

  // Props
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined

  // Fields
  loadingLocal = false
  devices: DevicesList | null = null
  ungrouped: string[] = []
  routers: string[] = []
  groups: string[] = []
  updatingGroupFor: Device | null = null
  editingIconFor: Device | null = null
  deletingGroup: Device | null = null
  deletingGroupDiff: BlockingModelDiff | null = null
  showingRemovalPasswordFor: string | null = null
  selfServiceDevice: PostSelfServiceTokenArgs | null = null
  postSwitchChanges: PostSwitchChanges = {
    newTimers: [],
    newTimetables: [],
    changes: {
      changes: []
    }
  }
  deviceMigrations: PostSwitchChanges | null = null
  postSwitchChangesMulti: {[id: string]: PostSwitchChanges} | null = null

  // Info for showing the "connect" dialog:
  dohConnection = ''
  dotConnection = ''
  dnsToken = ''
  linkedIp = ''
  linkedIp6 = ''
  ip = ''
  ip6 = ''
  servers: PlainDnsServers | null = null
  blockedCategories: number[] = []
  connectingDevice = ''
  showLinkedIpHelp = false

  // Requests
  deleteDeviceReq = new DeleteDevice()
  logoutDeviceReq = new LogoutDevice()
  putDeviceName = new PutDeviceName()
  putDeviceGroup = new PutDeviceGroup()
  deleteDeviceGroup = new DeleteDeviceGroup()
  putDeviceGroupIcon = new PutDeviceGroupIcon()
  getDeviceConnections = new GetDeviceConnections()
  getIP = new GetIP()
  getIP6 = new GetIP6()
  getGroupDeletePreview = new GetGroupDeletePreview()

  mounted () {
    this.refresh()
  }

  refresh (): Promise<void> {
    return new Promise((resolve, reject) => {
      if (this.loadingLocal) {
        reject()
      }
      this.$emit('update:loading', true)
      this.loadingLocal = true
      getDevices({ invalidate: true, requestArgs: {
        sort: this.sort
      }}).then(devices => {
        if (devices.deviceOrder && devices.devices) {
          const filter = this.queryDeviceIdMulti
          const devicesMap = devices.devices
          if (filter.length) {
            devices.deviceOrder = devices.deviceOrder.filter(id => filter.includes(id))
            devices.deviceOrder.forEach(id => (devices.devices as {[id: string]: Device})[id].parents = null)
          }
          this.ungrouped = devices.deviceOrder.filter(id => {
            const device = devicesMap[id]
            if (device.type === 'group' || device.type === 'router' || device.type === 'router-client') {
              return false
            }
            const parents = devicesMap[id].parents
            if (!parents || !parents.length || parents[0] === '') {
              return true
            } else {
              return false
            }
          })
          this.routers = devices.deviceOrder.filter(id => devicesMap[id].type === 'router')
          this.groups = devices.deviceOrder.filter(id => devicesMap[id].type === 'group')
        }
        this.devices = devices
        this.updatingGroupFor = null
        this.$emit('update:loading', false)
        resolve()
      }).catch(err => reject(err)).finally(() => this.loadingLocal = false)
    })
  }

  async setGroup (group: string) {
    const updatingGroupFor = this.updatingGroupFor
    if (!updatingGroupFor) {
      return
    }
    this.$emit('update:loading', true)
    if (this.deviceMigrations) {
      await applyPostSwitchChanges(updatingGroupFor.id, updatingGroupFor.mac, this.deviceMigrations)
    }
    if (group) {
      this.putDeviceGroup.handle({
        id: updatingGroupFor.id,
        mac: updatingGroupFor.mac,
        newGroup: group
      }).then(() => {
        applyPostSwitchChanges(updatingGroupFor.id, updatingGroupFor.mac, this.postSwitchChanges).then(() => {
          this.updatingGroupFor = null;
          this.refresh().then(() => {
            (this.$refs['group' + group] as any[])[0].scrollIntoView()
          })
        })
      })
    } else {
      this.deleteDeviceGroup.handle({
        id: updatingGroupFor.id,
        mac: updatingGroupFor.mac,
      }).then(() => {
        applyPostSwitchChanges(updatingGroupFor.id, updatingGroupFor.mac, this.postSwitchChanges).then(() => {
          this.updatingGroupFor = null
          this.refresh()
        })
      })
    }
  }

  saveIcon() {
    if (!this.editingIconFor) {
      return
    }
    this.$emit('update:loading', true)
    this.putDeviceGroupIcon.handle({
      id: this.editingIconFor.id,
      icon: this.editingIconFor.icon
    }).catch(() => {
      this.$buefy.snackbar.open({
        type: 'is-error',
        message: 'Couldn\'t save icon'
      })
    }).finally(() => {
      this.editingIconFor = null
      this.$emit('update:loading', false)
    })
  }

  getDeviceIcon (device: Device): string | undefined {
    return getDeviceIcon(device)
  }

  getDeviceFields (device: Device): string[][] {
    return [
      ['Last seen:', this.formatTime(device.lastActivity, true)],
      ['Type:', getDeviceType(device)]
    ]
  }

  getDeviceType (device: Device): string {
    return getDeviceType(device)
  }

  getDeviceTags (parentDevice: Device, device: Device): Tag[] {
    if (this.queryDeviceIdMulti.length) {
      return []
    }
    const tags: Tag[] = []
    if (this.devices && device.parents && device.parents.length) {
      const groups = device.parents.filter(parent => this.groups.includes(parent))
      const routers = device.parents.filter(parent => this.routers.includes(parent))
      const parentDeviceId = parentDevice.id + (parentDevice.mac ? '/' + parentDevice.mac : '')
      const parentIsGroup = this.groups.includes(parentDeviceId)
      const parentIsRouter = this.routers.includes(parentDeviceId)
      if (!groups.length) {
        // If the device isn't a group member, offer to add it to one.
        tags.push({
          name: 'group',
          text: 'Add user',
          type: 'is-grey',
          icon: 'account-question',
        })
      } else {
        // Device is a group member, show membership. It's a bit much to repeat the icon/color
        // if we are already showing this underneath a group though. So only do this if it's somewhere
        // else.
        if (parentIsGroup) {
          tags.push({
            name: 'group',
            text: 'Change user',
            type: 'is-grey',
            icon: 'swap-horizontal',
          })
        } else {
          const group = (this.devices.devices as {[key: string]: Device})[groups[0]]
          let iconColor = 'light'
          const iconSplit = group.icon.split('-')
          if (iconSplit.length >= 2) {
            iconColor = group.icon.slice(iconSplit[0].length+1)
          }
          tags.push({
            name: 'group',
            text: group.name + '\'s device',
            type: 'is-' + iconColor,
            icon: 'account',
          })
        }
      }
      // If this device is a router client and not being shown underneath the router,
      // add a tag.
      if (routers.length && !parentIsRouter) {
        const router = (this.devices.devices as {[key: string]: Device})[routers[0]]
        tags.push({
          name: 'router',
          text: 'On network "' + router.name + '"',
          type: 'is-grey',
          icon: 'router-wireless'
        })
      }
    }
    return tags
  }

  formatTime (time: number, isUsageData?: boolean): string {
    if (isUsageData && this.devices && this.devices.activityStatus !== 'OK') {
      if (this.devices.activityStatus === 'OFF_LOGGING') {
        return 'Logging is disabled'
      } else {
        return 'Temporarily unavailable'
      }
    }
    return time ? dayjs.unix(time).fromNow() : 'Never (or over 90 days ago)'
  }

  get queryDeviceIdMulti (): string[] {
    const q = this.$route.query['device-id']
    if (typeof q === 'object') {
      return q as string[]
    }
    return []
  }

  exitMultiDevice () {
    this.$router.push({
      name: 'Devices'
    })
  }

  get queryDeviceId (): string {
    const q = this.$route.query['device-id']
    if (typeof q === 'string') {
      return q
    }
    return ''
  }

  get queryMac (): string {
    const q = this.$route.query['mac']
    if (typeof q === 'string') {
      return q
    }
    return ''
  }

  get sort(): DeviceListSort {
    const s = this.$route.query.sort
    if (typeof s === 'string') {
      return s as DeviceListSort
    }
    return 'active-first'
  }

  set sort (newSort: DeviceListSort) {
    this.$router.push({
      name: 'Devices',
      query: assign(cloneDeep(this.$route.query), {
        sort: newSort
      })
    })
    this.$nextTick(() => {
      this.refresh()
    })
  }

  getDropdownItemLabel(item: DropdownAction): string {
    switch (item) {
      case 'rename':
        return 'Rename'
      case 'logout':
        return 'Logout'
      case 'selfService':
        return 'Self service'
      case 'doDelete':
        return 'Delete'
      case 'connect':
        return 'Link custom settings'
    }
  }

  getDropdownItems (device: Device): DropdownAction[] {
    const options: DropdownAction[] = ['rename', 'selfService', 'doDelete']
    switch (device.type) {
      case 'dns':
        break
      case 'router':
      case 'android':
      case 'ios':
      case 'windows':
        options.push('logout')
        break
    }
    return options
  }

  handleDropdownItem (device: Device, action: DropdownAction) {
    if (this.loading) {
      return
    }
    switch (action) {
      case 'selfService':
        this.selfServiceDevice = { 'device-id': device.id, mac: device.mac }
        break
      case 'rename':
        this.$buefy.dialog.prompt({
          message: 'Enter a new name for <strong>' + device.name + '</strong>.',
          onConfirm: newName => {
            this.$emit('update:loading', true)
            this.putDeviceName.handle({
              id: device.id,
              mac: device.mac,
              name: newName
            }).then(() => {
              this.$set(device, 'name', newName)
              this.$emit('update:loading', false)
            })
          }
        })
        break
      case 'logout':
        this.$buefy.dialog.confirm({
          message: 'Revoke any access this device has to your account. For some functions to work properly, you will need to sign in again.',
          confirmText: 'Log out of ' + device.name,
          type: 'is-warning',
          onConfirm: () => {
            this.$emit('update:loading', true)
            this.logoutDeviceReq.handle(device.id).then(() => {
              this.$emit('update:loading', false)
              this.$buefy.toast.open({
                message: 'Logged out of ' + device.name,
                type: 'is-success',
                position: 'is-bottom',
                duration: 3000
              })
            })
          }
        })
        break
      case 'doDelete':
        if (device.type === 'group') {
          this.deleteGroup(device)
        } else {
          this.deleteDevice(device)
        }
        break
      case 'connect':
        this.connect(device.id)
        break
    }
  }

  deleteDevice (device: Device) {
    if (device.type === 'ios' && device.metadata && device.metadata['is_supervised']) {
      this.$buefy.dialog.confirm({
        message: 'The device has been supervised, please un-supervise it before deleting',
        confirmText: 'Un-supervise',
        type: 'is-primary',
        onConfirm: () => {
          this.$router.push({
            name: 'IosUnSupervise',
            query: {
              'device-id': device.id
            }
          })
        }
      })
      return
    }
    const messageSuffix = device.type === 'router' ?
      'This will delete all data related to the device, including connected devices and blocked sites. Please make sure the device is no longer in use.' :
      'This will delete all data related to the device, including blocked sites and history. If any device is still connected, they will be reset to the default settings.'
    this.$buefy.dialog.confirm({
      message: 'Are you sure you want to delete <strong>' + device.name + '</strong>? ' + messageSuffix,
      type: 'is-danger',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteDeviceReq.handle({
          id: device.id,
          mac: device.mac
        }).then(() => {
          this.refresh().then(() => {
            if (device.type === 'router-client' && this.queryMac === device.mac) {
              this.$router.push({
                name: 'Devices',
                query: {
                  'device-id': device.id
                }
              })
            } else if (this.queryDeviceId === device.id) {
              this.$router.push({
                name: 'Devices'
              })
            }
          })
        })
      }
    })
  }

  deleteGroup (device: Device) {
    this.$emit('update:loading', true)
    this.getGroupDeletePreview.handle({
      id: device.id,
      'plan-ahead': '168h'
    }).then(preview => {
      this.$emit('update:loading', false)
      this.deletingGroup = device
      this.deletingGroupDiff = preview.spec
      const postSwitchChangesMulti: {[id: string]: PostSwitchChanges} = {}
      for (const device of Object.keys(preview.spec.devices)) {
        postSwitchChangesMulti[device] = {
          newTimers: {},
          newTimetables: {},
          changes: {
            changes: []
          }
        }
      }
      this.postSwitchChangesMulti = postSwitchChangesMulti
    })
  }

  finalizeDeleteGroup () {
    if (!this.deletingGroup || this.loading || !this.postSwitchChangesMulti) {
      return
    }
    const group = this.deletingGroup
    const postSwitchChangesMulti = this.postSwitchChangesMulti
    this.$emit('update:loading', true)
    this.deleteDeviceReq.handle({
      id: group.id,
      mac: ''
    }).then(async () => {
      const devices = this.devices
      if (!devices) {
        return
      }
      for (const deviceId of Object.keys(postSwitchChangesMulti)) {
        const device = (devices.devices as {[id: string]: Device})[deviceId] as Device
        await applyPostSwitchChanges(device.id, device.mac, postSwitchChangesMulti[deviceId])
      }
      this.refresh().then(() => {
        this.deletingGroup = null
        this.deletingGroupDiff = null
        this.postSwitchChangesMulti = null
        if (this.queryDeviceId === group.id) {
          this.$router.push({
            name: 'Devices'
          })
        }
      })
    })
  }

  connect (id: string) {
    if (this.loading) {
      return
    }
    this.connectingDevice = id
    this.$emit('update:loading', true)
    Promise.all([
      this.getDeviceConnections.handle(id).then(info => {
        this.dnsToken = info.spec.dnsToken
        this.linkedIp = info.spec.ip
        this.linkedIp6 = info.spec.ip6
        this.dohConnection = getDohURL() + info.spec.dnsToken
        this.dotConnection = info.spec.dnsToken + '.' + getDotHost()
      }),
      this.getIP.handle().then(ip => {
        this.ip = ip.spec
      }),
      this.getIP6.handle().then(ip6 => {
        this.ip6 = ip6.spec
      }).catch(() => {
        this.ip6 = ''
      }),
      getBestPlainDnsServers().then(servers => {
        this.servers = servers
      }),
      getBlockedBaseCategories(id).then(categories => {
        this.blockedCategories = categories
      })
    ]).then(() => {
      this.$emit('update:loading', false)
    })
  }

  isAtLeastVersion (device: Device, majorReq: number, minorReq: number): boolean {
    if (!device.version) {
      return false
    }
    try {
      const versionSplit = device.version.split('.')
      if (versionSplit.length < 3) {
        return false
      }
      const major = parseInt(versionSplit[0])
      if (major < majorReq) {
        return false
      } else if (major > majorReq) {
        return true
      } // If major === majorReq, the result depends on the minor version
      const minor = parseInt(versionSplit[1])
      if (minor < minorReq) {
        return false
      }
      return true
    } catch {
      return false
    }
  }

  @Watch('$route', { deep: true }) scrollToTop (newRoute: Route, oldRoute: Route) {
    // Scroll to the top if we have just selected a device
    if ((!oldRoute.query['device-id'] && newRoute.query['device-id']) || (!oldRoute.query.mac && newRoute.query.mac)) {
      window.scrollTo(0, 0)
    }
    // Reload if switching between multi-select mode
    if ((typeof newRoute.query['device-id']) !== (typeof oldRoute.query['device-id'])) {
      this.refresh()
    }
  }

  resetPostSwitchChanges () {
    this.postSwitchChanges = {
      newTimers: [],
      newTimetables: [],
      changes: {
        changes: []
      }
    }
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

li {
  margin-left: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}

.fade-enter-active {
  transition: all 0.4s cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
}

.fade-leave-active {
  transition: none;
  transition-delay: 0ms !important;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(100%);
}

</style>
