<template>
  <div class="home px-4">
    <div class="mt-3">
      <auth
        :loading="loading"
        :checkRegenTwofactorRecoveryCodes="true"
        signinFormName="home-sign-in-main"
        @err="status = 'DANGER_TEXT'; statusText = $event; statusActive = true;"
        @update:loading="$emit('update:loading', $event)"
        @update:subStatus="$emit('update:subStatus', $event)"
        @done="redirect"
      >
        <div
          class="is-family-secondary has-text-centered has-text-weight-semibold is-size-5 mb-3"
          slot="signin-top"
        >
          Log in to continue
        </div>
        <div class="has-text-centered mt-4" slot="signin-bottom">
          <router-link
            :to="{
              name: 'CreateAccount',
              query: {
                redirect: typeof this.$route.query.redirect === 'string' ? this.$route.query.redirect : undefined,
                'ref-follow': typeof this.$route.query['ref-follow'] === 'string' ? this.$route.query['ref-follow'] : undefined
              }
            }"
          >
            <b-button
              class="button"
            >
              Get an account
            </b-button>
          </router-link>
        </div>
      </auth>
    </div>
    <self-service-page class="mt-5" :card="true"/>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import dayjs from 'dayjs'
import { DISMISSED_ANNOUNCEMENTS_STORAGE_NAME, EMAIL_STORAGE_NAME, TOKEN_STORAGE_NAME } from '@/helpers/constants'
import SelfServicePage from '@/components/home/self-service-page.vue'
import Auth, { AuthResult } from '@/components/common/auth.vue'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {
    SelfServicePage,
    Auth
  }
})
export default class Login extends Vue {
  @Prop() readonly loading: boolean | undefined

  mounted () {
    this.$emit('update:loading', false)
  }

  redirect (result: AuthResult) {
    localStorage.setItem(TOKEN_STORAGE_NAME, result.token)
    localStorage.setItem(EMAIL_STORAGE_NAME, result.email)
    let redirectPath = '/'
    if (typeof this.$route.query.redirect === 'string') {
      redirectPath = this.$route.query.redirect
    }
    if (result.needRegenTwofactorRecoveryCodes) {
      this.$buefy.dialog.confirm({
        type: 'is-danger',
        message: 'You have no two-factor recovery codes remaining. To avoid losing access to your account, regenerate them now.',
        confirmText: 'Regenerate',
        cancelText: 'Ignore',
        onConfirm: () => {
          this.$router.push({
            name: 'AccountSettings',
            query: {
              section: 'security',
              'regenerate-codes': '1'
            }
          })
        }
      })
    }
    this.$router.push({
      path: redirectPath
    })
  }
}
</script>

<style scoped>
.home {
  max-width: 550px;
  margin: auto;
  min-height: 100vh;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
</style>
