<template>
  <div
    class="outer"
    :class="{
      'shifted-up': !showTitlebar
    }"
  >
    <div class="top-container px-4 py-3 has-text-black" v-if="showTitlebar">
      <div>
        <div class="is-family-secondary has-text-weight-semibold">My access</div>
      </div>
      <div style="flex-grow: 1"/>
      <b-field>
        <p class="control">
          <b-button
            icon-left="refresh"
            label="Refresh"
            @click="loadData"
            rounded
          />
        </p>
        <p class="control">
          <b-dropdown position="is-bottom-left">
            <template #trigger="{ active }">
              <b-button
                :type="active ? 'is-primary' : undefined"
                icon-left="dots-vertical"
                rounded
              />
            </template>
            <b-dropdown-item
              v-if="fromLogin"
              @click="$router.push({
                name: 'Login'
              })"
            >
              Back to Login
            </b-dropdown-item>
            <b-dropdown-item
              v-else
              @click="$router.push({
                name: 'AccountHome'
              })"
            >
              Back home
            </b-dropdown-item>
          </b-dropdown>
        </p>
      </b-field>
    </div>
    <div v-if="!loading && failed401">
      <b-message>
        Can't find this page anymore. It may have been disabled by an admin.
        <router-link
          :to="{
            name: 'Login'
          }"
        >
          Back to login.
        </router-link>
      </b-message>
    </div>
    <div v-else-if="!loading && !isProtected">
      <b-message type="is-danger">
        It doesn't look like protection is working! Please check with an admin to enable it.<br/>
        <b-button @click="isProtected = true" class="mt-2">
          Show anyway
        </b-button>
      </b-message>
    </div>
    <div v-else-if="!loading && tzMismatch">
      <b-message type="is-warning">
        It looks like you're in a different timezone to the account you're connected to.
        The times you see here might not be accurate.<br/>
        <b-button @click="tzMismatch = false" class="mt-2">
          Show anyway
        </b-button>
      </b-message>
    </div>
    <div v-else class="mb-5">
      <div class="mb-5 has-text-centered is-family-secondary has-text-weight-semibold">
        <div class="py-3">
          Here's what's going on with your device:
        </div>
      </div>
      <stop-start-access-list
        :loading="loading"
        :device="{ id: deviceID, mac: mac }"
        @update:loading="$emit('update:loading', $event)"
        :blocking="blocking"
        :token="token"
        @refresh="loadData"
      >
        <div
          v-if="blocking"
          slot="placeholder"
          class="is-flex is-align-items-center is-flex-direction-column mt-6"
        >
          <b-icon
            icon="play-pause"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            Nothing here yet.
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Use this page to see what's currently blocked and start/stop access timers.
          </p>
        </div>
      </stop-start-access-list>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { getTimezone } from '@/helpers/functions'
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
import timezone from 'dayjs/plugin/timezone'
import GetPlain from '@/requests/proto/get-plain'
import GetDOT from '@/requests/proto/get-dot'
import GetDOH from '@/requests/proto/get-doh'
import GetDNSCrypt from '@/requests/proto/get-dnscrypt'
import StopStartAccessList from '@/components/blocking/stop-start-access-list.vue'
import { BlockingModelResp } from '@/requests/blocking/get-blocking'
import GetBlockingSelfService from '@/requests/blocking/get-blocking-self-service'

dayjs.extend(utc)
dayjs.extend(timezone)

@Component({
  components: {
    StopStartAccessList
  }
})
export default class SelfService extends Vue {
  @Prop() readonly loading: boolean | undefined
  blocking: BlockingModelResp | null = null
  tzMismatch = false
  failed401 = false
  plainResolved = false
  dotResolved = false
  dohResolved = false
  dnsCryptResolved = false
  isProtected = false

  getPlain = new GetPlain()
  getDOT = new GetDOT()
  getDOH = new GetDOH()
  getDnsCrypt = new GetDNSCrypt()
  getBlockingSelfService = new GetBlockingSelfService()

  mounted () {
    this.loadData()
  }

  /**
   * Load the initial data.
   */
  loadData () {
    this.$emit('update:loading', true)
    this.failed401 = false
    this.tzMismatch = false
    this.plainResolved = false
    this.dotResolved = false
    this.dohResolved = false
    this.dnsCryptResolved = false
    this.isProtected = false
    // Do an initial request to check protection
    Promise.all([,
      this.getPlain.handle().then(() => {
        this.plainResolved = true
      }, () => { return }),
      this.getDOT.handle().then(() => {
        this.dotResolved = true
      }, () => { return }),
      this.getDOH.handle().then(() => {
        this.dohResolved = true
      }, () => { return }),
      this.getDnsCrypt.handle().then(() => {
        this.dnsCryptResolved = true
      }, () => { return })
    ]).then(() => {
      this.isProtected = this.plainResolved || this.dotResolved || this.dohResolved || this.dnsCryptResolved
      this.getBlockingSelfService.handle({
        'device-id': this.deviceID,
        'mac': this.mac,
        'plan-ahead': '169h',
        token: this.token
      }).then(resp => {
        this.blocking = resp.spec
        if (resp.spec.screentimeRules && resp.spec.screentimeRules.timezone !== getTimezone()) {
          this.tzMismatch = true
        }
        this.$emit('update:loading', false)
      }).catch(err => {
        if (err === 401) {
          this.failed401 = true
          this.$emit('update:loading', false)
        }
      })
    })
  }

  /**
   * Add the current page to local storage to visit later.
   */
  addToLocalStorage () {
    localStorage.setItem('my-ss-self-service-page', JSON.stringify({
      'device-id': this.deviceID,
      'mac': this.mac,
      'token': this.token
    }))
  }

  get deviceID(): string {
    return typeof this.$route.query['device-id'] === 'string' ? this.$route.query['device-id'] : ''
  }

  get mac(): string {
    return typeof this.$route.query.mac === 'string' ? this.$route.query.mac : ''
  }

  get token(): string {
    return typeof this.$route.query.token === 'string' ? this.$route.query.token : ''
  }

  get fromLogin(): boolean {
    return this.$route.query['from-login'] === '1'
  }

  get showTitlebar(): boolean {
    return this.$route.query['titlebar'] !== '0'
  }
}
</script>

<style scoped>
.outer {
  max-width: 750px;
  margin: auto;
}

.top-container {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  opacity: 0.8;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.shifted-up {
  margin-top: -60px;
}
</style>
