<template>
  <div class="page-root">
    <page-top
      title="Screentime"
      :mobile="mobile"
      :overrideBottom="true"
    >
      <div slot="right">
        <b-field style="padding-top: 6px;" v-if="!saving">
          <p class="control">
            <device-selector
              v-model="deviceSelection"
              :mobile="mobile"
              :devices="devices"
            />
          </p>
          <p class="control" v-if="deviceSelection.id && (deviceSelection.mac || devices.devices[deviceSelection.id].type !== 'router')">
            <b-dropdown position="is-bottom-left">
              <template #trigger>
                <b-button
                  rounded
                  icon-right="dots-vertical"
                />
              </template>
              <b-dropdown-item
                @click="selfServiceDevice = { 'device-id': deviceSelection.id, mac: deviceSelection.mac } "
              >
                Self-service
              </b-dropdown-item>
            </b-dropdown>
          </p>
        </b-field>
        <spinner v-else/>
      </div>
    </page-top>
    <stop-start-access-list
      :blocking="blocking"
      :loading="loading"
      :overrides="true"
      :device="deviceSelection"
      :devices="devices"
      :tabIdx.sync="tabIdx"
      :mobile="mobile"
      @update:loading="$emit('update:loading', $event)"
      @refresh="load(deviceSelection)"
    >
      <b-button
        slot="action"
        rounded
        :disabled="loading"
        icon-left="plus"
        label="Override rule..."
        @click="modalStep = 0"
      />
      <div
        v-if="blocking"
        slot="placeholder"
        class="is-flex is-align-items-center is-flex-direction-column mt-6 px-5"
      >
        <b-icon
          icon="play-pause"
          size="is-large"
        />
        <p class="is-size-4 mt-3">
          Nothing here yet.
        </p>
        <p class="is-size-6 mt-2 has-text-grey">
          Use this page to see what's currently blocked and override your settings for some time.
        </p>
        <b-button
          class="mt-4"
          slot="action"
          rounded
          icon-left="plus"
          label="Override rule..."
          @click="modalStep = 0"
        />
      </div>
    </stop-start-access-list>
    <div class="has-text-centered has-text-grey" v-if="blocking">
      To edit blocking rules, visit <router-link
        :to="{
          name: 'Blocking',
          query: {
            'device-id': deviceSelection.id,
            mac: deviceSelection.mac
          }
        }"
      >
        Blocking
      </router-link>
    </div>
    <self-service-config
      v-if="selfServiceDevice"
      :loading="loading"
      @update:loading="$emit('update:loading', $event)"
      :device="selfServiceDevice"
    />
    <b-modal
      v-if="modalStep !== null"
      :active="true"
      @update:active="modalStep = null; modalDuration = 15*60; modalDeadlineId = 0; addingDeadline = false; queue.flush().then(() => load(deviceSelection));"
    >
      <div class="card py-3" :class="mobile ? '': 'px-4'">
        <b-steps
          v-model="modalStep"
          :has-navigation="false"
        >
          <b-step-item
            label="Duration"
            icon="clock"
          >
            <b-field
              label="Expires..."
            >
              <b-dropdown position="is-bottom-right" v-model="modalDuration">
                <template #trigger>
                  <b-button
                    icon-right="menu-down"
                  >
                    {{ fmtDuration(modalDuration) }}
                  </b-button>
                </template>
                <b-dropdown-item
                  v-for="duration in durations"
                  :key="duration[0]"
                  :value="duration[0]"
                >
                  {{ duration[1] }}
                </b-dropdown-item>
              </b-dropdown>
            </b-field>
            <b-button
              class="mt-1"
              type="is-primary"
              label="Confirm"
              icon-right="arrow-right"
              @click="addDeadline"
              :loading="addingDeadline"
            />
            <collapse title="Customize" class="mt-5">
              <b-datetimepicker
                :value="new Date(Date.now() + modalDuration*1000)"
                @input="modalDuration = Math.round(($event.getTime() - Date.now()) / 1000)"
                :min-datetime="new Date()"
                inline
              />
            </collapse>
          </b-step-item>
          <b-step-item
            :label="'Rules (expires ' + fmtDuration(modalDuration)  +')'"
            icon="tune-variant"
          >
            <div class="is-flex is-justify-content-center mt-2 mb-5">
              <b-input
                v-model="tmpSearch"
                placeholder="Search..."
                rounded
              />
            </div>
            <override-editor
              :loading="loading"
              :mobile="mobile"
              :device="deviceSelection"
              :devices="devices"
              :search="search"
              :blocking="blocking"
              :id="modalDeadlineId"
              :queue="queue"
            />
          </b-step-item>
        </b-steps>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector from '@/components/common/device-selector.vue'
import StopStartAccessList from '@/components/blocking/stop-start-access-list.vue'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import { DeviceSelection, deviceSelectionFromRoute, deviceSelectionToRoute, getDevices } from '@/helpers/functions'
import { Prop, Watch } from 'vue-property-decorator'
import GetBlocking, { BlockingModelResp } from '@/requests/blocking/get-blocking'
import { PostSelfServiceTokenArgs } from '@/requests/devices-v2/post-self-service-token'
import SelfServiceConfig from '@/components/my-devices/self-service-config.vue'
import dayjs from 'dayjs'
import Timezone from 'dayjs/plugin/timezone'
import Utc from 'dayjs/plugin/utc'
import Collapse from '@/components/common/collapse.vue'
import PostDeadline from '@/requests/blocking/post-deadline'
import { debounce } from 'lodash'
import OverrideEditor from '@/components/blocking/override-editor.vue'
import Spinner from '@/components/common/spinner.vue'
import { Changes, DelayedQueue } from '@/helpers/delayedqueue'
import PostBlockingChanges from '@/requests/blocking/post-blocking-changes'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
dayjs.extend(Utc)
dayjs.extend(Timezone)

@Component({
  components: {
    PageTop,
    DeviceSelector,
    StopStartAccessList,
    SelfServiceConfig,
    Collapse,
    OverrideEditor,
    Spinner
  }
})
export default class StopStartAccess extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined

  devices: DevicesList | null = null
  search: string | null = null
  blocking: BlockingModelResp | null = null
  selfServiceDevice: PostSelfServiceTokenArgs | null = null
  modalStep: number | null = null
  modalDuration = 15*60
  addingDeadline = false
  modalDeadlineId = 0
  tmpSearch: string | null = null
  saving = false
  queue: DelayedQueue<Changes> | null = null

  getBlocking = new GetBlocking()
  postDeadline = new PostDeadline()
  postBlockingChanges = new PostBlockingChanges()

  mounted () {
    this.queue = new DelayedQueue(1500, changes => {
      const device = this.deviceSelection
      if (!device) {
        return new Promise((resolve, reject) => reject("no device"))
      }
      return this.postBlockingChanges.handle({
        id: device.id,
        mac: device.mac,
        body: changes.changes
      })
    }, waiting => {
      this.saving = waiting
    })
    getDevices().then(devices => {
      this.devices = devices
      const selection = this.deviceSelection
      if (selection) {
        this.load(selection)
      }
    })
  }

  load (selection: DeviceSelection) {
    this.$emit('update:loading', true)
    this.getBlocking.handle({
      'device-id': selection.id,
      'mac': selection.mac,
      resolve: true,
      'plan-ahead': '169h'
    }).then(blocking => {
      this.blocking = blocking.spec
      this.$emit('update:loading', false)
    })
  }

  get tabIdx (): number {
    const q = this.$route.query.tab
    if (typeof q === 'string') {
      return parseInt(q)
    } else if (typeof q === 'number') {
      return q
    }
    return 0
  }

  set tabIdx (idx: number) {
    this.$router.push({
      name: 'StopStartAccess',
      query: assign(cloneDeep(this.$route.query), {
        tab: idx
      })
    })
  }

  get deviceSelection (): DeviceSelection | undefined {
    return deviceSelectionFromRoute(this.$route)
  }

  set deviceSelection (selection: DeviceSelection | undefined) {
    this.$router.push(deviceSelectionToRoute(this.$route, selection))
    if (selection) {
      this.$nextTick(() => {
        this.load(selection)
      })
    }
  }

  private readonly debouncedSearchUpdate = debounce(this.setSearch.bind(this), 1000)

  @Watch('tmpSearch') tmpSearchUpdated () {
    this.debouncedSearchUpdate()
  }

  setSearch () {
    this.search = this.tmpSearch
  }

  fmtDuration (duration: number): string {
    return dayjs().add(duration, 'second').fromNow()
  }

  addDeadline () {
    if (!this.deviceSelection) {
      return
    }
    this.addingDeadline = true
    this.postDeadline.handle({
      deviceRef: {
        accountId: '',
        deviceId: this.deviceSelection.id,
        mac: this.deviceSelection.mac
      },
      expiry: dayjs().unix() + this.modalDuration
    }).then(resp => {
      if (this.modalStep === null) {
        return
      }
      this.modalDeadlineId = resp.spec
      this.modalStep++
      this.addingDeadline = false
    })
  }

  get durations (): [number, string][] {
    // Generate dynamic one (until the end of the day)
    if (!this.blocking) {
      return []
    }
    const currTime = dayjs().tz(this.blocking.screentimeRules.timezone)
    const currHour = currTime.hour()
    const minute = currTime.minute()
    const hourDiff = 23 - currHour
    const minDiff = 59 - minute
    const secDiff = hourDiff*60*60 + minDiff*60
    const durations: [number, string][] = [
      [5*60, '5 minutes'],
      [15*60, '15 minutes'],
      [30*60, '30 minutes'],
      [60*60, '1 hour'],
      [2*60*60, '2 hours'],
      [3*60*60, '3 hours'],
      [4*60*60, '4 hours'],
      [5*60*60, '5 hours'],
      [6*60*60, '6 hours'],
      [7*60*60, '7 hours'],
      [8*60*60, '8 hours'],
      [secDiff, 'End of day']
    ]
    return durations
  }
}
</script>
