<template>
  <div class="page-root">
    <page-top
      title="Browsing history"
      :mobile="mobile"
      :overrideBottom="true"
    >
      <device-selector
        slot="right"
        v-model="deviceSelection"
        :devices="devices"
        :mobile="mobile"
      />
    </page-top>
    <div
      class="mt-5"
    >
      <div
        class="is-flex mb-5"
        :class="mobile ? 'is-justify-content-center' : 'is-justify-content-space-between'"
      >
        <div v-if="!mobile"/>
        <b-field :style="mobile ? undefined : 'position: relative; z-index: 3;'">
          <p class="control">
            <b-dropdown position="is-bottom-left">
              <template #trigger>
                <b-button
                  icon-left="clock"
                >
                  {{ summarizeTimes }}
                </b-button>
              </template>
              <b-dropdown-item custom :style="mobile ? 'width: 300px;' : 'width: 500px;'">
                <select-datetime-range
                  :startDate.sync="startDate"
                  :endDate.sync="endDate"
                ></select-datetime-range>
              </b-dropdown-item>
            </b-dropdown>
          </p>
          <p class="control">
            <b-dropdown
              position="is-bottom-left"
            >
              <!-- Three dots trigger -->
              <template #trigger="{ active }">
                <b-button
                  rounded
                  :type="active ? 'is-primary' : undefined"
                  icon-left="dots-vertical"
                />
              </template>
              <b-dropdown-item has-link>
                <router-link
                  :to="{
                    name: 'AccountSettings',
                    query: {
                      section: 'privacy'
                    }
                  }"
                >
                  Privacy settings
                </router-link>
              </b-dropdown-item>
              <b-dropdown-item has-link>
                <router-link
                  :to="{
                    name: 'ClearHistory',
                    query: {
                      'device-id': deviceSelection.id,
                      'mac': deviceSelection.mac
                    } 
                  }"
                >
                  Clear history
                </router-link>
              </b-dropdown-item>
            </b-dropdown>
          </p>
        </b-field>
      </div>
      <usage-tabs
        :style="mobile ? undefined : 'position: relative; top: -64px;'"
        v-if="devices"
        :deviceID="deviceSelection.id"
        :mac="deviceSelection.mac"
        :startDate="startDate"
        :endDate="endDate"
        :loading="loading"
        :mobile="mobile"
        :devices="devices"
        @update:loading="$emit('update:loading', $event)"
      ></usage-tabs>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import SelectDatetimeRange from '@/components/usage/select-datetime-range.vue'
import UsageTabs from '@/components/usage/usage-tabs.vue'
import dayjs from 'dayjs'
import PageTop from '@/components/common/page-top.vue'
import DeviceSelector from '@/components/common/device-selector.vue'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import { Prop } from 'vue-property-decorator'
import GetFullHistoryEnabled from '@/requests/user-v2/get-fullhistory-enabled'
import GetLoggingEnabled from '@/requests/user-v2/get-logging-enabled'
import { DeviceSelection, deviceSelectionFromRoute, deviceSelectionToRoute, getDevices } from '@/helpers/functions'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'

@Component({
  components: {
    PageTop,
    SelectDatetimeRange,
    UsageTabs,
    DeviceSelector
  }
})
export default class Usage extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  devices: DevicesList | null = null

  /**
   * Requests
   */
  getLoggingEnabled = new GetLoggingEnabled()
  getFullHistoryEnabled = new GetFullHistoryEnabled()

  mounted () {
    getDevices().then(devices => {
      this.devices = devices
    })
    let loggingEnabled = true
    let fullHistoryEnabled = true
    Promise.all([
      this.getLoggingEnabled.handle().then(r => {
        loggingEnabled = r.spec
      }),
      this.getFullHistoryEnabled.handle().then(r => {
        fullHistoryEnabled = r.spec
      })
    ]).then(() => {
      if (!loggingEnabled || !fullHistoryEnabled) {
        this.$buefy.snackbar.open({
          message: 'Your privacy settings don\'t allow displaying all data',
          type: 'is-warning',
          duration: 4000,
          actionText: 'Privacy settings',
          onAction: () => {
            this.$router.push({
              name: 'AccountSettings',
              query: {
                section: 'privacy'
              }
            })
          }
        })
      }
    })
  }

  get deviceSelection (): DeviceSelection | undefined {
    return deviceSelectionFromRoute(this.$route)
  }

  set deviceSelection (selection: DeviceSelection | undefined) {
    this.$router.push(deviceSelectionToRoute(this.$route, selection))
  }

  /**
   * Store the selected start timestamp in the url.
   */
  set startDate (newStart: number) {
    this.$router.push({
      name: 'Usage',
      query: assign(cloneDeep(this.$route.query), {
        start: newStart
      })
    })
  }

  /**
   * Get the selected start timestamp from the url.
   */
  get startDate (): number {
    if (typeof this.$route.query.start === 'string') {
      return parseInt(this.$route.query.start)
    } else if (typeof this.$route.query.start === 'number') {
      return this.$route.query.start
    }
    return dayjs().subtract(6, 'd').startOf('day').unix()
  }

  /**
   * Store the selected end timestamp in the url.
   */
  set endDate (newEnd: number) {
    this.$router.push({
      name: 'Usage',
      query: assign(cloneDeep(this.$route.query), {
        end: newEnd
      })
    })
  }

  /**
   * Get the selected end timestamp from the url.
   */
  get endDate (): number {
    if (typeof this.$route.query.end === 'string') {
      return parseInt(this.$route.query.end)
    } else if (typeof this.$route.query.end === 'number') {
      return this.$route.query.end
    }
    return dayjs().endOf('day').unix()
  }

  get summarizeTimes (): string {
    if (!this.$route.query.end) {
      return dayjs.unix(this.startDate).fromNow()
    } else {
      return 'Custom'
    }
  }
}

</script>
