<template>
  <div class="verify-outer">
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import VerifyAccount from '@/requests/account/verify-account'
import ResendVerificationEmail from '@/requests/account/resend-verification-email'
import { TOKEN_STORAGE_NAME } from '@/helpers/constants'
import GetTokenWithRestrictionsRemoved from '@/requests/user-v2/get-token-with-restrictions-removed'

@Component
export default class Verify extends Vue {
  /**
   * Status of verification.
   */
  status: 'success' | 'error' | 'expired' | 'sent' | '' = ''

  /**
   * Requests.
   */
  verifyAccount = new VerifyAccount()
  resendVerificationEmail = new ResendVerificationEmail()
  getTokenWithRestrictionsRemoved = new GetTokenWithRestrictionsRemoved()

  mounted () {
    this.verify()
  }

  verify () {
    this.status = ''
    if (typeof this.$route.query.id === 'string') {
      const secret = this.$route.query.id
      this.verifyAccount.handle(secret).then(() => {
        this.$buefy.snackbar.open({
          message: 'Account Verified',
          type: 'is-success',
          duration: 5000
        })
        this.getTokenWithRestrictionsRemoved.handle().then(auth => {
          localStorage.setItem(TOKEN_STORAGE_NAME, auth.spec.token)
          this.$router.push('/')
        })
      }).catch(status => {
        if (status.data === 'expired') {
          this.$buefy.snackbar.open({
            message: 'Link expired, please re-send',
            type: 'is-danger',
            duration: 20000
          })
        } else {
          this.$buefy.snackbar.open({
            message: 'Unknown Error',
            type: 'is-danger',
            position: 'is-bottom',
            duration: 5000
          })
        }
        this.$router.push({
          name: 'Login'
        })
      })
    }
  }
}
</script>

<style scoped>
.verify-outer {
  max-width: 500px;
  margin: auto;
}
</style>
