<template>
  <div>
    <div v-if="!loading">
      <!-- Top bar for selecting devices -->
      <page-top
        title="VPN Alerts"
        :mobile="mobile"
      >
        <device-selector
          slot="right"
          v-model="deviceSelection"
          :devices="devices"
          :mobile="mobile"
          :validTypes="['', 'group', 'router', 'router-client']"
          supportString="Only the ROUTER_NAME router supports VPN alerts"
        />
      </page-top>
      <!-- Show if no attempts -->
      <b-message
        type="is-success"
        v-if="displayAttempts.length === 0"
      >
        Good news! No VPN Attempts detected.
        <a
          class="action"
          @click="showExplainer = true"
        >
          <span>What's this?</span>
        </a>
      </b-message>
      <!-- Show if attempts -->
      <b-message
        type="is-danger"
        v-if="displayAttempts.length !== 0"
      >
        {{ displayAttempts.length }} VPN Attempt{{ displayAttempts.length === 1 ? '' : 's' }} detected.
        <a
          class="action"
          @click="showExplainer = true"
        >
          <span>What's this?</span>
        </a>
      </b-message>
      <!-- Select all and delete buttons -->
      <div class="mb-4">
        <b-button
          @click="selectAll"
        >
          {{ Object.keys(deleteAttempts).length ? 'Deselect' : 'Select' }} All
        </b-button>
        <b-button
          type="is-danger"
          class="ml-3"
          @click="showDeleteDialog = true"
          :disabled="!Object.keys(deleteAttempts).length"
        >
          Delete {{ Object.keys(deleteAttempts).length }} items
        </b-button>
      </div>
      <!-- Show attempts, if any -->
      <div
        v-for="(attempt, idx) in displayAttempts"
        class="list-item"
        :class="{ 'top-item': idx === 0 }"
        :key="attempt.id"
      >
        <!-- Print name and date and checkbox -->
        <span>
          <b-checkbox
            type="is-danger"
            :value="deleteAttempts[attempt.id] === true"
            @input="updateDelete(attempt.id, $event)"
          />
          <strong>{{ devices.devices[attempt.deviceID + '/' + attempt.mac].name }}</strong> &middot; {{ formatTime(attempt.started) }}
        </span>
        <div style="flex-grow: 1"></div>
        <action text="More Info" @click="showMore = idx"/>
        <a class="action" @click="showMore = idx">
          <span>More Info</span>
          <b-icon icon="chevron-right" size="is-small"></b-icon>
        </a>
      </div>
    </div>
    <!-- VPN Explainer -->
    <vpn-explainer-modal
      v-if="showExplainer"
      v-on:new-active="showExplainer = $event"
    ></vpn-explainer-modal>
    <!-- Modal for finishing delete -->
    <b-modal
      v-if="showDeleteDialog"
      :active="true"
      @update:active="showDeleteDialog = false"
    >
      <div class="modal-inner">
        <b-field label="Flag Attempt(s) as innaccurate">
          <b-checkbox v-model="flagInnaccurate"/>
        </b-field>
        <b-button
          type="is-danger"
          @click="finishDelete"
          :loading="deleting"
        >
          Delete {{ Object.keys(deleteAttempts).length }} items
        </b-button>
      </div>
    </b-modal>
    <!-- Modal for all details -->
    <b-modal
      v-if="showMore !== null"
      :active="true"
      @update:active="showMore = $event ? showMore : null"
      style="z-index: 100"
    >
      <div class="modal-inner">
        <!-- Show details in table -->
        <table>
          <tr class="top-item">
            <th>
              Protocol
            </th>
            <td>
              {{ displayAttempts[showMore].protocol }}
            </td>
          </tr>
          <tr>
            <th>
              Source IP
            </th>
            <td>
              {{ displayAttempts[showMore].sourceIP }}
            </td>
          </tr>
          <tr>
            <th>
              Destination IP
            </th>
            <td>
              {{ displayAttempts[showMore].destIP }}
            </td>
          </tr>
          <tr v-if="displayAttempts[showMore].sourcePort !== -1">
            <th>
              Source Port
            </th>
            <td>
              {{ displayAttempts[showMore].sourcePort }}
            </td>
          </tr>
          <tr v-if="displayAttempts[showMore].destPort !== -1">
            <th>
              Destination Port
            </th>
            <td>
              {{ displayAttempts[showMore].destPort }}
            </td>
          </tr>
          <tr v-if="displayAttempts[showMore].connectionSize !== -1">
            <th>
              Data Sent/Received
            </th>
            <td>
              {{ displayAttempts[showMore].connectionSize }} MB
            </td>
          </tr>
          <tr>
            <th>
              Time Started
            </th>
            <td>
              {{ formatTime(displayAttempts[showMore].started) }}
            </td>
          </tr>
        </table>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PageTop from '@/components/common/page-top.vue'
import GetVPNAttempts, { VPNAttempt } from '@/requests/vpns/get-attempts'
import VpnExplainerModal from '@/components/vpns/vpn-explainer-modal.vue'
import dayjs from 'dayjs'
import DeleteVPNAttempt from '@/requests/vpns/delete-attempt'
import { Prop, Watch } from 'vue-property-decorator'
import { DeviceSelection, deviceSelectionFromRoute, deviceSelectionToRoute, getDevices } from '@/helpers/functions'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import DeviceSelector from '@/components/common/device-selector.vue'

@Component({
  components: {
    DeviceSelector,
    PageTop,
    VpnExplainerModal
  }
})
export default class VpnAlerts extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined
  /**
   * All VPN attempts. Not necessarily displayed,
   * that's a computed property.
   */
  allAttempts: VPNAttempt[] = []
  /**
   * Whether we are showing the explainer.
   */
  showExplainer = false
  /**
   * Index of the device we're showing more
   * info for (or null, if we're not).
   */
  showMore: number | null = null
  /**
   * Map from attempt ID to whether to delete.
   */
  deleteAttempts: {[attemptID: number]: boolean} = {}
  /**
   * Whether to show deleting dialog.
   */
  showDeleteDialog = false
  /**
   * Whether to flag attempts as innaccurate.
   */
  flagInnaccurate = false
  /**
   * Whether we are currently deleting.
   */
  deleting = false
  devices: DevicesList | null = null

  /**
   * Requests
   */
  getVpnAttempts = new GetVPNAttempts()
  deleteVPNAttempt = new DeleteVPNAttempt()

  /**
   * Load the initial state.
   */
  mounted () {
    Promise.all([
      getDevices().then(devices => {
        this.devices = devices
      }),
      this.loadAttempts(this.deviceSelection)
    ]).then(() => {
      // Load loading
      this.$emit('update:loading', false)
    })
  }

  @Watch('deviceSelection') loadAttemptsForDevice(selection: DeviceSelection) {
    this.$emit('update:loading', true)
    this.loadAttempts(selection).then(() => {
      this.$emit('update:loading', false)
    })
  }

  loadAttempts (selection: DeviceSelection | undefined): Promise<any> {
    if (!selection) {
      throw new Error('invalid device')
    }
    return this.getVpnAttempts.handle(selection.id).then(attempts => {
      this.allAttempts = attempts
    })
  }

  /**
   * Format a unix timestamp (seconds) to
   * a string.
   */
  formatTime (unix: number): string {
    return dayjs.unix(unix).format('dddd, MMMM D YYYY, h:mm:ss a')
  }

  /**
   * Update an attempt to be deleted or not.
   */
  updateDelete (attemptID: number, del: boolean) {
    if (del) {
      this.$set(this.deleteAttempts, attemptID, true)
    } else {
      // Use $set so vue notices and delete so it's actually gone
      this.$set(this.deleteAttempts, attemptID, false)
      delete this.deleteAttempts[attemptID]
    }
  }

  /**
   * Either select or deselect all.
   */
  selectAll () {
    if (Object.keys(this.deleteAttempts).length) {
      // Deselect all
      this.deleteAttempts = {}
    } else {
      // Select all
      this.displayAttempts.forEach(attempt => {
        this.$set(this.deleteAttempts, attempt.id, true)
      })
    }
  }

  /**
   * Actually delete the selected attempts.
   */
  finishDelete () {
    this.deleting = true
    Promise.all(
      Object.keys(this.deleteAttempts).map(attemptID => {
        this.deleteVPNAttempt.handle({
          id: parseInt(attemptID),
          innaccurate: this.flagInnaccurate
        })
      })
    ).then(() => {
      // Done, remove visually and reset state
      this.allAttempts = this.allAttempts.filter(attempt => !this.deleteAttempts[attempt.id])
      this.deleteAttempts = {}
      this.flagInnaccurate = false
      this.deleting = false
      this.showDeleteDialog = false
    })
  }

  /**
   * @returns The list of VPN attempts to display, sorted and filtered.
   */
  get displayAttempts (): VPNAttempt[] {
    const selection = this.deviceSelection
    if (this.allAttempts && selection) {
      return this.allAttempts
        // Show only attempts for the current device, unless we are showing all
        .filter(attempt => selection.mac === '' || attempt.mac === selection.mac)
        // Sort by most recent first
        .sort((a, b) => b.started - a.started)
    } else {
      return []
    }
  }

  get deviceSelection (): DeviceSelection | undefined {
    return deviceSelectionFromRoute(this.$route)
  }

  set deviceSelection (selection: DeviceSelection | undefined) {
    this.$router.push(deviceSelectionToRoute(this.$route, selection))
  }
}

</script>

<style scoped>
.top-item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.modal-inner {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

table {
  margin: auto;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.blocking-toggle {
  display: flex;
  align-items: center;
}

.blocking-toggle span {
  margin-right: 10px;
}

.settings {
  cursor: pointer;
}
</style>
