<template>
  <router-link
    v-if="getSelfServicePage()"
    class="px-3 py-3 is-flex is-align-items-center"
    :class="{
      card: card,
      border: !card
    }"
    :to="{
      name: 'SelfService',
      query: getSelfServicePage()
    }"
  >
    <div>
      <div class="is-family-secondary has-text-weight-semibold">
        My access
      </div>
      <div class="has-text-grey">
        Start/stop timers and view my blocked sites.
      </div>
    </div>
    <div style="flex-grow: 1"/>
    <b-button
      icon-left="delete"
      class="has-text-grey"
      @click="doDelete($event)"
    />
  </router-link>
</template>

<script lang="ts">
import { PostSelfServiceTokenArgs } from '@/requests/devices-v2/post-self-service-token';
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

interface SelfServicePageQuery extends PostSelfServiceTokenArgs {
  'from-login': '0' | '1';
}

@Component
export default class SelfServicePage extends Vue {
  @Prop() readonly card: boolean | undefined
  @Prop() readonly fromHome: boolean | undefined

  getSelfServicePage(): SelfServicePageQuery | null {
    const currItem = localStorage.getItem('my-ss-self-service-page')
    if (!currItem) {
      return null
    }
    const args = JSON.parse(currItem) as SelfServicePageQuery
    args['from-login'] = this.fromHome ? '0' : '1'
    return args
  }

  doDelete (e: MouseEvent) {
    e.stopPropagation()
    e.preventDefault()
    this.$buefy.dialog.confirm({
      message: 'Remove shortcut?',
      onConfirm: () => {
        localStorage.removeItem('my-ss-self-service-page')
        this.$forceUpdate()
      }
    })
  }
}
</script>

<style scoped>
.border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
</style>
