<template>
  <a
    class="outer"
    :style="{ 'background': color ? color : undefined }"
    @click="$emit('click')"
    :href="link ? link : undefined"
    target="blank"
  >
    <b-icon :icon="icon" size="is-large"></b-icon>
    <div class="right">
      <h1 class="has-family-secondary">
        {{ title }}
        <b-icon
          size="is-small"
          icon="open-in-new"
          v-if="link"
        ></b-icon>
      </h1>
      <h2>
        {{ description }}
      </h2>
    </div>
  </a>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import Vue from 'vue'

@Component
export default class SetupOption extends Vue {
  @Prop() readonly title: string | undefined
  @Prop() readonly description: string | undefined
  @Prop() readonly icon: string | undefined
  @Prop() readonly color: string | undefined
  @Prop() readonly link: string | undefined
}
</script>

<style scoped>
.outer {
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  -6px -6px 12px #d9d9d9, 
              6px 6px 12px #ffffff;
  display: flex;
  padding: 25px;
  margin-top: 25px;
  align-items: center;
  cursor: pointer;
  color: inherit;
}

.right {
  padding-left: 20px;
}

h1 {
  font-weight: 700;
}

h2 {
  color: rgba(0, 0, 0, 0.6);
}
</style>
