<template>
  <button-field-card
    v-if="device"
    :title="device.name"
    :loading="loading"
    :fields="loading ? [] : [
      [ 'Last Activity:', lastActiveStr ],
      [ 'Registered:', registeredStr ],
      [ 'Type:', deviceTypeStr ]
    ]"
    :buttons="showMoreInfo ? [
      [ 'info', 'More info' ],
      [ 'delete', 'Delete this device', 'is-danger' ]
    ] : [
      [ 'delete', 'Delete this device', 'is-danger' ]
    ]"
    :buttonLinks="{
      'info': {
        name: 'Devices',
        query: {
          'device-id': device.id
        }
      }
    }"
    :icon="icon"
    @input-delete="deleteDevice"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import ButtonFieldCard from '@/components/common/button-field-card.vue'
import dayjs from 'dayjs'
import DeleteDevice from '@/requests/devices-v2/delete-device'
import { Device } from '@/requests/devices-v2/get-devices-list'

@Component({
  components: {
    ButtonFieldCard
  }
})
export default class DeviceQuotaDetails extends Vue {
  @Prop() readonly device: Device | undefined
  @Prop() readonly showMoreInfo: boolean | undefined
  @Prop() readonly auth: string | undefined

  loading = false

  deleteDevice () {
    if (!this.device) {
      return
    }
    const device = this.device
    if (device.type === 'ios' && device.metadata && device.metadata['is_supervised']) {
      this.$buefy.dialog.alert({
        message: 'The device has been supervised, please un-supervise it before deleting',
        type: 'is-danger'
      })
      return
    }
    this.$buefy.dialog.confirm({
      title: 'Delete device',
      message: 'Are you sure you want to delete ' + this.device.name + '? It cannot be recovered. Browsing history, blocked sites, and other data will be deleted for this device.',
      type: 'is-danger',
      confirmText: 'Delete ' + this.device.name,
      onConfirm: () => {
        this.loading = true
        const req = new DeleteDevice()
        if (this.auth) {
          req.setAuth(this.auth)
        }
        req.handle({
          id: device.id,
          mac: ''
        }).then(() => {
          this.$emit('done')
        })
      }
    })
  }

  /**
   * @returns A string describing when the device was Last seen.
   */
  get lastActiveStr (): string {
    if (!this.device || this.device.lastActivity === 0) {
      return 'Never (or over 90 days ago)'
    }
    return dayjs.unix(this.device.lastActivity).fromNow()
  }

  /**
   * @returns A string of when the device was registered.
   */
  get registeredStr (): string {
    if (!this.device) {
      return ''
    }
    return dayjs.unix(this.device.registeredTime).fromNow()
  }

  /**
   * @returns A string of the device of device this is.
   */
  get deviceTypeStr (): string {
    if (!this.device) {
      return ''
    }
    switch (this.device.type) {
      case 'android':
        return 'Android'
      case 'ios':
        return 'iOS'
      case 'windows':
        return 'Windows'
      case 'dns':
        return 'DNS'
      case 'router':
        return 'ROUTER_NAME'
      default:
          return ''
    }
  }

  /**
   * @returns The icon for this device.
   */
  get icon (): string {
    if (!this.device) {
      return ''
    }
    switch (this.device.type) {
      case 'android':
        return 'cellphone'
      case 'ios':
        return 'cellphone'
      case 'windows':
        return 'laptop'
      case 'dns':
        return 'dns'
      case 'router':
        return 'router-wireless'
      default:
        return ''
    }
  }
}
</script>