<template>
  <b-steps
    v-model="activeStep"
    :has-navigation="false"
  >
    <b-step-item label="Create device" :clickable="false">
      <slot name="before-name"/>
      <div>
        <b-field :label="'Enter a name for the ' + entityname + ':'">
          <b-input
            v-model="name"
            @keyup.native="$event.key === 'Enter' && getToken()"
            autocomplete="off"
          />
        </b-field>
        <b-field
          v-if="showLinkedIpCheckbox"
          label="Link my IP to this device"
          message="Check this if you are going to use plain DNS and are either setting up a router, or will be the only device on the network using BRAND_NAME. Make sure you're on the right network now."
        >
          <b-checkbox
            :value="linkIp"
            @input="$emit('update:linkIp', $event)"
          />
        </b-field>
        <b-button
          type="is-primary"
          @click="getToken"
          :loading="gettingToken"
        >
          Accept
        </b-button>
      </div>
    </b-step-item>
    <b-step-item label="Setup" :clickable="false">
      <slot name="setup"/>
    </b-step-item>
  </b-steps>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import PostDevice from '@/requests/devices-v2/post-device'
import { Prop } from 'vue-property-decorator'

@Component
export default class GenericDnsDeviceSetup extends Vue {
  /**
   * What to call this, e.g. Device or Browser.
   */
  @Prop() entityname: string | undefined
  /**
   * What to name the device initially.
   */
  @Prop() initname: string | undefined
  @Prop() readonly showLinkedIpCheckbox: boolean | undefined
  @Prop() readonly linkIp: boolean | undefined
  /**
   * The current step.
   */
  activeStep = 0
  /**
   * The name to give to the new device.
   */
  name = ''
  /**
   * Whether we are getting the token.
   */
  gettingToken = false

  /**
   * Requests.
   */
  postDevice = new PostDevice()

  mounted () {
    if (this.initname) {
      this.name = this.initname
    }
  }

  /**
   * Create a new device with the name and gets its DOH token.
   */
  getToken () {
    this.gettingToken = true
    // Generate a new device, then get a DNS token for it
    this.postDevice.handle({
      type: 'dns',
      name: this.name,
      icon: '',
      metadata: {}
    }).then(result => {
      this.$emit('update:id', result.spec.id)
      this.$emit('update:token', result.spec.dnsToken)
      this.activeStep++
    }).catch(() => {
      this.failToast()
      this.gettingToken = false
    })
  }

  /**
   * Show a toast indicating failure when creating device.
   */
  failToast () {
    this.$buefy.toast.open({
      message: 'Couldn\'t create device. Please try again.',
      type: 'is-danger',
      position: 'is-bottom',
      duration: 5000
    })
  }
}
</script>
