<template>
  <div>
    <spinner v-if="loading"/>
    <div v-else-if="quota">
      <b-message
        class="mt-3"
        title="Device Limit Reached"
        :closable="false"
        type="is-warning"
      >
        You have registered {{ quota.currentValue }} devices out of a maximum
        of {{ quota.maxValue }}<span v-if="quota.imposedBy === 'plan'"> for your plan</span>.
        <br/><br/>
        To register more devices, you can delete some current devices below<span v-if="quota.imposedBy === 'plan'"> or upgrade your plan</span>.
        <br/><br/>
        <div v-if="quota.imposedBy === 'plan'">
          <p v-if="hasGooglePlay">
            Open the Android app on the device you purchased PLAN_NAME on, select "Manage Subscription", and switch
            to a plan that allows more devices.
          </p>
          <p v-if="hasGooglePlay && showMoreInfo">
            <br/>Or:<br/><br/> 
          </p>
          <p v-if="hasGooglePlay && !showMoreInfo">
            <br/>Or, log in to BRAND_NAME on a web browser to switch to a web subscription.
          </p>
          <b-button
            v-if="showMoreInfo"
            tag="router-link"
            :to="{
              name: 'CreateAccount',
              query: {
                'signed-in': '1',
                'resubscribe': '1'
              }
            }"
            type="is-primary"
          >
            {{ hasGooglePlay ? 'Switch to a web subscription' : 'Upgrade Plan' }}
          </b-button>
        </div>
      </b-message>
      <div class="is-size-5 has-text-weight-semibold is-family-secondary ml-3 mt-1">
        Current Devices
      </div>
      <div>
        <device-quota-details
          v-for="deviceID in devices.deviceOrder.slice(DEVICES_PER_PAGE*(devicePage-1), DEVICES_PER_PAGE*(devicePage-1)+DEVICES_PER_PAGE)"
          :key="deviceID"
          :device="devices.devices[deviceID]"
          :showMoreInfo="showMoreInfo"
          :auth="auth"
          @done="quota.currentValue--; load()"
        />
      </div>
      <b-pagination
        class="mt-3"
        :total="devices.deviceOrder.length"
        :per-page="DEVICES_PER_PAGE"
        :current.sync="devicePage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Quota } from '@/requests/quotas/get-quota'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import Spinner from '@/components/common/spinner.vue'
import DeviceQuotaDetails from '@/components/device-setup/device-quota-details.vue'
import { TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { getDevices, parseClaims } from '@/helpers/functions'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'

@Component({
  components: {
    Spinner,
    DeviceQuotaDetails
  }
})
export default class ResolveDeviceQuota extends Vue {
  DEVICES_PER_PAGE = 5

  @Prop() readonly quota: Quota | undefined
  @Prop() readonly showMoreInfo: boolean | undefined
  @Prop() readonly auth: string | undefined

  loading = true
  devicePage = 1
  devices: DevicesList | null = null

  mounted () {
    this.load()
  }

  load () {
    this.loading = true
    getDevices({ invalidate: true, auth: this.auth, requestArgs: { sort: 'inactive-first' } }).then(devices => {
      // Only count device types that count against this quota
      if (devices.devices) {
        const devicesMap = devices.devices
        Object.keys(devicesMap).forEach(deviceID => {
          const device = devicesMap[deviceID]
          if (device.type === 'group' || device.type === 'router-client') {
            delete devicesMap[deviceID]
          }
        })
        // Remove from order array too
        devices.deviceOrder = (devices.deviceOrder as string[]).filter(id => devicesMap[id])
      }
      this.devices = devices
      if (!this.quota) {
        return
      }
      if (this.quota.currentValue < this.quota.maxValue) {
        this.$buefy.toast.open({
          position: 'is-bottom',
          type: 'is-success',
          message: 'Devices deleted, you can now register more',
          duration: 5000
        })
        this.$emit('done')
      }
      this.loading = false
    })
  }

  get hasGooglePlay (): boolean {
    let token: string | undefined | null = this.auth
    if (!token) {
      token = localStorage.getItem(TOKEN_STORAGE_NAME)
    }
    if (!token) {
      return false
    }
    const claims = parseClaims(token)
    return claims.purchaseToken !== '' 
  }
}
</script>
