<template>
  <div class="setup-option-picker">
    <div
      class="is-flex is-align-items-center mb-3 py-3"
      style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);"
    >
      <b-button
        icon-left="arrow-left"
        rounded
        class="ml-2"
        @click="back"
        :class="{ 'is-invisible': !selectedItems.length || this.noBack }"
      />
      <b-icon
        v-if="currIcon"
        :icon="currIcon"
        class="mt-2 ml-3"
      />
      <div
        class="has-text-weight-bold ml-3 mt-2"
      >
        {{ currTitle }}
      </div>
    </div>
    <div>
      <transition-group name="slide-down">
        <component
          v-for="(child, idx) in currChildren"
          :key="child.title"
          @click="child.children && select(idx)"
          :is="child.link ? 'a' : (child.route ? 'router-link' : 'div')"
          :href="child.link"
          :to="child.route"
          target="blank"
        >
          <div v-if="child.componentName">
            <b-steps v-if="child.userSelect" :value="group === null ? 0 : 1" :has-navigation="false" style="position: relative; top: -30px;">
              <b-step-item headerClass="is-hidden">
                <div class="has-text-centered mt-2 has-text-grey">Who will be using this device?</div>
                <group-selector
                  v-if="devices"
                  v-model="group"
                  :group="group"
                  :groups="devices.deviceOrder ? devices.deviceOrder.filter(id => devices.devices[id].type === 'group') : []"
                  :mobile="mobile"
                  :list="devices"
                />
              </b-step-item>
              <b-step-item headerClass="is-hidden">
                <component
                  :is="child.componentName"
                  :mobile="mobile"
                  :group="group"
                  @done="onDone($event)"
                />
              </b-step-item>
            </b-steps>
            <component
              v-else
              :is="child.componentName"
              :group="group"
              :mobile="mobile"
              @done="onDone($event)"
            />
          </div>
          <div v-else class="is-flex is-align-items-center mb-3 py-3 px-2 setup-item">
            <b-icon
              :icon="child.icon"
              size="is-large"
              type="is-primary"
              class="mr-3"
            />
            <div>
              <div class="is-size-6 has-text-weight-bold">
                {{ child.title }}
                <b-tag
                  v-for="(tag, idx) in child.tags"
                  :key="idx"
                  :type="tag.type"
                  class="tag ml-2"
                  rounded
                >
                  {{ tag.text }}
                </b-tag>
              </div>
              <div class="is-size-6 has-text-grey">
                {{ child.description }}
              </div>
            </div>
            <div style="flex-grow: 1"/>
            <b-icon
              icon="chevron-right"
              v-if="child.children"
            />
          </div>
        </component>
      </transition-group>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { SetupOption } from '@/helpers/constants'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import GroupSelector from '@/components/my-devices/group-selector.vue'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import { getDevices } from '@/helpers/functions'
import PutDeviceGroup from '@/requests/devices-v2/put-device-group'

@Component({
  components: {
    GroupSelector,
    AdvancedDnsSetup: () => import('@/components/device-setup/advanced-dns-setup.vue'),
  }
})
export default class SetupOptionPicker extends Vue {
  @Prop() readonly mobile: boolean | undefined

  /**
   * The setup options to show at the root.
   */
  @Prop() readonly config: SetupOption[] | undefined
  /**
   * The title to use when at the root.
   */
  @Prop() readonly title: string | undefined
  /**
   * The unique ID of this picker if there are multiple on a page.
   */
  @Prop() readonly id: string | undefined
  /**
   * Whether to not redirect when done.
   */
  @Prop() readonly customOnDone: boolean | undefined
  /**
   * If true, hide our back button.
   */
  @Prop() readonly noBack: boolean | undefined

  devices: DevicesList | null = null
  group: string | null = null

  putDeviceGroup = new PutDeviceGroup()

  mounted () {
    getDevices().then(devices => {
      this.devices = devices
    })
  }

  @Watch('group')
  mightHaveNewGroup (newValue: string | null) {
    if (newValue) {
      getDevices({ invalidate: true }).then(devices => {
        this.devices = devices
      })
    }
  }

  get selectedItems (): string[] {
    const param = this.$route.query['selected-options-' + this.id]
    if (typeof param === 'string') {
      return JSON.parse(param) as string[]
    }
    return []
  }

  set selectedItems (items: string[]) {
    const key = 'selected-options-' + this.id
    const query: {[key: string]: string} = {}
    query[key] = JSON.stringify(items)
    this.$router.push({
      name: this.$route.name as string,
      query: assign(cloneDeep(this.$route.query), query)
    })
  }

  /**
   * Called when an option with children is selected.
   */
  select (idx: string) {
    this.selectedItems = this.selectedItems.concat([idx])
    this.group = null
  }

  back () {
    this.$emit('back')
    this.selectedItems = this.selectedItems.slice(0, this.selectedItems.length - 1)
    this.group = null
  }

  /**
   * Called when the current setup is done.
   */
  onDone (deviceID: string) {
    const finish = () => {
      this.$emit('update:loading', false)
      this.selectedItems = []
      if (!this.customOnDone) {
        this.$router.push({
          name: 'Devices',
          query: {
            'device-id': this.group ? this.group : deviceID,
            'sort': 'registered-new-first'
          }
        })
        this.$buefy.snackbar.open({
          message: 'Device added!',
          type: 'is-primary',
          duration: 15000,
          actionText: 'Register Another',
          onAction: () => {
            this.$router.push({
              name: 'DeviceSetup'
            })
          }
        })
      }
      this.$emit('done', deviceID)
    }
    if (this.group) {
      this.$emit('update:loading', true)
      this.putDeviceGroup.handle({
        id: deviceID,
        mac: '',
        newGroup: this.group
      }).then(() => {
        finish()
      })
    } else {
      finish()
    }
  }

  /**
   * @returns The current title.
   */
  get currTitle (): string {
    if (!this.config || !this.title) {
      return ''
    }
    let title = this.title
    let currItem = {
      children: this.config
    } as SetupOption
    this.selectedItems.forEach(item => {
      if (currItem.children) {
        currItem = currItem.children[item as unknown as number]
        title = currItem.title
      }
    })
    return title
  }

  /**
   * @returns The current icon.
   */
  get currIcon (): string {
    if (!this.config) {
      return ''
    }
    let icon = ''
    let currItem = {
      children: this.config
    } as SetupOption
    this.selectedItems.forEach(item => {
      if (currItem.children) {
        currItem = currItem.children[item as unknown as number]
        icon = currItem.icon
      }
    })
    return icon
  }

  /**
   * @returns The current child items to display.
   */
  get currChildren (): SetupOption[] {
    if (!this.config) {
      return []
    }
    let currChildren = this.config
    this.selectedItems.forEach(item => {
      const nextChildren = currChildren[item as unknown as number].children
      if (nextChildren) {
        currChildren = nextChildren
      }
    })
    return currChildren
  }
}
</script>

<style scoped>
.setup-option-picker {
  max-width: 600px;
}

.setup-item {
  cursor: pointer;
  border-radius: 5px;
}

.setup-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.slide-down-enter-active {
  transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);;
}
.slide-down-leave-active {
  transition: all 0s cubic-bezier(0.4, 0.0, 1, 1);;
}

.slide-down-enter, .slide-down-leave-to
/* .slide-down-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}
</style>
