<template>
  <div
    class="is-flex is-align-items-center"
  >
    <spinner/>
    <span class="pl-2 has-text-grey">
      Waiting for device to be added...
    </span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Spinner from '@/components/common/spinner.vue'
import { Prop } from 'vue-property-decorator'
import { getDevices } from '@/helpers/functions'

@Component({
  components: {
    Spinner
  }
})
export default class WaitForDeviceAdded extends Vue {
  @Prop() readonly expectedDeviceType: string | undefined
  private interval: number | undefined
  private lastID = ''

  mounted () {
    if (!this.expectedDeviceType) {
      return
    }
    const expectedDeviceType = this.expectedDeviceType
    // First, establish the status quo so we can tell if something changes
    getDevices({ invalidate: true, requestArgs: { 'get-activity': false, 'sort': 'registered-new-first' } }).then(devices => {
      if (devices.deviceOrder && devices.deviceOrder.length) {
        this.lastID = devices.deviceOrder[0]
      }
      // Watch for a new device to be registered with the type we're looking for
      this.interval = setInterval(() => { 
        getDevices({ invalidate: true, requestArgs: { 'get-activity': false, 'sort': 'registered-new-first' } }).then(devices => {
          if (devices.devices && devices.deviceOrder && devices.deviceOrder.length) {
            const createdId = devices.deviceOrder[0]
            if (devices.devices[createdId].type === expectedDeviceType && devices.devices[createdId].id !== this.lastID) {
              clearInterval(this.interval)
              getDevices({ invalidate: true }).then(() => {
                this.$emit('done', createdId)
              })
            } else {
              this.lastID = createdId
            }
          }
        })
      }, 5000)
    })
  }

  beforeDestroy () {
    clearInterval(this.interval)
  }
}
</script>