<template>
  <div
    v-if="diff"
  >
    <div
      v-if="!diff.categoryChanges && !diff.appChanges && !diff.domainChanges"
      class="content"
    >
      <i>Making this change will have no effect on blocking.</i>
    </div>
    <div v-else>
      <div class="content">
        <i>Making this change will change blocking settings for this device:</i>
      </div>
      <b-tabs type="is-boxed">
        <b-tab-item
          v-if="diff.categoryChanges"
          label="Categories"
        >
          <div
            v-for="(category, idx) in diff.categoryChanges"
            v-show="!cancelledCategories[category]"
            :key="category"
            class="list-element has-background-white px-4 py-3"
            :class="{'border-bottom': idx === diff.categoryChanges.length - 1}"
            :set="mDiff = categoryDiffFor(category)"
            style="min-height: 60px;"
          >
            <div class="is-flex is-align-items-center">
              <div>
                <div class="is-flex is-align-items-center">
                  <b-icon :icon="diff.before.categories.meta.categoryData[category].icon" class="has-text-grey-dark mx-1" />
                  <div>
                    <div class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark">
                      {{ diff.before.categories.meta.categoryData[category].name }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="is-flex-grow-1" />
              <div v-if="!mobile && !mDiff[0].screentime && !mDiff[1].screentime" class="is-flex is-align-items-center mr-3">
                <diff-element
                  :value="mDiff[0]"
                  :options="diff.before.categories.meta.categoryData[category].options"
                  :screentime="diff.before.screentimeRules"
                  class="mr-2"
                />
                <b-icon
                  icon="arrow-right"
                  type="is-grey-dark"
                />
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :options="diff.after.categories.meta.categoryData[category].options"
                  :screentime="diff.after.screentimeRules"
                />
              </div>
              <div>
                <b-dropdown position="is-bottom-left">
                  <template #trigger>
                    <b-tooltip
                      label="Don't apply this change"
                    >
                      <b-button
                        icon-left="cancel"
                        rounded
                      />
                    </b-tooltip>
                  </template>
                  <b-dropdown-item
                    @click="applyDeviceOptionForCategory(category)"
                  >
                    {{ deviceOptionForCategory(category) }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyNewGroupOptionForCategory(category)"
                  >
                    {{ newGroupOptionForCategory(category) }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
            <div class="mt-2 columns" style="position: relative;" v-if="mobile || mDiff[0].screentime || mDiff[1].screentime">
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  :value="mDiff[0]"
                  :options="diff.before.categories.meta.categoryData[category].options"
                  :screentime="diff.before.screentimeRules"
                  class="mr-2"
                />
              </div>
              <b-icon
                style="position: absolute; left: calc(50% - 12px); top: 12px;"
                icon="arrow-right"
                type="is-grey-dark"
              />
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :options="diff.after.categories.meta.categoryData[category].options"
                  :screentime="diff.after.screentimeRules"
                />
              </div>
            </div>
          </div>
        </b-tab-item>
        <b-tab-item
          v-if="diff.appChanges"
          label="Apps"
        >
          <div
            v-for="(app, idx) in diff.appChanges"
            v-show="!cancelledApps[app]"
            :key="app"
            class="list-element has-background-white px-4 py-3"
            :class="{'border-bottom': idx === diff.appChanges.length - 1}"
            :set="mDiff = appDiffFor(app)"
            style="min-height: 60px;"
          >
            <div class="is-flex is-align-items-center">
              <div>
                <a
                  class="is-size-6 has-text-weight-medium has-text-link pl-2"
                  target="blank"
                  :href="getStoreHref(app)"
                >
                  <b-icon icon="google-play" size="is-small" /> {{ diff.before.apps.meta.appData[app].name }}
                </a>
              </div>
              <div class="is-flex-grow-1" />
              <div v-if="!mobile && !mDiff[0].screentime && !mDiff[1].screentime" class="is-flex is-align-items-center mr-3">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="diff.before.screentimeRules"
                  class="mr-2"
                />
                <b-icon
                  icon="arrow-right"
                  type="is-grey-dark"
                />
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="diff.after.screentimeRules"
                />
              </div>
              <div>
                <b-dropdown position="is-bottom-left">
                  <template #trigger>
                    <b-tooltip
                      label="Don't apply this change"
                    >
                      <b-button
                        icon-left="cancel"
                        rounded
                      />
                    </b-tooltip>
                  </template>
                  <b-dropdown-item
                    @click="applyDeviceOptionForApp(app)"
                  >
                    {{ deviceOptionForApp(app) }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyNewGroupOptionForApp(app)"
                  >
                    {{ newGroupOptionForApp(app) }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
            <div class="mt-2 columns" style="position: relative;" v-if="mobile || mDiff[0].screentime || mDiff[1].screentime">
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="diff.before.screentimeRules"
                  class="mr-2"
                />
              </div>
              <b-icon
                style="position: absolute; left: calc(50% - 12px); top: 12px;"
                icon="arrow-right"
                type="is-grey-dark"
              />
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="diff.after.screentimeRules"
                />
              </div>
            </div>
          </div>
        </b-tab-item>
        <b-tab-item
          v-if="diff.domainChanges"
          label="Domains"
        >
          <div
            v-for="(domain, idx) in diff.domainChanges"
            v-show="!cancelledDomains[domain]"
            :key="domain"
            class="list-element has-background-white px-4 py-3"
            :class="{'border-bottom': idx === diff.domainChanges.length - 1}"
            :set="mDiff = domainDiffFor(domain)"
            style="min-height: 60px;"
          >
            <div class="is-flex is-align-items-center">
              <div>
                <div class="is-flex is-align-items-center">
                  <div>
                    <div class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark">
                      {{ domain }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="is-flex-grow-1" />
              <div v-if="!mobile && !mDiff[0].screentime && !mDiff[1].screentime" class="is-flex is-align-items-center mr-3">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="diff.before.screentimeRules"
                  class="mr-2"
                />
                <b-icon
                  icon="arrow-right"
                  type="is-grey-dark"
                />
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="diff.after.screentimeRules"
                />
              </div>
              <div>
                <b-dropdown position="is-bottom-left">
                  <template #trigger>
                    <b-tooltip
                      label="Don't apply this change"
                    >
                      <b-button
                        icon-left="cancel"
                        rounded
                      />
                    </b-tooltip>
                  </template>
                  <b-dropdown-item
                    @click="applyDeviceOptionForDomain(domain)"
                  >
                    {{ deviceOptionForDomain(domain) }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyNewGroupOptionForDomain(domain)"
                  >
                    {{ newGroupOptionForDomain(domain) }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
            <div class="mt-2 columns" style="position: relative;" v-if="mobile || mDiff[0].screentime || mDiff[1].screentime">
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="diff.before.screentimeRules"
                  class="mr-2"
                />
              </div>
              <b-icon
                style="position: absolute; left: calc(50% - 12px); top: 12px;"
                icon="arrow-right"
                type="is-grey-dark"
              />
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="diff.after.screentimeRules"
                />
              </div>
            </div>
          </div>
        </b-tab-item>
      </b-tabs>
    </div>
  </div>
</template>

<script lang="ts">
import { AppDisplay, CategoryDisplay, DomainDisplay, getAppDisplayForModel, getCategoryDisplayForModel, getDomainDisplayForModel } from '@/helpers/functions'
import { BlockingModelDeviceDiff } from '@/requests/devices-v2/get-device-set-group-preview'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import DiffElement from '@/components/my-devices/diff-element.vue'
import { Device, DevicesList } from '@/requests/devices-v2/get-devices-list'
import { CategoryOptionsMetadata } from '@/requests/blocking/get-category-blocking'
import { BlockingModel, BlockingSource, DeviceRef, ScreentimeRef, ScreentimeRules, TimerSpec, TimetableSpec } from '@/requests/blocking/get-app-blocking'
import PostBlockingChanges, { BlockingChanges } from '@/requests/blocking/post-blocking-changes'
import cloneDeep from 'lodash/cloneDeep'
import PostTimer from '@/requests/blocking/post-timer'
import PostTimetable from '@/requests/blocking/post-timetable'
import PatchAppBlockingBaseRuleset from '@/requests/blocking/patch-app-blocking-base-ruleset'

export interface PostSwitchChanges {
  newTimers: {[id: number]: TimerSpec}
  newTimetables: {[id: number]: TimetableSpec}
  appApproval?: boolean;
  changes: BlockingChanges
}

export async function applyPostSwitchChanges (id: string, mac: string, changes: PostSwitchChanges) {
  if (changes.appApproval !== undefined) {
    await new PatchAppBlockingBaseRuleset().handle({
      deviceId: id,
      ruleset: {
        approvalRequired: changes.appApproval,
        apps: {}
      }
    })
  }
  // Create the screentime rules, if any
  for (const timerIdStr of Object.keys(changes.newTimers)) {
    const timerId = parseInt(timerIdStr)
    const timer = changes.newTimers[timerId]
    await new PostTimer().handle(timer).then(resp => {
      const createdId = resp.spec
      for (const change of changes.changes.changes) {
        for (const changeType of [ change.app, change.category, change.domain ]) {
          if (changeType && changeType.ruleset && changeType.ruleset.source && changeType.ruleset.source.timerId === timerId) {
            changeType.ruleset.source.timerId = createdId
          }
        }
      }
    })
  }
  for (const timetableIdStr of Object.keys(changes.newTimetables)) {
    const timetableId = parseInt(timetableIdStr)
    const timetable = changes.newTimetables[timetableId]
    await new PostTimetable().handle(timetable).then(resp => {
      const createdId = resp.spec
      for (const change of changes.changes.changes) {
        for (const changeType of [ change.app, change.category, change.domain ]) {
          if (changeType && changeType.ruleset && changeType.ruleset.source && changeType.ruleset.source.timetableId === timetableId) {
            changeType.ruleset.source.timetableId = createdId
          }
        }
      }
    })
  }
  await new PostBlockingChanges().handle({
    body: changes.changes,
    id: id,
    mac: mac
  })
}

export function screentimeDescription (timers: number[], timetables: number[]): string {
  let sentence = ''
  if (timers.length) {
    sentence += timers.length + ' timer' + (timers.length === 1 ? '' : 's')
    if (timetables.length) {
      sentence += ' and '
    }
  }
  if (timetables.length) {
    sentence += timetables.length + ' timetable' + (timetables.length === 1 ? '' : 's')
  }
  return sentence
}

export function timerSpecMatches (timer1: TimerSpec, timer2: TimerSpec): boolean {
  return timer1.day === timer2.day && timer1.maxTimeSecs === timer2.maxTimeSecs
}

export function findMatchingTimer (timer: TimerSpec, screentimeRules: ScreentimeRules, device: DeviceRef): number {
  for (const idStr of Object.keys(screentimeRules.timers)) {
    const id = parseInt(idStr)
    const currTimer = screentimeRules.timers[id]
    if (currTimer.deviceRef.deviceId !== device.deviceId || (currTimer.deviceRef.mac ? currTimer.deviceRef.mac : '') !== (device.mac ? device.mac : '')) {
      continue
    }
    if (timerSpecMatches(timer, currTimer)) {
      return id
    }
  }
  return 0
}

export function getTimerRuleset<T> (
  id: number,
  deviceRef: DeviceRef,
  model: BlockingModel<T>
): T | null {
  let currRuleset: T | null = null
  let toSearch: BlockingModel<T>[] = [ model ]
  while (toSearch.length) {
    const currModel = toSearch.shift() as BlockingModel<T>
    if (currModel.deviceRef.deviceId === deviceRef.deviceId && currModel.deviceRef.mac === deviceRef.mac) {
      currRuleset = (currModel.timers.find(timer => timer.id === id) as ScreentimeRef<T>).ruleset
    } else if (currModel.parents) {
      for (const parent of currModel.parents) {
        toSearch.push(parent)
      }
    }
  }
  return currRuleset
}

export function getTimetableRuleset<T> (
  id: number,
  deviceRef: DeviceRef,
  model: BlockingModel<T>
): T | null {
  let currRuleset: T | null = null
  let toSearch: BlockingModel<T>[] = [ model ]
  while (toSearch.length) {
    const currModel = toSearch.shift() as BlockingModel<T>
    if (currModel.deviceRef.deviceId === deviceRef.deviceId && currModel.deviceRef.mac === deviceRef.mac) {
      currRuleset = (currModel.timetables.find(timer => timer.id === id) as ScreentimeRef<T>).ruleset
    } else if (currModel.parents) {
      for (const parent of currModel.parents) {
        toSearch.push(parent)
      }
    }
  }
  return currRuleset
}

export function getNewTimerDetails<T> (
  nextId: number, newChanges: PostSwitchChanges, targetDevice: DeviceRef,
  screentimeRulesBefore: ScreentimeRules, screentimeRulesAfter: ScreentimeRules, modelBefore: BlockingModel<T>,
  idBefore: number
): [number, T] {
  const timerSpec = screentimeRulesBefore.timers[idBefore]
  // Find the ruleset of the current timer
  const currRuleset = getTimerRuleset(idBefore, timerSpec.deviceRef, modelBefore)
  if (!currRuleset) {
    throw new Error('couldn\'t find timer')
  }
  // See if there is a matching timer in the new screentime rules
  const matching = findMatchingTimer(timerSpec, screentimeRulesAfter, targetDevice)
  if (matching) {
    return [matching, currRuleset]
  }
  // See if there is a matching timer in the new timers to be created
  for (const timerIdStr of Object.keys(newChanges.newTimers)) {
    const timerId = parseInt(timerIdStr)
    const timer = newChanges.newTimers[timerId]
    if (timerSpecMatches(timer, timerSpec)) {
      return [timerId, currRuleset]
    }
  }
  const newTimerSpec = { day: timerSpec.day, maxTimeSecs: timerSpec.maxTimeSecs, deviceRef: targetDevice } as TimerSpec
  newChanges.newTimers[nextId] = newTimerSpec
  return [nextId, currRuleset]
}

export function timetableSpecMatches (timetable1: TimetableSpec, timetable2: TimetableSpec): boolean {
  return Object.keys(timetable1.activeTimes).every(day => timetable1.activeTimes[day].every((quarter, idx) => quarter === timetable2.activeTimes[day][idx]))
}

export function findMatchingTimetable (timetable: TimetableSpec, screentimeRules: ScreentimeRules, device: DeviceRef): number {
  for (const idStr of Object.keys(screentimeRules.timetables)) {
    const id = parseInt(idStr)
    const currTimetable = screentimeRules.timetables[id]
    if (currTimetable.deviceRef.deviceId !== device.deviceId || (currTimetable.deviceRef.mac ? currTimetable.deviceRef.mac : '') !== (device.mac ? device.mac : '')) {
      continue
    }
    if (timetableSpecMatches(timetable, currTimetable)) {
      return id
    }
  }
  return 0
}

export function getNewTimetableDetails<T> (nextId: number, newChanges: PostSwitchChanges, targetDevice: DeviceRef, screentimeRulesBefore: ScreentimeRules, screentimeRulesAfter: ScreentimeRules, modelBefore: BlockingModel<T>, idBefore: number): [number, T] {
  const timetableSpec = screentimeRulesBefore.timetables[idBefore]
  // Find the ruleset of the current timer
  const currRuleset = getTimetableRuleset(idBefore, timetableSpec.deviceRef, modelBefore)
  if (!currRuleset) {
    throw new Error('couldn\'t find timetable')
  }
  // See if there is a matching timetable in the new screentime rules
  const matching = findMatchingTimetable(timetableSpec, screentimeRulesAfter, targetDevice)
  if (matching) {
    return [matching, currRuleset]
  }
  // See if there is a matching timetable in the new timetables to be created
  for (const timetableIdStr of Object.keys(newChanges.newTimetables)) {
    const timetableId = parseInt(timetableIdStr)
    const timetable = newChanges.newTimetables[timetableId]
    if (timetableSpecMatches(timetable, timetableSpec)) {
      return [timetableId, currRuleset]
    }
  }
  const newTimetableSpec: TimetableSpec = { activeTimes: cloneDeep(timetableSpec.activeTimes), deviceRef: targetDevice }
  newChanges.newTimetables[nextId] = newTimetableSpec
  return [nextId, currRuleset]
}

@Component({
  components: {
    DiffElement
  }
})
export default class DeviceBlockingDiff extends Vue {
  @Prop() readonly diff: BlockingModelDeviceDiff | undefined
  @Prop() readonly device: string | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly newGroup: string | undefined
  @Prop() readonly newGroupName: string | undefined
  @Prop() readonly changes: PostSwitchChanges | undefined

  cancelledCategories: {[category: number]: boolean} = {}
  cancelledApps: {[app: string]: boolean} = {}
  cancelledDomains: {[domain: string]: boolean} = {}

  currId = -1

  applyOptionForCategory (category: number, device: DeviceRef) {
    if (!this.diff || !this.diff || this.newGroup === undefined) {
      throw new Error('need diff')
    }
    const newChanges = cloneDeep(this.changes) as PostSwitchChanges
    const desired = getCategoryDisplayForModel(this.diff.before.categories.blockingModel, category, true, {})
    const current = getCategoryDisplayForModel(this.diff.after.categories.blockingModel, category, true, {})
    if (desired.screentime) {
      if (desired.timers) {
        for (const id of desired.timers) {
          const [newId, ruleset] = getNewTimerDetails(this.currId--, newChanges, device, this.diff.before.screentimeRules, this.diff.after.screentimeRules, this.diff.before.categories.blockingModel, id)
          newChanges.changes.changes.push({
            category: {
              id: category,
              model: ruleset.categories[category],
              ruleset: {
                device: device,
                source: {
                  timerId: newId,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (desired.timetables) {
        for (const id of desired.timetables) {
          const [newId, ruleset] = getNewTimetableDetails(this.currId--, newChanges, device, this.diff.before.screentimeRules, this.diff.after.screentimeRules, this.diff.before.categories.blockingModel, id)
          newChanges.changes.changes.push({
            category: {
              id: category,
              model: ruleset.categories[category],
              ruleset: {
                device: device,
                source: {
                  timetableId: newId,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    } else {
      newChanges.changes.changes.push({
        category: {
          id: category,
          model: desired.model,
          ruleset: {
            device: device
          }
        }
      })
      // If we are updating the new group and it currently has screentime rules selected
      // for this category, we must un-assign the category from those screentime rules
      // or the base rules we just added may not do nothing.
      if (current.screentime && device.deviceId === this.newGroup) {
        if (current.timers) {
          for (const timer of current.timers) {
            newChanges.changes.changes.push({
              category: {
                id: category,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timerId: timer,
                    timetableId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
        if (current.timetables) {
          for (const timetable of current.timetables) {
            newChanges.changes.changes.push({
              category: {
                id: category,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timetableId: timetable,
                    timerId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
      }
    }
    this.$emit('update:changes', newChanges)
    this.$set(this.cancelledCategories, category, true)
  }

  applyNewGroupOptionForCategory (category: number) {
    if (this.newGroup === undefined) {
      throw new Error('need newGroup')
    }
    this.applyOptionForCategory(category, { accountId: '', deviceId: this.newGroup, mac: '' })
  }

  newGroupOptionForCategory (category: number): string {
    if (!this.diff || !this.device || !this.devices) {
      throw new Error('need diff')
    }
    const desired = getCategoryDisplayForModel(this.diff.before.categories.blockingModel, category, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + this.newGroupName
    } else if (typeof desired.model.selectedOption === 'number') {
      return 'Apply ' + (this.diff.before.categories.meta.categoryData[category].options as CategoryOptionsMetadata).options[desired.model.selectedOption].name + ' to ' + this.newGroupName
    } else if (desired.model.blocked) {
      return 'Block for ' + this.newGroupName
    } else {
      return 'Allow for ' + this.newGroupName
    }
  }

  applyDeviceOptionForCategory (category: number) {
    if (this.newGroup === undefined || !this.device || !this.devices || !this.devices.devices) {
      return
    }
    const device = this.devices.devices[this.device] as Device
    this.applyOptionForCategory(category, { accountId: '', deviceId: device.id, mac: device.mac })
  }

  deviceOptionForCategory (category: number): string {
    if (!this.diff || !this.device || !this.devices) {
      throw new Error('need diff')
    }
    const thisDeviceName = (this.devices.devices as {[id: string]: Device})[this.device].name
    const desired = getCategoryDisplayForModel(this.diff.before.categories.blockingModel, category, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + thisDeviceName
    } else if (typeof desired.model.selectedOption === 'number') {
      return 'Apply ' + (this.diff.before.categories.meta.categoryData[category].options as CategoryOptionsMetadata).options[desired.model.selectedOption].name + ' to ' + thisDeviceName
    } else if (desired.model.blocked) {
      return 'Block for ' + thisDeviceName
    } else {
      return 'Allow for ' + thisDeviceName
    }
  }

  categoryDiffFor (category: number): [CategoryDisplay, CategoryDisplay] {
    if (!this.diff) {
      throw new Error('need diff')
    }
    return [
      getCategoryDisplayForModel(this.diff.before.categories.blockingModel, category, true, {}),
      getCategoryDisplayForModel(this.diff.after.categories.blockingModel, category, true, {}),
    ]
  }

  getStoreHref (appId: string): string {
    return 'https://play.google.com/store/apps/details?id=' + encodeURIComponent(appId.split('/')[1])
  }

  applyOptionForApp (app: string, device: DeviceRef) {
    if (!this.diff || !this.diff || this.newGroup === undefined) {
      throw new Error('need diff')
    }
    const newChanges = cloneDeep(this.changes) as PostSwitchChanges
    const desired = getAppDisplayForModel(this.diff.before.apps.blockingModel, app, true, {})
    const current = getAppDisplayForModel(this.diff.after.apps.blockingModel, app, true, {})
    if (desired.screentime) {
      if (desired.timers) {
        for (const id of desired.timers) {
          const [newId, ruleset] = getNewTimerDetails(this.currId--, newChanges, device, this.diff.before.screentimeRules, this.diff.after.screentimeRules, this.diff.before.apps.blockingModel, id)
          newChanges.changes.changes.push({
            app: {
              id: app,
              model: ruleset.apps[app],
              ruleset: {
                device: device,
                source: {
                  timerId: newId,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (desired.timetables) {
        for (const id of desired.timetables) {
          const [newId, ruleset] = getNewTimetableDetails(this.currId--, newChanges, device, this.diff.before.screentimeRules, this.diff.after.screentimeRules, this.diff.before.apps.blockingModel, id)
          newChanges.changes.changes.push({
            app: {
              id: app,
              model: ruleset.apps[app],
              ruleset: {
                device: device,
                source: {
                  timetableId: newId,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    } else {
      newChanges.changes.changes.push({
        app: {
          id: app,
          model: desired.model,
          ruleset: {
            device: device
          }
        }
      })
      // If we are updating the new group and it currently has screentime rules selected
      // for this app, we must un-assign the app from those screentime rules
      // or the base rules we just added may not do nothing.
      if (current.screentime && device.deviceId === this.newGroup) {
        if (current.timers) {
          for (const timer of current.timers) {
            newChanges.changes.changes.push({
              app: {
                id: app,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timerId: timer,
                    timetableId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
        if (current.timetables) {
          for (const timetable of current.timetables) {
            newChanges.changes.changes.push({
              app: {
                id: app,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timetableId: timetable,
                    timerId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
      }
    }
    this.$emit('update:changes', newChanges)
    this.$set(this.cancelledApps, app, true)
  }

  applyNewGroupOptionForApp (app: string) {
    if (this.newGroup === undefined) {
      throw new Error('need newGroup')
    }
    this.applyOptionForApp(app, { accountId: '', deviceId: this.newGroup, mac: '' })
  }

  newGroupOptionForApp (app: string): string {
    if (!this.diff || !this.device || !this.devices) {
      throw new Error('need diff')
    }
    const desired = getAppDisplayForModel(this.diff.before.apps.blockingModel, app, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + this.newGroupName
    } else if (desired.model.blocked) {
      return 'Block for ' + this.newGroupName
    } else {
      return 'Allow for ' + this.newGroupName
    }
  }

  applyDeviceOptionForApp (app: string) {
    if (this.newGroup === undefined || !this.device || !this.devices || !this.devices.devices) {
      return
    }
    const device = this.devices.devices[this.device] as Device
    this.applyOptionForApp(app, { accountId: '', deviceId: device.id, mac: device.mac })
  }

  deviceOptionForApp (app: string): string {
    if (!this.diff || !this.device || !this.devices) {
      throw new Error('need diff')
    }
    const thisDeviceName = (this.devices.devices as {[id: string]: Device})[this.device].name
    const desired = getAppDisplayForModel(this.diff.before.apps.blockingModel, app, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + thisDeviceName
    } else if (desired.model.blocked) {
      return 'Block for ' + thisDeviceName
    } else {
      return 'Allow for ' + thisDeviceName
    }
  }

  appDiffFor (app: string): [AppDisplay, AppDisplay] {
    if (!this.diff) {
      throw new Error('need diff')
    }
    // The following functions example the rules directly, but don't take app approval into account.
    // If app approval is the current plan item, show blocked.
    let before: AppDisplay
    if (
      this.diff.before.apps.plan[app] &&
      this.diff.before.apps.plan[app][0].reason &&
      this.diff.before.apps.plan[app][0].reason.source &&
      (this.diff.before.apps.plan[app][0].reason.source as BlockingSource).other === 'Approval'
    ) {
      before = {
        screentime: false,
        model: {
          blocked: true
        },
        timers: [],
        timetables: [],
        device: this.diff.before.apps.plan[app][0].reason.device
      }
    } else {
      before = getAppDisplayForModel(this.diff.before.apps.blockingModel, app, true, {})
    }
    let after: AppDisplay
    if (
      this.diff.after.apps.plan[app] &&
      this.diff.after.apps.plan[app][0].reason &&
      this.diff.after.apps.plan[app][0].reason.source &&
      (this.diff.after.apps.plan[app][0].reason.source as BlockingSource).other === 'Approval'
    ) {
      after = {
        screentime: false,
        model: {
          blocked: true
        },
        timers: [],
        timetables: [],
        device: this.diff.after.apps.plan[app][0].reason.device
      }
    } else {
      after = getAppDisplayForModel(this.diff.after.apps.blockingModel, app, true, {})
    }
    return [ before, after ]
  }

  applyOptionForDomain (domain: string, device: DeviceRef) {
    if (!this.diff || !this.diff || this.newGroup === undefined) {
      throw new Error('need diff')
    }
    const newChanges = cloneDeep(this.changes) as PostSwitchChanges
    const desired = getDomainDisplayForModel(this.diff.before.domains.blockingModel, domain, true, {})
    const current = getDomainDisplayForModel(this.diff.after.domains.blockingModel, domain, true, {})
    if (desired.screentime) {
      if (desired.timers) {
        for (const id of desired.timers) {
          const [newId, ruleset] = getNewTimerDetails(this.currId--, newChanges, device, this.diff.before.screentimeRules, this.diff.after.screentimeRules, this.diff.before.domains.blockingModel, id)
          newChanges.changes.changes.push({
            domain: {
              id: domain,
              model: ruleset.domains[domain],
              ruleset: {
                device: device,
                source: {
                  timerId: newId,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (desired.timetables) {
        for (const id of desired.timetables) {
          const [newId, ruleset] = getNewTimetableDetails(this.currId--, newChanges, device, this.diff.before.screentimeRules, this.diff.after.screentimeRules, this.diff.before.domains.blockingModel, id)
          newChanges.changes.changes.push({
            domain: {
              id: domain,
              model: ruleset.domains[domain],
              ruleset: {
                device: device,
                source: {
                  timetableId: newId,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    } else {
      newChanges.changes.changes.push({
        domain: {
          id: domain,
          model: desired.model,
          ruleset: {
            device: device
          }
        }
      })
      // If we are updating the new group and it currently has screentime rules selected
      // for this domain, we must un-assign the domain from those screentime rules
      // or the base rules we just added may not do nothing.
      if (current.screentime && device.deviceId === this.newGroup) {
        if (current.timers) {
          for (const timer of current.timers) {
            newChanges.changes.changes.push({
              domain: {
                id: domain,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timerId: timer,
                    timetableId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
        if (current.timetables) {
          for (const timetable of current.timetables) {
            newChanges.changes.changes.push({
              domain: {
                id: domain,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timetableId: timetable,
                    timerId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
      }
    }
    this.$emit('update:changes', newChanges)
    this.$set(this.cancelledDomains, domain, true)
  }

  applyNewGroupOptionForDomain (domain: string) {
    if (this.newGroup === undefined) {
      throw new Error('need newGroup')
    }
    this.applyOptionForDomain(domain, { accountId: '', deviceId: this.newGroup, mac: '' })
  }

  newGroupOptionForDomain (domain: string): string {
    if (!this.diff || !this.device || !this.devices) {
      throw new Error('need diff')
    }
    const desired = getDomainDisplayForModel(this.diff.before.domains.blockingModel, domain, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + this.newGroupName
    } else if (desired.model.blocked) {
      return 'Block for ' + this.newGroupName
    } else {
      return 'Allow for ' + this.newGroupName
    }
  }

  applyDeviceOptionForDomain (domain: string) {
    if (this.newGroup === undefined || !this.device || !this.devices || !this.devices.devices) {
      return
    }
    const device = this.devices.devices[this.device] as Device
    this.applyOptionForDomain(domain, { accountId: '', deviceId: device.id, mac: device.mac })
  }

  deviceOptionForDomain (domain: string): string {
    if (!this.diff || !this.device || !this.devices) {
      throw new Error('need diff')
    }
    const thisDeviceName = (this.devices.devices as {[id: string]: Device})[this.device].name
    const desired = getDomainDisplayForModel(this.diff.before.domains.blockingModel, domain, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + thisDeviceName
    } else if (desired.model.blocked) {
      return 'Block for ' + thisDeviceName
    } else {
      return 'Allow for ' + thisDeviceName
    }
  }

  domainDiffFor (app: string): [DomainDisplay, DomainDisplay] {
    if (!this.diff) {
      throw new Error('need diff')
    }
    return [
      getDomainDisplayForModel(this.diff.before.domains.blockingModel, app, true, {}),
      getDomainDisplayForModel(this.diff.after.domains.blockingModel, app, true, {}),
    ]
  }
}
</script>

<style scoped>
.list-element {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1.0);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
