<template>
  <div>
    <div v-if="value.screentime" class="is-flex is-align-items-center">
      <b-icon
        class="mr-2"
        icon="timer-outline"
        type="is-primary"
      />
      <b-tooltip
        v-if="value.timers && value.timers.length"
        :label="timersDescription"
        :multilined="true"
      >
        <a>
          {{ value.timers.length }} timer{{ value.timers.length === 1 ? '' : 's' }}
        </a>
      </b-tooltip>
      <span v-if="value.timers && value.timers.length && value.timetables && value.timetables.length" class="px-1">
        and
      </span>
      <b-tooltip
        v-if="value.timetables && value.timetables.length"
        :label="timetablesDescription"
        :multilined="true"
      >
        <a>
          {{ value.timetables.length }} timetable{{ value.timetables.length === 1 ? '' : 's' }}
        </a>
      </b-tooltip>
    </div>
    <span
      v-else-if="options"
    >
      {{ options.options[value.model.selectedOption].name }}
    </span>
    <b-icon
      v-else-if="value.model.blocked"
      icon="minus-circle"
      type="is-danger-dark"
    />
    <b-icon
      v-else
      icon="checkbox-blank-circle-outline"
      type="is-grey-dark"
    />
  </div>
</template>

<script lang="ts">
import { CategoryDisplay, formatTimerDuration, formatTimetableTimes } from '@/helpers/functions'
import { ScreentimeRules } from '@/requests/blocking/get-app-blocking'
import { CategoryOptionsMetadata } from '@/requests/blocking/get-category-blocking'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class DiffElement extends Vue {
  @Prop() readonly value: CategoryDisplay | undefined // May also be an AppDisplay or DomainDisplay
  @Prop() readonly options: CategoryOptionsMetadata | undefined
  @Prop() readonly screentime: ScreentimeRules | undefined

  getTimerText (id: number): string {
    if (!this.screentime) {
      return ''
    }
    const timer = this.screentime.timers[id]
    return formatTimerDuration(timer.day, timer.maxTimeSecs)
  }

  get timersDescription (): string {
    if (!this.value || !this.value.timers) {
      return ''
    }
    if (this.value.timers.length === 1) {
      return this.getTimerText(this.value.timers[0])
    }
    let lines = ''
    for (const timer of this.value.timers) {
      const line = '- ' + this.getTimerText(timer) + '\n'
      lines += line
    }
    return lines
  }

  getTimetableText (id: number): string {
    if (!this.screentime) {
      return ''
    }
    const timetable = this.screentime.timetables[id]
    const timetableFormat = formatTimetableTimes(timetable.activeTimes)
    if (!timetableFormat.everActive) {
      return 'No effect, never active.'
    } else if (timetableFormat.alwaysActive) {
      return 'Always active.'
    } else if (timetableFormat.isAfter) {
      return 'After ' + timetableFormat.sentence
    } else {
      return timetableFormat.sentence
    }
  }

  get timetablesDescription (): string {
    if (!this.value || !this.value.timetables) {
      return ''
    }
    if (this.value.timetables.length === 1) {
      return this.getTimetableText(this.value.timetables[0])
    }
    let lines = ''
    for (const timetable of this.value.timetables) {
      const line = '- ' + this.getTimetableText(timetable) + '\n'
      lines += line
    }
    return lines
  }
}
</script>
