<template>
  <b-steps :has-navigation="false" style="margin-top: -25px;" v-model="step" :class="{faded: loading}">
    <b-step-item
      headerClass="is-hidden"
      :set="noneSelected = forDevice && (!forDevice.parents || !forDevice.parents.some(parent => groups.includes(parent)))"
    >
      <div>
        <!-- Pick a group -->
        <div
          v-for="group in groups ? groups : []"
          :key="group"
          class="group-row is-inline-flex is-flex-direction-column is-justify-content-center is-align-items-center"
          @click="selectGroup(group)"
          :class="{
            selectable: !(forDevice && forDevice.parents && forDevice.parents.includes(group))
          }"
        >
          <group-icon
            :icon="list.devices[group].icon"
            :large="true"
          />
          <div class="pl-3 pr-3 py-3 is-flex is-align-items-center">
            <div>
              {{ list.devices[group].name }}
            </div>
            <b-icon
              v-if="forDevice && forDevice.parents && forDevice.parents.includes(group)"
              class="ml-2"
              icon="check"
              size="small"
            />
          </div>
        </div>
        <div
          class="group-row selectable is-inline-flex is-flex-direction-column is-justify-content-center is-align-items-center"
          @click="selectGroup(null)"
        >
          <b-icon
            icon="plus"
            size="is-medium"
          />
          <div class="mt-2">
            New user
          </div>
        </div>
      </div>
      <div class="is-flex mt-4">
        <div class="is-flex-grow-1"/>
        <b-button
          v-if="!forDevice || !noneSelected"
          rounded
          :label="forDevice ? 'Remove from ' + list.devices[forDevice.parents.find(d => groups.includes(d))].name : 'Skip'"
          :icon-right="forDevice ? 'delete' : 'arrow-right'"
          @click="noneSelected ? undefined : selectGroup('')"
        />
      </div>
    </b-step-item>
    <b-step-item
      headerClass="is-hidden"
    >
      <!-- Optionally, create the group -->
      <group-icon-selector
        v-model="selectedIcon"
      />
      <b-field
        label="Name"
        message="Create a user to manage settings for all of a user's devices in one place."
      >
        <b-input
          ref="nameField"
          v-model="name"
        />
      </b-field>
      <div class="is-flex pt-3">
        <div class="is-flex-grow-1"/>
        <b-button
          icon-right="arrow-right"
          type="is-primary"
          :disabled="loading"
          @click="createUser"
          rounded
        >
          Create "{{ name }}" {{ forDevice ? 'and assign device' + ' "' + forDevice.name + '"' : '' }}
        </b-button>
      </div>
    </b-step-item>
    <b-step-item
      headerClass="is-hidden"
    >
      <!-- Optionally, migrate the device's rules to the group -->
      <div class="mb-5 has-text-weight-bold">
        Assign blocking rules
      </div>
      <b-field v-if="step === 2">
        <b-radio
          v-model="migrate"
          :native-value="true"
        >
          Use <strong>{{ forDevice.name }}</strong>'s blocking rules as the new default for <strong>{{ selectedGroup ? (list.devices[selectedGroup] ? list.devices[selectedGroup].name : name) : 'account' }}</strong>
        </b-radio>
      </b-field>
      <b-field v-if="step === 2">
        <b-radio
          v-model="migrate"
          :native-value="false"
        >
          {{ selectedGroup ? 'Keep managing' : 'Manage' }} <strong>{{ forDevice.name }}</strong> on its own
        </b-radio>
      </b-field>
      <group-migration-diff
        class="mt-2"
        v-if="migrate && step === 2"
        :deviceModel="deviceModel"
        :groupModel="groupModel"
        :device="forDevice.id + (forDevice.mac ? '/' + forDevice.mac : '')"
        :devices="list"
        :mobile="mobile"
        :newGroup="selectedGroup"
        :newGroupName="selectedGroup ? (list.devices[selectedGroup] ? list.devices[selectedGroup].name : name) : 'all devices'"
        :deviceChanges="deviceMigrations"
        @update:deviceChanges="$emit('update:deviceMigrations', $event)"
        :groupChanges.sync="groupMigrations"
      />
      <div class="is-flex pt-3 mt-2">
        <div class="is-flex-grow-1"/>
        <b-button
          icon-right="arrow-right"
          type="is-primary"
          :disabled="loading"
          @click="completeMigrationStep"
          rounded
        >
          Next
        </b-button>
      </div>
    </b-step-item>
    <b-step-item
      headerClass="is-hidden"
    >
      <!-- Preview changes and apply -->
      <device-blocking-diff
        v-if="step === 3"
        :diff="preview"
        :device="forDevice.id + (forDevice.mac ? '/' + forDevice.mac : '')"
        :devices="list"
        :mobile="mobile"
        :newGroup="selectedGroup"
        :newGroupName="selectedGroup ? (list.devices[selectedGroup] ? list.devices[selectedGroup].name : name) : 'all devices'"
        :changes="changes"
        @update:changes="$emit('update:changes', $event)"
      />
      <div class="is-flex pt-3" v-if="step === 3">
        <div class="is-flex-grow-1"/>
        <b-button
          icon-right="arrow-right"
          type="is-primary"
          :disabled="loading"
          @click="finish"
          rounded
        >
          <span v-if="selectedGroup">
            Add device "{{ forDevice.name }}" to user "{{ list.devices[selectedGroup] ? list.devices[selectedGroup].name : name }}"
          </span>
          <span v-else>
            Remove user from device "{{ forDevice.name }}"
          </span>
        </b-button>
      </div>
    </b-step-item>
  </b-steps>
</template>

<script lang="ts">
import { Device, DevicesList } from '@/requests/devices-v2/get-devices-list'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import GetQuota from '@/requests/quotas/get-quota'
import GetDeviceSetGroupPreview, { BlockingModelDeviceDiff } from '@/requests/devices-v2/get-device-set-group-preview'
import GetDeviceDeleteGroupPreview from '@/requests/devices-v2/get-device-delete-group-preview'
import DeviceBlockingDiff, { applyPostSwitchChanges, PostSwitchChanges } from '@/components/my-devices/device-blocking-diff.vue'
import GroupIconSelector from '@/components/my-devices/group-icon-selector.vue'
import PostDevice from '@/requests/devices-v2/post-device'
import { MetaResp } from '@/requests/request'
import GroupIcon from '@/components/my-devices/group-icon.vue'
import GroupMigrationDiff from '@/components/my-devices/group-migration-diff.vue'
import GetBlocking, { BlockingModelResp } from '@/requests/blocking/get-blocking'

@Component({
  components: {
    DeviceBlockingDiff,
    GroupIconSelector,
    GroupIcon,
    GroupMigrationDiff
  }
})
export default class GroupSelector extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly value: string | undefined
  @Prop() readonly forDevice: Device | undefined
  @Prop() readonly groups: string[] | undefined
  @Prop() readonly list: DevicesList | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly deviceMigrations: PostSwitchChanges | undefined
  @Prop() readonly changes: PostSwitchChanges | undefined
  @Prop() readonly auth: string | undefined

  step = 0
  preview: BlockingModelDeviceDiff | null = null
  name = 'New user'
  selectedIcon = 'blue'
  selectedGroup = ''
  migrate = true
  deviceModel: BlockingModelResp | null = null
  groupModel: BlockingModelResp | null = null
  groupMigrations: PostSwitchChanges | null = null

  getBlocking = new GetBlocking()
  postDevice = new PostDevice()
  getQuota = new GetQuota()
  getDeviceSetGroupPreview = new GetDeviceSetGroupPreview()
  getDeviceDeleteGroupPreview = new GetDeviceDeleteGroupPreview()

  @Watch('auth', { immediate: true })
  setAuth (auth: string | undefined) {
    if (auth) {
      this.getBlocking.setAuth(auth)
      this.postDevice.setAuth(auth)
      this.getQuota.setAuth(auth)
      this.getDeviceSetGroupPreview.setAuth(auth)
      this.getDeviceDeleteGroupPreview.setAuth(auth)
    }
  }

  mounted () {
    this.reset()
  }
  
  @Watch('value')
  @Watch('forDevice')
  reset () {
    // If no groups have been created, jump straight in to creating one
    // if this is for a device
    if (this.step === 0 && this.forDevice && this.groups && !this.groups.length) {
      this.selectGroup(null)
    } else {
      this.step = 0
    }
    this.name = 'New user'
    this.selectedIcon = 'blue'
    this.selectedGroup = ''
  }

  selectGroup (group: string | null, skipLoadingCheck?: boolean) {
    if (!skipLoadingCheck && this.loading) {
      return
    }
    if (group === null) {
      // This means create a group. Check whether we will be allowed to do this.
      this.$emit('update:loading', true)
      this.getQuota.handle('groups').then(quota => {
        this.$emit('update:loading', false)
        if (quota.spec.currentValue >= quota.spec.maxValue) {
          // Not allowed
          this.$buefy.dialog.alert({
            type: 'is-danger',
            message: 'Too many users. Please delete one before creating any more.',
            confirmText: 'OK',
            onConfirm: () => {
              this.$emit('input', null)
            },
            onCancel: () => {
              this.$emit('input', null)
            }
          })
        } else {
          // Allowed
          this.step = 1
          setTimeout(() => {
            (this.$refs.nameField as any).focus()
          }, 500)
        }
      })
    } else if (this.forDevice) {
      if (this.forDevice.parents && this.forDevice.parents.includes(group)) {
        return
      }
      // This is for a particular device. Offer to migrate the rules from this device to the new group.
      this.selectedGroup = group
      this.migrate = group ? true : false
      this.$emit('update:loading', true)
      this.getBlocking.handle({
        'device-id': this.forDevice.id,
        mac: this.forDevice.mac
      }).then(resp => {
        this.deviceModel = resp.spec
        this.getBlocking.handle({
          'device-id': this.selectedGroup,
          'include-not-installed-apps': true
        }).then(resp => {
          this.groupModel = resp.spec
          this.$emit('update:loading', false)
          this.step = 2
        })
      })
    } else {
      this.$emit('input', group)
    }
  }

  createUser () {
    this.$emit('update:loading', true)
    this.postDevice.handle({
      type: 'group',
      name: this.name,
      icon: this.selectedIcon,
      metadata: {}
    }).then(details => {
      this.selectGroup(details.spec.id, true)
    })
  }

  completeMigrationStep () {
    const forDevice = this.forDevice
    if (!forDevice) {
      return
    }
    const getAndDisplayPreview = () => {
      const displayPreview = (preview: MetaResp<BlockingModelDeviceDiff>) => {
        this.$emit('update:loading', false)
        this.preview = preview.spec
        this.step = 3
      }
      if (this.selectedGroup) {
        this.getDeviceSetGroupPreview.handle({
          id: forDevice.id,
          mac: forDevice.mac,
          'plan-ahead': '168h',
          'new-group': this.selectedGroup
        }).then(displayPreview)
      } else {
        this.getDeviceDeleteGroupPreview.handle({
          id: forDevice.id,
          mac: forDevice.mac,
          'plan-ahead': '168h',
        }).then(displayPreview)
      }
    }
    this.$emit('update:loading', true)
    if (this.migrate) {
      const groupMigrations = this.groupMigrations
      if (!groupMigrations) {
        return
      }
      applyPostSwitchChanges(this.selectedGroup, '', groupMigrations).then(() => {
        getAndDisplayPreview()
      })
    } else {
      this.$emit('update:deviceMigrations', null)
      getAndDisplayPreview()
    }
  }

  finish () {
    this.$emit('input', this.selectedGroup)
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}

.group-row {
  vertical-align: top;
  width: 150px;
  height: 150px
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.35s cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
}
</style>
