<template>
  <b-field label="Color" :message="colorNames[selectedColor]" :addons="false" class="mb-5">
    <div class="is-flex is-flex-wrap-nowrap pt-3" style="overflow-x: auto; overflow-y: hidden;">
      <div
        class="is-flex is-flex-direction-column is-align-items-center mr-3"
        v-for="color in colors"
        :key="color"
      >
        <div
          class="selectable"
          style="border-radius: 50%; height: 55px; width: 55px; border: 1px solid rgba(0, 0, 0, 0.2);"
          :class="'has-background-' + color"
          @click="selectedColor = color;"
        />
        <b-icon
          v-show="selectedColor === color"
          class="mt-2"
          icon="check-circle"
          type="is-primary"
        />
      </div>
    </div>
  </b-field>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import GroupIcon from '@/components/my-devices/group-icon.vue'

@Component({
  components: {
    GroupIcon
  }
})
export default class GroupIconSelector extends Vue {
  @Prop() readonly value: string | undefined

  readonly iconNames = {}
  readonly colors = ['blue', 'pink', 'purple', 'deep-purple', 'indigo', 'cyan', 'teal', 'green', 'light-green', 'orange', 'white', 'black']
  readonly colorNames = {
    'pink': 'Pink',
    'purple': 'Purple',
    'deep-purple': 'Deep Purple',
    'indigo': 'Indigo',
    'blue': 'Blue',
    'cyan': 'Cyan',
    'teal': 'Teal',
    'green': 'Green',
    'light-green': 'Light Green',
    'orange': 'Orange',
    'white': 'White',
    'black': 'Black',
  }

  get selectedIcon (): string {
    if (!this.value) {
      return 'kyle'
    }
    const valueSplit = this.value.split('-')
    if (valueSplit.length < 2) {
      return 'kyle'
    }
    return valueSplit[0]
  }

  set selectedIcon (icon: string) {
    this.$emit('input', icon)
  }

  get selectedColor (): string {
    if (!this.value) {
      return 'white'
    }
    const valueSplit = this.value.split('-')
    if (valueSplit.length < 2) {
      return 'white'
    }
    return this.value.slice(valueSplit[0].length+1)
  }

  set selectedColor(color: string) {
    this.$emit('input', this.selectedIcon + '-' + color)
  }
}
</script>

<style scoped>
.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.35s cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
}
</style>
