<template>
  <collapse
    :open="true"
    v-if="
      (categoryConflicts && categoryConflicts.length !== Object.keys(resolvedCategories).length) ||
      (appConflicts && appConflicts.length !== Object.keys(resolvedApps).length) ||
      (domainConflicts && domainConflicts.length !== Object.keys(resolvedDomains).length)
    "
    title="Conflicts"
  >
    <div>
      <b-tabs type="is-boxed">
        <b-tab-item
          v-if="categoryConflicts"
          label="Categories"
        >
          <div
            v-for="(category, idx) in categoryConflicts"
            v-show="!resolvedCategories[category]"
            :key="category"
            class="list-element has-background-white px-4 py-3"
            :class="{'border-bottom': idx === categoryConflicts.length - 1}"
            :set="mDiff = categoryDiffFor(category)"
            style="min-height: 60px;"
          >
            <div class="is-flex is-align-items-center">
              <div>
                <div class="is-flex is-align-items-center">
                  <b-icon :icon="deviceModel.categories.meta.categoryData[category].icon" class="has-text-grey-dark mx-1" />
                  <div>
                    <div class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark">
                      {{ deviceModel.categories.meta.categoryData[category].name }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="is-flex-grow-1" />
              <div v-if="!mobile && !mDiff[0].screentime && !mDiff[1].screentime" class="is-flex is-align-items-center mr-3">
                <diff-element
                  :value="mDiff[0]"
                  :options="deviceModel.categories.meta.categoryData[category].options"
                  :screentime="deviceModel.screentimeRules"
                  class="mr-2"
                />
                <b-icon
                  icon="arrow-right"
                  type="is-grey-dark"
                />
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :options="groupModel.categories.meta.categoryData[category].options"
                  :screentime="groupModel.screentimeRules"
                />
              </div>
              <div>
                <b-dropdown position="is-bottom-left">
                  <template #trigger>
                    <b-tooltip
                      label="Resolve"
                    >
                      <b-button
                        icon-left="dots-vertical"
                        rounded
                      />
                    </b-tooltip>
                  </template>
                  <b-dropdown-item
                    @click="$set(resolvedCategories, category, true)"
                  >
                    Don't migrate
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyDeviceOptionForCategory(category)"
                  >
                    {{ deviceOptionForCategory(category) }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyNewGroupOptionForCategory(category)"
                  >
                    {{ newGroupOptionForCategory(category) }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
            <div class="mt-2 columns" style="position: relative;" v-if="mobile || mDiff[0].screentime || mDiff[1].screentime">
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  :value="mDiff[0]"
                  :options="deviceModel.categories.meta.categoryData[category].options"
                  :screentime="deviceModel.screentimeRules"
                  class="mr-2"
                />
              </div>
              <b-icon
                style="position: absolute; left: calc(50% - 12px); top: 12px;"
                icon="arrow-right"
                type="is-grey-dark"
              />
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :options="groupModel.categories.meta.categoryData[category].options"
                  :screentime="groupModel.screentimeRules"
                />
              </div>
            </div>
          </div>
        </b-tab-item>
        <b-tab-item
          v-if="appConflicts"
          label="Apps"
        >
          <div
            v-for="(app, idx) in appConflicts"
            v-show="!resolvedApps[app]"
            :key="app"
            class="list-element has-background-white px-4 py-3"
            :class="{'border-bottom': idx === appConflicts.length - 1}"
            :set="mDiff = appDiffFor(app)"
            style="min-height: 60px;"
          >
            <div class="is-flex is-align-items-center">
              <div>
                <a
                  class="is-size-6 has-text-weight-medium has-text-link pl-2"
                  target="blank"
                  :href="getStoreHref(app)"
                >
                  <b-icon icon="google-play" size="is-small" /> {{ deviceModel.apps.meta.appData[app].name }}
                </a>
              </div>
              <div class="is-flex-grow-1" />
              <div v-if="!mobile && !mDiff[0].screentime && !mDiff[1].screentime" class="is-flex is-align-items-center mr-3">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="deviceModel.screentimeRules"
                  class="mr-2"
                />
                <b-icon
                  icon="arrow-right"
                  type="is-grey-dark"
                />
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="groupModel.screentimeRules"
                />
              </div>
              <div>
                <b-dropdown position="is-bottom-left">
                  <template #trigger>
                    <b-tooltip
                      label="Resolve"
                    >
                      <b-button
                        icon-left="dots-vertical"
                        rounded
                      />
                    </b-tooltip>
                  </template>
                  <b-dropdown-item
                    @click="$set(resolvedApps, app, true)"
                  >
                    Don't migrate
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyDeviceOptionForApp(app)"
                  >
                    {{ deviceOptionForApp(app) }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyNewGroupOptionForApp(app)"
                  >
                    {{ newGroupOptionForApp(app) }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
            <div class="mt-2 columns" style="position: relative;" v-if="mobile || mDiff[0].screentime || mDiff[1].screentime">
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="deviceModel.screentimeRules"
                  class="mr-2"
                />
              </div>
              <b-icon
                style="position: absolute; left: calc(50% - 12px); top: 12px;"
                icon="arrow-right"
                type="is-grey-dark"
              />
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="groupModel.screentimeRules"
                />
              </div>
            </div>
          </div>
        </b-tab-item>
        <b-tab-item
          v-if="domainConflicts"
          label="Domains"
        >
          <div
            v-for="(domain, idx) in domainConflicts"
            v-show="!resolvedDomains[domain]"
            :key="domain"
            class="list-element has-background-white px-4 py-3"
            :class="{'border-bottom': idx === domainConflicts.length - 1}"
            :set="mDiff = domainDiffFor(domain)"
            style="min-height: 60px;"
          >
            <div class="is-flex is-align-items-center">
              <div>
                <div class="is-flex is-align-items-center">
                  <div>
                    <div class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark">
                      {{ domain }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="is-flex-grow-1" />
              <div v-if="!mobile && !mDiff[0].screentime && !mDiff[1].screentime" class="is-flex is-align-items-center mr-3">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="deviceModel.screentimeRules"
                  class="mr-2"
                />
                <b-icon
                  icon="arrow-right"
                  type="is-grey-dark"
                />
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="groupModel.screentimeRules"
                />
              </div>
              <div>
                <b-dropdown position="is-bottom-left">
                  <template #trigger>
                    <b-tooltip
                      label="Resolve"
                    >
                      <b-button
                        icon-left="dots-vertical"
                        rounded
                      />
                    </b-tooltip>
                  </template>
                  <b-dropdown-item
                    @click="$set(resolvedDomains, domain, true)"
                  >
                    Don't migrate
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyDeviceOptionForDomain(domain)"
                  >
                    {{ deviceOptionForDomain(domain) }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    @click="applyNewGroupOptionForDomain(domain)"
                  >
                    {{ newGroupOptionForDomain(domain) }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>
            <div class="mt-2 columns" style="position: relative;" v-if="mobile || mDiff[0].screentime || mDiff[1].screentime">
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  :value="mDiff[0]"
                  :screentime="deviceModel.screentimeRules"
                  class="mr-2"
                />
              </div>
              <b-icon
                style="position: absolute; left: calc(50% - 12px); top: 12px;"
                icon="arrow-right"
                type="is-grey-dark"
              />
              <div class="column is-half is-flex is-justify-content-center">
                <diff-element
                  class="ml-2"
                  :value="mDiff[1]"
                  :screentime="groupModel.screentimeRules"
                />
              </div>
            </div>
          </div>
        </b-tab-item>
      </b-tabs>
    </div>
  </collapse>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import DiffElement from '@/components/my-devices/diff-element.vue'
import { Prop, Watch } from 'vue-property-decorator'
import { Device, DevicesList } from '@/requests/devices-v2/get-devices-list'
import { BlockingModelResp } from '@/requests/blocking/get-blocking'
import { findMatchingTimer, findMatchingTimetable, getNewTimerDetails, getNewTimetableDetails, getTimerRuleset, getTimetableRuleset, PostSwitchChanges, screentimeDescription } from './device-blocking-diff.vue'
import { AppDisplay, CategoryDisplay, DomainDisplay, getAppDisplayForModel, getCategoryDisplayForModel, getDomainDisplayForModel } from '@/helpers/functions'
import { CategoryOptionsMetadata } from '@/requests/blocking/get-category-blocking'
import cloneDeep from 'lodash/cloneDeep'
import { DeviceRef } from '@/requests/blocking/get-app-blocking'
import { CategoriesRuleset, CategoryModel } from '@/requests/blocking/patch-category-blocking-base-ruleset'
import Collapse from '@/components/common/collapse.vue'

@Component({
  components: {
    DiffElement,
    Collapse
  }
})
export default class GroupMigrationDiff extends Vue {
  @Prop() readonly deviceModel: BlockingModelResp | undefined
  @Prop() readonly groupModel: BlockingModelResp | undefined
  @Prop() readonly device: string | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly newGroup: string | undefined
  @Prop() readonly newGroupName: string | undefined
  @Prop() readonly deviceChanges: PostSwitchChanges | undefined
  @Prop() readonly groupChanges: PostSwitchChanges | undefined

  categoryConflicts: number[] | null = null
  appConflicts: string[] | null = null
  domainConflicts: string[] | null = null
  resolvedCategories: {[id: number]: boolean} = {}
  resolvedApps: {[id: string]: boolean} = {}
  resolvedDomains: {[domain: string]: boolean} = {}

  currId = -1

  @Watch('deviceModel', { immediate: true })
  @Watch('groupModel', { immediate: true })
  @Watch('devices', { immediate: true })
  @Watch('device', { immediate: true })
  @Watch('newGroup', { immediate: true })
  calcConflicts () {
    const deviceModel = this.deviceModel
    const groupModel = this.groupModel
    const devices = this.devices
    const deviceId = this.device
    const newGroup = this.newGroup
    if (!deviceModel || !groupModel || !devices || !deviceId || newGroup === undefined) {
      return
    }
    const deviceChanges: PostSwitchChanges = {
      newTimers: [],
      newTimetables: [],
      changes: {
        changes: []
      }
    }
    const groupChanges: PostSwitchChanges = {
      newTimers: [],
      newTimetables: [],
      changes: {
        changes: []
      }
    }
    const device = (devices.devices as {[id: string]: Device})[deviceId] as Device
    const deviceRef = { accountId: '', deviceId: device.id, mac: device.mac }
    const categoryConflicts: number[] = []
    const appConflicts: string[] = []
    const domainConflicts: string[] = []
    if (deviceModel.categories && deviceModel.categories.meta && deviceModel.categories.meta.categoryOrder) {
      for (const category of deviceModel.categories.meta.categoryOrder) {
        const current = getCategoryDisplayForModel(deviceModel.categories.blockingModel, category, true, {})
        if (current.device.deviceId === device.id && (current.device.mac ? current.device.mac : '') === device.mac) {
          // Try to migrate
          const group = getCategoryDisplayForModel(groupModel.categories.blockingModel, category, true, {})
          if (group.device.deviceId === this.newGroup) {
            // Already has a rule, does it match?
            if (!this.categoryRulesMatch(category, current, group, deviceModel, groupModel)) {
              categoryConflicts.push(category)
              continue
            }
          } else {
            // Doesn't have a rule, add a matching one from the device
            this.applyDeviceOptionForCategoryWithChanges(category, groupChanges, deviceModel, groupModel, newGroup)
          }
          // Migrated successfully, remove the rule from the device
          this.clearCategoryForDevice(category, deviceChanges, current, deviceRef)
        }
      }
    }
    if (deviceModel.apps && deviceModel.apps.meta && deviceModel.apps.meta.appOrder) {
      if (deviceModel.apps.blockingModel.baseRuleset.approvalRequired) {
        deviceChanges.appApproval = false
        groupChanges.appApproval = true
      }
      for (const app of deviceModel.apps.meta.appOrder) {
        const current = getAppDisplayForModel(deviceModel.apps.blockingModel, app, true, {})
        if (!current.model.isFromCategory && current.device.deviceId === device.id && (current.device.mac ? current.device.mac : '') === device.mac) {
          // Try to migrate
          const group = getAppDisplayForModel(groupModel.apps.blockingModel, app, true, {})
          if (group.model.isFromCategory) {
            continue
          }
          if (group.device.deviceId === this.newGroup) {
            // Already has a rule, does it match?
            if (!this.appRulesMatch(current, group, deviceModel, groupModel)) {
              appConflicts.push(app)
              continue
            }
          } else {
            // Doesn't have a rule, add a matching one from the device
            this.applyDeviceOptionForAppWithChanges(app, groupChanges, deviceModel, groupModel, newGroup)
          }
          // Migrated successfully, remove the rule from the device
          this.clearAppForDevice(app, deviceChanges, current, deviceRef)
        }
      }
    }
    if (deviceModel.domains && deviceModel.domains.meta && deviceModel.domains.meta.domainOrder) {
      for (const domain of deviceModel.domains.meta.domainOrder) {
        const current = getDomainDisplayForModel(deviceModel.domains.blockingModel, domain, true, {})
        if (current.device.deviceId === device.id && (current.device.mac ? current.device.mac : '') === device.mac) {
          // Try to migrate
          const group = getDomainDisplayForModel(groupModel.domains.blockingModel, domain, true, {})
          if (group.device.deviceId === this.newGroup) {
            // Already has a rule, does it match?
            if (!this.domainRulesMatch(current, group, deviceModel, groupModel)) {
              domainConflicts.push(domain)
              continue
            }
          } else {
            // Doesn't have a rule, add a matching one from the device
            this.applyDeviceOptionForDomainWithChanges(domain, groupChanges, deviceModel, groupModel, newGroup)
          }
          // Migrated successfully, remove the rule from the device
          this.clearDomainForDevice(domain, deviceChanges, current, deviceRef)
        }
      }
    }
    this.categoryConflicts = categoryConflicts.length ? categoryConflicts : null
    this.appConflicts = appConflicts.length ? appConflicts : null
    this.domainConflicts = domainConflicts.length ? domainConflicts : null
    this.$emit('update:deviceChanges', deviceChanges)
    this.$emit('update:groupChanges', groupChanges)
  }

  categoryRulesMatch (category: number, device: CategoryDisplay, group: CategoryDisplay, deviceModel: BlockingModelResp, groupModel: BlockingModelResp): boolean {
    if (device.screentime !== group.screentime) {
      return false
    } else if (device.screentime) {
      // Both have screentime, check they are the same rules
      if (device.timers.length !== group.timers.length) {
        return false
      }
      if (device.timetables.length !== group.timetables.length) {
        return false
      }
      for (const timerId of device.timers) {
        const timer = deviceModel.screentimeRules.timers[timerId]
        const matchingTimer = findMatchingTimer(timer, groupModel.screentimeRules, groupModel.categories.blockingModel.deviceRef)
        if (matchingTimer === 0 || !group.timers.includes(matchingTimer)) {
          return false
        }
        const deviceRule = getTimerRuleset(timerId, device.device, deviceModel.categories.blockingModel) as CategoriesRuleset
        const groupRule = getTimerRuleset(matchingTimer, group.device, groupModel.categories.blockingModel) as CategoriesRuleset
        const deviceCategoryModel = deviceRule.categories[category] as CategoryModel
        const groupCategoryModel = groupRule.categories[category] as CategoryModel
        if (deviceCategoryModel.blocked !== groupCategoryModel.blocked) {
          return false
        }
        if (deviceCategoryModel.selectedOption !== groupCategoryModel.selectedOption) {
          return false
        }
      }
      for (const timetableId of device.timetables) {
        const timetable = deviceModel.screentimeRules.timetables[timetableId]
        const matchingTimetable = findMatchingTimetable(timetable, groupModel.screentimeRules, groupModel.categories.blockingModel.deviceRef)
        if (matchingTimetable === 0 || !group.timetables.includes(matchingTimetable)) {
          return false
        }
        const deviceRule = getTimetableRuleset(timetableId, device.device, deviceModel.categories.blockingModel) as CategoriesRuleset
        const groupRule = getTimetableRuleset(matchingTimetable, group.device, groupModel.categories.blockingModel) as CategoriesRuleset
        const deviceCategoryModel = deviceRule.categories[category] as CategoryModel
        const groupCategoryModel = groupRule.categories[category] as CategoryModel
        if (deviceCategoryModel.blocked !== groupCategoryModel.blocked) {
          return false
        }
        if (deviceCategoryModel.selectedOption !== groupCategoryModel.selectedOption) {
          return false
        }
      }
    } else if (device.model.blocked !== group.model.blocked) {
      return false
    } else if (device.model.selectedOption !== group.model.selectedOption) {
      return false
    }
    return true
  }

  clearCategoryForDevice (category: number, changes: PostSwitchChanges, current: CategoryDisplay, deviceRef: DeviceRef) {
    changes.changes.changes.push({
      category: {
        id: category,
        model: null,
        ruleset: {
          device: deviceRef
        }
      }
    })
    if (current.screentime) {
      if (current.timers) {
        for (const timer of current.timers) {
          changes.changes.changes.push({
            category: {
              id: category,
              model: null,
              ruleset: {
                device: deviceRef,
                source: {
                  timerId: timer,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (current.timetables) {
        for (const timetable of current.timetables) {
          changes.changes.changes.push({
            category: {
              id: category,
              model: null,
              ruleset: {
                device: deviceRef,
                source: {
                  timetableId: timetable,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    }
  }

  applyNewGroupOptionForCategory (category: number) {
    if (!this.deviceModel || !this.devices || !this.devices.devices || !this.device) {
      return
    }
    const device = this.devices.devices[this.device]
    const deviceRef = { accountId: '', deviceId: device.id, mac: device.mac }
    const newChanges = cloneDeep(this.deviceChanges) as PostSwitchChanges
    const current = getCategoryDisplayForModel(this.deviceModel.categories.blockingModel, category, true, {})
    this.clearCategoryForDevice(category, newChanges, current, deviceRef)
    this.$emit('update:deviceChanges', newChanges)
    this.$set(this.resolvedCategories, category, true)
  }

  newGroupOptionForCategory (category: number): string {
    if (!this.device || !this.devices || !this.groupModel) {
      throw new Error('need diff')
    }
    const newGroupName = this.newGroup ?
      'Accept ' + this.newGroupName + '\'s rule: ' :
      'Accept rule for all devices: '
    const desired = getCategoryDisplayForModel(this.groupModel.categories.blockingModel, category, true, {})
    if (desired.screentime) {
      return newGroupName + screentimeDescription(desired.timers, desired.timetables)
    } else if (typeof desired.model.selectedOption === 'number') {
      return newGroupName + (this.groupModel.categories.meta.categoryData[category].options as CategoryOptionsMetadata).options[desired.model.selectedOption].name
    } else if (desired.model.blocked) {
      return newGroupName + 'blocked'
    } else {
      return newGroupName + 'allowed'
    }
  }

  applyDeviceOptionForCategoryWithChanges (
    category: number, changes: PostSwitchChanges, deviceModel: BlockingModelResp, groupModel: BlockingModelResp,
    newGroup: string,
  ) {
    const desired = getCategoryDisplayForModel(deviceModel.categories.blockingModel, category, true, {})
    const current = getCategoryDisplayForModel(groupModel.categories.blockingModel, category, true, {})
    const device = { accountId: '', deviceId: newGroup, mac: '' }
    if (desired.screentime) {
      if (desired.timers) {
        for (const id of desired.timers) {
          const [newId, ruleset] = getNewTimerDetails(
            this.currId--, changes, device,
            deviceModel.screentimeRules, groupModel.screentimeRules, deviceModel.categories.blockingModel, id
          )
          changes.changes.changes.push({
            category: {
              id: category,
              model: ruleset.categories[category],
              ruleset: {
                device: device,
                source: {
                  timerId: newId,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (desired.timetables) {
        for (const id of desired.timetables) {
          const [newId, ruleset] = getNewTimetableDetails(
            this.currId--, changes, device,
            deviceModel.screentimeRules, groupModel.screentimeRules, deviceModel.categories.blockingModel, id
          )
          changes.changes.changes.push({
            category: {
              id: category,
              model: ruleset.categories[category],
              ruleset: {
                device: device,
                source: {
                  timetableId: newId,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    } else {
      changes.changes.changes.push({
        category: {
          id: category,
          model: desired.model,
          ruleset: {
            device: device
          }
        }
      })
      // If we are updating the new group and it currently has screentime rules selected
      // for this category, we must un-assign the category from those screentime rules
      // or the base rules we just added may not do nothing.
      if (current.screentime && device.deviceId === this.newGroup) {
        if (current.timers) {
          for (const timer of current.timers) {
            changes.changes.changes.push({
              category: {
                id: category,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timerId: timer,
                    timetableId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
        if (current.timetables) {
          for (const timetable of current.timetables) {
            changes.changes.changes.push({
              category: {
                id: category,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timetableId: timetable,
                    timerId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
      }
    }
  }

  applyDeviceOptionForCategory (category: number) {
    if (!this.deviceModel || !this.groupModel || this.newGroup === undefined) {
      return
    }
    const newChanges = cloneDeep(this.groupChanges) as PostSwitchChanges
    this.applyDeviceOptionForCategoryWithChanges(category, newChanges, this.deviceModel, this.groupModel, this.newGroup)
    this.$emit('update:groupChanges', newChanges)
    // This method just clears the category for this device, so that the new choice can apply:
    this.applyNewGroupOptionForCategory(category)
  }

  deviceOptionForCategory (category: number): string {
    if (!this.devices || this.newGroup === undefined || !this.deviceModel) {
      throw new Error('need diff')
    }
    const desired = getCategoryDisplayForModel(this.deviceModel.categories.blockingModel, category, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + this.newGroupName
    } else if (typeof desired.model.selectedOption === 'number') {
      return 'Apply ' + (this.deviceModel.categories.meta.categoryData[category].options as CategoryOptionsMetadata).options[desired.model.selectedOption].name + ' to ' + this.newGroupName
    } else if (desired.model.blocked) {
      return 'Block for ' + this.newGroupName
    } else {
      return 'Allow for ' + this.newGroupName
    }
  }

  categoryDiffFor (category: number): [CategoryDisplay, CategoryDisplay] {
    if (!this.groupModel || !this.deviceModel) {
      throw new Error('need diff')
    }
    return [
      getCategoryDisplayForModel(this.deviceModel.categories.blockingModel, category, true, {}),
      getCategoryDisplayForModel(this.groupModel.categories.blockingModel, category, true, {}),
    ]
  }

  getStoreHref (appId: string): string {
    return 'https://play.google.com/store/apps/details?id=' + encodeURIComponent(appId.split('/')[1])
  }

  appRulesMatch (device: AppDisplay, group: AppDisplay, deviceModel: BlockingModelResp, groupModel: BlockingModelResp): boolean {
    if (device.screentime !== group.screentime) {
      return false
    } else if (device.screentime) {
      // Both have screentime, check they are the same rules
      if (device.timers.length !== group.timers.length) {
        return false
      }
      if (device.timetables.length !== group.timetables.length) {
        return false
      }
      for (const timerId of device.timers) {
        const timer = deviceModel.screentimeRules.timers[timerId]
        const matchingTimer = findMatchingTimer(timer, groupModel.screentimeRules, groupModel.apps.blockingModel.deviceRef)
        if (matchingTimer === 0 || !group.timers.includes(matchingTimer)) {
          return false
        }
      }
      for (const timetableId of device.timetables) {
        const timetable = deviceModel.screentimeRules.timetables[timetableId]
        const matchingTimetable = findMatchingTimetable(timetable, groupModel.screentimeRules, groupModel.apps.blockingModel.deviceRef)
        if (matchingTimetable === 0 || !group.timetables.includes(matchingTimetable)) {
          return false
        }
      }
    } else if (device.model.blocked !== group.model.blocked) {
      return false
    }
    return true
  }

  clearAppForDevice (app: string, changes: PostSwitchChanges, current: AppDisplay, deviceRef: DeviceRef) {
    changes.changes.changes.push({
      app: {
        id: app,
        model: null,
        ruleset: {
          device: deviceRef
        }
      }
    })
    if (current.screentime) {
      if (current.timers) {
        for (const timer of current.timers) {
          changes.changes.changes.push({
            app: {
              id: app,
              model: null,
              ruleset: {
                device: deviceRef,
                source: {
                  timerId: timer,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (current.timetables) {
        for (const timetable of current.timetables) {
          changes.changes.changes.push({
            app: {
              id: app,
              model: null,
              ruleset: {
                device: deviceRef,
                source: {
                  timetableId: timetable,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    }
  }

  applyNewGroupOptionForApp (app: string) {
    if (!this.deviceModel || !this.devices || !this.devices.devices || !this.device) {
      return
    }
    const device = this.devices.devices[this.device]
    const deviceRef = { accountId: '', deviceId: device.id, mac: device.mac }
    const newChanges = cloneDeep(this.deviceChanges) as PostSwitchChanges
    const current = getAppDisplayForModel(this.deviceModel.apps.blockingModel, app, true, {})
    this.clearAppForDevice(app, newChanges, current, deviceRef)
    this.$emit('update:deviceChanges', newChanges)
    this.$set(this.resolvedApps, app, true)
  }

  newGroupOptionForApp (app: string): string {
    if (!this.device || !this.devices || !this.groupModel) {
      throw new Error('need diff')
    }
    const newGroupName = this.newGroup ?
      'Accept ' + this.newGroupName + '\'s rule: ' :
      'Accept rule for all devices: '
    const desired = getAppDisplayForModel(this.groupModel.apps.blockingModel, app, true, {})
    if (desired.screentime) {
      return newGroupName + screentimeDescription(desired.timers, desired.timetables)
    } else if (desired.model.blocked) {
      return newGroupName + 'blocked'
    } else {
      return newGroupName + 'allowed'
    }
  }

  applyDeviceOptionForAppWithChanges (
    app: string, changes: PostSwitchChanges, deviceModel: BlockingModelResp, groupModel: BlockingModelResp,
    newGroup: string,
  ) {
    const desired = getAppDisplayForModel(deviceModel.apps.blockingModel, app, true, {})
    const current = getAppDisplayForModel(groupModel.apps.blockingModel, app, true, {})
    const device = { accountId: '', deviceId: newGroup, mac: '' }
    if (desired.screentime) {
      if (desired.timers) {
        for (const id of desired.timers) {
          const [newId, ruleset] = getNewTimerDetails(
            this.currId--, changes, device,
            deviceModel.screentimeRules, groupModel.screentimeRules, deviceModel.apps.blockingModel, id
          )
          changes.changes.changes.push({
            app: {
              id: app,
              model: ruleset.apps[app],
              ruleset: {
                device: device,
                source: {
                  timerId: newId,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (desired.timetables) {
        for (const id of desired.timetables) {
          const [newId, ruleset] = getNewTimetableDetails(
            this.currId--, changes, device,
            deviceModel.screentimeRules, groupModel.screentimeRules, deviceModel.apps.blockingModel, id
          )
          changes.changes.changes.push({
            app: {
              id: app,
              model: ruleset.apps[app],
              ruleset: {
                device: device,
                source: {
                  timetableId: newId,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    } else {
      changes.changes.changes.push({
        app: {
          id: app,
          model: desired.model,
          ruleset: {
            device: device
          }
        }
      })
      // If we are updating the new group and it currently has screentime rules selected
      // for this category, we must un-assign the category from those screentime rules
      // or the base rules we just added may not do nothing.
      if (current.screentime && device.deviceId === this.newGroup) {
        if (current.timers) {
          for (const timer of current.timers) {
            changes.changes.changes.push({
              app: {
                id: app,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timerId: timer,
                    timetableId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
        if (current.timetables) {
          for (const timetable of current.timetables) {
            changes.changes.changes.push({
              app: {
                id: app,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timetableId: timetable,
                    timerId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
      }
    }
  }

  applyDeviceOptionForApp (app: string) {
    if (!this.deviceModel || !this.groupModel || this.newGroup === undefined) {
      return
    }
    const newChanges = cloneDeep(this.groupChanges) as PostSwitchChanges
    this.applyDeviceOptionForAppWithChanges(app, newChanges, this.deviceModel, this.groupModel, this.newGroup)
    this.$emit('update:groupChanges', newChanges)
    // This method just clears the category for this device, so that the new choice can apply:
    this.applyNewGroupOptionForApp(app)
  }

  deviceOptionForApp (app: string): string {
    if (!this.devices || this.newGroup === undefined || !this.deviceModel) {
      throw new Error('need diff')
    }
    const desired = getAppDisplayForModel(this.deviceModel.apps.blockingModel, app, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + this.newGroupName
    } else if (desired.model.blocked) {
      return 'Block for ' + this.newGroupName
    } else {
      return 'Allow for ' + this.newGroupName
    }
  }

  appDiffFor (app: string): [AppDisplay, AppDisplay] {
    if (!this.groupModel || !this.deviceModel) {
      throw new Error('need diff')
    }
    return [
      getAppDisplayForModel(this.deviceModel.apps.blockingModel, app, true, {}),
      getAppDisplayForModel(this.groupModel.apps.blockingModel, app, true, {}),
    ]
  }

  domainRulesMatch (device: DomainDisplay, group: DomainDisplay, deviceModel: BlockingModelResp, groupModel: BlockingModelResp): boolean {
    if (device.screentime !== group.screentime) {
      return false
    } else if (device.screentime) {
      // Both have screentime, check they are the same rules
      if (device.timers.length !== group.timers.length) {
        return false
      }
      if (device.timetables.length !== group.timetables.length) {
        return false
      }
      for (const timerId of device.timers) {
        const timer = deviceModel.screentimeRules.timers[timerId]
        const matchingTimer = findMatchingTimer(timer, groupModel.screentimeRules, groupModel.domains.blockingModel.deviceRef)
        if (matchingTimer === 0 || !group.timers.includes(matchingTimer)) {
          return false
        }
      }
      for (const timetableId of device.timetables) {
        const timetable = deviceModel.screentimeRules.timetables[timetableId]
        const matchingTimetable = findMatchingTimetable(timetable, groupModel.screentimeRules, groupModel.domains.blockingModel.deviceRef)
        if (matchingTimetable === 0 || !group.timetables.includes(matchingTimetable)) {
          return false
        }
      }
    } else if (device.model.blocked !== group.model.blocked) {
      return false
    }
    return true
  }

  clearDomainForDevice (domain: string, changes: PostSwitchChanges, current: DomainDisplay, deviceRef: DeviceRef) {
    changes.changes.changes.push({
      domain: {
        id: domain,
        model: null,
        ruleset: {
          device: deviceRef
        }
      }
    })
    if (current.screentime) {
      if (current.timers) {
        for (const timer of current.timers) {
          changes.changes.changes.push({
            domain: {
              id: domain,
              model: null,
              ruleset: {
                device: deviceRef,
                source: {
                  timerId: timer,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (current.timetables) {
        for (const timetable of current.timetables) {
          changes.changes.changes.push({
            domain: {
              id: domain,
              model: null,
              ruleset: {
                device: deviceRef,
                source: {
                  timetableId: timetable,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    }
  }

  applyNewGroupOptionForDomain (domain: string) {
    if (!this.deviceModel || !this.devices || !this.devices.devices || !this.device) {
      return
    }
    const device = this.devices.devices[this.device]
    const deviceRef = { accountId: '', deviceId: device.id, mac: device.mac }
    const newChanges = cloneDeep(this.deviceChanges) as PostSwitchChanges
    const current = getDomainDisplayForModel(this.deviceModel.domains.blockingModel, domain, true, {})
    this.clearDomainForDevice(domain, newChanges, current, deviceRef)
    this.$emit('update:deviceChanges', newChanges)
    this.$set(this.resolvedDomains, domain, true)
  }

  newGroupOptionForDomain (domain: string): string {
    if (!this.device || !this.devices || !this.groupModel) {
      throw new Error('need diff')
    }
    const newGroupName = this.newGroup ?
      'Accept ' + this.newGroupName + '\'s rule: ' :
      'Accept rule for all devices: '
    const desired = getDomainDisplayForModel(this.groupModel.domains.blockingModel, domain, true, {})
    if (desired.screentime) {
      return newGroupName + screentimeDescription(desired.timers, desired.timetables)
    } else if (desired.model.blocked) {
      return newGroupName + 'blocked'
    } else {
      return newGroupName + 'allowed'
    }
  }

  applyDeviceOptionForDomainWithChanges (
    domain: string, changes: PostSwitchChanges, deviceModel: BlockingModelResp, groupModel: BlockingModelResp,
    newGroup: string,
  ) {
    const desired = getDomainDisplayForModel(deviceModel.domains.blockingModel, domain, true, {})
    const current = getDomainDisplayForModel(groupModel.domains.blockingModel, domain, true, {})
    const device = { accountId: '', deviceId: newGroup, mac: '' }
    if (desired.screentime) {
      if (desired.timers) {
        for (const id of desired.timers) {
          const [newId, ruleset] = getNewTimerDetails(
            this.currId--, changes, device,
            deviceModel.screentimeRules, groupModel.screentimeRules, deviceModel.domains.blockingModel, id
          )
          changes.changes.changes.push({
            domain: {
              id: domain,
              model: ruleset.domains[domain],
              ruleset: {
                device: device,
                source: {
                  timerId: newId,
                  timetableId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (desired.timetables) {
        for (const id of desired.timetables) {
          const [newId, ruleset] = getNewTimetableDetails(
            this.currId--, changes, device,
            deviceModel.screentimeRules, groupModel.screentimeRules, deviceModel.domains.blockingModel, id
          )
          changes.changes.changes.push({
            domain: {
              id: domain,
              model: ruleset.domains[domain],
              ruleset: {
                device: device,
                source: {
                  timetableId: newId,
                  timerId: null,
                  deadlineId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
    } else {
      changes.changes.changes.push({
        domain: {
          id: domain,
          model: desired.model,
          ruleset: {
            device: device
          }
        }
      })
      // If we are updating the new group and it currently has screentime rules selected
      // for this category, we must un-assign the category from those screentime rules
      // or the base rules we just added may not do nothing.
      if (current.screentime && device.deviceId === this.newGroup) {
        if (current.timers) {
          for (const timer of current.timers) {
            changes.changes.changes.push({
              domain: {
                id: domain,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timerId: timer,
                    timetableId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
        if (current.timetables) {
          for (const timetable of current.timetables) {
            changes.changes.changes.push({
              domain: {
                id: domain,
                model: null,
                ruleset: {
                  device: device,
                  source: {
                    timetableId: timetable,
                    timerId: null,
                    deadlineId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
      }
    }
  }

  applyDeviceOptionForDomain (domain: string) {
    if (!this.deviceModel || !this.groupModel || this.newGroup === undefined) {
      return
    }
    const newChanges = cloneDeep(this.groupChanges) as PostSwitchChanges
    this.applyDeviceOptionForDomainWithChanges(domain, newChanges, this.deviceModel, this.groupModel, this.newGroup)
    this.$emit('update:groupChanges', newChanges)
    // This method just clears the category for this device, so that the new choice can apply:
    this.applyNewGroupOptionForDomain(domain)
  }

  deviceOptionForDomain (domain: string): string {
    if (!this.devices || this.newGroup === undefined || !this.deviceModel) {
      throw new Error('need diff')
    }
    const desired = getDomainDisplayForModel(this.deviceModel.domains.blockingModel, domain, true, {})
    if (desired.screentime) {
      return 'Apply ' + screentimeDescription(desired.timers, desired.timetables) + ' to ' + this.newGroupName
    } else if (desired.model.blocked) {
      return 'Block for ' + this.newGroupName
    } else {
      return 'Allow for ' + this.newGroupName
    }
  }

  domainDiffFor (domain: string): [DomainDisplay, DomainDisplay] {
    if (!this.groupModel || !this.deviceModel) {
      throw new Error('need diff')
    }
    return [
      getDomainDisplayForModel(this.deviceModel.domains.blockingModel, domain, true, {}),
      getDomainDisplayForModel(this.groupModel.domains.blockingModel, domain, true, {}),
    ]
  }
}
</script>

<style scoped>
.list-element {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1.0);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
