<template>
    <span
      v-if="icon"
      style="display: inline-block; border-radius: 50%; height: 55px; width: 55px; overflow: hidden; border: 1px solid rgba(0, 0, 0, 0.3);"
      :class="imgClass"
      :style="small ? 'transform: scale(0.4);' : (large ? '' : 'transform: scale(0.75);')"
    >
      
    </span>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class GroupIcon extends Vue {
  @Prop() readonly icon: string | undefined
  @Prop() readonly large: boolean | undefined
  @Prop() readonly small: boolean | undefined

  get imgClass (): string {
    if (!this.icon) {
      return ''
    }
    const iconSplit = this.icon.split('-')
    if (iconSplit.length < 2) {
      return ''
    }
    return 'has-background-' + this.icon.slice(iconSplit[0].length+1)
  }
}
</script>
