<template>
  <div class="card p-5">
    <span v-if="!isConflict">
      Unknown error.
    </span>
    <span v-else>
      Another device is registered to this IP.
    </span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { LinkSourceIpResult } from '@/helpers/functions'

@Component
export default class LinkedIpWarning extends Vue {
  @Prop() readonly reason: LinkSourceIpResult | undefined

  get isConflict(): Boolean {
    return this.reason == LinkSourceIpResult.Conflict || !this.reason
  }
}
</script>

<style scoped>
ul {
  list-style-type: disc;
  padding-left: 30px;
}
</style>