<template>
  <div>
    <component
      v-for="component in displayComponents"
      :key="component"
      :is="component"
      :num="10"
      :deviceID="deviceID"
      :mac="mac"
      :isPro="isPro"
      @done="loadedIdx++"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import MyDeviceItem from '@/components/account-home/my-device-item.vue'
import AlertsItem from '@/components/account-home/alerts-item.vue'
import { Prop } from 'vue-property-decorator'
import UsageItem from '@/components/account-home/usage-item.vue'
import BlockedCategoriesItem from '@/components/account-home/blocked-categories-item.vue'
import ViewedCategoriesItem from '@/components/account-home/viewed-categories-item.vue'
import OnlineItem from '@/components/account-home/online-item.vue'

@Component({
  components: {
    MyDeviceItem,
    AlertsItem,
    UsageItem,
    BlockedCategoriesItem,
    ViewedCategoriesItem,
    OnlineItem
  }
})
export default class UsageTiles extends Vue {
  @Prop() readonly isPro: boolean | undefined
  @Prop() readonly showMyDevice: boolean | undefined
  @Prop() readonly deviceID: string | undefined
  @Prop() readonly mac: string | undefined

  /**
   * The names of components to load on the homepage.
   */
  readonly COMPONENTS = [
    'my-device-item',
    'alerts-item',
    'usage-item',
    'blocked-categories-item',
    'viewed-categories-item',
    'online-item',
  ]

  /**
   * The index of the component within COMPONENTS
   * we have loaded.
   */
  loadedIdx = 0

  /**
   * @returns The names of components to display on the homepage.
   */
  get displayComponents (): string[] {
    return this.COMPONENTS.slice(this.showMyDevice ? 0 : 1, this.loadedIdx + ((!this.showMyDevice ? 2 : 1)))
  }
}
</script>
