<template>
  <div
    class="outer px-2 py-1 is-flex is-align-items-center has-text-light is-family-secondary has-text-weight-normal"
    
  >
    <b-icon icon="account" size="is-small" class="px-3"/>
    <div class="pl-1 pr-2" :style="mobile ? 'max-width: 225px; overflow:hidden; text-overflow: ellipsis;' : undefined">
      {{ email }}
    </div>
    <div>
      <subscription-tag :subStatus="subStatus" />
    </div>
    <!-- Dropdown for more options -->
    <b-dropdown
      position="is-bottom-left"
      v-model="moreValue"
    >
      <!-- Three dots trigger -->
      <b-button
        outlined
        rounded
        type="is-light"
        size="is-small"
        class="ml-2"
        slot="trigger"
        icon-left="dots-horizontal"
      />
      <!-- Items -->
      <b-dropdown-item
        class="has-text-left"
        value="settings"
      >
        Account settings
      </b-dropdown-item>
      <b-dropdown-item
        class="has-text-left"
        value="logout"
      >
        Log out
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { EMAIL_STORAGE_NAME, TOKEN_STORAGE_NAME } from '@/helpers/constants'
import { Prop } from 'vue-property-decorator'
import SubscriptionTag from '@/components/common/subscription-tag.vue'
import { invalidateDeviceCache } from '@/helpers/functions'

type MoreValue = 'settings' | 'logout' | 'nothing'

@Component({
  components: {
    SubscriptionTag
  }
})
export default class Account extends Vue {
  /**
   * Whether to show the mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * The subscription status from the JWT.
   */
  @Prop() readonly subStatus: string | undefined
  
  /**
   * @returns The signed-in email.
   */
  get email (): string {
    const email = localStorage.getItem(EMAIL_STORAGE_NAME)
    return email || ''
  }

  /**
   * Called when an item in the 'more' dropdown
   * is clicked.
   * @param val The selected value.
   */
  set moreValue (val: MoreValue) {
    switch (val) {
      case 'settings':
        this.$router.push({
          name: 'AccountSettings'
        })
        break
      case 'logout':
        this.logout()
        break
    }
  }

  /**
   * Logout and redirect to the home page.
   */
  logout (): void {
    invalidateDeviceCache()
    localStorage.removeItem(TOKEN_STORAGE_NAME)
    localStorage.removeItem(EMAIL_STORAGE_NAME)
    this.$router.push({
      name: 'Login'
    })
  }
}
</script>

<style scoped>
.outer {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  align-items: center;
}
</style>
