<template>
  <div
    class="card px-5 py-5 mr-5 mt-5 mb-3 has-background-white has-text-grey-dark"
    @click="$emit('click', $event)"
    :class="{'hover-effect': clickable, 'card-mobile': mobile}"  
  >
    <div class="card-title">
      <b-icon v-if="icon" :icon="icon" class="mr-2"/>
      <slot name="top-left"/>
      <skeleton-text v-if="loading" width="150px"/>
      <div class="has-text-weight-semibold is-size-6" v-else :class="titleClass">{{ title }}</div>
      <div style="flex-grow: 1"/>
      <slot name="top-right"/>
    </div>
    <div v-if="tags">
      <span
        v-for="(tag, idx) in tags"
        :key="idx"
      >
        <router-link
          v-if="buttonLinks[tag.name]"
          :to="buttonLinks[tag.name]"
        >
          <b-tag
            :type="tag.type ? tag.type : 'is-primary'"
            :icon="tag.isGroupIcon ? undefined : tag.icon"
            class="mb-3 mr-2 underline-hover"
            size="is-small"
            rounded
            style="position: relative;"
          >
            <group-icon
              style="position: absolute; top: -16px; left: -10px;"
              v-if="tag.isGroupIcon"
              :icon="tag.icon"
              :small="true"
            />
            <span :class="{'pl-5': tag.isGroupIcon}">
              {{ tag.text }}
            </span>
          </b-tag>
        </router-link>
        <b-tag
          v-else
          :type="tag.type ? tag.type : 'is-primary'"
          :icon="tag.isGroupIcon ? undefined : tag.icon"
          class="mb-3 mr-2 underline-hover"
          size="is-small"
          rounded
          @click.native="tagClick(tag, $event)"
          style="position: relative;"
        >
          <group-icon
            style="position: absolute; top: -16px; left: -10px;"
            v-if="tag.isGroupIcon"
            :icon="tag.icon"
            :small="true"
          />
          <span :class="{'pl-5': tag.isGroupIcon}">
            {{ tag.text }}
          </span>
        </b-tag>
      </span>
    </div>
    <div v-if="fields" class="mb-3">
      <div
        class="is-size-7 mt-1 mb-1"
        v-for="(field, idx) in fields"
        :key="idx"
      >
        <strong :class="field[2]">{{ field[0] }}</strong> {{ field[1] }}
      </div>
    </div>
    <div v-if="buttons">
      <b-button
        v-for="(button, idx) in buttons"
        :key="idx"
        :tag="buttonLinks[button[0]] ? 'router-link': 'button'"
        :to="buttonLinks[button[0]]"
        :type="button[2] ? button[2] : 'is-primary'"
        :disabled="disabled"
        class="mt-3"
        rounded outlined expanded
        @click="$emit('input-' + button[0])"
      >
        {{ button[1] }}
      </b-button>
    </div>
    <div v-if="dropdowns">
      <b-dropdown
        v-for="dropdown in dropdowns"
        :key="dropdown[0]"
        :disabled="disabled"
        @input="buttonLinks[$event] ? $router.push(buttonLinks[$event]) : $emit('input-' + $event)"
        expanded
      >
        <template #trigger="{ active }">
          <b-button
            class="mt-3"
            :label="dropdown[0]"
            type="is-primary"
            :icon-right="active ? 'menu-up' : 'menu-down'"
            rounded outlined expanded
          />
        </template>
        <b-dropdown-item
          v-for="item in dropdown[1]"
          :key="item[0]"
          :value="item[0]"
        >
          {{ item[1] }}
        </b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import SkeletonText from '@/components/common/skeleton-text.vue'
import { Location } from 'vue-router'
import GroupIcon from '@/components/my-devices/group-icon.vue'

export type ButtonLinksType = {[buttonName: string]: Location}

export interface Tag {
  name: string;
  text: string;
  type: string;
  icon: string;
  isGroupIcon?: boolean;
}

@Component({
  components: {
    SkeletonText,
    GroupIcon
  }
})
export default class ButtonFieldCard extends Vue {
  @Prop() readonly disabled: boolean | undefined
  @Prop() readonly clickable: boolean | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly title: string | undefined
  @Prop() readonly titleClass: string | undefined
  @Prop() readonly icon: string | undefined
  /**
   * Table-like fields to show below the title.
   * [name, data, name class].
   */
  @Prop() readonly fields: string[][] | undefined
  @Prop() readonly tags: Tag[] | undefined
  /**
   * Buttons to show below the fields.
   * [name, text] where name is later used
   * to emit click events with the name input-{name}.
   */
  @Prop() readonly buttons: string[][] | undefined
  /**
   * Dropdowns to show below the fields.
   * [text, [name, text][]][] where name is later
   * used to emit click events with the name input-{name}.
   */
  @Prop() readonly dropdowns: [string, [string, string][]][] | undefined
  @Prop() readonly loading: boolean | undefined
  /**
   * Optionally, a Route to use for each button instead of firing an event.
   * Map from button name to route.
   */
  @Prop({ default: () => { return {} } })
  readonly buttonLinks: ButtonLinksType | undefined

  tagClick (tag: Tag, event: MouseEvent) {
    event.preventDefault()
    event.stopPropagation()
    this.$emit('input-' + tag.name)
  }
}
</script>

<style scoped>
.card {
  vertical-align: top;
  width: 300px;
  display: inline-block;
  border-radius: 20px;
  overflow: visible;
}

.card-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card-mobile {
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hover-effect {
  transition: 0.3s;
  cursor: pointer;
}

.underline-hover:hover {
  text-decoration: underline;
}

.hover-effect:hover {
  transform: scale(1.02);
}

</style>
