<template>
  <b-dropdown
    :position="position"
    append-to-body
    :set="mSelectedDevice = selection ? devices.devices[selection.id + (selection.mac ? '/' + selection.mac : '')] : null"
    @active-change="expanded = $event"
    ref="dropdown"
    trap-focus
  >
    <template #trigger>
      <b-button
        rounded
        icon-right="menu-down"
        :icon-left="value === undefined ? undefined : (mSelectedDevice ? getDeviceIcon(mSelectedDevice) : undefined)"
        type="is-primary"
        :disabled="disabled"
      >
        <span>
          {{ value === undefined ? 'Select a device' : (mSelectedDevice ? (mSelectedDevice.type === 'group' ? mSelectedDevice.name + '\'s devices' : mSelectedDevice.name) : 'All devices') }}
        </span>
      </b-button>
    </template>
    <b-dropdown-item
      :focusable="false"
      custom
      :paddingless="true"
    >
      <div style="width: 300px;">
        <transition-group name="appear">
          <div
            v-for="device in listItems"
            :key="device.uid"
            class="device-category py-3 pt-4"
            :class="{'has-background-primary has-text-white': device.selected, 'pr-3': !mobile, 'pl-6': device.indented, 'pl-4': !device.indented}"
            @click="selectDevice(device)"
          >
            <div class="is-flex is-justify-content-space-between is-align-items-center">
              <div class="is-flex is-align-items-center">
                <span
                  v-if="device.groupIcon"
                  style="width: 22px; height: 22px; position: relative; top: -15px; left: -15px;"
                  class="mr-3"
                >
                  <group-icon
                    :icon="device.groupIcon"
                    :small="true"
                  />
                </span>
                <b-icon
                  v-else
                  class="mr-3"
                  :icon="device.icon"
                />
                <div>
                  <div>
                    {{ device.label }}
                  </div>
                  <div
                    v-if="typeof device.lastActivity === 'number'"
                    class="is-size-7"
                    :class="device.selected ? 'has-text-white' : 'has-text-grey'"
                  >
                    Last seen: {{ formatTime(device.lastActivity, true) }}
                  </div>
                </div>
              </div>
              <div>
                <b-button
                  v-if="device.expandable"
                  :icon-right="expandedDevices[device.uid] ? 'arrow-up-thick' : 'arrow-down-thick'"
                  @click="expandedDevices[device.uid] ? $set(expandedDevices, device.uid, false) : $set(expandedDevices, device.uid, true); $event.stopPropagation();"
                  rounded
                />
              </div>
            </div>
          </div>
        </transition-group>
        <footer class="modal-card-foot" v-if="supportString">
          <div class="content is-size-7 px-2">
            <i>
              {{ supportString }}
            </i>
          </div>
        </footer>
      </div>
    </b-dropdown-item>
  </b-dropdown>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { Device, DevicesList, DeviceType } from '@/requests/devices-v2/get-devices-list'
import { DeviceSelection, getDeviceIcon } from '@/helpers/functions'
import GroupIcon from '@/components/my-devices/group-icon.vue'
import dayjs from 'dayjs'
import cloneDeep from 'lodash/cloneDeep'

interface ListItem {
  uid: string;
  id: string;
  mac: string;
  selected: boolean;
  groupIcon?: string;
  icon?: string;
  label: string;
  lastActivity?: number;
  expandable?: boolean;
  indented?: boolean;
}

/**
 * Component to select a device registered to the user.
 */
@Component({
  components: {
    GroupIcon
  }
})
export default class DeviceSelector extends Vue {
  @Prop({ default: 'is-bottom-left' }) readonly position: string | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly validTypes: (DeviceType | '')[] | undefined
  @Prop() readonly value: DeviceSelection | undefined
  @Prop() readonly validByMetadata: string | undefined
  @Prop() readonly supportString: string | undefined
  @Prop() readonly disabled: boolean | undefined

  expanded = false
  expandedDevices: {[uid: string]: boolean} = {}
  ungroupedDevices: Device[] = []
  listItems: ListItem[] = []
  selection: DeviceSelection | null = null

  @Watch('expandedDevices', { deep: true })
  expandedUpdate () {
    this.updateDevices(this.devices)
  }

  @Watch('devices', { immediate: true })
  updateDevices (devices: DevicesList | undefined) {
    if (!devices) {
      return
    }
    const value = this.value
    const validTypes = this.validTypes
    const newListItems: ListItem[] = []
    let ungrouped: Device[] = []
    let routers: Device[] = []
    let groups: Device[] = []
    const devicesMap = devices.devices
    if (devices.deviceOrder && devicesMap) {
      const groupIds = devices.deviceOrder.filter(deviceId => devicesMap[deviceId].type === 'group')
      const routerIds = devices.deviceOrder.filter(deviceId => devicesMap[deviceId].type === 'router')
      const ungroupedIds = devices.deviceOrder.filter(deviceId => {
        const device = devicesMap[deviceId]
        return device.type !== 'group' && device.type !== 'router' && device.type !== 'router-client' && (
          !device.parents ||
          !device.parents.some(parent => groupIds.includes(parent))
        )
      })
      groups = groupIds.map(id => devicesMap[id])
      routers = routerIds.map(id => devicesMap[id])
      ungrouped = ungroupedIds.map(id => devicesMap[id])
    }
    // Only show valid ungrouped devices
    ungrouped = ungrouped.filter(device => !validTypes || this.deviceIsValid(validTypes, device))
    if (!validTypes || validTypes.includes('') || ungrouped.length > 0) {
      newListItems.push({
        uid: '',
        id: '',
        mac: '',
        selected: value !== undefined && (value.id === '' || ungrouped.some(device => device.id === value.id)),
        label: 'All devices',
        expandable: ungrouped.length > 0
      })
      if (this.expandedDevices['']) {
        for (const device of ungrouped) {
          newListItems.push({
            uid: device.id,
            id: device.id,
            mac: '',
            selected: value !== undefined && value.id === device.id,
            icon: getDeviceIcon(device),
            label: device.name,
            lastActivity: device.lastActivity,
            indented: true,
          })
        }
      }
    }
    for (const group of groups) {
      if (
        !validTypes ||
        this.deviceIsValid(validTypes, group) ||
        (devicesMap && group.children && group.children.some(child => this.deviceIsValid(validTypes, devicesMap[child])))
      ) {
        newListItems.push({
          uid: group.id,
          id: group.id,
          mac: '',
          selected: value !== undefined && (
            value.id === group.id ||
            (group.children !== null && devicesMap !== null && group.children.some(child => devicesMap[child].id === value.id && devicesMap[child].mac === value.mac))
          ),
          groupIcon: group.icon,
          label: group.name,
          lastActivity: group.lastActivity,
          expandable: group.children !== null && group.children.some(child => !validTypes || (devicesMap && this.deviceIsValid(validTypes, devicesMap[child])))
        })
        if (this.expandedDevices[group.id] && group.children && devicesMap) {
          for (const childId of group.children) {
            const child = devicesMap[childId]
            if (validTypes && !this.deviceIsValid(validTypes, child)) {
              continue
            }
            newListItems.push({
              uid: child.id + (child.mac ? '/' + child.mac : ''),
              id: child.id,
              mac: child.mac,
              selected: value !== undefined && value.id === child.id && value.mac === child.mac,
              icon: getDeviceIcon(child),
              label: child.name,
              lastActivity: child.lastActivity,
              indented: true
            })
          }
        }
      }
    }
    for (const router of routers) {
      if (
        !validTypes ||
        this.deviceIsValid(validTypes, router) ||
        (devicesMap && router.children && router.children.some(child => this.deviceIsValid(validTypes, devicesMap[child])))
      ) {
        newListItems.push({
          uid: router.id,
          id: router.id,
          mac: '',
          selected: value !== undefined && (
            value.id === router.id ||
            (router.children !== null && devicesMap !== null && router.children.some(child => devicesMap[child].id === value.id && devicesMap[child].mac === value.mac))
          ),
          icon: getDeviceIcon(router),
          label: router.name,
          lastActivity: router.lastActivity,
          expandable: router.children !== null && router.children.some(child => !validTypes || (devicesMap && this.deviceIsValid(validTypes, devicesMap[child])))
        })
        if (this.expandedDevices[router.id] && router.children && devicesMap) {
          for (const childId of router.children) {
            const child = devicesMap[childId]
            if (validTypes && !this.deviceIsValid(validTypes, child)) {
              continue
            }
            newListItems.push({
              uid: child.id + (child.mac ? '/' + child.mac : ''),
              id: child.id,
              mac: child.mac,
              selected: value !== undefined && value.id === child.id && value.mac === child.mac,
              icon: getDeviceIcon(child),
              label: child.name,
              lastActivity: child.lastActivity,
              indented: true
            })
          }
        }
      }
    }
    if (!groups.length && this.expandedDevices[''] === undefined) {
      this.$set(this.expandedDevices, '', true)
    }
    this.listItems = newListItems
    this.ungroupedDevices = ungrouped
  }

  @Watch('value', { immediate: true })
  updateSelection (newSelection: DeviceSelection | undefined) {
    this.selection = newSelection ? cloneDeep(newSelection) : null
    this.updateDevices(this.devices)
  }

  deviceIsValid (validTypes: string[], device: Device): Boolean {
    if (!validTypes.includes(device.type)) {
      return false
    }
    if (this.validByMetadata) {
      const split = this.validByMetadata.split("=")
      if (split.length != 2) {
        throw new Error('invalid validByMetadata format')
      }
      if (!device.metadata) {
        return false
      }
      const val = device.metadata[split[0]]
      if (val === undefined) {
        return false
      }
      if (split[1] !== '*' && val !== split[1]) {
        return false
      }
    }
    return true
  }

  getDeviceIcon (device: Device): string | undefined {
    return getDeviceIcon(device)
  }

  formatTime (time: number, isUsageData?: boolean): string {
    if (isUsageData && this.devices && this.devices.activityStatus !== 'OK') {
      if (this.devices.activityStatus === 'OFF_LOGGING') {
        return 'Logging is disabled'
      } else {
        return 'Temporarily unavailable'
      }
    }
    return time ? dayjs.unix(time).fromNow() : 'Never (or over 90 days ago)'
  }

  @Watch('expanded', { immediate: true })
  updateParent (expanded: boolean) {
    if (!expanded) {
      this.selection = this.value ? cloneDeep(this.value) : null
    }
  }

  selectDevice (device: ListItem) {
    if (!this.devices || !this.devices.devices) {
      return
    }
    if (this.validTypes) {
      if (device.id === '' && !this.validTypes.includes('')) {
        this.$set(this.expandedDevices, '', true)
      } else if (device.id !== '' && !this.deviceIsValid(this.validTypes, this.devices.devices[device.uid])) {
        this.$set(this.expandedDevices, device.id, true)
      } else {
        this.selection = { id: device.id, mac: device.mac }
        this.select()
      }
    } else {
      this.selection = { id: device.id, mac: device.mac }
      this.select()
    }
  }

  toggle () {
    (this.$refs['dropdown'] as any).toggle()
  }

  select () {
    this.$emit('input', this.selection)
    this.toggle()
  }
}
</script>

<style scoped>
.device-category {
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1.0);
}

.appear-enter, .appear-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.appear-leave-active {
  position: absolute;
}
</style>
