<template>
  <b-dropdown
    :position="position"
    append-to-body
    @active-change="expanded = $event"
    :style="expanded ? 'position: relative; top: -4px;' : undefined"
    ref="dropdown"
    trap-focus
  >
    <template #trigger>
      <b-button
        v-show="!expanded"
        rounded
        icon-right="menu-down"
        type="is-primary"
        :disabled="disabled"
      >
        <span>
          {{ numSelected }} device{{ numSelected === 1 ? '' : 's' }} selected
        </span>
      </b-button>
    </template>
    <b-dropdown-item
      :focusable="false"
      custom
      :paddingless="true"
    >
      <div :style="mobile ? 'max-width: 325px; overflow-x: hidden;' : 'position: relative; top: 8px;'">
        <section
          ref="scroll"
          class="is-flex"
          style="height: 300px;"
          :style="mobile ? 'overflow-x: scroll; width: 325px;' : 'position: relative; top: -16px; width: 500px;'"
        >
          <div
            class="selector-left"
          >
            <div
              class="device-category py-3 pl-4 pr-3 pt-4"
              :class="{'has-background-primary has-text-white': (!selectedRouter && !selectedGroup) || ungrouped.some(id => selection[id])}"
              @click="selectedRouter = ''; selectedGroup = ''; scrollRight();"
            >
              Other devices
            </div>
            <!-- Show groups -->
            <div
              v-for="group in groups"
              :key="group"
              class="device-category pr-3"
              style="overflow: hidden;"
              :class="{'has-background-primary has-text-white': selectedGroup === group || selection[group] || (devices.devices[group].children && devices.devices[group].children.some(child => selection[child]))}"
              @click="selectedRouter = ''; selectedGroup = group; scrollRight();"
            >
              <div class="is-flex is-align-items-center" style="position: relative; top: -15px;">
                <span
                  style="width: 22px; height: 22px;"
                >
                  <group-icon
                    :icon="devices.devices[group].icon"
                    :small="true"
                  />
                </span>
                <span class="pl-5 ml-2 pt-5 mt-2">
                  {{ devices.devices[group].name }}'s devices
                </span>
              </div>
            </div>
             <!-- Show routers -->
            <div
              v-for="router in routers"
              :key="router"
              class="device-category pr-3"
              style="overflow: hidden;"
              :class="{'has-background-primary has-text-white': selectedRouter === router || selection[router] || (devices.devices[router].children && devices.devices[router].children.some(child => selection[child]))}"
              @click="selectedRouter = router; selectedGroup = ''; scrollRight();"
            >
              <div class="is-flex is-align-items-center" style="position: relative; top: -15px;">
                <b-icon
                  class="ml-4 mt-5 pt-1"
                  icon="router-wireless"
                />
                <span class="ml-4 pt-5 mt-2">
                  {{ devices.devices[router].name }}
                </span>
              </div>
            </div>
          </div>
          <div
            class="selector-right is-flex-grow-1"
          >
            <!-- Display current group's devices -->
            <div
              v-if="selectedGroup"
              :set="group = devices.devices[selectedGroup]"
            >
              <div
                class="device-category py-3 pl-4 pr-3 pt-4"
                :class="{'has-background-primary has-text-white': selection[selectedGroup]}"
                @click="selectDeviceAndClearChildren(selectedGroup)"
              >
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                  <div>
                    All of {{ group.name }}'s devices
                  </div>
                  <b-icon
                    v-if="selection[selectedGroup]"
                    type="is-white"
                    icon="checkbox-marked-circle"
                    class="ml-1"
                  />
                  <b-icon
                    v-else
                    icon="checkbox-blank-circle-outline"
                    class="ml-1"
                  />
                </div>
              </div>
              <div
                v-if="group.children"
              >
                <div
                  class="device-category pb-2 pt-2 pl-4 pr-3"
                  v-for="groupMemberId in group.children"
                  :key="groupMemberId"
                  :class="{'has-background-primary has-text-white': (selection[groupMemberId] === undefined && selection[selectedGroup]) || selection[groupMemberId]}"
                  @click="$set(selection, groupMemberId, (selection[groupMemberId] === undefined && selection[selectedGroup]) || selection[groupMemberId] ? false : true)"
                >
                  <div class="is-flex is-align-items-center">
                    <b-icon
                      :icon="getDeviceIcon(devices.devices[groupMemberId])"
                      class="mr-3"
                    />
                    <div>
                      <div>
                        {{ devices.devices[groupMemberId].name }}
                      </div>
                      <div
                        class="is-size-7"
                        :class="(selection[groupMemberId] === undefined && selection[selectedGroup]) || selection[groupMemberId] ? 'has-text-white' : 'has-text-grey'"
                      >
                        Last seen: {{ formatTime(devices.devices[groupMemberId].lastActivity, true) }}
                      </div>
                    </div>
                    <div class="is-flex-grow-1"/>
                    <b-icon
                      v-if="(selection[groupMemberId] === undefined && selection[selectedGroup]) || selection[groupMemberId]"
                      type="is-white"
                      icon="checkbox-marked-circle"
                      class="ml-1"
                    />
                    <b-icon
                      v-else
                      icon="checkbox-blank-circle-outline"
                      class="ml-1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Display current router's devices -->
            <div
              v-else-if="selectedRouter"
              :set="router = devices.devices[selectedRouter]"
            >
              <div
                class="device-category py-3 pl-4 pr-3 pt-4"
                :class="{'has-background-primary has-text-white': selection[selectedRouter]}"
                @click="selectDeviceAndClearChildren(selectedRouter)"
              >
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                  <div>
                    All devices on network "{{ router.name }}"
                  </div>
                  <b-icon
                    v-if="selection[selectedRouter]"
                    type="is-white"
                    icon="checkbox-marked-circle"
                    class="ml-1"
                  />
                  <b-icon
                    v-else
                    icon="checkbox-blank-circle-outline"
                    class="ml-1"
                  />
                </div>
              </div>
              <div
                v-if="router.children"
              >
                <div
                  class="device-category pb-2 pt-2 pl-4 pr-3 is-flex is-align-items-center"
                  v-for="clientId in router.children"
                  :key="clientId"
                  :class="{'has-background-primary has-text-white': (selection[clientId] === undefined && selection[selectedRouter]) || selection[clientId]}"
                  @click="$set(selection, clientId, (selection[clientId] === undefined && selection[selectedRouter]) || selection[clientId] ? false : true)"
                >
                  <b-icon
                    :icon="getDeviceIcon(devices.devices[clientId])"
                    class="mr-3"
                  />
                  <div>
                    <div>
                      {{ devices.devices[clientId].name }}
                    </div>
                    <div
                      class="is-size-7"
                      :class="(selection[clientId] === undefined && selection[selectedRouter]) || selection[clientId] ? 'has-text-white' : 'has-text-grey'"
                    >
                      Last seen: {{ formatTime(devices.devices[clientId].lastActivity, true) }}
                    </div>
                  </div>
                  <div class="is-flex-grow-1"/>
                  <b-icon
                    v-if="(selection[clientId] === undefined && selection[selectedRouter]) || selection[clientId]"
                    type="is-white"
                    icon="checkbox-marked-circle"
                    class="ml-1"
                  />
                  <b-icon
                    v-else
                    icon="checkbox-blank-circle-outline"
                    class="ml-1"
                  />
                </div>
              </div>
            </div>
            <!-- Display ungrouped devices -->
            <div
              v-else-if="ungrouped.length || (mobile && (!validTypes || validTypes.includes('')))"
            >
              <div
                class="device-category pb-2 pt-2 pl-4 pr-3"
                v-for="deviceId in ungrouped"
                :key="deviceId"
                :class="{'has-background-primary has-text-white': selection[deviceId]}"
                @click="$set(selection, deviceId, selection[deviceId] ? false : true)"
              >
                <div class="is-flex is-align-items-center">
                  <b-icon
                    :icon="getDeviceIcon(devices.devices[deviceId])"
                    class="mr-3"
                  />
                  <div>
                    <div>
                      {{ devices.devices[deviceId].name }}
                    </div>
                    <div
                      class="is-size-7"
                      :class="selection[deviceId] ? 'has-text-white' : 'has-text-grey'"
                    >
                      Last seen: {{ formatTime(devices.devices[deviceId].lastActivity, true) }}
                    </div>
                  </div>
                  <div class="is-flex-grow-1"/>
                  <b-icon
                    v-if="selection[deviceId]"
                    type="is-white"
                    icon="checkbox-marked-circle"
                    class="ml-1"
                  />
                  <b-icon
                    v-else
                    icon="checkbox-blank-circle-outline"
                    class="ml-1"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot is-flex" style="">
          <b-button
            icon-left="arrow-left"
            @click="scrollLeft"
            v-if="mobile"
          />
          <div class="content is-size-7 px-2 pt-5" v-if="supportString">
            <i>
              {{ supportString }}
            </i>
          </div>
          <div class="is-flex-grow-1" v-if="!(mobile && supportString)"/>
          <b-button
            label="Select"
            type="is-primary"
            @click="select"
          />
        </footer>
      </div>
    </b-dropdown-item>
  </b-dropdown>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { Device, DevicesList } from '@/requests/devices-v2/get-devices-list'
import { getDeviceIcon } from '@/helpers/functions'
import GroupIcon from '@/components/my-devices/group-icon.vue'
import dayjs from 'dayjs'
import cloneDeep from 'lodash/cloneDeep'
import bezier from '@/helpers/bezier'

/**
 * Component to select a device registered to the user.
 */
@Component({
  components: {
    GroupIcon
  }
})
export default class DeviceSelectorMulti extends Vue {
  @Prop({ default: 'is-bottom-left' }) readonly position: string | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly value: {[compoundId: string]: boolean} | undefined
  @Prop() readonly supportString: string | undefined
  @Prop() readonly disabled: boolean | undefined

  expanded = false
  selection: {[compoundId: string]: boolean} | null = null
  ungrouped: string[] = []
  groups: string[] = []
  routers: string[] = []
  selectedGroup = ''
  selectedRouter = ''

  @Watch('devices', { immediate: true })
  updateDevices (devices: DevicesList) {
    this.groups = []
    this.routers = []
    this.ungrouped = []
    if (devices.deviceOrder && devices.devices) {
      const devicesMap = devices.devices
      this.groups = devices.deviceOrder.filter(deviceId => devicesMap[deviceId].type === 'group')
      this.routers = devices.deviceOrder.filter(deviceId => devicesMap[deviceId].type === 'router')
      this.ungrouped = devices.deviceOrder.filter(deviceId => {
        const device = devicesMap[deviceId]
        return device.type !== 'group' && device.type !== 'router' && device.type !== 'router-client' && (
          !device.parents ||
          !device.parents.some(parent => this.groups.includes(parent))
        )
      })
      this.checkScrollRight()
    } else if (this.mobile) {
      this.scrollRight()
    }
  }

  @Watch('expanded') checkScrollRight () {
    if (this.mobile && !this.groups.length && !this.routers.length) {
      this.scrollRight()
    }
  }

  @Watch('value', { immediate: true })
  updateSelection (newSelection: {[compoundId: string]: boolean} | undefined) {
    this.selection = newSelection ? cloneDeep(newSelection) : null
  }

  readonly SCROLL_DURATION = 200

  scrollAnimation (startX: number, endX: number) {
    var startTime = -1
    var easing = bezier(0.4, 0.0, 0.2, 1)
    var drawAtPercentage = (p: number) => {
      (this.$refs.scroll as HTMLElement).scrollLeft = startX + easing(p) * (endX - startX)
    }
    var animate = (timestamp: number) => {
      if (startTime === -1) {
        // First frame
        drawAtPercentage(0)
        startTime = timestamp
        requestAnimationFrame(animate)
      } else {
        var elapsed = timestamp - startTime
        var p = elapsed / this.SCROLL_DURATION
        if (p >= 1) {
          drawAtPercentage(1)
        } else {
          drawAtPercentage(p)
          requestAnimationFrame(animate)
        }
      }
    }
    requestAnimationFrame(animate)
  }

  scrollRight () {
    this.scrollAnimation((this.$refs.scroll as HTMLElement).scrollLeft, 200)
  }

  scrollLeft () {
    const currScroll = (this.$refs.scroll as HTMLElement).scrollLeft
    if (currScroll === 0) {
      this.toggle()
    } else {
      this.scrollAnimation(currScroll, 0)
    }
  }

  getDeviceIcon (device: Device): string | undefined {
    return getDeviceIcon(device)
  }

  formatTime (time: number, isUsageData?: boolean): string {
    if (isUsageData && this.devices && this.devices.activityStatus !== 'OK') {
      if (this.devices.activityStatus === 'OFF_LOGGING') {
        return 'Logging is disabled'
      } else {
        return 'Temporarily unavailable'
      }
    }
    return time ? dayjs.unix(time).fromNow() : 'Never (or over 90 days ago)'
  }

  @Watch('expanded', { immediate: true })
  updateParent (expanded: boolean) {
    if (!expanded) {
      this.selection = this.value ? cloneDeep(this.value) : null
    }
  }

  toggle () {
    (this.$refs['dropdown'] as any).toggle()
  }

  select () {
    this.$emit('input', this.selection)
    this.toggle()
  }

  get numSelected (): number {
    if (!this.devices || !this.devices.deviceOrder || !this.devices.devices || !this.selection) {
      return 0
    }
    let count = 0
    for (const device of this.devices.deviceOrder) {
      const deviceSpec = this.devices.devices[device]
      if (!deviceSpec) {
        continue
      }
      if (deviceSpec.type === 'group') {
        continue
      }
      if (this.selection[device] !== undefined) {
        if (this.selection[device]) {
          count++
        }
      } else {
        if (deviceSpec.parents) {
          for (const parent of deviceSpec.parents) {
            if (this.selection[parent]) {
              count++
              break
            }
          }
        }
      }
    }
    return count
  }

  selectDeviceAndClearChildren (device: string) {
    if (!this.selection || !this.devices || !this.devices.devices) {
      return
    }
    this.$set(this.selection, device, this.selection[device] ? false : true)
    const deviceSpec = this.devices.devices[device]
    if (deviceSpec && deviceSpec.children) {
      for (const child of deviceSpec.children) {
        this.$delete(this.selection, child)
      }
    }
  }
}
</script>

<style scoped>
.device-category {
  cursor: pointer;
}

.selector-left {
  flex-shrink: 0;
  flex-basis: 200px;
  height: 316px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.selector-right {
  overflow-x: hidden;
  overflow-y: auto;
  flex-basis: 300px;
  flex-shrink: 0;
}
</style>
