<template>
  <div class="footer-outer mt-6">

  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'

@Component
export default class AppFooter extends Vue {}
</script>

<style scoped>
.footer-outer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #eeeeee;
}

.footer-inner {
  max-width: 1100px;
  margin: auto;
}

.line-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
}

.link {
  display: inline-block;
}

@media screen and (max-width: 1100px) {
  .footer-inner {
    flex-direction: column;
  }

  .line-bottom {
    margin-top: 20px;
  }

  .item-container {
    display: block;
    padding-left: 15px;
  }
}
</style>
