<template>
  <div
    class="card has-text-grey"
    @click="$emit('click')"
    :class="{ faded: isFaded }"
  >
    <div class="card-title mb-2 has-text-dark-light">
      <b-icon :icon="icon" class="mr-3"/>
      <h3>{{ title }}</h3>
      <div class="filler"/>
      <slot name="bottom"/>
    </div>
    <div>
      <slot name="content"/>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'

@Component
export default class IconCard extends Vue {
  /**
   * Whether to visually fade the whole card.
   */
  @Prop() readonly isFaded: boolean | undefined;
  /**
   * Buefy icon to display at the top.
   */
  @Prop() readonly icon: string | undefined;
  /**
   * Title to display.
   */
  @Prop() readonly title: string | undefined;
}
</script>

<style scoped>
.card {
  cursor: pointer;
  vertical-align: top;
  min-width: 300px;
  padding: 25px 5px 15px 25px;
  display: inline-block;
  margin: 15px 10px 15px 10px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  -6px -6px 11px #d9d9d9, 
              6px 6px 11px #ffffff;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  padding: 2px 0px 0px 0px;
}

.card-title {
  display: flex;
  align-items: flex-start;
}

.filler {
  flex-grow: 1;
}

.faded {
  opacity: 0.5;
}

@media only screen and (max-width: 500px) {
  .card {
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
</style>
