<template>
  <component
    :is="route ? 'router-link' : 'div'"
    :to="route"
    class="card list-item px-5 py-4"
    @click="$emit('click')"
  >
    <slot name="left"/>
    <div style="flex-grow: 1"/>
    <slot name="right"/>
  </component>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Route } from 'vue-router'

@Component
export default class ListItem extends Vue {
  /**
   * Optionally, a link to go to when clicked.
   */
  @Prop() readonly route: Route | undefined
}
</script>

<style scoped>
.list-item {
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 660px) {
  .list-item {
    box-shadow: none;
    border-radius: 0px;
    margin-top: 0px;
  }
}
</style>
