<template>
  <div class="slider">
    <div class="line"/>
    <div class="subline inc"/>
    <div class="subline dec"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class LoadingBar extends Vue {}
</script>

<style scoped lang="scss">
@import "../../colors.scss";

.slider{
  position: absolute;
  width: 100%;
  height: 5px;
  overflow-x: hidden;
}

.line{
  position: absolute;
  opacity: 0.4;
  background: $contrast;
  width: 150%;
  height: 5px;
}

.subline{
  position: absolute;
  background: $contrast;
  height: 5px;
}
.inc{
  animation: increase 2.2s infinite;
}
.dec{
  animation: decrease 2.2s 0.5s infinite;
}

@keyframes increase {
 from { left: -5%; width: 5%; }
 to { left: 130%; width: 100%;}
}
@keyframes decrease {
 from { left: -80%; width: 80%; }
 to { left: 110%; width: 10%;}
}
</style>
