<template>
  <div
    id="menu-bar"
    :class="{ hidden: !expanded, mobile: mobile, 'has-background-primary-dark': mobile }"
    class="is-family-secondary has-text-weight-semibold"
    :style="{ transform: 'translateY(-' + yTrans + 'px)' }"
  >
    <div id="content">
      <div class="small-item-container" v-if="mobile">
        <protection />
      </div>
      <div class="small-item-container" v-if="mobile">
        <account :mobile="true" :subStatus="subStatus" />
      </div>
      <!-- Outer items -->
      <div
        v-for="item in MENU_ITEMS"
        :key="item.name"
        class=""
      >
        <!-- Button for the route, which may have children or be disabled if we don't have pro plan -->
        <component
          :is="item.children ? 'div' : 'router-link'"
          :to="
            isEnabled(item) ?
            getRoute(item) :
            {
              name: 'AccountSettings',
              query: {
                section: 'payment',
                message: '1'
              }
            }
          "
          :class="{ selected: isActive(item) || isExpanded(item), faded: !isEnabled(item) }"
          class="menu-item"
          @click="itemClicked(item)"
        >
          <!-- Icon for the route -->
          <b-icon
            :icon="item.icon"
            size="is-small"
          ></b-icon>
          <span class="pl-1">
            {{ item.name }}
          </span>
          <b-tag
            v-if="item.tagText"
            class="is-pulled-right"
            type="is-primary"
          >
            {{ item.tagText }}
          </b-tag>
          <!-- Indicate whether there are sub items -->
          <b-icon
            class="is-pulled-right"
            :icon="isExpanded(item) ? 'menu-down' : 'menu-up'"
            v-if="item.children"
          ></b-icon>
        </component>
        <!-- Inner items, if any -->
        <div
          v-if="item.children && isExpanded(item)"
          class="child-container pl-4"
        >
          <div
            v-for="subItem in item.children"
            :key="subItem.name"
          >
            <component
              :is="subItem.extLink ? 'a' : 'router-link'"
              :to="isEnabled(subItem) ?
              getRoute(subItem) :
              {
                name: 'AccountSettings',
                query: {
                  section: 'payment',
                  message: '1'
                }
              }"
              :href="subItem.extLink"
              target="blank"
              :class="{ selected: isActive(subItem) || isExpanded(subItem), faded: !isEnabled(subItem) }"
              class="menu-item"
            >
              <b-icon
                :icon="subItem.icon"
                size="is-small"
              ></b-icon>
              <span class="pl-1">
                {{ subItem.name }}
              </span>
              <b-tag
                v-if="subItem.tagText"
                class="is-pulled-right"
                type="is-primary"
              >
                {{ subItem.tagText }}
              </b-tag>
              <b-icon
                icon="open-in-new"
                class="is-pulled-right"
                v-if="subItem.extLink"
              ></b-icon>
              <b-icon
                class="is-pulled-right"
                :icon="isExpanded(subItem) ? 'menu-down' : 'menu-up'"
                :style="{ 'color': isExpanded(subItem) ? 'white' : 'black' }"
                v-if="subItem.children"
              ></b-icon>
            </component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { RawLocation, Route } from 'vue-router'
import { getSubscriptionDescription } from '@/helpers/functions'
import Protection from '@/components/common/protection.vue'
import Account from '@/components/common/account.vue'
import cloneDeep from 'lodash/cloneDeep'

interface MenuItem {
  name: string;
  routeName?: string;
  startRoute?: RawLocation;
  icon?: string;
  basicAccess?: boolean;
  isActive?: (route: Route) => boolean;
  children?: MenuItem[];
  extLink?: string;
  tagText?: string;
  keepDevice?: boolean;
}

@Component({
  components: {
    Account,
    Protection
  }
})
export default class Navbar extends Vue {
  /**
   * Whether to show the mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * Whether the nav is expanded.
   */
  @Prop() readonly expanded: boolean | undefined
  /**
   * Whether this device is blocked from the internet.
   */
  @Prop() readonly blocked: boolean | undefined
  /**
   * The current subscription status from the JWT.
   */
  @Prop() readonly subStatus: string | undefined
  /**
   * Map from menu item with children to
   * whether it's expanded.
   */
  menusExpanded: {[menuName: string]: boolean} = {}

  updateYTrans = true
  yTrans = 0
  lastScrollY = 0

  readonly MENU_ITEMS: MenuItem[] = [
    {
      name: 'Home',
      routeName: 'AccountHome',
      icon: 'home',
      basicAccess: true
    },
    {
      name: 'Alerts',
      routeName: 'Alerts',
      icon: 'alert-circle',
    },
    {
      name: 'Devices',
      routeName: 'Devices',
      icon: 'cellphone-link',
      basicAccess: true,
    },
    {
      name: 'Blocking & screentime',
      icon: 'tune-variant',
      routeName: 'Blocking',
      startRoute: {
        name: 'Blocking',
        query: {
          'device-id': '-'
        }
      },
      basicAccess: true,
      keepDevice: true
    },
    {
       name: 'History',
       routeName: 'Usage',
       icon: 'history',
       keepDevice: true
    },
    {
      name: 'Security Alerts',
      routeName: 'SecurityAlerts',
      icon: 'bug',
      keepDevice: true
    }
  ]

  mounted () {
    this.MENU_ITEMS.forEach(item => {
      if (item.children) {
        this.$set(this.menusExpanded, item.name, false)
      }
    })
    window.addEventListener('scroll', this.onscroll.bind(this))
  }

  toggleExpand (name: string) {
    if (name in this.menusExpanded) {
      this.$set(this.menusExpanded, name, !this.menusExpanded[name])
    }
  }

  /**
   * @returns Whether the menu item is active.
   */
  isActive (item: MenuItem): boolean {
    if (this.$route.name === item.routeName) {
      return true
    } else if (item.children !== undefined) {
      return item.children.some(child => this.isActive(child))
    }
    return false
  }

  /**
   * If the nav is expanded and we're
   * on mobile, disable the main content
   * scrolling.
   */
  @Watch('$props', { deep: true }) updateDocScroll () {
    if (this.expanded && this.mobile) {
      document.documentElement.style.overflow = 'hidden'
    } else {
      document.documentElement.style.overflow = 'auto'
    }
  }

  /**
   * When the route changes on mobile, hide the nav.
   * Likely means the user just clicked an item.
   * Also reset the 'expanded' states.
   */
  @Watch('$route') hideOnNavigation () {
    if (this.mobile) {
      this.$emit('update:expanded', false)
      document.documentElement.style.overflow = 'auto'
    }
    Object.keys(this.menusExpanded).forEach(name => { this.menusExpanded[name] = false })
    this.yTrans = 0
  }

  /**
   * @returns Whether a menu item with children should
   *          show as expanded.
   */
  isExpanded (item: MenuItem): boolean {
    return this.menusExpanded[item.name] ||
      (item.children !== undefined &&
        item.children.some(child => this.isActive(child)))
  }

  /**
   * @returns Whether the menu item is clickable.
   */
  isEnabled (item: MenuItem): boolean {
    let subStatus = ''
    if (this.subStatus) {
      subStatus = getSubscriptionDescription(this.subStatus)
    }
    return item.basicAccess || (subStatus === 'PLAN_NAME' || subStatus === 'Trial')
  }

  /**
   * Either navigate to the route or expand when an item is clicked.
   */
  itemClicked (item: MenuItem) {
    if (item.children && this.isEnabled(item)) {
      // Expand
      this.toggleExpand(item.name)
    }
  }

  /**
   * Run when page scrolled.
   */
  onscroll () {
    if (this.updateYTrans && !this.mobile) {
      this.updateYTrans = false
      window.requestAnimationFrame(() => {
        const distToBottom = Math.max(document.body.offsetHeight - (window.scrollY + window.innerHeight), 0)
        if (distToBottom < 300) {
          this.yTrans += window.scrollY - this.lastScrollY
        } else {
          this.yTrans = 0
        }
        this.lastScrollY = window.scrollY
        this.updateYTrans = true
      })
    } else if (this.mobile) {
      this.yTrans = 0
    }
  }

  getRoute (item: MenuItem): any {
    const baseRoute: any = cloneDeep(item.startRoute ? item.startRoute : { name: item.routeName })
    if (item.keepDevice && this.$route.query['device-id'] && this.$route.query['device-id'] !== '-') {
      baseRoute.query = {
        'device-id': this.$route.query['device-id'],
        'mac': this.$route.query['mac']
      }
    }
    return baseRoute
  }
}
</script>

<style scoped lang="scss">
@import "../../colors.scss";

/* Class applied to root el when the viewport is thin enough */
.hidden {
  display: none;
}

.mobile {
  width: 100% !important;
  right: 0px;
  color: #ddd !important;
}

#menu-bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 265px;
  z-index: 8;
}

#content {
  overflow-y: auto;
  overflow-x: visible;
  flex-grow: 1;
  padding: 80px 10px 10px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.menu-item {
  padding: 10px 16px;
  cursor: pointer;
  color: inherit;
  display: block;
  margin-bottom: 5px;
}

.small-item-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.selected {
  color: white;
  border-radius: 50px;
  background: $primary;
}

.menu-item:hover {
  color: white;
  border-radius: 50px;
  background: $primary;
}

.faded {
  opacity: 0.2;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
