<template>
  <div :class="{'border-bottom': !overrideBottom, 'pb-4': !overrideBottom, 'px-3': mobile}">
    <b-message
      v-if="showHelp"
      type="is-primary"
      title="Welcome"
      @close="helpDismissed"
    >
      <p
        v-for="(helpPara, idx) in help"
        :key="idx"
      >
        <br v-if="idx > 0"/>
        {{ helpPara }}
      </p>
    </b-message>
    <div class="is-flex-tablet mb-4" style="align-items: center;">
      <slot name="left-icon"></slot>
      <span class="is-size-5 has-text-weight-semibold is-family-secondary ml-2">{{ title }}</span>
      <div class="is-hidden-tablet mb-3"/>
      <div style="flex-grow: 1"></div>
      <slot name="right"/>
    </div>
    <!-- Floating part -->
    <transition name="slide-down">
      <div v-if="floating" class="float" :class="{ 'mobile': mobile }">
        <slot name="left-icon" class="is-hidden-mobile"></slot>
        <span class="is-size-5 has-text-weight-semibold is-family-secondary ml-2 is-hidden-mobile">{{ title }}</span>
        <div style="flex-grow: 1"></div>
        <slot name="right"/>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'

@Component
export default class TopWithDropdown extends Vue {
  @Prop() readonly title: string | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly overrideBottom: boolean | undefined

  floating = false
  checkFloat = true

  private onScrollFunc = this.onscroll.bind(this)

  mounted () {
    document.addEventListener('scroll', this.onScrollFunc)
  }

  beforeDestroy () {
    document.removeEventListener('scroll', this.onScrollFunc)
  }

  onscroll () {
    if (this.checkFloat) {
      this.checkFloat = false
      window.requestAnimationFrame(() => {
        if (window.scrollY > 200) {
          this.floating = true
        } else {
          this.floating = false
        }
        this.checkFloat = true
      })
    }
  }

  /**
   * @returns Whether to show help text for this page.
   */
  get showHelp (): boolean {
    if (!this.$route.name) {
      return false
    }
    const dismissedKey = this.$route.name + '-help-dismissed'
    if (localStorage.getItem(dismissedKey)) {
      return false
    }
    if (!this.$route.meta) {
      return false
    }
    return this.$route.meta.help !== undefined
  }

  get help (): string[] {
    if (!this.$route.meta) {
      return []
    }
    return this.$route.meta.help as string[]
  }

  helpDismissed () {
    const dismissedKey = this.$route.name + '-help-dismissed'
    localStorage.setItem(dismissedKey, '1')
  }
}
</script>

<style scoped>

.float {
  position: fixed;
  top: 0px;
  left: 60px;
  right: 0px;
  height: 58px;
  background-color: white;
  padding: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.float.mobile {
  top: 0px;
  left: 0px;
}

.is-flex {
  display: flex;
  justify-content: center;
}

.slide-down-enter-active {
  transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);;
}
.slide-down-leave-active {
  transition: all .2s cubic-bezier(0.4, 0.0, 1, 1);;
}

.slide-down-enter, .slide-down-leave-to
/* .slide-down-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
  opacity: 0;
}

</style>
