<template>
  <div>
    <form autocomplete="on" name="common-password-strength-input">
      <b-field :label="label1">
        <b-input
          type="password"
          v-model="password"
          @keyup.native="checkEnter($event)"
          password-reveal
          autocomplete="new-password"
        ></b-input>
        <p slot="message" class="is-size-7" :class="'has-text-' + validatePass().type" v-html="validatePass().message">
        </p>
      </b-field>
      <b-field :label="label2" v-bind="validateConfirmPass()">
        <b-input
          type="password"
          v-model="confirmPassword"
          @keyup.native="checkEnter($event)"
          password-reveal
          autocomplete="new-password"
        ></b-input>
      </b-field>
      <!-- Prevent implicit submission of the form -->
      <button type="submit" disabled style="display: none" aria-hidden="true"/>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import zxcvbn from 'zxcvbn'

interface BuefyBind {
  type?: string;
  message?: string;
}

@Component
export default class PasswordStrengthInput extends Vue {
  /**
   * What to label the password input.
   */
  @Prop() readonly label1: string | undefined
  /**
   * What to label the confirm input.
   */
  @Prop() readonly label2: string | undefined

  /**
   * First password.
   */
  password = ''
  /**
   * Second password.
   */
  confirmPassword = ''

  /**
   * Minimum strength for password to be accepted.
   */
  readonly MIN_STRENGTH = 2
  /**
   * Message when a password has good strength.
   */
  readonly PASS_GOOD_MSG = 'Password good'
  /**
   * Message when passwords match.
   */
  readonly PASS_MATCH_MSG = 'Password matches'

  @Watch('password')
  @Watch('confirmPassword')
  emitEvents () {
    this.$emit(
      'valid',
      this.validatePass().message === this.PASS_GOOD_MSG &&
      this.validateConfirmPass().message === this.PASS_MATCH_MSG
    )
    this.$nextTick(() => {
      this.$emit('input', this.password)
    })
  }

  /**
   * Emit if enter is pressed in one of
   * the inputs and emit whether the inputs are valid.
   * @param event The key event.
   */
  checkEnter (event: KeyboardEvent) {
    if (event.key === 'Enter') {
      this.$emit('input-enter')
    }
  }

  validatePass (): BuefyBind {
    if (this.password === '') {
      return {}
    }
    // Check password is strong enough
    const analysis = zxcvbn(this.password)
    if (analysis.score < this.MIN_STRENGTH) {
      const toReturn = {
        type: 'danger',
        message: ''
      }
      toReturn.message += 'Password not strong enough:<br/>'
      analysis.feedback.suggestions.forEach(suggestion => {
        toReturn.message += '<li>' + suggestion + '</li>'
      })
      return toReturn
    }
    return {
      message: this.PASS_GOOD_MSG,
      type: 'success'
    }
  }

  validateConfirmPass (): BuefyBind {
    if (this.confirmPassword === '') {
      return {}
    }
    if (this.password !== this.confirmPassword) {
      return {
        message: 'Passwords don\'t match',
        type: 'is-danger'
      }
    }
    return {
      message: this.PASS_MATCH_MSG,
      type: 'is-success'
    }
  }
}
</script>

<style scoped>

</style>
