<template>
  <!-- Dropdown for more options -->
    <b-dropdown
      position="is-bottom-right"
      :append-to-body="true"
      ref="dropdown"
    >
      <!-- Three dots trigger -->
      <b-tag
        outlined
        rounded
        style="cursor: pointer;"
        :type="isProtected ? 'is-primary' : 'is-warning'"
        class="ml-2"
        slot="trigger"
        icon-left="dots-horizontal"
      >
        {{ isProtected ? 'This device is protected' : 'This device is not protected' }}
      </b-tag>
      <!-- Items -->
      <b-dropdown-item
        custom
        v-if="!noDropdown"
        value="settings"
      >
        {{ isProtected ? 'This device is protected by BRAND_NAME.' : 'This device is not protected by BRAND_NAME.' }}
        <b-button
          type="is-primary"
          v-if="!isProtected && !checking"
          class="mt-2"
          icon-left="play"
          @click="setUp"
        >
          Set up protection
        </b-button>
      </b-dropdown-item>
      <b-dropdown-item
        custom
      >
        <b-button
          icon-left="refresh"
          @click="check"
          :loading="checking"
        >
          Refresh
        </b-button>
      </b-dropdown-item>
    </b-dropdown>
</template>

<script lang="ts">
import GetDNSCrypt from '@/requests/proto/get-dnscrypt'
import GetDOH from '@/requests/proto/get-doh'
import GetDOT from '@/requests/proto/get-dot'
import GetPlain from '@/requests/proto/get-plain'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class Protection extends Vue {
  @Prop() readonly noDropdown: boolean | undefined
  isProtected: boolean | null = null
  checking = false

  /**
   * Whether each protocol type resolved.
   */
  plainResolved = false
  dotResolved = false
  dohResolved = false
  dnsCryptResolved = false

  /**
   * Requests.
   */
  getPlain = new GetPlain()
  getDOT = new GetDOT()
  getDOH = new GetDOH()
  getDnsCrypt = new GetDNSCrypt()

  mounted () {
    this.check()
  }

  check () {
    // Get data
    this.isProtected = null
    this.checking = true
    Promise.all([
      this.getPlain.handle().then(() => {
        this.plainResolved = true
      }, () => { return }),
      this.getDOT.handle().then(() => {
        this.dotResolved = true
      }, () => { return }),
      this.getDOH.handle().then(() => {
        this.dohResolved = true
      }, () => { return }),
      this.getDnsCrypt.handle().then(() => {
        this.dnsCryptResolved = true
      }, () => { return }),
    ]).then(() => {
      this.checking = false
      this.isProtected = this.plainResolved || this.dotResolved || this.dohResolved || this.dnsCryptResolved
      this.$emit('done')
    })
  }

  setUp() {
    interface toggleable {
      toggle: () => void;
    }
    (this.$refs.dropdown as unknown as toggleable).toggle();
    this.$router.push({
      name: 'DeviceSetup'
    })
  }
}
</script>

<style scoped>
.tag {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
</style>
