<template>
  <div
    class="outer-box has-background-grey-lighter"
    :style="{ 'width': width }"
  >
    <div class="shimmer"></div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'

@Component
export default class SkeletonText extends Vue {
  /**
   * Optional custom width.
   */
  @Prop() readonly width: string | undefined
}
</script>

<style lang="scss" scoped>
.outer-box {
  display: inline-block;
  height: 25px;
  width: 225px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.shimmer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0) 0,
    rgba(#fff, 0.2) 20%,
    rgba(#fff, 0.5) 60%,
    rgba(#fff, 0)
  );
  animation: shimmer 1.25s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

</style>
