<template>
  <div>
    <spinner v-if="!survey"/>
    <b-steps v-else :has-navigation="false" style="margin-top: -25px;" v-model="currStep">
      <b-step-item
        v-for="(step, idx) in stepHistory"
        :key="idx"
        headerClass="is-hidden"
      >
        <div v-if="step.type === 'radio'">
          <b-field :label="step.title"/>
          <b-field
            v-for="(option, idx) in step.options"
            :key="currStep + '' + idx"
          >
            <b-radio
              :value="null"
              :native-value="idx"
              @input="setRadioResult(idx)"
            >
              {{ option }}
            </b-radio>
          </b-field>
        </div>
        <div v-else-if="step.type === 'checkmulti'">
          <b-field :label="step.title"/>
          <b-field
            v-for="(option, idx) in step.options"
            :key="currStep + '' + idx"
          >
            <b-checkbox
              :value="checkboxSelected(idx)"
              @input="setChecked(idx, $event)"
            >
              {{ option }}
            </b-checkbox>
          </b-field>
          <b-button
            label="Submit"
            type="is-primary"
            @click="setCheckmultiResult"
          />
        </div>
        <div v-else-if="step.type === 'text'">
          <b-field :label="step.title"/>
          <b-input
            type="textarea"
            :value="textValues[step]"
            @input="setTextValue($event)"
            :maxlength="step.textCharLimit"
          />
          <b-button
            label="Submit"
            type="is-primary"
            @click="setTextResult"
          />
        </div>
      </b-step-item>
    </b-steps>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import GetSurvey, { Step, Survey } from '@/requests/categorizer/surveys/get-survey'
import Spinner from '@/components/common/spinner.vue'
import PostSurveyStepResult from '@/requests/surveys/post-survey-step-result'

@Component({
  components: {
    Spinner
  }
})
export default class SurveyComponent extends Vue {
  @Prop() readonly surveyId: number | undefined
  @Prop() readonly authenticated: boolean | undefined
  @Prop() readonly token: string | undefined

  survey: Survey | null = null
  checkboxSelections: {[step: number]: {[idx: number]: boolean}} = {}
  textValues: {[step: number]: string} = {}
  stepHistory: Step[] = []
  currStep = 0

  mounted () {
    if (!this.surveyId) {
      return
    }
    const req = new GetSurvey()
    if (this.token) {
      req.setAuth(this.token)
    }
    req.handle(this.surveyId).then(survey => {
      this.survey = survey.spec
      this.stepHistory.push(this.survey.steps[0])
    })
  }

  getRealStepNum (): number {
    if (!this.survey) {
      throw new Error('survey not defined')
    }
    return this.survey.steps.indexOf(this.stepHistory[this.stepHistory.length-1])
  }

  setRadioResult (idx: number) {
    if (!this.survey || !this.surveyId || this.authenticated === undefined) {
      return
    }
    const req = new PostSurveyStepResult()
    if (this.token) {
      req.setAuth(this.token)
    }
    req.handle({
      surveyID: this.surveyId,
      stepNum: this.getRealStepNum(),
      authenticated: this.authenticated,
      result: {
        selectedOption: idx
      }
    })
    const nextSteps = this.stepHistory[this.stepHistory.length-1].optionNextSteps
    if (!nextSteps) {
      return
    }
    const nextStep = nextSteps[idx]
    if (nextStep) {
      this.stepHistory.push(this.survey.steps[nextStep])
      this.$nextTick(() => {
        this.currStep++
      })
    } else {
      this.$emit('done')
    }
  }

  setCheckmultiResult () {
    if (!this.surveyId || this.authenticated === undefined) {
      return
    }
    const currStepSelections = this.checkboxSelections[this.getRealStepNum()]
    const req = new PostSurveyStepResult()
    if (this.token) {
      req.setAuth(this.token)
    }
    req.handle({
      surveyID: this.surveyId,
      stepNum: this.getRealStepNum(),
      authenticated: this.authenticated,
      result: {
        selectedOptions: Object.keys(currStepSelections)
          .filter(idx => currStepSelections[parseInt(idx)])
          .map(idx => parseInt(idx))
      }
    })
    this.nextStep()
  }

  nextStep () {
    if (!this.survey) {
      return
    }
    const nextStep = this.stepHistory[this.stepHistory.length-1].nextStep
    if (nextStep) {
      this.stepHistory.push(this.survey.steps[nextStep])
      this.$nextTick(() => {
        this.currStep++
      })
    } else {
      this.$emit('done')
    }
  }

  setTextResult () {
    if (!this.surveyId || this.authenticated === undefined) {
      return
    }
    let currTextSelection = this.textValues[this.getRealStepNum()]
    if (!currTextSelection) {
      currTextSelection = ''
    }
    const req = new PostSurveyStepResult()
    if (this.token) {
      req.setAuth(this.token)
    }
    req.handle({
      surveyID: this.surveyId,
      stepNum: this.getRealStepNum(),
      authenticated: this.authenticated,
      result: {
        textResult: currTextSelection
      }
    })
    this.nextStep()
  }

  setTextValue (text: string) {
    this.$set(this.textValues, this.getRealStepNum(), text)
  }

  checkboxSelected (idx: number) {
    const currStepSelections = this.checkboxSelections[this.getRealStepNum()]
    if (!currStepSelections) {
      return false
    }
    return currStepSelections[idx]
  }

  setChecked (idx: number, selected: boolean) {
    let currStepSelections = this.checkboxSelections[this.getRealStepNum()]
    if (!currStepSelections) {
      this.$set(this.checkboxSelections, this.getRealStepNum(), {})
      currStepSelections = this.checkboxSelections[this.getRealStepNum()]
    }
    this.$set(currStepSelections, idx, selected)
  }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: all 0.4s cubic-bezier(0.0, 0.0, 0.2, 1) 0s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(100%);
}
</style>
