<template>
  <div id="top-bar">
    <div
      class="has-text-centered has-background-primary"
      v-if="show"
    >
      <div class="left" v-if="!login && !hideNavbar">
        <b-icon
          icon="menu"
          class="menu-icon"
          @click.native="$emit('update:expanded', !expanded)"
        ></b-icon>
        <protection
          v-if="!mobile"
        />
      </div>
      <div id="menu-bar-logo">
      </div>
      <div class="right">
        <account
          v-if="!login && !hideNavbar && !mobile"
          :mobile="mobile"
          :subStatus="subStatus"
        />
      </div>
    </div>
    <div>
      <loading-bar v-if="loading"/>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Prop, Watch } from 'vue-property-decorator'
import { TOKEN_STORAGE_NAME } from '@/helpers/constants'
import Account from '@/components/common/account.vue'
import LoadingBar from '@/components/common/loading-bar.vue'
import Protection from '@/components/common/protection.vue'
import GetSubscription from '@/requests/user-v2/get-subscription'
import { Route } from 'vue-router'

@Component({
  components: {
    Account,
    LoadingBar,
    Protection
  }
})
export default class Topbar extends Vue {
  /**
   * Whether to show the mobile view.
   */
  @Prop() readonly mobile: boolean | undefined
  /**
   * Whether the mobile nav is expanded.
   */
  @Prop() readonly expanded: boolean | undefined
  /**
   * Whether we are on the login page.
   */
  @Prop() readonly login: boolean | undefined
  /**
   * Whether to show the state as loading.
   */
  @Prop() readonly loading: boolean | undefined
  /**
   * Whether to show the main part of the bar. If not, still show
   * the loading bar.
   */
  @Prop() readonly show: boolean | undefined
  /**
   * The current subscription status.
   */
  @Prop() readonly subStatus: string | undefined
  @Prop() readonly hideNavbar: boolean | undefined

  getSubscription = new GetSubscription()

  mounted () {
    this.getSubscription.doLoginRedirect = false
    if (typeof localStorage.getItem(TOKEN_STORAGE_NAME) === 'string') {
      this.refreshSub()
    }
  }

  refreshSub (): Promise<any> {
    return this.getSubscription.handle({ refresh: false }).then(sub => {
      this.$emit('update:subStatus', sub.spec.status)
    })
  }

  get disableTopLink (): boolean {
    return this.$route.name === 'CreateAccount'
  }
}
</script>

<style scoped>

.menu-button {
  color: white;
  margin-right: 15px;
}

#top-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
}

#menu-bar-logo {
  padding: 10px 10px 10px 10px;
  width: 300px;
  height: 60px;
  display: inline-block;
}

.top-image {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.menu-icon {
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.left {
  z-index: 10;
  position: absolute;
  left: 20px;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
}

.right {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 0px;
}
</style>
