<template>
  <div>
    <div class="is-flex is-justify-content-center mt-1 mb-3">
      <!-- Tabs for each possible day of the week -->
      <b-dropdown v-model="currTab">
        <template #trigger="{ active }">
          <b-button
            :icon-right="active ? 'menu-up' : 'menu-down'"
          >
            <div class="is-flex">
              <div>
                {{ ALL_TABS[currTab].label }}
              </div>
              <div
                v-for="color in getDayColors(currTab)"
                :key="color"
                class="color-dot m-2"
                :class="'has-background-' + color"
              />
            </div>
          </b-button>
        </template>
        <b-dropdown-item
          v-for="val in ALL_TABS_ORDERED"
          :key="val"
          :value="val"
        >
          <div class="media is-flex is-align-items-center">
            <b-icon class="media-left" :icon="ALL_TABS[val].icon"></b-icon>
            <div class="media-content">
              <h3>{{ ALL_TABS[val].label }}</h3>
            </div>
            <div
              v-for="color in getDayColors(val)"
              :key="color"
              class="color-dot m-2"
              :class="'has-background-' + color"
            />
          </div>
        </b-dropdown-item>
      </b-dropdown>
    </div>
    <div
      v-for="val in ALL_TABS_ORDERED"
      :key="val"
    >
      <day-active-times-editor
        v-if="currTab === val"
        :value="value"
        @input="$emit('input', $event)"
        :editingDay="val"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import DayActiveTimesEditor from '@/components/blocking/day-active-times-editor.vue'

@Component({
  components: {
    DayActiveTimesEditor
  }
})
export default class ActiveTimesEditor extends Vue {
  ALL_TABS_ORDERED = [ '*', 'weekend', 'weekday', '0', '1', '2', '3', '4', '5', '6']
  ALL_TABS = {
    '*': {
      label: 'All days',
      icon: 'calendar-star'
    },
    'weekend': {
      label: 'Weekends',
      icon: 'calendar-weekend'
    },
    'weekday': {
      label: 'Weekdays',
      icon: 'calendar-week-begin'
    },
    '0': {
      label: 'Monday'
    },
    '1': {
      label: 'Tuesday'
    },
    '2': {
      label: 'Wednesday'
    },
    '3': {
      label: 'Thursday'
    },
    '4': {
      label: 'Friday'
    },
    '5': {
      label: 'Saturday'
    },
    '6': {
      label: 'Sunday'
    }
  }
  @Prop() readonly value: {[day: string]: boolean[]} | undefined
  currTab = '*'

  /**
   * Given a day, return the colors of the rulesets that have anything on that day.
   */
  getDayColors (day: string): string[] {
    if (!this.value) {
      return []
    }
    if (this.value[day].some(active => active)) {
      return ['danger-dark']
    }
    return []
  }
}
</script>

<style scoped>
.color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
</style>
