<template>
  <div
    :set="ruleDeviceId = appDisplay && appDisplay.device.deviceId ? appDisplay.device.deviceId : ''"
    :set2="ruleMac = appDisplay && appDisplay.device.mac ? appDisplay.device.mac : ''"
    :set3="isOverride = ruleDeviceId === device.id && ruleMac === device.mac"
  >
    <div
      class="is-flex is-align-items-center px-4 py-3"
      style="min-height: 60px; position: relative;"
    >
      <div>
        <div class="is-flex is-align-items-center">
          <div>
            <a
              class="is-size-6 has-text-weight-medium has-text-link pl-2"
              target="blank"
              :href="getStoreHref(id)"
            >
              <b-icon icon="google-play" size="is-small" /> {{ appData.name }}
            </a>
            <div
              v-if="appData.installedOn && appData.installedOn.length"
              class="is-size-7 has-text-grey ml-2 mt-1"
            >
              Installed
              <router-link
                v-if="appData.installedOn.length === 1 && appData.installedOn[0] !== device.id"
                class="has-text-link"
                :to="{
                  name: $route.name,
                  query: {
                    'device-id': appData.installedOn[0],
                    'mac': ''
                  }
                }"
              >
                on 1 device
              </router-link>
              <router-link
                v-else-if="!appData.installedOn.includes(device.id)"
                class="has-text-link"
                :to="multiInstallationsLink"
              >
                on {{ appData.installedOn.length }} devices
              </router-link>
              <span v-else>
                {{ fmtInstallationTime }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-1" />
      <b-field v-if="showApprove">
        <p class="control">
          <b-button
            icon-left="cancel"
            rounded
            @click="$emit('deny')"
          />
        </p>
        <p class="control">
          <b-button
            label="Approve"
            icon-right="check"
            type="is-primary"
            @click="$emit('approve')"
            rounded
          />
        </p>
      </b-field>
      <div v-else>
        <!-- When in desktop view, use a tri-state button -->
        <b-field>
          <p class="control">
            <b-tooltip :label="'Allow ' + appData.name">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="!appDisplay.screentime && !appDisplay.model.blocked ? 'is-success' : 'is-light'"
                icon-left="check-circle-outline"
                @click="$event.stopPropagation(); $emit('unblock');"
              />
            </b-tooltip>
          </p>
          <p class="control">
            <b-tooltip :label="'Block ' + appData.name">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="!appDisplay.screentime && appDisplay.model.blocked ? 'is-danger' : 'is-light'"
                icon-left="cancel"
                @click="$event.stopPropagation(); $emit('block');"
              />
            </b-tooltip>
          </p>
          <p class="control" v-if="screentime">
            <b-tooltip :label="'Limit ' + appData.name">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="appDisplay.screentime ? 'is-blue' : 'is-light'"
                icon-left="timer-outline"
                @click="$event.stopPropagation(); $emit('screentime');"
              />
            </b-tooltip>
          </p>
        </b-field>
      </div>
    </div>
    <div v-if="expanded" class="columns is-size-7 has-text-grey pl-4 pr-3 pb-4">
      <div class="column is-three-quarters">
      </div>
      <div class="column is-one-quarter has-text-right px-5">
        <span v-if="isOverride && ruleDeviceId">
          This device
        </span>
        <span v-else-if="ruleDeviceId">
          From {{ devices.devices[ruleDeviceId].name }}
        </span>
        <span v-else>
          From account defaults
        </span>
      </div>
    </div>
    <div
      v-if="appDisplay && appDisplay.screentime"
      class="is-flex is-justify-content-space-around pb-4"
    >
      <div style="max-width: 200px" class="is-flex is-flex-direction-column is-align-items-center">
        <b-button
          rounded
          :outlined="appDisplay.timers.length ? false : true"
          :size="mobile ? 'is-small' : undefined"
          type="is-primary"
          :icon-left="appDisplay.timers.length ? 'timer-edit-outline' : 'timer-plus-outline'"
          :label="!isOverride ? 'Override' : 'Limit Duration'"
          @click="$event.stopPropagation(); $emit('timer');"
        />
        <p class="is-size-7 mt-3" v-if="appDisplay.timers.length === 1">
          {{ timerDescriptions[appDisplay.timers[0]] }} <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
        <p class="is-size-7 mt-3" v-else-if="appDisplay.timers.length > 1">
          {{ appDisplay.timers.length }} timers <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
      </div>
      <div style="max-width: 200px" class="is-flex is-flex-direction-column is-align-items-center">
        <b-button
          rounded
          :outlined="appDisplay.timetables.length ? false : true"
          :size="mobile ? 'is-small' : undefined"
          type="is-primary"
          :icon-left="appDisplay.timetables.length ? 'calendar-edit-outline' : 'calendar-plus-outline'"
          :label="!isOverride ? 'Override' : 'Block Times'"
          @click="$event.stopPropagation(); $emit('timetable');"
        />
        <p class="is-size-7 mt-3" v-if="appDisplay.timetables.length === 1">
          {{ timetableDescriptions[appDisplay.timetables[0]] }} <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
        <p class="is-size-7 mt-3" v-else-if="appDisplay.timetables.length > 1">
          {{ appDisplay.timetables.length }} timetables <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GroupIcon from '@/components/my-devices/group-icon.vue'
import qs from 'qs'
import { AppData } from '@/requests/blocking/get-app-blocking'
import { Prop } from 'vue-property-decorator'
import { AppDisplay, DeviceSelection, getDeviceIcon } from '@/helpers/functions'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import dayjs from 'dayjs'

@Component({
  components: {
    GroupIcon
  }
})
export default class App extends Vue {
  @Prop() readonly id: string | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly device: DeviceSelection | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly appData: AppData | undefined
  @Prop() readonly appDisplay: AppDisplay | undefined
  @Prop() readonly screentime: boolean | undefined
  @Prop() readonly timerDescriptions: {[id: number]: string} | undefined
  @Prop() readonly timetableDescriptions: {[id: number]: string} | undefined
  @Prop() readonly expanded: boolean | undefined
  @Prop() readonly showApprove: boolean | undefined

  get multiInstallationsLink (): string {
    if (!this.appData || !this.appData.installedOn) {
      return ''
    }
    return '/devices?' + qs.stringify({ 'device-id': this.appData.installedOn}, { arrayFormat: 'repeat'})
  }

  get fmtInstallationTime (): string {
    if (!this.appData || !this.appData.installedAt) {
      return ''
    }
    return dayjs.unix(this.appData.installedAt).fromNow()
  }

  getDeviceIcon (deviceId: string, mac: string) {
    if (this.appDisplay && this.appDisplay.device.accountId === '') {
      return ''
    }
    const compoundId = deviceId + (mac ? '/' + mac : '')
    if (!this.devices || !this.devices.devices || !this.devices.devices[compoundId]) {
      return 'account'
    }
    return getDeviceIcon(this.devices.devices[compoundId])
  }

  getStoreHref (appId: string): string {
    return 'https://play.google.com/store/apps/details?id=' + encodeURIComponent(appId.split('/')[1])
  }
}
</script>
