<template>
  <div
    :set="ruleDeviceId = categoryDisplay.device.deviceId ? categoryDisplay.device.deviceId : ''"
    :set2="ruleMac = categoryDisplay.device.mac ? categoryDisplay.device.mac : ''"
    :set3="isOverride = ruleDeviceId === device.id && ruleMac === device.mac"
  >
    <div
      class="is-flex is-align-items-center px-4 py-3"
      style="min-height: 60px; position: relative;"
    >
      <div>
        <div class="is-flex is-align-items-center">
          <b-icon :icon="icon" class="has-text-grey-dark mx-1" />
          <div>
            <div class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark">
              {{ categoryData.name }}
            </div>
            <div
              v-if="installations && installations.length"
              class="is-size-7 has-text-grey ml-2 mt-1"
            >
              Installed
              <router-link
                v-if="installations.length === 1 && installations[0] !== device.id"
                class="has-text-link"
                :to="multiInstallationsLink"
              >
                on 1 device
              </router-link>
              <router-link
                v-else-if="!installations.includes(device.id)"
                class="has-text-link"
                :to="multiInstallationsLink"
              >
                on {{ installations.length }} devices
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-1" />
      <b-dropdown v-if="categoryData.options" position="is-bottom-left">
        <!-- Always use a dropdown when there are options -->
        <template #trigger>
          <b-button
            rounded
            :label="categoryDisplay.screentime ? 'Time Limit' : categoryData.options.options[categoryDisplay.model.selectedOption].name"
            :type="categoryDisplay.model.selectedOption === categoryData.options.blockingOption ? 'is-danger' :
              categoryDisplay.model.selectedOption > 0 ? 'is-success' :
              'is-light'
            "
            icon-right="menu-down"
          />
        </template>
        <b-dropdown-item
          v-for="(option, idx) in categoryData.options.options"
          :key="idx"
          @click="$emit('select', idx)"
        >
          {{ option.name }}
        </b-dropdown-item>
        <b-dropdown-item
          v-if="screentime"
          @click="$emit('select', -1)"
        >
          Time Limit
        </b-dropdown-item>
      </b-dropdown>
      <div v-else>
        <b-field>
          <p class="control">
            <b-tooltip :label="'Allow ' + categoryData.name">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="!categoryDisplay.screentime && !categoryDisplay.model.blocked ? 'is-success' : 'is-light'"
                icon-left="check-circle-outline"
                @click="$event.stopPropagation(); $emit('unblock');"
              />
            </b-tooltip>
          </p>
          <p class="control">
            <b-tooltip :label="'Block ' + categoryData.name">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="!categoryDisplay.screentime && categoryDisplay.model.blocked ? 'is-danger' : 'is-light'"
                icon-left="cancel"
                @click="$event.stopPropagation(); $emit('block');"
              />
            </b-tooltip>
          </p>
          <p class="control" v-if="screentime">
            <b-tooltip :label="'Limit ' + categoryData.name">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="categoryDisplay.screentime ? 'is-blue' : 'is-light'"
                icon-left="timer-outline"
                @click="$event.stopPropagation(); $emit('screentime');"
              />
            </b-tooltip>
          </p>
        </b-field>
      </div>
    </div>
    <div v-if="expanded" class="columns is-size-7 has-text-grey pl-4 pr-3 pb-4">
      <div class="column is-three-quarters">
        {{ categoryData.description }}
      </div>
      <div class="column is-one-quarter has-text-right px-5">
        <span v-if="isOverride && ruleDeviceId">
          This device
        </span>
        <span v-else-if="ruleDeviceId">
          From {{ devices.devices[ruleDeviceId].name }}
        </span>
        <span v-else>
          From account defaults
        </span>
      </div>
    </div>
    <div
      v-if="categoryDisplay.screentime"
      class="is-flex is-justify-content-space-around pb-4"
    >
      <div style="max-width: 200px" class="is-flex is-flex-direction-column is-align-items-center">
        <b-button
          rounded
          :outlined="categoryDisplay.timers.length ? false : true"
          :size="mobile ? 'is-small' : undefined"
          type="is-primary"
          :icon-left="categoryDisplay.timers.length ? 'timer-edit-outline' : 'timer-plus-outline'"
          :label="!isOverride ? 'Override' : 'Limit Duration'"
          @click="$event.stopPropagation(); $emit('timer');"
        />
        <p class="is-size-7 mt-3" v-if="categoryDisplay.timers.length === 1">
          {{ timerDescriptions[categoryDisplay.timers[0]] }} <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
        <p class="is-size-7 mt-3" v-else-if="categoryDisplay.timers.length > 1">
          {{ categoryDisplay.timers.length }} timers <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
      </div>
      <div style="max-width: 200px" class="is-flex is-flex-direction-column is-align-items-center">
        <b-button

          rounded
          :outlined="categoryDisplay.timetables.length ? false : true"
          :size="mobile ? 'is-small' : undefined"
          type="is-primary"
          :icon-left="categoryDisplay.timetables.length ? 'calendar-edit-outline' : 'calendar-plus-outline'"
          :label="!isOverride ? 'Override' : 'Block Times'"
          @click="$event.stopPropagation(); $emit('timetable');"
        />
        <p class="is-size-7 mt-3" v-if="categoryDisplay.timetables.length === 1">
          {{ timetableDescriptions[categoryDisplay.timetables[0]] }} <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
        <p class="is-size-7 mt-3" v-else-if="categoryDisplay.timetables.length > 1">
          {{ categoryDisplay.timetables.length }} timetables <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { CategoryDisplay, DeviceSelection } from "@/helpers/functions"
import { CategoryData } from "@/requests/blocking/get-category-blocking"
import { DevicesList } from "@/requests/devices-v2/get-devices-list"
import Vue from "vue"
import Component from "vue-class-component"
import { Prop } from "vue-property-decorator"
import GroupIcon from '@/components/my-devices/group-icon.vue'
import qs from 'qs'

@Component({
  components: {
    GroupIcon
  }
})
export default class Category extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly device: DeviceSelection | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly categoryData: CategoryData | undefined
  @Prop() readonly categoryDisplay: CategoryDisplay | undefined
  @Prop() readonly screentime: boolean | undefined
  @Prop() readonly installations: string[] | undefined
  @Prop() readonly timerDescriptions: {[id: number]: string} | undefined
  @Prop() readonly timetableDescriptions: {[id: number]: string} | undefined
  @Prop() readonly expanded: boolean | undefined

  get icon(): string {
    if (!this.categoryData) {
      return ''
    }
    if (this.categoryData.icon === '') {
      return 'alpha-' + this.categoryData.name.substring(0, 1).toLowerCase() + '-box-outline'
    }
    return this.categoryData.icon
  }

  get multiInstallationsLink (): string {
    if (!this.installations) {
      return ''
    }
    return '/devices?' + qs.stringify({ 'device-id': this.installations}, { arrayFormat: 'repeat'})
  }
}
</script>
