<template>
  <div @mouseleave="dragStart = -1; dragEnd = -1;">
    <!-- Create a grid of squares, one square for each hour of the day. -->
    <div
      v-for="hour in hoursOrdered"
      :key="hour"
      class="hour"
      @mousedown="onMouseDown(hour)"
      @mouseup="onMouseUp(hour)"
      @click="onMouseDown(hour); onMouseMove(hour); onMouseUp(hour);"
      @mousemove="onMouseMove(hour)"
      @mouseenter="onMouseEnter(hour)"
    >
      <div
        class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column"
        style="z-index: 2; position: relative;"
      >
        <b-icon
          style="display: inline-block"
          class="has-text-white mb-2"
          :icon="getHourIcon(hour)"
        />
        <div class="has-text-white">
          {{ getHourText(hour) }}
        </div>
      </div>
      <!-- Each square has four nested squares representing a quarter of an hour -->
      <div class="quarter-container">
        <div class="quarter tl" :class="getQuarterClass(hour, 0)"/>
        <div class="quarter tr" :class="getQuarterClass(hour, 1)"/>
        <div class="quarter bl" :class="getQuarterClass(hour, 2)"/>
        <div class="quarter br" :class="getQuarterClass(hour, 3)"/>
      </div>
      <div
        class="quarter-button-container"
        v-if="showQuarterButton(hour)"
      >
        <b-button
          icon-left="clock-time-three"
          size="is-small"
          @click="toggleQuarter(hour, $event)"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue'
import { Prop, Watch } from 'vue-property-decorator'
import cloneDeep from 'lodash/cloneDeep'

@Component
export default class DayActiveTimesEditor extends Vue {
  @Prop() readonly value: {[day: string]: boolean[]} | undefined
  @Prop() readonly editingDay: string | undefined
  hoursOrdered: number[] = []
  relevantDays: string[] = []
  dragStart = -1
  dragEnd = -1
  dragSelecting = true

  mounted () {
    // Generate our hours
    for (let i = 6; i < 24; i++) {
      this.hoursOrdered.push(i)
    }
    for (let i = 0; i < 6; i++) {
      this.hoursOrdered.push(i)
    }
  }

  // Given an hour 0-23, return a string representation.
  getHourText (hour: number): string {
    if (!this.value || !this.editingDay) {
      return ''
    }
    // Check if this is a partial hour
    let middlePortion = ''
    const hourArr = this.value[this.editingDay].slice(hour*4,hour*4+4)
    if (hourArr[0] || hourArr[3]) {
      // At least 1 quarter is defined
      if (!hourArr[0]) {
        // Something missing at start
        let extraMinutes = 0
        for (let i = 0; i < 4; i++) {
          if (!hourArr[i]) {
            extraMinutes += 15
          } else {
            break
          }
        }
        middlePortion = ':' + extraMinutes
      } else if (!hourArr[3]) {
        // Something missing at end
        let extraMinutes = 60
        for (let i = 3; i >= 0; i--) {
          if (!hourArr[i]) {
            extraMinutes -= 15
          } else {
            break
          }
        }
        middlePortion = ':' + extraMinutes
      }
    }
    if (hour === 0) {
      return 12 + middlePortion + 'am'
    } else if (hour < 12) {
      return hour + middlePortion + 'am'
    } else if (hour === 12) {
      return 12 + middlePortion + 'pm'
    } else {
      return (hour - 12) + middlePortion + 'pm'
    }
  }

  // Given an hour 0-23, return an icon for it.
  getHourIcon (hour: number): string {
    if (hour < 5 || hour > 17) {
      return 'moon-waning-crescent'
    }
    return 'white-balance-sunny'
  }

  /**
   * @returns Whether the given hour is contained within the interval we're currently dragging.
   */
  withinDragInterval (hour: number): boolean {
    if (this.dragStart === -1 || this.dragEnd === -1) {
      return false
    }
    const dragStartIdx = this.hoursOrdered.indexOf(this.dragStart)
    const dragEndIdx = this.hoursOrdered.indexOf(this.dragEnd)
    const hourIdx = this.hoursOrdered.indexOf(hour)
    if (dragEndIdx >= dragStartIdx) {
      return hourIdx >= dragStartIdx && hourIdx <= dragEndIdx
    } else {
      return hourIdx >= dragEndIdx && hourIdx <= dragStartIdx
    }
  }

  // Given the selected ruleset, modify it based on the current drag. 
  modifyRulesetFromDrag (ruleset: {[day: string]: boolean[]}): {[day: string]: boolean[]} {
    if (!this.editingDay) {
      return ruleset
    }
    const newRuleset = cloneDeep(ruleset)
    newRuleset[this.editingDay] = newRuleset[this.editingDay].map((val, i) => this.withinDragInterval(Math.floor(i / 4)) ? this.dragSelecting : val)
    return newRuleset
  }

  // Given an hour 0-23 and quarter 0-3, return a classname representing
  // the color of the quarter.
  getQuarterClass (hour: number, quarter: number): string {
    if (!this.value ) {
      return ''
    }
    // If we're dragging to select and this hour is within the interval, just show that
    // If we're dragging to deselect, show whatever is underneath
    if (this.withinDragInterval(hour)) {
      if (this.dragSelecting) {
        return 'has-background-danger-dark'
      } else {
        return 'has-background-grey-dark'
      }
    }
    let foundClass = 'has-background-grey-dark'
    for (let j = 0; j < this.relevantDays.length; j++) {
      const currDay = this.relevantDays[j]
      if (this.value[currDay][hour * 4 + quarter]) {
        foundClass = 'has-background-danger-dark'
        if (currDay === this.editingDay) {
          break
        } else {
          foundClass += ' is-faded'
          break
        }
      }
    }
    return foundClass
  }

  /**
   * Get all days that could apply to the day we're editing.
   */
  @Watch('editingDay', { immediate: true }) getRelevantDays () {
    if (!this.editingDay) {
      return []
    }
    this.relevantDays = [this.editingDay]
    const editingDayInt = parseInt(this.editingDay)
    if (isNaN(editingDayInt)) {
      return
    }
    if (editingDayInt < 2) {
      this.relevantDays.push('weekend')
    } else {
      this.relevantDays.push('weekday')
    }
    this.relevantDays.push('*')
  }

  onMouseDown (hour: number) {
    if (!this.value || !this.editingDay) {
      return
    }
    this.dragStart = hour
    // If all of the quarters within the hour aren't selected, start selecting. Otherwise, start deselecting.
    this.dragSelecting = !this.value[this.editingDay].slice(hour*4, (hour*4)+4).every(quarterSelected => quarterSelected)
  }

  onMouseUp (hour: number) {
    if (!this.value) {
      return
    }
    if (this.dragEnd === -1) {
      this.dragStart = -1
      return
    }
    // Here is where we actually apply the preview we're showing
    this.$emit('input', this.modifyRulesetFromDrag(this.value))
    this.dragStart = -1
    this.dragEnd = -1
  }

  onMouseMove (hour: number) {
    if (hour === this.dragStart) {
      this.dragEnd = hour
    }
  }

  onMouseEnter (hour: number) {
    if (this.dragStart !== -1) {
      this.dragEnd = hour
    }
  }

  /**
   * @returns Whether to show the quarter button for the current hour.
   */
  showQuarterButton (hour: number): boolean {
    if (!this.value || !this.editingDay) {
      return false
    }
    // Show if we are at the start/end of an interval
    let afterIdx = hour*4+4
    if (afterIdx >= 96) {
      afterIdx = 0
    }
    let beforeIdx = hour*4-1
    if (beforeIdx < 0) {
      beforeIdx = 95
    }
    const hasAfter = this.value[this.editingDay][afterIdx]
    const hasBefore = this.value[this.editingDay][beforeIdx]
    const hasSelf = this.value[this.editingDay].slice(hour*4, hour*4+4).some(active => active)
    return hasSelf && ((hasAfter && !hasBefore) || (hasBefore && !hasAfter) || (!hasAfter && !hasBefore))
  }

  /**
   * Toggle the quarter interval for the value as if there
   * is another value after the referenced hour.
   */
  toggleQuarterHasAfter(hour: number) {
    if (!this.value || !this.editingDay) {
      return
    }
    const newVal = cloneDeep(this.value)
    // Alternate between having time at the end and being full, in that order
    for (let i = hour*4, j = 0; j < 4; j++, i++) {
      if (newVal[this.editingDay][i]) {
        switch (j) {
          case 0:
            newVal[this.editingDay][i] = false
            break
          case 1:
            newVal[this.editingDay][i] = false
            newVal[this.editingDay][i-1] = false
            break
          case 2:
            newVal[this.editingDay][i] = false
            newVal[this.editingDay][i-1] = false
            newVal[this.editingDay][i-2] = false
            break
          case 3:
            newVal[this.editingDay][i-1] = true
            newVal[this.editingDay][i-2] = true
            newVal[this.editingDay][i-3] = true
            break
        }
        break
      }
    }
    this.$emit('input', newVal)
  }

  /**
   * Toggle the quarter interval for the value as if there
   * is another value before the referenced hour.
   */
  toggleQuarterHasBefore(hour: number) {
    if (!this.value || !this.editingDay) {
      return
    }
    const newVal = cloneDeep(this.value)
    // Alternate between having time at the end and being full, in that order
    for (let i = hour*4+3, j = 3; j >= 0; j--, i--) {
      if (newVal[this.editingDay][i]) {
        switch (j) {
          case 0:
            newVal[this.editingDay][i+1] = true
            newVal[this.editingDay][i+2] = true
            newVal[this.editingDay][i+3] = true
            break
          case 1:
            newVal[this.editingDay][i] = false
            newVal[this.editingDay][i+1] = false
            newVal[this.editingDay][i+2] = false
            break
          case 2:
            newVal[this.editingDay][i] = false
            newVal[this.editingDay][i+1] = false
            break
          case 3:
            newVal[this.editingDay][i] = false
            break
        }
        break
      }
    }
    this.$emit('input', newVal)
  }

  /**
   * Change the quarter interval for the given hour.
   */
  toggleQuarter (hour: number, e: MouseEvent) {
    e.stopPropagation()
    if (!this.value || !this.editingDay) {
      return false
    }
    // Show if we are at the start/end of an interval
    let afterIdx = hour*4+4
    if (afterIdx >= 96) {
      afterIdx = 0
    }
    let beforeIdx = hour*4-1
    if (beforeIdx < 0) {
      beforeIdx = 95
    }
    const hasAfter = this.value[this.editingDay][afterIdx]
    const hasBefore = this.value[this.editingDay][beforeIdx]
    if (!hasAfter && !hasBefore) {
      // Toggle as if there was something before
      this.toggleQuarterHasBefore(hour)
    } else if (hasBefore) {
      this.toggleQuarterHasBefore(hour)
    } else if (hasAfter) {
      this.toggleQuarterHasAfter(hour)
    }
  }
}
</script>

<style>
.hour {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: column;
  cursor: crosshair;
  position: relative;
  z-index: 2;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.quarter-container {
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
}

.quarter-button-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.quarter {
  display: inline-block;
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.tl {
  top: 0px;
  left: 0px;
}

.tr {
  top: 0px;
  right: 0px;
}

.bl {
  bottom: 0px;
  left: 0px;
}

.br {
  bottom: 0px;
  right: 0px;
}

.is-faded {
  opacity: 0.7;
}
</style>
