<template>
  <div
    :set="ruleDeviceId = domainDisplay && domainDisplay.device.deviceId ? domainDisplay.device.deviceId : ''"
    :set2="ruleMac = domainDisplay && domainDisplay.device.mac ? domainDisplay.device.mac : ''"
    :set3="isOverride = ruleDeviceId === device.id && ruleMac === device.mac"
  >
    <div
      class="is-flex is-align-items-center px-4 py-3"
      style="min-height: 60px; position: relative;"
    >
      <div>
        <div class="is-flex is-align-items-center">
          <b-button
            rounded
            icon-left="delete"
            @click="$emit('delete'); $event.stopPropagation();"
          />
          <div class="pl-2">
            <b-field
              class="px-2"
              v-if="editable"
              v-bind="siteNameError"
            >
              <b-input
                v-model="editingDomain"
                autocomplete="off"
                @keydown.native="siteAddKeyDown($event)"
                ref="input"
              />
            </b-field>
            <div
              v-else
              class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark"
            >
              {{ domain }}
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-1" />
      <b-button
        type="is-primary"
        v-if="editable"
        rounded
        icon-right="check"
        @click="done"
        :disabled="siteNameError && Object.keys(siteNameError).length > 0"
      />
      <div v-else-if="!editable">
        <b-field>
          <p class="control">
            <b-tooltip :label="'Allow ' + domain">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="!domainDisplay.screentime && !domainDisplay.model.blocked ? 'is-success' : 'is-light'"
                icon-left="check-circle-outline"
                @click="$event.stopPropagation(); $emit('unblock');"
              />
            </b-tooltip>
          </p>
          <p class="control">
            <b-tooltip :label="'Block ' + domain">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="!domainDisplay.screentime && domainDisplay.model.blocked ? 'is-danger' : 'is-light'"
                icon-left="cancel"
                @click="$event.stopPropagation(); $emit('block');"
              />
            </b-tooltip>
          </p>
          <p class="control" v-if="screentime">
            <b-tooltip :label="'Limit ' + domain">
              <b-button
                :size="mobile ? 'is-small' : undefined"
                :type="domainDisplay.screentime ? 'is-blue' : 'is-light'"
                icon-left="timer-outline"
                @click="$event.stopPropagation(); $emit('screentime');"
              />
            </b-tooltip>
          </p>
        </b-field>
      </div>
    </div>
    <div v-if="expanded" class="columns is-size-7 has-text-grey pl-4 pr-3 pb-4">
      <div class="column is-three-quarters">
      </div>
      <div class="column is-one-quarter has-text-right px-5">
        <span v-if="isOverride && ruleDeviceId">
          This device
        </span>
        <span v-else-if="ruleDeviceId">
          From {{ devices.devices[ruleDeviceId].name }}
        </span>
        <span v-else>
          From account defaults
        </span>
      </div>
    </div>
    <div
      v-if="domainDisplay && domainDisplay.screentime"
      class="is-flex is-justify-content-space-around pb-4"
    >
      <div style="max-width: 200px" class="is-flex is-flex-direction-column is-align-items-center">
        <b-button
          rounded
          :outlined="domainDisplay.timers.length ? false : true"
          :size="mobile ? 'is-small' : undefined"
          type="is-primary"
          :icon-left="domainDisplay.timers.length ? 'timer-edit-outline' : 'timer-plus-outline'"
          :label="!isOverride ? 'Override' : 'Limit Duration'"
          @click="$event.stopPropagation(); $emit('timer');"
        />
        <p class="is-size-7 mt-3" v-if="domainDisplay.timers.length === 1">
          {{ timerDescriptions[domainDisplay.timers[0]] }} <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
        <p class="is-size-7 mt-3" v-else-if="domainDisplay.timers.length > 1">
          {{ domainDisplay.timers.length }} timers <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
      </div>
      <div style="max-width: 200px" class="is-flex is-flex-direction-column is-align-items-center">
        <b-button
          rounded
          :outlined="domainDisplay.timetables.length ? false : true"
          :size="mobile ? 'is-small' : undefined"
          type="is-primary"
          :icon-left="domainDisplay.timetables.length ? 'calendar-edit-outline' : 'calendar-plus-outline'"
          :label="!isOverride ? 'Override' : 'Block Times'"
          @click="$event.stopPropagation(); $emit('timetable');"
        />
        <p class="is-size-7 mt-3" v-if="domainDisplay.timetables.length === 1">
          {{ timetableDescriptions[domainDisplay.timetables[0]] }} <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
        <p class="is-size-7 mt-3" v-else-if="domainDisplay.timetables.length > 1">
          {{ domainDisplay.timetables.length }} timetables <span v-if="!isOverride">(From {{ ruleDeviceId ? devices.devices[ruleDeviceId].name : 'account' }})</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { DeviceSelection, DomainDisplay, getDeviceIcon } from "@/helpers/functions"
import { DevicesList } from "@/requests/devices-v2/get-devices-list"
import Vue from "vue"
import Component from "vue-class-component"
import { Prop } from "vue-property-decorator"
import GroupIcon from '@/components/my-devices/group-icon.vue'

@Component({
  components: {
    GroupIcon
  }
})
export default class Domain extends Vue {
  @Prop() readonly domain: string | undefined
  @Prop() readonly editable: boolean | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly device: DeviceSelection | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly domainDisplay: DomainDisplay | undefined
  @Prop() readonly screentime: boolean | undefined
  @Prop() readonly installations: string[] | undefined
  @Prop() readonly timerDescriptions: {[id: number]: string} | undefined
  @Prop() readonly timetableDescriptions: {[id: number]: string} | undefined
  @Prop() readonly expanded: boolean | undefined

  editingDomain = ''

  getDeviceIcon (deviceId: string, mac: string) {
    if (this.domainDisplay && this.domainDisplay.device.accountId === '') {
      return ''
    }
    const compoundId = deviceId + (mac ? '/' + mac : '')
    if (!this.devices || !this.devices.devices || !this.devices.devices[compoundId]) {
      return 'account'
    }
    return getDeviceIcon(this.devices.devices[compoundId])
  }

  focus () {
    (this.$refs['input'] as unknown as any).focus()
  }

  done () {
    const err = this.siteNameError
    if (err && Object.keys(err).length > 0) {
      return
    }
    this.$emit('done', this.editingDomain)
  }

  get siteNameError (): { type?: string; message?: string } {
    const genericError = {
      type: 'is-danger',
      message: 'Invalid Domain'
    }
    /**
     * @returns Whether a portion of a domain name is invalid, e.g.
     *          'com' and 'google' in google.com
     */
    const domainPortionInvalid = (domainPortion: string): { type?: string; message?: string } => {
      if (domainPortion.length < 1) {
        return genericError // No empty portions
      }
      if (domainPortion.charAt(0) === '-' || domainPortion.charAt(domainPortion.length - 1) === '-') {
        return genericError // Dashes only allowed within
      }
      const validCharMatches = domainPortion.match(/[a-zA-Z0-9-]/g)
      if (validCharMatches === null) {
        return {} // No matches
      } else if (validCharMatches.length === domainPortion.length) {
        return {} // All characters were valid
      } else {
        return {
          type: 'is-danger',
          message: 'Domain contains invalid characters'
        }
      }
    }
    // Split around dots
    const domainPortions = this.editingDomain.split('.')
    if (domainPortions.length <= 1) {
      // No dots, invalid
      return {
        type: 'is-danger',
        message: 'Don\'t enter the protocol or path like "http://example.com/thing". Just enter the "example.com" part.'
      }
    }
    for (let i = 0; i < domainPortions.length; i++) {
      const err = domainPortionInvalid(domainPortions[i])
      if (err.type) {
        return err
      }
    }
    // Nothing wrong
    return {}
  }

  siteAddKeyDown (event: KeyboardEvent) {
    if (event.keyCode === 13) {
      this.done()
    }
  }
}
</script>
