<template>
  <div class="is-flex is-align-items-center">
    <div>
      <b-numberinput
        type="is-grey"
        class="timer-element mr-3"
        v-model="hours"
        size="is-small"
        :min="0"
        :max="23"
        controls-position="compact"
        @click.native="$event.stopPropagation()"
      />
      <span
        class="timer-element timer-element-text mr-3"
      >
        hours and
      </span>
      <b-numberinput
        type="is-grey"
        class="timer-element mr-3"
        v-model="minutes"
        size="is-small"
        :min="hours ? 0 : 5"
        :max="59"
        :step="5"
        controls-position="compact"
        @click.native="$event.stopPropagation()"
      />
      <span
        class="timer-element timer-element-text mr-3"
      >
        minutes on
      </span>
      <b-select
        v-model="day"
        size="is-small"
        class="timer-element mr-3"
        @click.native="$event.stopPropagation()"
      >
        <option value="*">All days</option>
        <option value="weekday">Weekdays</option>
        <option value="weekend">Weekends</option>
        <option value="0">Mondays</option>
        <option value="1">Tuesdays</option>
        <option value="2">Wednesdays</option>
        <option value="3">Thursdays</option>
        <option value="4">Fridays</option>
        <option value="5">Saturdays</option>
        <option value="6">Sundays</option>
      </b-select>
    </div>
    <div class="is-flex-grow-1"/>
    <b-field v-if="showDelete">
      <p class="control">
        <b-button
          icon-right="check"
          @click="$event.stopPropagation(); done();"
          rounded outlined
          label="Apply"
        />
      </p>
      <p class="control">
        <b-button
          rounded outlined
          icon-right="delete"
          @click="$event.stopPropagation(); confirmDelete();"
        />
      </p>
    </b-field>
    <b-button
      v-else
      icon-right="check"
      @click="$event.stopPropagation(); done();"
      rounded outlined
      type="is-primary"
      label="Set Limit"
    />
  </div>
</template>

<script lang="ts">
import { Day, TimerSpec } from '@/requests/blocking/get-app-blocking'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import cloneDeep from 'lodash/cloneDeep'

@Component
export default class EditTimer extends Vue {
  @Prop() readonly value: TimerSpec | undefined
  @Prop() readonly showDelete: boolean | undefined

  hours = 0
  minutes = 0
  day: Day = '*'

  @Watch('value', { immediate: true }) update (newValue: TimerSpec) {
    this.day = newValue.day
    this.hours = Math.floor(newValue.maxTimeSecs / 60 / 60)
    this.minutes = Math.floor((newValue.maxTimeSecs - Math.floor(newValue.maxTimeSecs / 60 / 60) * 60 * 60) / 60)
  }

  @Watch('hours')
  ensureNotZero() {
    if (this.minutes === 0) {
      this.minutes = 5
    }
  }

  done () {
    if (!this.value) {
      return
    }
    const newVal = cloneDeep(this.value)
    newVal.day = this.day
    newVal.maxTimeSecs = this.hours*60*60 + this.minutes*60
    this.$emit('input', newVal)
  }

  confirmDelete () {
    this.$buefy.dialog.confirm({
      type: 'is-danger',
      message: 'Delete timer?',
      confirmText: 'Delete',
      onConfirm: () => {
        this.$emit('input', null)
      }
    })
  }
}
</script>

<style scoped>
.timer-element {
  display: inline-flex;
  vertical-align: center;
}

.timer-element-text {
  line-height: 40px;
}
</style>
