<template>
  <b-input
    v-model="search"
    type="is-white"
    placeholder="Search..."
    :icon-right="search ? 'close-circle' : undefined"
    icon-right-clickable
    @icon-right-click="search = ''"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import debounce from 'lodash/debounce'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class EditorSearch extends Vue {
  @Prop() readonly mobile: boolean | undefined

  search = ''

  private readonly debouncedSearchUpdate = debounce(this.setSearch.bind(this), 1000)

  @Watch('search') searchUpdated () {
    this.debouncedSearchUpdate()
  }

  setSearch () {
    this.$emit('search', this.search)
  }
}
</script>
