<template>
  <div>
    <b-tabs
      v-model="tabIdx"
      type="is-boxed"
    >
      <b-tab-item
        :headerClass="mobile ? 'ml-4' : undefined"
        label="Categories"
      >
        <template #header>
          <span>Categories<b-tag v-if="!loading && search && categoryList.length" type="is-danger-dark" class="ml-2" rounded>{{ categoryList.length }}</b-tag></span>
        </template>
        <div v-if="blocking && blocking.categories && blocking.categories.meta && blocking.categories.meta.categoryOrder && blocking.categories.meta.categoryOrder.length">
          <transition-group name="appear">
            <div 
              v-for="(category, idx) in categoryList"
              :key="category === 0 ? 'space' + idx : category"
              v-show="!(category === 0 && categoryList[idx-1] === 0)"
              class="list-element has-background-white"
              :class="{
                'is-clickable': category < 0,
                'mb-5': category === 0,
                'pl-5': category > 0 && blocking.categories.meta.categoryData[category].parent > 0,
                'faded': category > 0 && blocking.categories.meta.categoryData[category].frozen,
                'border-bottom': search && idx === categoryList.length-1
              }"
            >
              <!-- Expand indicator -->
              <div
                v-if="category < 0"
                class="has-text-centered px-4 py-3 is-flex is-justify-content-center is-align-items-center"
                @click="expand(category)"
              >
                <b-icon
                  icon="menu-down"
                />
                <span>
                  More
                </span>
              </div>
              <!-- Empty space -->
              <div v-else-if="category === 0"/>
              <!-- Category view -->
              <div
                v-else
                class="is-flex is-align-items-center px-4 py-3"
                style="min-height: 60px; position: relative;"
              >
                <div>
                  <div class="is-flex is-align-items-center">
                    <b-icon :icon="blocking.categories.meta.categoryData[category].icon" class="has-text-grey-dark mx-1" />
                    <div>
                      <div class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark">
                        {{ blocking.categories.meta.categoryData[category].name }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="is-flex-grow-1" />
                <div>
                  <div v-if="overriddenCategories[category] !== undefined">
                    <b-button
                      rounded
                      icon-left="undo-variant"
                      type="is-primary"
                      outlined
                      :label="'Undo' + formatCategoryOverride(category, overriddenCategories[category])"
                      @click="undoCategory(category)"
                    />
                  </div>
                  <div
                    v-else
                    :set="mAction = getCategoryAction(category)"
                    :set2="mOptions = blocking.categories.meta.categoryData[category].options"
                  >
                    <b-field v-if="mAction.option !== null && mOptions !== null && mOptions.blockingOption && mOptions.blockingOption === mAction.option">
                      <!-- The suggestion is to block the option category, so show the block option on the left -->
                      <p class="control">
                        <b-button
                          rounded
                          label="Block"
                          icon-left="cancel"
                          @click="selectOption(category, blocking.categories.meta.categoryData[category].options.blockingOption)"
                        />
                      </p>
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            v-for="(option, idx) in mOptions.options"
                            v-show="idx !== mAction.option"
                            :key="idx"
                            @click="selectOption(category, idx)"
                          >
                            Set to {{ option.name }}
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                    </b-field>
                    <b-field v-else-if="mAction.option !== null && mOptions !== null && (!mOptions.blockingOption || mOptions.blockingOption !== mAction.option)">
                      <!-- The suggestion isn't to block the option category, so show the selected option on the right -->
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            v-for="(option, idx) in mOptions.options"
                            v-show="idx !== mAction.option"
                            :key="idx"
                            @click="selectOption(category, idx)"
                          >
                            Set to {{ option.name }}
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                      <p class="control">
                        <b-button
                          rounded
                          :label="'Set to ' + mOptions.options[mAction.option].name"
                          @click="selectOption(category, getCategoryAction(category).option)"
                        />
                      </p>
                    </b-field>
                    <b-field v-else-if="mAction.block">
                      <p class="control">
                        <b-button
                          rounded
                          label="Block"
                          icon-left="cancel"
                          @click="blockCategory(category)"
                        />
                      </p>
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            @click="allowCategory(category)"
                          >
                            Allow (currently allowed)
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                    </b-field>
                    <b-field v-else>
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            @click="blockCategory(category)"
                          >
                            Block (currently blocked)
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                      <p class="control">
                        <b-button
                          rounded
                          label="Allow"
                          icon-right="check"
                          @click="allowCategory(category)"
                        />
                      </p>
                    </b-field>
                  </div>
                </div>
              </div>
            </div>
          </transition-group>
        </div>
      </b-tab-item>
      <b-tab-item
        v-if="appsSupported()"
        :set="mApprovalRequiredApps = approvalRequiredApps"
        :set2="mApprovalNotRequiredApps = approvalNotRequiredApps"
      >
        <template #header>
          <span>Apps<b-tag v-if="search && mApprovalNotRequiredApps.length" type="is-danger-dark" class="ml-2" rounded>{{ mApprovalNotRequiredApps.length }}</b-tag></span>
        </template>
        <div
          v-if="blocking && blocking.apps && blocking.apps.meta && blocking.apps.meta.appOrder && blocking.apps.meta.appOrder.length"
        >
          <div v-if="mApprovalRequiredApps.length" class="is-flex is-justify-content-center has-text-grey">
            {{ mApprovalRequiredApps.length }} apps are waiting for approval. To use them in screentime rules, approve or deny them at the <router-link
              :to="{
                name: 'Blocking',
                query: {
                  'device-id': device.id,
                  mac: device.mac,
                  tab: 'apps'
                }
              }"
            >
              blocking
            </router-link> menu first.
          </div>
          <transition-group name="appear">
            <div
              v-for="(app, idx) in mApprovalNotRequiredApps"
              :key="app"
              class="list-element has-background-white"
              :class="{'border-bottom': idx === mApprovalNotRequiredApps.length-1}"
            >
              <div>
                <div
                  class="is-flex is-align-items-center px-4 py-3"
                  style="min-height: 60px; position: relative;"
                >
                  <div>
                    <div class="is-flex is-align-items-center">
                      <div>
                        <a
                          class="is-size-6 has-text-weight-medium has-text-link pl-2"
                          target="blank"
                          :href="getStoreHref(app)"
                        >
                          <b-icon icon="google-play" size="is-small" /> {{ blocking.apps.meta.appData[app].name }}
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="is-flex-grow-1" />
                  <div v-if="overriddenApps[app] !== undefined">
                    <b-button
                      v-if="overriddenApps[app]"
                      rounded
                      type="is-primary"
                      outlined
                      icon-left="undo-variant"
                      label="Undo block"
                      @click="undoApp(app)"
                    />
                    <b-button
                      v-else
                      rounded
                      type="is-primary"
                      outlined
                      icon-left="undo-variant"
                      label="Undo allow"
                      @click="undoApp(app)"
                    />
                  </div>
                  <div v-else>
                    <b-field v-if="blocking.apps.resolvedBlockingModel[app].blocked">
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            @click="blockApp(app)"
                          >
                            Block (currently blocked)
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                      <p class="control">
                        <b-button
                          rounded
                          label="Allow"
                          icon-right="check"
                          @click="allowApp(app)"
                        />
                      </p>
                    </b-field>
                    <b-field v-else>
                      <p class="control">
                        <b-button
                          rounded
                          label="Block"
                          icon-left="cancel"
                          @click="blockApp(app)"
                        />
                      </p>
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            @click="allowApp(app)"
                          >
                            Allow (currently allowed)
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                    </b-field>
                  </div>
                </div>
              </div>
            </div>
          </transition-group>
        </div>
        <div class="is-flex is-align-items-center is-flex-direction-column mt-3" v-else-if="!loading">
          <b-icon
            icon="apps-box"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            Nothing here yet.
          </p>
          <p class="is-size-6 mt-2 has-text-grey">
            Android devices support blocking and setting screentime rules for apps.
          </p>
        </div>
      </b-tab-item>
      <b-tab-item>
        <template #header>
          <span>Sites<b-tag v-if="search && domainsList.length" type="is-danger-dark" class="ml-2" rounded>{{ domainsList.length }}</b-tag></span>
        </template>
        <div v-if="domainsList">
          <transition-group
            v-if="domainsList"
            name="appear"
          >
            <div
              v-for="(domain, idx) in domainsList"
              :key="domain"
              class="list-element has-background-white"
              :class="{'border-bottom': idx === domainsList.length-1}"
            >
              <div>
                <div
                  class="is-flex is-align-items-center px-4 py-3"
                  style="min-height: 60px; position: relative;"
                >
                  <div>
                    <div class="is-flex is-align-items-center">
                      <div class="pl-2">
                        <div
                          class="ml-2 is-size-6 has-text-weight-medium has-text-grey-dark"
                        >
                          {{ domain }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="is-flex-grow-1" />
                  <div v-if="overriddenDomains[domain] !== undefined">
                    <b-button
                      v-if="overriddenDomains[domain]"
                      rounded
                      type="is-primary"
                      outlined
                      icon-left="undo-variant"
                      label="Undo block"
                      @click="undoDomain(domain)"
                    />
                    <b-button
                      v-else
                      rounded
                      type="is-primary"
                      outlined
                      icon-left="undo-variant"
                      label="Undo allow"
                      @click="undoDomain(domain)"
                    />
                  </div>
                  <div v-else>
                    <b-field v-if="blocking.domains.resolvedBlockingModel[domain].blocked">
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            @click="blockDomain(domain)"
                          >
                            Block (currently blocked)
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                      <p class="control">
                        <b-button
                          rounded
                          label="Allow"
                          icon-right="check"
                          @click="allowDomain(domain)"
                        />
                      </p>
                    </b-field>
                    <b-field v-else>
                      <p class="control">
                        <b-button
                          rounded
                          label="Block"
                          icon-left="cancel"
                          @click="blockDomain(domain)"
                        />
                      </p>
                      <p class="control">
                        <b-dropdown position="is-bottom-left">
                          <template #trigger>
                            <b-button
                              rounded
                              icon-right="dots-vertical"
                            />
                          </template>
                          <b-dropdown-item
                            @click="allowDomain(domain)"
                          >
                            Allow (currently allowed)
                          </b-dropdown-item>
                        </b-dropdown>
                      </p>
                    </b-field>
                  </div>
                </div>
              </div>
            </div>
          </transition-group>
        </div>
        <div class="is-flex is-align-items-center is-flex-direction-column mt-3" v-else-if="!loading">
          <b-icon
            icon="web"
            size="is-large"
          />
          <p class="is-size-4 mt-3">
            Nothing here yet.
          </p>
          <p class="is-size-6 mt-2 has-text-grey" v-if="screentime">
            You can block, unblock, or set screentime rules for individual websites.
          </p>
          <p class="is-size-6 mt-2 has-text-grey" v-else>
            Here you can block or unblock individual websites.
          </p>
        </div>
        <div v-if="!loading">
          <div
            v-if="!addingDomain"
            class="is-flex is-justify-content-center mt-5"
          >
            <b-dropdown>
              <template #trigger>
                <b-button
                  label="Add Site"
                  type="is-primary"
                  icon-left="plus"
                />
              </template>
              <b-dropdown-item
                @click="startDomainAdd(false)"
              >
                Allowed site
              </b-dropdown-item>
              <b-dropdown-item
                @click="startDomainAdd(true)"
              >
                Blocked site
              </b-dropdown-item>
            </b-dropdown>
          </div>
          <div
            v-else
          >
            <div class="list-element has-background-white border-bottom mt-4">
              <div>
                <div
                  class="is-flex is-align-items-center px-4 py-3"
                  style="min-height: 60px; position: relative;"
                >
                  <div>
                    <div class="is-flex is-align-items-center">
                      <b-button
                        rounded
                        icon-left="delete"
                        @click="addingDomain = false; $event.stopPropagation();"
                      />
                      <div class="pl-2">
                        <b-field
                          class="px-2"
                          v-bind="siteNameError"
                        >
                          <b-input
                            v-model="editingDomain"
                            autocomplete="off"
                            @keydown.native="siteAddKeyDown($event)"
                            ref="input"
                          />
                        </b-field>
                      </div>
                    </div>
                  </div>
                  <div class="is-flex-grow-1" />
                  <b-button
                    type="is-primary"
                    rounded
                    icon-right="check"
                    @click="finishDomainAdd"
                    :disabled="siteNameError && Object.keys(siteNameError).length > 0"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script lang="ts">
import { DeviceSelection } from '@/helpers/functions'
import { Device, DevicesList } from '@/requests/devices-v2/get-devices-list'
import { BlockingChange, BlockingChanges, DomainModel } from '@/requests/blocking/post-blocking-changes'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { BlockingModelResp } from '@/requests/blocking/get-blocking'
import { Changes, DelayedQueue } from '@/helpers/delayedqueue'
import sortBy from 'lodash/sortBy'
import { AppBlockingModelResp, AppModel, AppsRuleset, BlockingModel } from '@/requests/blocking/get-app-blocking'
import { CategoriesRuleset, CategoryModel } from '@/requests/blocking/patch-category-blocking-base-ruleset'
import qs from 'qs'
import { CategoryBlockingModelResp, CategoryOptionsMetadata } from '@/requests/blocking/get-category-blocking'

interface OverrideOption {
  option: number | null;
  block: boolean;
}

@Component({
  // Prevent accidental route navigation.
  beforeRouteLeave (to, from, next) {
    if ((this as any).saving) {
      const answer = window.confirm('Do you really want to leave? You will lose unsaved changes.')
      if (answer) {
        next()
      } else {
        next(false)
      }
    } else {
      next()
    }
  }

})
export default class OverrideEditor extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly device: DeviceSelection | undefined
  @Prop() readonly devices: DevicesList | undefined
  @Prop() readonly search: string | null | undefined
  @Prop() readonly blocking: BlockingModelResp | undefined
  @Prop() readonly id: number | undefined
  @Prop() readonly queue: DelayedQueue<Changes> | undefined

  categoryApps: {[category: number]: string[]} = {}
  parentToChild: {[parent: number]: number[]} = {}
  appApprovalRequired = false
  categoryGroups: number[] = []
  categoryExpansions: {[id: number]: number[]} = {}
  categoryInstallations: {[category: number]: {[device: string]: true}} = {}
  addingDomain = false
  editingDomain = ''
  addingBlockedDomain = false
  affectedByVersionWarning: string[] = []
  showingVersionWarning = false
  tabIdx = 0
  overriddenCategories: {[category: number]: CategoryModel} = {}
  overriddenApps: {[app: string]: boolean} = {}
  addedDomains: string[] = []
  overriddenDomains: {[domain: string]: boolean} = {}

  mounted () {
    if (!this.devices || !this.device || !this.blocking) {
      throw new Error('must be initialized with devices and blocking')
    }
    if (this.devices && this.devices.devices) {
      if (!this.device.id) {
        this.affectedByVersionWarning = this.checkVersionWarningFromDevicesList(this.devices.deviceOrder as string[], this.devices.devices)
      } else {
        const deviceObj = this.devices.devices[this.device.id]
        if (!deviceObj) {
          return
        }
        if (deviceObj.type === 'group' && deviceObj.children) {
          this.affectedByVersionWarning = this.checkVersionWarningFromDevicesList(deviceObj.children, this.devices.devices)
        }
      }
    }
    if (this.blocking.categories && this.blocking.categories.meta && this.blocking.categories.meta.categoryData) {
      // Flatten category parent -> child relationship
      for (const categoryId of this.blocking.categories.meta.categoryOrder) {
        const category = this.blocking.categories.meta.categoryData[categoryId]
        if (category.parent > 0) {
          if (this.parentToChild[category.parent]) {
            this.parentToChild[category.parent].push(categoryId)
          } else {
            this.parentToChild[category.parent] = [categoryId]
          }
        }
      }
    }
    if (this.blocking.apps && this.blocking.apps.meta && this.blocking.apps.meta.appData) {
      // Associate apps with categories
      for (const app of Object.keys(this.blocking.apps.meta.appData)) {
        const data = this.blocking.apps.meta.appData[app]
        if (data.categories) {
          data.categories.forEach(category => {
            if (!this.categoryApps[category]) {
              this.categoryApps[category] = []
            }
            this.categoryApps[category].push(app)
            if (data.installedOn) {
              data.installedOn.forEach(device => {
                if (!this.categoryInstallations[category]) {
                  this.categoryInstallations[category] = {}
                }
                this.categoryInstallations[category][device] = true
              })
            }
          })
        }
      }
    }
    this.appApprovalRequired = this.getAppApprovalRequired()
    this.calcCategoryGroups(this.blocking)
  }

  checkVersionWarningFromDevicesList (list: string[], deviceDetails: {[id: string]: Device}): string[] {
    const affected: string[] = []
    for (const child of list) {
      const childDevice = deviceDetails[child]
      if (childDevice && childDevice.type === 'android') {
        const versionSplit = childDevice.version.split('.')
        if (versionSplit.length > 1) {
          const major = parseInt(versionSplit[0])
          const minor = parseInt(versionSplit[1])
          if (major < 3 || (major === 3 && minor < 7)) {
            affected.push(child)
          }
        }
      }
    }
    return affected
  }

  showVersionWarning (affected: string[]) {
    const VERSION_WARNING_DUR = 5000
    this.showingVersionWarning = true
    this.$buefy.snackbar.open({
      type: 'is-warning',
      message: 'Some devices will not receive updated rules',
      actionText: 'More info',
      duration: VERSION_WARNING_DUR,
      onAction: () => {
        this.$buefy.dialog.confirm({
          type: 'is-primary',
          message: 'Update the BRAND_NAME app from the Play Store to update rules for affected devices.',
          cancelText: 'Ignore',
          confirmText: 'View affected devices',
          onConfirm: () => {
            this.queue?.flush().then(() => {
              this.$router.push('/devices?' + qs.stringify({ 'device-id': affected}, { arrayFormat: 'repeat'}))
            })
          }
        })
      }
    })
    setTimeout(() => {
      this.showingVersionWarning = false
    }, VERSION_WARNING_DUR)
  }

  checkVersionWarning () {
    if (this.affectedByVersionWarning.length && !this.showingVersionWarning) {
      this.showVersionWarning(this.affectedByVersionWarning)
    }
  }

  /** ===============================================================
   * Categories methods
   * ================================================================
   */

  categoryMatchesSearch (category: number, searchRe: RegExp): boolean {
    const blocking = this.blocking
    if (!blocking || !blocking.categories || !blocking.categories.meta || !blocking.categories.meta.categoryData) {
      return false
    }
    const categoryData = blocking.categories.meta.categoryData[category]
    if (!categoryData) {
      return false
    }
    if (searchRe.test(categoryData.name) || searchRe.test(categoryData.description)) {
      return true
    }
    if (categoryData.parent) {
      const parentData = blocking.categories.meta.categoryData[category]
      if (!parentData) {
        return false
      }
      if (searchRe.test(parentData.name) || searchRe.test(parentData.description)) {
        return true
      }
    }
    return false
  }

  get categoryList (): number[] {
    if (this.search && this.blocking && this.blocking.categories && this.blocking.categories.meta && this.blocking.categories.meta.categoryOrder) {
      // First, expand the groups temporarily
      let tmp: number[] = []
      for (const category of this.categoryGroups) {
        if (category < 0) {
          tmp = tmp.concat(this.categoryExpansions[category])
        } else if (category > 0) {
          tmp.push(category)
        }
      }
      // Then, search all fields, ensuring child categories show if the parent matches
      const searchRe = new RegExp(this.search, "i")
      const blocking = this.blocking
      const matching: number[] = []
      const matchingSet: {[category: number]: true} = {}
      // In tmp, parent categories are guaranteed to be before their children
      for (const category of tmp) {
        if (this.categoryMatchesSearch(category, searchRe)) {
          matchingSet[category] = true
          matching.push(category)
        }
      }
      // Also ensure that parent categories are present even if they don't match directly
      let i = 0
      while (i < matching.length) {
        const category = matching[i]
        const categoryData = blocking.categories.meta.categoryData[category]
        if (categoryData.parent && !matchingSet[categoryData.parent]) {
          matching.splice(i, 0, categoryData.parent)
          matchingSet[categoryData.parent] = true
        }
        i++
      }
      return matching
    } else {
      return this.categoryGroups
    }
  }

  calcCategoryGroups (blocking: BlockingModelResp) {
    const meta = blocking.categories.meta
    const plan = blocking.categories.plan
    // Ensure if the parent is collapsed, the children are too
    const excludedFromCollapseFunc = (categoryId: number) => {
      const category = meta.categoryData[categoryId]
      return ((category.parent === 0 || !meta.categoryData[category.parent].collapse) && !category.collapse) ||
        (plan[categoryId].some(item => item.action.blocked || item.action.selectedOption)) || this.categoryInstallations[categoryId] ||
        (this.parentToChild[categoryId] && this.parentToChild[categoryId].some(child => {
          return plan[child].some(item => item.action.blocked || item.action.selectedOption) || this.categoryInstallations[child]
        }))
    }
    const excludedFromCollapse: {[category: number]: boolean} = {}
    meta.categoryOrder.forEach(category => {
      excludedFromCollapse[category] = excludedFromCollapseFunc(category) ? true : false
    })
    // Sort so that collapsed categories show at the end unless they or a child category
    // are installed as apps, preserving the original order.
    const sortedCategories = sortBy(meta.categoryOrder, id => meta.categoryData[id].parent > 0 ? 0 : 1, (id => excludedFromCollapse[id] ? 0 : 1))
    // Now add them ordered, but ensuring children are after their parent categories
    let enteredCollapsedArea = false
    let categoryGroups: number[] = []
    let addingTo = categoryGroups
    let categoryExpansions: {[id: number]: number[]} = {}
    let currExpansionIdx = 0
    sortedCategories.forEach((categoryId, i) => {
      const category = meta.categoryData[categoryId]
      if (category.parent > 0 || category.frozen) {
        return
      }
      if (this.parentToChild[categoryId]) {
        if (categoryGroups.length) {
          addingTo.push(0)
        }
        const children = sortBy(this.parentToChild[categoryId], [(id => excludedFromCollapse[id] ? 0 : 1)])
        if (!excludedFromCollapse[categoryId]) {
          if (!enteredCollapsedArea) {
            // Add collapse element
            categoryGroups.push(--currExpansionIdx)
            const expansion: number[] = []
            categoryExpansions[currExpansionIdx] = expansion
            addingTo = expansion
          }
          enteredCollapsedArea = true
        }
        // Add with children
        let childEnteredCollapsedArea = !excludedFromCollapse[categoryId]
        addingTo.push(categoryId)
        children.forEach((childCategoryId) => {
          if (!excludedFromCollapse[childCategoryId]) {
            if (!childEnteredCollapsedArea) {
              categoryGroups.push(--currExpansionIdx)
              const expansion: number[] = []
              categoryExpansions[currExpansionIdx] = expansion
              addingTo = expansion
            }
            childEnteredCollapsedArea = true
          }
          addingTo.push(childCategoryId)
        })
        if (!enteredCollapsedArea) {
          addingTo = categoryGroups
        }
        addingTo.push(0)
      } else {
        if (!excludedFromCollapse[categoryId]) {
          if (!enteredCollapsedArea) {
            categoryGroups.push(--currExpansionIdx)
            const expansion: number[] = []
            categoryExpansions[currExpansionIdx] = expansion
            addingTo = expansion
          }
          enteredCollapsedArea = true
        }
        addingTo.push(categoryId)
      }
    })
    categoryGroups.push(0)
    this.categoryExpansions = categoryExpansions
    this.categoryGroups = categoryGroups
  }

  expand (expansionIdx: number) {
    if (this.loading) {
      return
    }
    const idx = this.categoryGroups.indexOf(expansionIdx)
    if (idx === -1) {
      return
    }
    this.categoryGroups = ([] as number[])
      .concat(this.categoryGroups.slice(0, idx), this.categoryExpansions[expansionIdx], this.categoryGroups.slice(idx+1))
  }

  getCurrentCategoryChildren (categoryId: number): number[] {
    const children = this.parentToChild[categoryId]
    if (!children) {
      return []
    }
    if (this.search) {
      // Only return categories matching the search
      const searchRe = new RegExp(this.search, "i")
      return children.filter(child => this.categoryMatchesSearch(child, searchRe))
    } else {
      return children
    }
  }

  getChildCategoryModel (categoryId: number, child: number | string, model: CategoryModel | null): CategoryModel | null | undefined {
    if (model === null) {
      return null
    }
    if (!this.blocking || !this.blocking.categories) {
      return undefined
    }
    const isApp = typeof child === 'string'
    const thisData = this.blocking.categories.meta.categoryData[categoryId]
    const childData = isApp ? null : this.blocking.categories.meta.categoryData[child]
    if (childData && childData.options) {
      if (thisData.options) {
        // Both parent and child have options. Just match the provided model.
        return model
      } else if (childData.options.blockingOption) {
        // Child has options, but we don't. Match the on/off states, if possible.
        return { selectedOption: model.blocked ? childData.options.blockingOption : 0 }
      }
    } else {
      if (thisData.options) {
        // Child doesn't have options, but we do. Match the on/off states, if possible.
        if (thisData.options.blockingOption) {
          return { blocked: model.selectedOption === thisData.options.blockingOption }
        }
      } else {
        return model
      }
    }
    return undefined
  }

  formatCategoryOverride (id: number, model: CategoryModel) {
    if (!this.blocking) {
      return
    }
    if (typeof model.selectedOption === 'number') {
      return ': ' + (this.blocking.categories.meta.categoryData[id].options as CategoryOptionsMetadata).options[model.selectedOption].name
    } else {
      return ' ' + (model.blocked ? 'block' : 'allow')
    }
  }

  getCategoryAction (id: number): OverrideOption {
    if (!this.blocking) {
      throw new Error('blocking not provided')
    }
    const options = this.blocking.categories.meta.categoryData[id].options
    if (options) {
      const resolved = this.blocking.categories.resolvedBlockingModel[id]
      if (options.blockingOption && options.blockingOption === resolved.selectedOption) {
        // Is blocked - offer the option from the base rules if this is from
        // a screentime rule. Otherwise, offer the next strictest option.
        if (resolved.reason.source && (resolved.reason.source.deadlineId || resolved.reason.source.timerId || resolved.reason.source.timetableId)) {
          let toSearch = [(this.blocking.categories as CategoryBlockingModelResp).blockingModel]
          while (toSearch.length) {
            const set = toSearch.pop() as BlockingModel<CategoriesRuleset>
            const match = set.baseRuleset.categories[id]
            if (match) {
              return {
                option: match.selectedOption as number,
                block: false
              }
            } else {
              if (set.parents) {
                for (const parent of set.parents) {
                  toSearch.push(parent)
                }
              }
            }
          }
          // Didn't find a base rule. Just proceed with the next options.
        }
        return {
          option: resolved.selectedOption - 1,
          block: false
        }
      } else if (options.blockingOption) {
        // Isn't blocked, but could be - offer that.
        return {
          option: options.blockingOption,
          block: false
        }
      } else {
        // Has no blocking option. If this is from a screentime rule, offer
        // the base rule. Otherwise, offer the next lightest option, or the
        // other option if that isn't available.
        if (resolved.reason.source && (resolved.reason.source.deadlineId || resolved.reason.source.timerId || resolved.reason.source.timetableId)) {
          let toSearch = [(this.blocking.categories as CategoryBlockingModelResp).blockingModel]
          while (toSearch.length) {
            const set = toSearch.pop() as BlockingModel<CategoriesRuleset>
            const match = set.baseRuleset.categories[id]
            if (match) {
              return {
                option: match.selectedOption as number,
                block: false
              }
            } else {
              if (set.parents) {
                for (const parent of set.parents) {
                  toSearch.push(parent)
                }
              }
            }
          }
          // Didn't find a base rule. Just proceed with the next options.
        }
        if ((resolved.selectedOption as number) > 0) {
          return {
            option: (resolved.selectedOption as number) - 1,
            block: false
          }
        } else {
          return {
            option: 1,
            block: false
          }
        }
      }
    } else {
      return {
        option: null,
        block: this.blocking.categories.resolvedBlockingModel[id].blocked ? false : true
      }
    }
  }

  addCategoryChange (changes: BlockingChange[], id: number, model: CategoryModel | null) {
    if (!this.device || !this.id) {
      return
    }
    changes.push({
      category: {
        id: id,
        model: model,
        ruleset: {
          device: {
            accountId: '',
            deviceId: this.device.id,
            mac: this.device.mac
          },
          source: {
            deadlineId: this.id,
            timerId: null,
            timetableId: null,
            other: ''
          }
        }
      }
    })
  }

  addChangesForCategory (changes: BlockingChange[], id: number, model: CategoryModel | null) {
    if (model === null) {
      this.$delete(this.overriddenCategories, id)
    } else {
      this.$set(this.overriddenCategories, id, model)
    }
    this.addCategoryChange(changes, id, model)
    if (this.categoryApps[id]) {
      for (const app of this.categoryApps[id]) {
        const subModel = this.getChildCategoryModel(id, app, model)
        if (subModel !== undefined) {
          this.addChangesForApp(changes, app, subModel ? { blocked: subModel.blocked as boolean } : null)
        }
      }
    }
    for (const child of this.getCurrentCategoryChildren(id)) {
      const subModel = this.getChildCategoryModel(id, child, model)
      if (subModel !== undefined) {
        this.addChangesForCategory(changes, child, subModel)
      }
    }
  }

  async blockCategory (id: number) {
    const changes: BlockingChange[] = []
    this.addChangesForCategory(changes, id, { blocked: true })
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  async allowCategory (id: number) {
    const changes: BlockingChange[] = []
    this.addChangesForCategory(changes, id, { blocked: false })
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  async selectOption (id: number, option: number) {
    const changes: BlockingChange[] = []
    this.addChangesForCategory(changes, id, { selectedOption: option })
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  async undoCategory (id: number) {
    const changes: BlockingChange[] = []
    this.addChangesForCategory(changes, id, null)
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  getStoreHref (appId: string): string {
    return 'https://play.google.com/store/apps/details?id=' + encodeURIComponent(appId.split('/')[1])
  }

  appRequiresApproval (appBlocking: AppBlockingModelResp, app: string): boolean {
    const plan = appBlocking.plan[app]
    if (!plan) {
      return false
    }
    if (!plan.length) {
      return false
    }
    if (!plan[0].reason || !plan[0].reason.source || plan[0].reason.source.other !== 'Approval') {
      return false
    }
    return true
  }

  get approvalRequiredApps (): string[] {
    if (!this.blocking || !this.blocking.apps || !this.blocking.apps.plan || !this.blocking.apps.meta || !this.blocking.apps.meta.appOrder) {
      return []
    }
    const appBlocking = this.blocking.apps
    const arr = appBlocking.meta.appOrder
      .filter(app => this.appRequiresApproval(appBlocking, app))
      .sort((a, b) => appBlocking.meta.appData[b].installedAt - appBlocking.meta.appData[a].installedAt)
    if (this.search) {
      const searchRe = new RegExp(this.search, "i")
      return arr.filter(app => {
        const appData = appBlocking.meta.appData[app]
        return searchRe.test(appData.name) || (appData.categories && appData.categories.some(category => this.categoryMatchesSearch(category, searchRe)))
      })
    } else {
      return arr
    }
  }

  get approvalNotRequiredApps (): string[] {
    if (!this.blocking || !this.blocking.apps || !this.blocking.apps.plan || !this.blocking.apps.meta || !this.blocking.apps.meta.appOrder) {
      return []
    }
    const appBlocking = this.blocking.apps
    let arr = appBlocking.meta.appOrder.filter(app => !this.appRequiresApproval(appBlocking, app))
    // If approval is enabled, sort by date instead of name
    if (this.appApprovalRequired) {
      arr = arr.sort((a, b) => appBlocking.meta.appData[b].installedAt - appBlocking.meta.appData[a].installedAt)
    }
    if (this.search) {
      const searchRe = new RegExp(this.search, "i")
      return arr.filter(app => {
        const appData = appBlocking.meta.appData[app]
        return searchRe.test(appData.name) || (appData.categories && appData.categories.some(category => this.categoryMatchesSearch(category, searchRe)))
      })
    } else {
      return arr
    }
  }

  appApprovalRequiredForModel (model: BlockingModel<AppsRuleset>): boolean | null {
    if (model.baseRuleset.approvalRequired !== null && model.baseRuleset.approvalRequired !== undefined) {
      return model.baseRuleset.approvalRequired
    }
    if (model.parents) {
      for (const parent of model.parents) {
        const parentVal = this.appApprovalRequiredForModel(parent)
        if (parentVal !== null) {
          return parentVal
        }
      }
    }
    return null
  }

  getAppApprovalRequired (): boolean {
    if (!this.blocking || !this.blocking.apps || !this.blocking.apps.blockingModel) {
      return false
    }
    const val = this.appApprovalRequiredForModel(this.blocking.apps.blockingModel)
    return val ? true : false
  }

  appsSupported (): boolean {
    if (!this.device || !this.devices) {
      return false // Not loaded yet
    } else if (this.device.id === '' && this.device.mac === '') {
      return true // Show at least the option to block apps for the account-level rules
    } else if (this.devices.devices) {
      const device = this.devices.devices[this.device.id + (this.device.mac ? '/' + this.device.mac : '')]
      return device && (device.type === 'android' || device.type === 'group')
    } else {
      // No devices yet - may as well return true for the second branch above
      return true
    }
  }

  addAppChange (changes: BlockingChange[], app: string, model: AppModel | null) {
    if (!this.device || !this.id) {
      return
    }
    changes.push({
      app: {
        id: app,
        model: model,
        ruleset: {
          device: {
            accountId: '',
            deviceId: this.device.id,
            mac: this.device.mac
          },
          source: {
            deadlineId: this.id,
            timerId: null,
            timetableId: null,
            other: ''
          }
        }
      }
    })
  }

  addChangesForApp (changes: BlockingChange[], app: string, model: AppModel | null) {
    if (model === null) {
      this.$delete(this.overriddenApps, app)
    } else {
      this.$set(this.overriddenApps, app, model.blocked)
    }
    this.addAppChange(changes, app, model)
  }

  async blockApp (app: string) {
    const changes: BlockingChange[] = []
    this.addChangesForApp(changes, app, { blocked: true })
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  async allowApp (app: string) {
    const changes: BlockingChange[] = []
    this.addChangesForApp(changes, app, { blocked: false })
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  async undoApp (app: string) {
    const changes: BlockingChange[] = []
    this.addChangesForApp(changes, app, null)
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  get domainsList (): string[] | null {
    if (!this.blocking || !this.blocking.domains || !this.blocking.domains.meta || !this.blocking.domains.meta.domainOrder) {
      return null
    }
    if (this.search) {
      const searchRe = RegExp(this.search, "i")
      return this.addedDomains.concat(this.blocking.domains.meta.domainOrder).filter(domain => searchRe.test(domain))
    } else {
      return this.addedDomains.concat(this.blocking.domains.meta.domainOrder)
    }
  }

  startDomainAdd (blocked: boolean) {
    this.addingDomain = true
    this.addingBlockedDomain = blocked
    this.$nextTick(() => {
      (this.$refs['input'] as any).focus()
    })
  }

  async finishDomainAdd () {
    if (this.loading || !this.id) {
      return
    }
    const device = this.device
    if (!device) {
      return
    }
    const changes: BlockingChange[] = [{
      domain: {
        id: this.editingDomain,
        model: {
          blocked: this.addingBlockedDomain
        },
        ruleset: {
          device: {
            accountId: '',
            deviceId: device.id,
            mac: device.mac,
          },
          source: {
            deadlineId: this.id,
            timerId: null,
            timetableId: null,
            other: ''
          }
        }
      }
    }]
    this.addedDomains.push(this.editingDomain)
    this.$set(this.overriddenDomains, this.editingDomain, this.addingBlockedDomain)
    this.addingDomain = false
    this.addingBlockedDomain = false
    this.editingDomain = ''
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  addDomainChange (changes: BlockingChange[], domain: string, model: DomainModel | null) {
    if (!this.device || !this.id) {
      return
    }
    changes.push({
      domain: {
        id: domain,
        model: model,
        ruleset: {
          device: {
            accountId: '',
            deviceId: this.device.id,
            mac: this.device.mac
          },
          source: {
            deadlineId: this.id,
            timerId: null,
            timetableId: null,
            other: ''
          }
        }
      }
    })
  }

  addChangesForDomain (changes: BlockingChange[], domain: string, model: DomainModel | null) {
    if (model === null) {
      this.$delete(this.overriddenDomains, domain)
      const idx = this.addedDomains.indexOf(domain)
      if (idx !== -1) {
        this.addedDomains.splice(idx, 1)
      }
    } else {
      this.$set(this.addedDomains, domain, model.blocked)
    }
    this.addDomainChange(changes, domain, model)
  }

  async blockDomain (domain: string) {
    const changes: BlockingChange[] = []
    this.addChangesForDomain(changes, domain, { blocked: true })
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  async allowDomain (domain: string) {
    const changes: BlockingChange[] = []
    this.addChangesForDomain(changes, domain, { blocked: false })
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  async undoDomain (domain: string) {
    const changes: BlockingChange[] = []
    this.addChangesForDomain(changes, domain, null)
    await this.queue?.enqueue(new Changes({
      changes: changes
    }))
  }

  get siteNameError (): { type?: string; message?: string } {
    const genericError = {
      type: 'is-danger',
      message: 'Invalid Domain'
    }
    /**
     * @returns Whether a portion of a domain name is invalid, e.g.
     *          'com' and 'google' in google.com
     */
    const domainPortionInvalid = (domainPortion: string): { type?: string; message?: string } => {
      if (domainPortion.length < 1) {
        return genericError // No empty portions
      }
      if (domainPortion.charAt(0) === '-' || domainPortion.charAt(domainPortion.length - 1) === '-') {
        return genericError // Dashes only allowed within
      }
      const validCharMatches = domainPortion.match(/[a-zA-Z0-9-]/g)
      if (validCharMatches === null) {
        return {} // No matches
      } else if (validCharMatches.length === domainPortion.length) {
        return {} // All characters were valid
      } else {
        return {
          type: 'is-danger',
          message: 'Domain contains invalid characters'
        }
      }
    }
    // Split around dots
    const domainPortions = this.editingDomain.split('.')
    if (domainPortions.length <= 1) {
      // No dots, invalid
      return {
        type: 'is-danger',
        message: 'Don\'t enter the protocol or path like "http://example.com/thing". Just enter the "example.com" part.'
      }
    }
    for (let i = 0; i < domainPortions.length; i++) {
      const err = domainPortionInvalid(domainPortions[i])
      if (err.type) {
        return err
      }
    }
    // Nothing wrong
    return {}
  }

  siteAddKeyDown (event: KeyboardEvent) {
    if (event.keyCode === 13) {
      this.finishDomainAdd()
    }
  }
}
</script>

<style scoped>
.is-clickable {
  cursor: pointer;
}

.list-element {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1.0);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.faded {
  opacity: 0.5;
}

.appear-enter, .appear-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.appear-leave-active {
  position: absolute;
}
</style>
