<template>
  <div class="is-flex-tablet is-align-items-center">
    <div>
      <span class="mr-2">
        Block {{ title }}
      </span>
      <b-select
        v-model="mode"
        size="is-small"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
      >
        <option :value="0">After</option>
        <option :value="1">Between</option>
      </b-select>
      <!-- For the "After" mode -->
      <b-numberinput
        v-if="mode === 0"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-2"
        v-model="afterHours"
        size="is-small"
        :min='1'
        :max="11"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <b-numberinput
        v-if="mode === 0"
        ref="afterMinutes"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
        v-model="afterMinutes"
        size="is-small"
        :min='0'
        :max="45"
        :step="15"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <span
        v-if="mode === 0"
        :class="{'mt-2': mobile}"
        class="timetable-element timetable-element-text mr-3"
      >
        PM
      </span>
      <b-select
        v-if="mode === 0"
        v-model="night"
        size="is-small"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
      >
        <option
          v-for="n in Object.keys(NIGHTS)"
          :key="n"
          :value="n"
        >
          {{ NIGHTS[n] }}
        </option>
      </b-select>
      <span
        v-if="mode === 0"
        :class="{'mt-2': mobile}"
        class="timetable-element timetable-element-text mr-3"
      >
        until
      </span>
      <br v-if="mode === 0"/>
      <b-numberinput
        v-if="mode === 0"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-2"
        v-model="untilHours"
        size="is-small"
        :min='1'
        :max="11"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <b-numberinput
        v-if="mode === 0"
        ref="untilMinutes"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
        v-model="untilMinutes"
        size="is-small"
        :min='0'
        :max="45"
        :step="15"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <span
        v-if="mode === 0"
        :class="{'mt-2': mobile}"
        class="timetable-element timetable-element-text mr-3"
      >
        AM the next day.
      </span>
      <!-- For the "Between" mode -->
      <b-numberinput
        v-if="mode === 1"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-2"
        v-model="betweenStartHours"
        size="is-small"
        :min='1'
        :max="11"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <b-numberinput
        v-if="mode === 1"
        ref="betweenStartMinutes"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
        v-model="betweenStartMinutes"
        size="is-small"
        :min='0'
        :max="45"
        :step="15"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <b-select
        v-if="mode === 1"
        v-model="betweenStartPm"
        size="is-small"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
      >
        <option :value="false">AM</option>
        <option :value="true">PM</option>
      </b-select>
      <span
        v-if="mode === 1"
        :class="{'mt-2': mobile}"
        class="timetable-element timetable-element-text mr-3"
      >
        and
      </span>
      <b-numberinput
        v-if="mode === 1"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-2"
        v-model="betweenEndHours"
        size="is-small"
        :min='1'
        :max="11"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <b-numberinput
        v-if="mode === 1"
        ref="betweenEndMinutes"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
        v-model="betweenEndMinutes"
        size="is-small"
        :min='0'
        :max="45"
        :step="15"
        controls-position="compact"
        controls-alignment="right"
        :editable="false"
      />
      <b-select
        v-if="mode === 1"
        v-model="betweenEndPm"
        size="is-small"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
      >
        <option :value="false">AM</option>
        <option :value="true">PM</option>
      </b-select>
      <span
        v-if="mode === 1"
        :class="{'mt-2': mobile}"
        class="timetable-element timetable-element-text mr-3"
      >
        on
      </span>
      <b-select
        v-if="mode === 1"
        v-model="day"
        size="is-small"
        :class="{'mt-2': mobile}"
        class="timetable-element mr-3"
      >
        <option
          v-for="d in Object.keys(DAYS)"
          :key="d"
          :value="d"
        >
          {{ DAYS[d] }}
        </option>
      </b-select>
    </div>
    <div class="is-flex-grow-1"/>
    <div class="is-hidden-tablet mt-4"/>
    <b-field>
      <p class="control">
        <b-button
          icon-right="check"
          @click="$event.stopPropagation(); updateValue(); $emit('done');"
          rounded
          type="is-primary"
          label="Set Limit"
        />
      </p>
      <p class="control">
        <b-dropdown position="is-top-left">
          <template #trigger="{ active }">
            <b-button
              rounded
              :type="active ? 'is-primary' : undefined"
              icon-left="dots-vertical"
            />
          </template>
          <b-dropdown-item @click="$emit('custom')">
            Customize
          </b-dropdown-item>
        </b-dropdown>
      </p>
    </b-field>
  </div>
</template>

<script lang="ts">
import { TimetableSpec } from '@/requests/blocking/get-app-blocking'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class QuickTimetableAdd extends Vue {
  readonly DAYS: {[key: string]: string} = {
    '*': 'All Days',
    'weekday': 'Weekdays',
    'weekend': 'Weekends',
    '0': 'Monday',
    '1': 'Tuesday',
    '2': 'Wednesday',
    '3': 'Thursday',
    '4': 'Friday',
    '5': 'Saturday',
    '6': 'Sunday',
  }
  readonly NIGHTS: {[key: string]: string} = {
    '*': 'every night',
    'before_weekday': 'nights before weekdays',
    'before_weekend': 'nights before weekends',
    'weekday': 'weeknights',
    'weekend': 'weekend nights',
    'monday': 'monday night',
    'tuesday': 'tuesday night',
    'wednesday': 'wednesday night',
    'thursday': 'thursday night',
    'friday': 'friday night',
    'saturday': 'saturday night',
    'sunday': 'sunday night', 
  }
  readonly NIGHT_DAYS: {[key: string]: string[]} = {
    '*': ['5', '6', '0', '1', '2', '3', '4'],
    'before_weekday': ['6', '0', '1', '2', '3'],
    'before_weekend': ['4', '5'],
    'weekday': ['0', '1', '2', '3', '4'],
    'weekend': ['5', '6'],
    'monday': ['0'],
    'tuesday': ['1'],
    'wednesday': ['2'],
    'thursday': ['3'],
    'friday': ['4'],
    'saturday': ['5'],
    'sunday': ['6'],
  }

  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly value: TimetableSpec | undefined
  @Prop() readonly title: string | undefined

  mode: 0 | 1 = 0

  afterHours = 8
  afterMinutes = 0
  untilHours = 6
  untilMinutes = 0
  night = 'before_weekday'

  betweenStartHours = 9
  betweenStartMinutes = 0
  betweenStartPm = false
  betweenEndHours = 5
  betweenEndMinutes = 0
  betweenEndPm = true
  day = '*'

  // A bunch of hacky stuff to make number inputs display '00' instead of '0'
  mounted () {
    this.fixZeros()
  }

  @Watch('value', { immediate: true })
  fixZeros () {
    if (this.afterMinutes === 0) {
      this.fixZerosForRef('afterMinutes')
    }
    if (this.untilMinutes === 0) {
      this.fixZerosForRef('untilMinutes')
    }
    if (this.betweenEndMinutes === 0) {
      this.fixZerosForRef('betweenEndMinutes')
    }
    if (this.betweenStartMinutes === 0) {
      this.fixZerosForRef('betweenStartMinutes')
    }
  }

  fixZerosForRef (refName: string) {
    const ref = (this.$refs[refName] as any)
    if (!ref) {
      return
    }
    const el = ref.$el as HTMLElement
    const inputs = el.getElementsByTagName('input')
    const input = inputs[0] as HTMLInputElement
    this.$nextTick(() => {
      input.value = '00'
    })
  }

  @Watch('mode')
  @Watch('afterMinutes')
  @Watch('afterHours')
  @Watch('untilHours')
  @Watch('untilMinutes')
  @Watch('night')
  @Watch('betweenStartHours')
  @Watch('betweenStartMinutes')
  @Watch('betweenStartPm')
  @Watch('betweenEndHours')
  @Watch('betweenEndMinutes')
  @Watch('betweenEndPm')
  @Watch('day')
  updateValue () {
    if (!this.value) {
      return
    }
    const activeTimes: {[day: string]: boolean[]} = {};
    ["*", "weekday", "weekend", '0', '1', '2', '3', '4', '5', '6'].forEach(day => {
      const arr = []
      for (let i = 0; i < 96; i++) {
        arr.push(false)
      }
      activeTimes[day] = arr
    })
    if (this.mode === 0) {
      // "After" mode
      // Do the "after" part for each day
      this.NIGHT_DAYS[this.night].forEach(day => {
        for (let i = (this.afterHours+12)*4+Math.round(this.afterMinutes/15); i < 96; i++) {
          activeTimes[day][i] = true
        }
      })
      // Do the "until" part for each day
      if (this.untilHours !== 0 || this.untilMinutes !== 0) {
        // If endTime is 0,0 this results in the whole next day being blocked
        this.NIGHT_DAYS[this.night].forEach(day => {
          const nextDay = '' + ((parseInt(day)+1) % 7)
          for (let i = 0; i < this.untilHours*4+Math.round(this.afterMinutes/15); i++) {
            activeTimes[nextDay][i] = true
          }
        })
      }
    } else {
      // "Between"
      const startIdx = (this.betweenStartHours + (this.betweenStartPm ? 12 : 0)) * 4 + Math.round(this.betweenStartMinutes/15)
      const endIdx = (this.betweenEndHours + (this.betweenEndPm ? 12 : 0)) * 4 + Math.round(this.betweenEndMinutes/15)
      let numQuarters = endIdx > startIdx ? endIdx - startIdx : (96-startIdx) + endIdx
      if (numQuarters == 0) {
        numQuarters = 96 // Allow blocking the whole day by specifying the same time as start and end
      }
      for (let i = startIdx; i < startIdx + numQuarters; i++) {
        const iWrapped = i % 96
        activeTimes[this.day][iWrapped] = true
      }
    }
    this.$emit('input', {
      deviceRef: this.value.deviceRef,
      activeTimes: activeTimes
    } as TimetableSpec)
  }
}
</script>

<style scoped>
.timetable-element {
  display: inline-flex;
  vertical-align: center;
}

.timetable-element-text {
  line-height: 40px;
}
</style>
