<template>
  <div :class="{faded: loading}">
    <div
      v-if="overrides"
      class="is-flex mb-5"
      :class="mobile ? 'is-justify-content-center' : 'is-justify-content-space-between'"
    >
      <div v-if="!mobile"/>
      <div v-if="rulesList.length" :style="mobile ? undefined : 'position: relative; z-index: 2;'">
        <slot name="action" />
      </div>
      <div v-else style="height: 40px;" />
    </div>
    <b-tabs
      :value="tabIdx"
      @input="$emit('update:tabIdx', $event)"
      type="is-toggle"
      :style="mobile || !overrides ? undefined : 'position: relative; top: -64px;'"
    >
      <b-tab-item label="List" :headerClass="mobile ? 'ml-4' : 'ml-2'">
        <div v-if="rulesList.length">
          <transition-group
            name="appear"
          >
            <div
              v-for="rule in rulesList"
              :key="rule.id"
              class="rule card px-5 py-5 mr-3 mt-5 mb-3 has-background-white"
            >
              <div v-if="rule.deadline">
                <div
                  class="is-flex is-align-items-center"
                >
                  <b-icon
                    icon="play-pause"
                    class="mr-3"
                  />
                  <div class="has-text-weight-bold">
                    Override
                    <span v-if="overrides && (rule.deadline.spec.deviceRef.deviceId !== device.id || (rule.deadline.spec.deviceRef.mac ? rule.deadline.spec.deviceRef.mac : '') !== device.mac)">
                      <span v-if="devices.devices[rule.deadline.spec.deviceRef.deviceId]">
                        (From {{ devices.devices[rule.deadline.spec.deviceRef.deviceId].name }})
                      </span>
                      <span v-else>
                        (From account)
                      </span>
                    </span>
                  </div>
                  <div class="is-flex-grow-1"/>
                  <b-dropdown position="is-bottom-left" v-if="overrides">
                    <template #trigger>
                      <b-button
                        :disabled="loading"
                        rounded
                        icon-right="dots-vertical"
                      />
                    </template>
                    <b-dropdown-item
                      @click="deleteDeadline(rule.id)"
                    >
                      Delete
                    </b-dropdown-item>
                  </b-dropdown>
                </div>
                <div class="mt-3 pl-1">
                  {{ rule.text }} {{ getDeadlineExpiry(rule.deadline.spec) }}
                </div>
              </div>
              <div
                v-else-if="rule.timer"
                :set="mDisplay = getTimerDisplay(rule.timer.spec, blocking.screentimeRules.timezone)"
              >
                <div
                  class="is-flex is-align-items-center"
                >
                  <b-icon
                    icon="timer-outline"
                    class="mr-3"
                  />
                  <div class="has-text-weight-bold">
                    {{ mDisplay.timeRemainingSecs <= 0 ? 'Expired' : mDisplay.running ? 'Running' : 'Stopped' }}
                    Timer
                    <span v-if="overrides && (rule.timer.spec.deviceRef.deviceId !== device.id || (rule.timer.spec.deviceRef.mac ? rule.timer.spec.deviceRef.mac : '') !== device.mac)">
                      <span v-if="devices.devices[rule.timer.spec.deviceRef.deviceId]">
                        (From {{ devices.devices[rule.timer.spec.deviceRef.deviceId].name }})
                      </span>
                      <span v-else>
                        (From account)
                      </span>
                    </span>
                  </div>
                  <div class="is-flex-grow-1"/>
                  <b-field>
                    <p class="control">
                      <b-button
                        :icon-right="mDisplay.running ? 'stop' : 'play'"
                        :disabled="loading || !mDisplay.relevant || mDisplay.timeRemainingSecs <= 0"
                        @click="toggleTimer(rule.id)"
                        rounded
                      />
                    </p>
                    <p class="control">
                      <span
                        class="is-inline-flex px-3 is-align-items-center has-text-white"
                        :class="mDisplay.running && mDisplay.timeRemainingSecs > 0 ? 'has-background-success' : 'has-background-danger'"
                        style="border-top: 1px solid hsl(0, 0%, 86%); border-bottom: 1px solid hsl(0, 0%, 86%); height: 40px;"
                        :style="{'border-radius': overrides ? undefined : '0px 20px 20px 0px'}"
                      >
                        <span v-if="mDisplay.relevant">
                          {{ getTimerRemainingTime(mDisplay) }}
                        </span>
                        <span v-else>
                          Inactive
                        </span>
                      </span>
                    </p>
                    <p class="control" v-if="overrides">
                      <b-dropdown position="is-bottom-left">
                        <template #trigger>
                          <b-button
                            :disabled="loading"
                            rounded
                            icon-right="dots-vertical"
                          />
                        </template>
                        <b-dropdown-item
                          @click="deleteTimer(rule.id)"
                        >
                          Delete
                        </b-dropdown-item>
                        <b-dropdown-item
                          v-for="duration in durations"
                          :key="duration[0]"
                          @click="overrideRuleset(rule.timer.rules, false, duration[0])"
                        >
                          Override for {{ duration[1] }}
                        </b-dropdown-item>
                      </b-dropdown>
                    </p>
                  </b-field>
                </div>
                <div class="mt-3 pl-1">
                  {{ rule.text }}
                </div>
              </div>
              <div v-else-if="rule.timetable">
                <div
                  class="is-flex is-align-items-center"
                >
                  <b-icon
                    icon="calendar-week-outline"
                    class="mr-3"
                  />
                  <div class="has-text-weight-bold">
                    Timetable
                    <span v-if="overrides && (rule.timetable.spec.deviceRef.deviceId !== device.id || (rule.timetable.spec.deviceRef.mac ? rule.timetable.spec.deviceRef.mac : '') !== device.mac)">
                      <span v-if="devices.devices[rule.timetable.spec.deviceRef.deviceId]">
                        (From {{ devices.devices[rule.timetable.spec.deviceRef.deviceId].name }})
                      </span>
                      <span v-else>
                        (From account)
                      </span>
                    </span>
                  </div>
                  <div class="is-flex-grow-1"/>
                  <b-dropdown position="is-bottom-left" v-if="overrides">
                    <template #trigger>
                      <b-button
                        :disabled="loading"
                        rounded
                        icon-right="dots-vertical"
                      />
                    </template>
                    <b-dropdown-item
                      @click="deleteTimetable(rule.id)"
                    >
                      Delete
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-for="duration in durations"
                      :key="duration[0]"
                      @click="overrideRuleset(rule.timetable.rules, true, duration[0])"
                    >
                      Override for {{ duration[1] }}
                    </b-dropdown-item>
                  </b-dropdown>
                </div>
                <div class="mt-3 pl-1">
                  {{ rule.text }}
                </div>
              </div>
            </div>
          </transition-group>
        </div>
        <div v-else-if="!rulesList.length">
          <slot name="placeholder"/>
        </div>
      </b-tab-item>
      <b-tab-item label="Schedule">
        <timetable-overview
          :value="rulesList"
        />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script lang="ts">
import { AppModel, AppsRuleset, BlockingModel, DeadlineSpec, TimerSpec, TimetableSpec } from '@/requests/blocking/get-app-blocking'
import { BlockingModelResp, DomainsRuleset } from '@/requests/blocking/get-blocking'
import { CategoryBlockingModelResp, CategoryOptionsMetadata } from '@/requests/blocking/get-category-blocking'
import { CategoriesRuleset, CategoryModel } from '@/requests/blocking/patch-category-blocking-base-ruleset'
import PostBlockingChanges, { BlockingChange, DomainModel } from '@/requests/blocking/post-blocking-changes'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import dayjs from 'dayjs'
import DayOfYear from 'dayjs/plugin/dayOfYear'
import Timezone from 'dayjs/plugin/timezone'
import Utc from 'dayjs/plugin/utc'
import { DeviceSelection, formatTimetableTimes } from '@/helpers/functions'
import PutTimerRunning from '@/requests/blocking/put-timer-running'
import PutTimerRunningSelfService, { PutTimerRunningSelfServiceArgs } from '@/requests/blocking/put-timer-running-self-service'
import DeleteTimer from '@/requests/blocking/delete-timer'
import DeleteTimetable from '@/requests/blocking/delete-timetable'
import DeleteDeadline from '@/requests/blocking/delete-deadline'
import PostDeadline from '@/requests/blocking/post-deadline'
import { DevicesList } from '@/requests/devices-v2/get-devices-list'
import TimetableOverview from '@/components/blocking/timetable-overview.vue'
dayjs.extend(DayOfYear)
dayjs.extend(Utc)
dayjs.extend(Timezone)

interface DeadlineRule {
  spec: DeadlineSpec;
  rules: RuleTypes;
}

interface TimerRule {
  spec: TimerSpec;
  rules: RuleTypes;
}

interface TimetableRule {
  spec: TimetableSpec;
  rules: RuleTypes;
}

export interface Rule {
  id: number;
  text: string;
  color?: string;
  deadline?: DeadlineRule;
  timer?: TimerRule;
  timetable?: TimetableRule;
}

interface RuleTypes {
  categories?: CategoriesRuleset;
  apps?: AppsRuleset;
  domains?: DomainsRuleset;
}

interface TimerDisplay {
  running: boolean;
  timeRemainingSecs: number;
  relevant: boolean;
}

@Component({
  components: {
    TimetableOverview
  }
})
export default class StopStartAccessList extends Vue {
  readonly DAY_TO_TIMER_DAYS: {[day: number]: string[]} = {
    0: ["0", "weekday", "*"],
    1: ["1", "weekday", "*"],
    2: ["2", "weekday", "*"],
    3: ["3", "weekday", "*"],
    4: ["4", "weekday", "*"],
    5: ["5", "weekend", "*"],
    6: ["6", "weekend", "*"],
  }
  readonly RULE_COLORS = ['pink', 'purple', 'primary', 'cyan', 'teal', 'orange', 'green', 'deep-purple', 'light-green', 'indigo']

  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly tabIdx: number | undefined
  @Prop() readonly blocking: BlockingModelResp | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly overrides: boolean | undefined
  @Prop() readonly token: string | undefined
  @Prop() readonly device: DeviceSelection | undefined
  @Prop() readonly devices: DevicesList | undefined

  rulesList: Rule[] = []
  intervalId = 0

  putTimerRunning = new PutTimerRunning()
  putTimerRunningSelfService = new PutTimerRunningSelfService()
  deleteTimerReq = new DeleteTimer()
  deleteDeadlineReq = new DeleteDeadline()
  deleteTimetableReq = new DeleteTimetable()
  postDeadline = new PostDeadline()
  postBlockingChanges = new PostBlockingChanges()

  mounted () {
    this.intervalId = setInterval(() => {
      this.$forceUpdate()
    }, 1000)
  }

  beforeDestroy () {
    clearInterval(this.intervalId)
  }

  @Watch('blocking', { immediate: true })
  computeRules (blocking: BlockingModelResp | undefined) {
    if (blocking) {
      this.rulesList = this.getRulesList(blocking)
    }
  }

  getTimetableText (rules: RuleTypes, timetable: TimetableSpec, blocking: BlockingModelResp): string {
    const customRulesDescription = this.getRulesSummary(rules, blocking)
    const activeTimes = formatTimetableTimes(timetable.activeTimes)
    if (!activeTimes.everActive) {
      return customRulesDescription + '. No effect, never active.'
    }
    if (activeTimes.alwaysActive) {
      return customRulesDescription + ' at all times.'
    }
    if (activeTimes.isAfter) {
      return customRulesDescription + ' after ' + activeTimes.sentence
    }
    return customRulesDescription + ' ' + activeTimes.sentence
  }

  getDeadlineExpiry (deadline: DeadlineSpec): string {
    if (deadline.expiry < dayjs().unix()) {
      return 'Expired.'
    } else {
      return 'Expires ' + dayjs.unix(deadline.expiry+10).fromNow() + '.'
    }
  }

  getDeadlineText (rules: RuleTypes, blocking: BlockingModelResp): string {
    return this.getRulesSummary(rules, blocking) + '.'
  }

  getTimerText (rules: RuleTypes, timer: TimerSpec, blocking: BlockingModelResp): string {
    let dayName = ''
    switch (timer.day) {
      case '0': dayName = 'Monday'; break;
      case '1': dayName = 'Tuesday'; break;
      case '2': dayName = 'Wednesday'; break;
      case '3': dayName = 'Thursday'; break;
      case '4': dayName = 'Friday'; break;
      case '5': dayName = 'Saturday'; break;
      case '6': dayName = 'Sunday'; break;
      case '*': dayName = 'all days'; break;
      case 'weekend': dayName = 'weekends'; break;
      case 'weekday': dayName = 'weekdays'; break;
    }
    const action = this.getRulesSummary(rules, blocking)
    const hours = Math.floor(timer.maxTimeSecs/60.0/60.0)
    const minutesN = Math.floor((timer.maxTimeSecs - Math.floor(timer.maxTimeSecs/60.0/60.0)*60.0*60.0)/60.0)
    const minutes = minutesN > 0 ? ' and ' + minutesN + ' minutes ' : ''
    return 'On ' + dayName + ' ' + action + ' for ' + hours + ' hour' + ( hours === 1 ? '' : 's' ) + ' ' + minutes + 'only.'
  }

  capitalizeFirstLetter(val: string): string {
    return String(val).charAt(0).toUpperCase() + String(val).slice(1)
  }

  getRulesSummary (rules: RuleTypes, blocking: BlockingModelResp): string {
    const blocked: string[] = []
    const unblocked: string[] = []
    const changes: string[] = []
    if (rules.categories && rules.categories.categories && blocking.categories && blocking.categories.meta && blocking.categories.meta.categoryOrder) {
      blocking.categories.meta.categoryOrder
        .filter(id => (rules.categories as CategoriesRuleset).categories[id] !== undefined)
        .filter(id => !((rules.categories as CategoriesRuleset).categories[id] as CategoryModel).selectedOption)
        .forEach(id => {
          const name = blocking.categories.meta.categoryData[id].name
          const val = (rules.categories as CategoriesRuleset).categories[id] as CategoryModel
          if (val.blocked) {
            blocked.push(name)
          } else {
            unblocked.push(name)
          }
        })
    }
    if (rules.apps && rules.apps.apps && blocking.apps && blocking.apps.meta && blocking.apps.meta.appOrder) {
      blocking.apps.meta.appOrder
        .filter(id => (rules.apps as AppsRuleset).apps[id] !== undefined)
        .forEach(id => {
          const name = blocking.apps.meta.appData[id].name
          const val = (rules.apps as AppsRuleset).apps[id] as AppModel
          if (val.blocked) {
            blocked.push(name + ' App')
          } else {
            unblocked.push(name + ' App')
          }
        })
    }
    if (rules.domains && rules.domains.domains && blocking.domains && blocking.domains.meta && blocking.domains.meta.domainOrder) {
      blocking.domains.meta.domainOrder
        .filter(id => (rules.domains as DomainsRuleset).domains[id] !== undefined)
        .forEach(id => {
          const val = (rules.domains as DomainsRuleset).domains[id] as DomainModel
          if (val.blocked) {
            blocked.push(id)
          } else {
            unblocked.push(id)
          }
        })
    }
    if (rules.categories && rules.categories.categories && blocking.categories && blocking.categories.meta && blocking.categories.meta.categoryOrder) {
      blocking.categories.meta.categoryOrder
        .filter(id => (rules.categories as CategoriesRuleset).categories[id] !== undefined)
        .filter(id => {
          const selectedOption = ((rules.categories as CategoriesRuleset).categories[id] as CategoryModel).selectedOption
          return typeof selectedOption === 'number'
        })
        .forEach(id => {
          const data = blocking.categories.meta.categoryData[id]
          const name = data.name
          const val = (rules.categories as CategoriesRuleset).categories[id] as CategoryModel
          const optionLabel = (data.options as CategoryOptionsMetadata).options[val.selectedOption as number].name
          changes.push(name + ' (' + optionLabel + ')')
        })
    }
    if (!blocked.length && !unblocked.length && !changes.length) {
      return 'do nothing'
    }
    let sentence = ''
    if (blocked.length) {
      sentence += 'block '
      blocked.forEach((category, i) => {
        sentence += category
        if (i < blocked.length - 2) {
          sentence += ', '
        } else if (i === blocked.length - 2) {
          sentence += ' and '
        }
      })
    }
    if (unblocked.length) {
      if (blocked.length) {
        sentence += '; '
      }
      sentence += 'allow '
      unblocked.forEach((category, i) => {
        sentence += category
        if (i < unblocked.length - 2) {
          sentence += ', '
        } else if (i === unblocked.length - 2) {
          sentence += ' and '
        }
      })
    }
    if (changes.length) {
      if (blocked.length || unblocked.length) {
        sentence += '; '
      }
      sentence += 'update restriction for '
      changes.forEach((category, i) => {
        sentence += category
        if (i < unblocked.length - 2) {
          sentence += ', '
        } else if (i === unblocked.length - 2) {
          sentence += ' and '
        }
      })
    }
    return sentence
  }

  getTimerRemainingTime(display: TimerDisplay): string {
    let timeRemainingSecs = display.timeRemainingSecs
    if (timeRemainingSecs <= 0) {
      return '00:00:00'
    }
    let toReturn = ''
    const hours = Math.floor(timeRemainingSecs/60/60)
    timeRemainingSecs -= hours*60*60
    toReturn += hours + ':'
    const minutes = Math.floor(timeRemainingSecs/60)
    timeRemainingSecs -= minutes*60
    const minutesStr = minutes + ''
    toReturn += minutesStr.length >= 2 ? minutesStr : '0' + minutesStr
    toReturn += ':'
    const secsStr = timeRemainingSecs + ''
    toReturn += secsStr.length >= 2 ? secsStr : '0' + secsStr
    return toReturn
  }

  getTimerDisplay (timer: TimerSpec, tz: string): TimerDisplay {
    const localTime = dayjs().tz(tz)
    let day = localTime.day() - 1
    if (day < 0) {
      day = 6
    }
    let runningStatus = timer.runningStatuses[day]
    if (runningStatus.lastStart !== 0) {
      // Timer has been started before, is it stale?
      const lastStartLocal = dayjs.unix(runningStatus.lastStart).tz(tz)
      if (lastStartLocal.dayOfYear() !== localTime.dayOfYear() || lastStartLocal.year() !== localTime.year()) {
        // Is stale, use the default value instead
        runningStatus = {
          lastStart: 0,
          secsSoFar: 0,
          isRunning: false
        }
      }
    }
    let timeRemainingSecs = timer.maxTimeSecs - runningStatus.secsSoFar
    if (runningStatus.isRunning) {
      timeRemainingSecs -= dayjs().unix() - runningStatus.lastStart
    }
    let relevant = false
    for (const d of this.DAY_TO_TIMER_DAYS[day]) {
      if (d === timer.day) {
        relevant = true
        break
      }
    }
    return {
      running: runningStatus.isRunning,
      timeRemainingSecs: timeRemainingSecs,
      relevant: relevant
    }
  }

  getRulesList (blocking: BlockingModelResp): Rule[] {
    // Walk the tree to find the applicable screentime rules
    const deadlines = new Map<number, RuleTypes>()
    const timers = new Map<number, RuleTypes>()
    const timetables = new Map<number, RuleTypes>()
    this.collectScreentimeCategories(deadlines, timers, timetables, blocking.categories.blockingModel)
    this.collectScreentimeApps(deadlines, timers, timetables, blocking.apps.blockingModel)
    this.collectScreentimeDomains(deadlines, timers, timetables, blocking.domains.blockingModel)
    // Eliminate any rules that don't affect this device in the plan's duration
    const applyingDeadlineIds = new Set<number>()
    const applyingTimerIds = new Set<number>()
    const applyingTimetableIds = new Set<number>()
    if (blocking.categories.plan) {
      for (const key of Object.keys(blocking.categories.plan)) {
        const actionPlan = blocking.categories.plan[parseInt(key)]
        for (const item of actionPlan) {
          if (item.reason && item.reason.source) {
            if (item.reason.source.timerId != null) {
              applyingTimerIds.add(item.reason.source.timerId)
            } else if (item.reason.source.timetableId != null) {
              applyingTimetableIds.add(item.reason.source.timetableId)
            } else if (item.reason.source.deadlineId != null) {
              applyingDeadlineIds.add(item.reason.source.deadlineId)
            }
          }
        }
      }
    }
    if (blocking.apps.plan) {
      for (const key of Object.keys(blocking.apps.plan)) {
        const actionPlan = blocking.apps.plan[key]
        for (const item of actionPlan) {
          if (item.reason && item.reason.source) {
            if (item.reason.source.timerId != null) {
              applyingTimerIds.add(item.reason.source.timerId)
            } else if (item.reason.source.timetableId != null) {
              applyingTimetableIds.add(item.reason.source.timetableId)
            } else if (item.reason.source.deadlineId != null) {
              applyingDeadlineIds.add(item.reason.source.deadlineId)
            }
          }
        }
      }
    }
    if (blocking.domains.plan) {
      for (const key of Object.keys(blocking.domains.plan)) {
        const actionPlan = blocking.domains.plan[key]
        for (const item of actionPlan) {
          if (item.reason && item.reason.source) {
            if (item.reason.source.timerId != null) {
              applyingTimerIds.add(item.reason.source.timerId)
            } else if (item.reason.source.timetableId != null) {
              applyingTimetableIds.add(item.reason.source.timetableId)
            } else if (item.reason.source.deadlineId != null) {
              applyingDeadlineIds.add(item.reason.source.deadlineId)
            }
          }
        }
      }
    }
    let result: Rule[] = []
    for (const [id, deadline] of deadlines) {
      if (!applyingDeadlineIds.has(id)) {
        continue
      }
      result.push({
        id: id,
        text: this.capitalizeFirstLetter(this.getDeadlineText(deadline, blocking)),
        deadline: {
          spec: blocking.screentimeRules.deadlines[id],
          rules: deadline,
        }
      })
    }
    let i = 0;
    for (const [id, timetable] of timetables) {
      if (!applyingTimetableIds.has(id)) {
        continue
      }
      result.push({
        id: id,
        text: this.capitalizeFirstLetter(this.getTimetableText(timetable, blocking.screentimeRules.timetables[id], blocking)),
        color: this.RULE_COLORS[i%this.RULE_COLORS.length],
        timetable: {
          spec: blocking.screentimeRules.timetables[id],
          rules: timetable
        }
      })
      i++
    }
    for (const [id, timer] of timers) {
      if (!applyingTimerIds.has(id)) {
        continue
      }
      result.push({
        id: id,
        text: this.capitalizeFirstLetter(this.getTimerText(timer, blocking.screentimeRules.timers[id], blocking)),
        timer: {
          spec: blocking.screentimeRules.timers[id],
          rules: timer
        }
      })
    }
    return result
  }

  collectScreentimeCategories (
    deadlines: Map<number, RuleTypes>,
    timers: Map<number, RuleTypes>,
    timetables: Map<number, RuleTypes>,
    model: BlockingModel<CategoriesRuleset> | null
  ) {
    if (!model) {
      return
    }
    if (model.deadlines) {
      for (const deadline of model.deadlines) {
        const existing = deadlines.get(deadline.id)
        if (existing) {
          existing.categories = deadline.ruleset
        } else {
          deadlines.set(deadline.id, {
            categories: deadline.ruleset
          })
        }
      }
    }
    if (model.timers) {
      for (const timer of model.timers) {
        const existing = timers.get(timer.id)
        if (existing) {
          existing.categories = timer.ruleset
        } else {
          timers.set(timer.id, {
            categories: timer.ruleset
          })
        }
      }
    }
    if (model.timetables) {
      for (const timetable of model.timetables) {
        const existing = timetables.get(timetable.id)
        if (existing) {
          existing.categories = timetable.ruleset
        } else {
          timetables.set(timetable.id, {
            categories: timetable.ruleset
          })
        }
      }
    }
    if (model.parents) {
      for (const parent of model.parents) {
        this.collectScreentimeCategories(deadlines, timers, timetables, parent)
      }
    }
  }

  collectScreentimeApps (
    deadlines: Map<number, RuleTypes>,
    timers: Map<number, RuleTypes>,
    timetables: Map<number, RuleTypes>,
    model: BlockingModel<AppsRuleset> | null
  ) {
    if (!model) {
      return
    }
    if (model.deadlines) {
      for (const deadline of model.deadlines) {
        const existing = deadlines.get(deadline.id)
        if (existing) {
          existing.apps = deadline.ruleset
        } else {
          deadlines.set(deadline.id, {
            apps: deadline.ruleset
          })
        }
      }
    }
    if (model.timers) {
      for (const timer of model.timers) {
        const existing = timers.get(timer.id)
        if (existing) {
          existing.apps = timer.ruleset
        } else {
          timers.set(timer.id, {
            apps: timer.ruleset
          })
        }
      }
    }
    if (model.timetables) {
      for (const timetable of model.timetables) {
        const existing = timetables.get(timetable.id)
        if (existing) {
          existing.apps = timetable.ruleset
        } else {
          timetables.set(timetable.id, {
            apps: timetable.ruleset
          })
        }
      }
    }
    if (model.parents) {
      for (const parent of model.parents) {
        this.collectScreentimeApps(deadlines, timers, timetables, parent)
      }
    }
  }

  collectScreentimeDomains (
    deadlines: Map<number, RuleTypes>,
    timers: Map<number, RuleTypes>,
    timetables: Map<number, RuleTypes>,
    model: BlockingModel<DomainsRuleset> | null
  ) {
    if (!model) {
      return
    }
    if (model.deadlines) {
      for (const deadline of model.deadlines) {
        const existing = deadlines.get(deadline.id)
        if (existing) {
          existing.domains = deadline.ruleset
        } else {
          deadlines.set(deadline.id, {
            domains: deadline.ruleset
          })
        }
      }
    }
    if (model.timers) {
      for (const timer of model.timers) {
        const existing = timers.get(timer.id)
        if (existing) {
          existing.domains = timer.ruleset
        } else {
          timers.set(timer.id, {
            domains: timer.ruleset
          })
        }
      }
    }
    if (model.timetables) {
      for (const timetable of model.timetables) {
        const existing = timetables.get(timetable.id)
        if (existing) {
          existing.domains = timetable.ruleset
        } else {
          timetables.set(timetable.id, {
            domains: timetable.ruleset
          })
        }
      }
    }
    if (model.parents) {
      for (const parent of model.parents) {
        this.collectScreentimeDomains(deadlines, timers, timetables, parent)
      }
    }
  }

  toggleTimer (id: number) {
    if (!this.blocking || !this.device) {
      return
    }
    this.$emit('update:loading', true)
    const timerSpec = this.blocking.screentimeRules.timers[id]
    const currState = this.getTimerDisplay(timerSpec, this.blocking.screentimeRules.timezone)
    const runningNow = !currState.running
    if (this.token) {
      const args: PutTimerRunningSelfServiceArgs = {
        id: id,
        token: this.token,
        running: runningNow,
        'device-id': this.device.id,
        mac: this.device.mac
      }
      const timerDeviceId = timerSpec.deviceRef.deviceId ? timerSpec.deviceRef.deviceId : ''
      const timerMac = timerSpec.deviceRef.mac ? timerSpec.deviceRef.mac : ''
      if (timerDeviceId !== this.device.id || timerMac !== this.device.mac) {
        args['for-device'] = timerDeviceId
      }
      this.putTimerRunningSelfService.handle(args).finally(() => {
        this.$emit('refresh')
      })
    } else {
      this.putTimerRunning.handle({
        id: id,
        running: runningNow,
        'device-id': timerSpec.deviceRef.deviceId,
        mac: timerSpec.deviceRef.mac
      }).finally(() => {
        this.$emit('refresh')
      })
    }
  }

  deleteTimer (id: number) {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you want to delete the timer?',
      confirmText: 'Delete',
      type: 'is-danger',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteTimerReq.handle(id).then(() => {
          this.$emit('refresh')
        })
      }
    })
  }

  deleteTimetable (id: number) {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you want to delete the timetable?',
      confirmText: 'Delete',
      type: 'is-danger',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteTimetableReq.handle(id).then(() => {
          this.$emit('refresh')
        })
      }
    })
  }

  deleteDeadline (id: number) {
    this.$buefy.dialog.confirm({
      message: 'Are you sure you want to delete the override?',
      confirmText: 'Delete',
      type: 'is-danger',
      onConfirm: () => {
        this.$emit('update:loading', true)
        this.deleteDeadlineReq.handle(id).then(() => {
          this.$emit('refresh')
        })
      }
    })
  }

  overrideRuleset (rules: RuleTypes, isTimetable: boolean, duration: number) {
    if (!this.device) {
      return
    }
    const device = this.device
    const deviceRef = {
      accountId: '',
      deviceId: device.id,
      mac: device.mac
    }
    this.$emit('update:loading', true)
    this.postDeadline.handle({
      deviceRef: deviceRef,
      expiry: dayjs().unix() + duration
    }).then(resp => {
      if (!this.blocking) {
        return
      }
      const deadlineId = resp.spec
      const changes: BlockingChange[] = []
      if (rules.categories && rules.categories.categories) {
        for (const category of Object.keys(rules.categories.categories)) {
          const categoryInt = parseInt(category)
          const model = rules.categories.categories[categoryInt] as CategoryModel
          if (typeof model.selectedOption === 'number') {
            // Is an option category. If this is a timer, carry the selection straight
            // through. If this is a timetable, apply the setting from the base rules.
            if (isTimetable) {
              let toSearch = [(this.blocking.categories as CategoryBlockingModelResp).blockingModel]
              while (toSearch.length) {
                const set = toSearch.pop() as BlockingModel<CategoriesRuleset>
                const match = set.baseRuleset.categories[categoryInt]
                if (match) {
                  changes.push({
                    category: {
                      id: categoryInt,
                      model: match,
                      ruleset: {
                        device: deviceRef,
                        source: {
                          deadlineId: deadlineId,
                          timerId: null,
                          timetableId: null,
                          other: ''
                        }
                      }
                    }
                  })
                  break
                } else {
                  if (set.parents) {
                    for (const parent of set.parents) {
                      toSearch.push(parent)
                    }
                  }
                }
              }
            } else {
              changes.push({
                category: {
                  id: categoryInt,
                  model: model,
                  ruleset: {
                    device: deviceRef,
                    source: {
                      deadlineId: deadlineId,
                      timerId: null,
                      timetableId: null,
                      other: ''
                    }
                  }
                }
              })
            }
          } else {
            // Is block/allow category - just allow
            changes.push({
              category: {
                id: categoryInt,
                model: {
                  blocked: false
                },
                ruleset: {
                  device: deviceRef,
                  source: {
                    deadlineId: deadlineId,
                    timerId: null,
                    timetableId: null,
                    other: ''
                  }
                }
              }
            })
          }
        }
      }
      if (rules.apps && rules.apps.apps) {
        for (const app of Object.keys(rules.apps.apps)) {
          changes.push({
            app: {
              id: app,
              model: {
                blocked: false
              },
              ruleset: {
                device: deviceRef,
                source: {
                  deadlineId: deadlineId,
                  timerId: null,
                  timetableId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      if (rules.domains && rules.domains.domains) {
        for (const domain of Object.keys(rules.domains.domains)) {
          changes.push({
            domain: {
              id: domain,
              model: {
                blocked: false
              },
              ruleset: {
                device: deviceRef,
                source: {
                  deadlineId: deadlineId,
                  timerId: null,
                  timetableId: null,
                  other: ''
                }
              }
            }
          })
        }
      }
      this.postBlockingChanges.handle({
        id: device.id,
        mac: device.mac,
        body: {
          changes: changes
        }
      }).then(() => {
        this.$emit('refresh')
      })
    })
  }

  get durations (): [number, string][] {
    // Generate dynamic one (until the end of the day)
    if (!this.blocking) {
      return []
    }
    const currTime = dayjs().tz(this.blocking.screentimeRules.timezone)
    const currHour = currTime.hour()
    const minute = currTime.minute()
    const hourDiff = 23 - currHour
    const minDiff = 59 - minute
    const secDiff = hourDiff*60*60 + minDiff*60
    const durations: [number, string][] = [
      [5*60, '5 minutes'],
      [15*60, '15 minutes'],
      [30*60, '30 minutes'],
      [60*60, '1 hour'],
      [2*60*60, '2 hours'],
      [3*60*60, '3 hours'],
      [4*60*60, '4 hours'],
      [5*60*60, '5 hours'],
      [6*60*60, '6 hours'],
      [7*60*60, '7 hours'],
      [8*60*60, '8 hours'],
      [secDiff, 'rest of day']
    ]
    return durations
  }
}
</script>

<style scoped>
.faded {
  opacity: 0.5;
}

.rule {
  border-radius: 20px;
  transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1.0);
}

.appear-enter, .appear-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.appear-leave-active {
  position: absolute;
}
</style>
