<template>
  <b-steps :has-navigation="false" style="margin-top: -25px" v-model="currStep" :class="{faded: loading}">
    <b-step-item headerClass="is-hidden">
      <div class="is-flex is-align-items-center">
        <div class="ml-2">
          <div class="is-size-5 has-text-weight-semibold is-family-secondary">Select a timetable</div>
          <div>{{ title }}</div>
        </div>
        <div class="is-flex-grow-1"/>
        <b-button
          :disabled="loading"
          rounded
          type="is-primary"
          label="Create timetable"
          icon-left="plus"
          @click="addTimetable"
        />
      </div>
      <div class="ml-2 mt-3 pt-3 mb-3 border-top">
        <transition-group name="appear">
          <div
            v-for="id in (options ? [-1].concat(ids) : ids)"
            :key="id"
            class="timetable mb-5 mt-2"
            @click="$event.stopPropagation(); toggle(id);"
          >
            <div class="is-flex is-align-items-center mb-4 mt-1">
              <b-button
                icon-left="calendar-edit-outline"
                rounded outlined
                type="is-primary"
                :disabled="loading || id === -1"
                @click="$event.stopPropagation(); editTimetable(id)"
                size="is-medium"
              />
              <div class="ml-4">
                {{ timetableDescriptions[id] }}
              </div>
              <div class="is-flex-grow-1"/>
              <b-dropdown
                v-if="options"
                :ref="'dropdown' + id"
                :disabled="loading"
                @click.native="$event.stopPropagation()"
                position="is-bottom-left"
              >
                <template #trigger>
                  <b-button
                    rounded
                    :label="!values[id] || values[id].selectedOption === -1 ? 'Excluded' : options.options[values[id].selectedOption].name"
                    :type="values[id] && values[id].selectedOption > 0 ? (options.blockingOption && options.blockingOption === values[id].selectedOption ? 'is-danger' : 'is-success') : 'is-light'"
                    icon-right="menu-down"
                  />
                </template>
                <b-dropdown-item
                  v-if="id !== -1"
                  @click="select(id, -1)"
                >
                  Excluded
                </b-dropdown-item>
                <b-dropdown-item
                  v-for="(option, idx) in options.options"
                  :key="idx"
                  @click="select(id, idx)"
                >
                  {{ option.name }}
                </b-dropdown-item>
              </b-dropdown>
              <b-checkbox
                v-else
                :value="values[id] !== undefined"
                @input="toggle(id)"
                :disabled="loading"
                @click.native="$event.stopPropagation()"
                type="is-primary"
              />
            </div>
            <div class="has-text-centered is-size-7">
              {{ screentimeMemberDescriptions[id] ? 'Applied to ' + screentimeMemberDescriptions[id] : '' }}
            </div>
          </div>
        </transition-group>
      </div>
    </b-step-item>
    <b-step-item headerClass="is-hidden">
      <div class="is-flex is-align-items-center">
        <b-button
          icon-left="arrow-left"
          type="is-primary"
          outlined rounded
          @click="currStep = 0"
        />
        <div class="ml-4 is-size-5 has-text-weight-semibold is-family-secondary">New Timetable</div>
        <div class="is-flex-grow-1"/>
      </div>
      <quick-timetable-add
        class="ml-2 mt-3 pt-3 mb-3 border-top"
        v-model="addingTimetable"
        :mobile="mobile"
        :title="title"
        @done="finishTimetableAdd"
        @custom="currStep = 2"
      />
    </b-step-item>
    <b-step-item headerClass="is-hidden">
      <div class="is-flex is-align-items-center">
        <b-button
          icon-left="arrow-left"
          type="is-primary"
          outlined rounded
          @click="currStep = 0"
        />
        <div class="ml-2 is-size-5 has-text-weight-semibold is-family-secondary">{{ editingTimetable ? 'Timetable' : 'Custom Timetable' }}</div>
        <div class="is-flex-grow-1"/>
        <b-field>
          <p class="control">
            <b-button
              label="Set Limit"
              icon-right="check"
              type="is-primary"
              rounded
              @click="editingTimetable ? finishTimetableEdit() : finishTimetableAdd()"
            />
          </p>
          <p class="control">
            <b-dropdown position="is-bottom-left">
              <template #trigger="{ active }">
                <b-button
                  rounded
                  :type="active ? 'is-primary' : undefined"
                  icon-left="dots-vertical"
                />
              </template>
              <b-dropdown-item @click="doDelete" v-if="editingTimetable">
                Delete
              </b-dropdown-item>
              <b-dropdown-item @click="clear">
                Clear timetable
              </b-dropdown-item>
            </b-dropdown>
          </p>
        </b-field>
      </div>
      <active-times-editor
        v-if="addingTimetable"
        class="ml-2 mt-3 pt-3 mb-3 border-top"
        :value="addingTimetable.activeTimes"
        @input="$set(addingTimetable, 'activeTimes', $event)"
      />
      <active-times-editor
        v-else-if="editingTimetable"
        class="ml-2 mt-3 pt-3 mb-3 border-top"
        :value="editingTimetable.activeTimes"
        @input="$set(editingTimetable, 'activeTimes', $event)"
      />
    </b-step-item>
  </b-steps>
</template>

<script lang="ts">
import { TimetableSpec } from '@/requests/blocking/get-app-blocking'
import { CategoryOptionsMetadata } from '@/requests/blocking/get-category-blocking'
import { CategoryModel } from '@/requests/blocking/patch-category-blocking-base-ruleset'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { ToggleAction } from './timers.vue'
import QuickTimetableAdd from '@/components/blocking/quick-timetable-add.vue'
import ActiveTimesEditor from './active-times-editor.vue'
import cloneDeep from 'lodash/cloneDeep'

export interface EditAction {
  id: number;
  spec: TimetableSpec | null;
}

@Component({
  components: {
    QuickTimetableAdd,
    ActiveTimesEditor
  }
})
export default class Timetables extends Vue {
  @Prop() readonly mobile: boolean | undefined
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly ids: number[] | undefined
  @Prop() readonly timetables: {[id: number]: TimetableSpec} | undefined
  @Prop() readonly timetableDescriptions: {[id: number]: string} | undefined
  @Prop() readonly screentimeMemberDescriptions: {[id: number]: string} | undefined
  @Prop() readonly title: string | undefined
  @Prop() readonly options: CategoryOptionsMetadata | undefined
  @Prop() readonly values: {[id: number]: CategoryModel} | undefined

  currStep = 0
  addingTimetable: TimetableSpec | null = null
  editingTimetableId = ''
  editingTimetable: TimetableSpec | null = null

  newEmptyTimetable (): TimetableSpec {
    const activeTimes: {[day: string]: boolean[]} = {};
    ["*", "weekday", "weekend", "2", "3", "4", "5", "6", "0", "1"].forEach(day => {
      const arr = []
      for (let i = 0; i < 96; i++) {
        arr.push(false)
      }
      activeTimes[day] = arr
    })
    return {
      activeTimes: activeTimes
    } as TimetableSpec
  }

  addTimetable () {
    this.addingTimetable = this.newEmptyTimetable()
    this.currStep = 1
  }

  editTimetable (id: string) {
    if (!this.timetables) {
      return
    }
    this.editingTimetable = cloneDeep(this.timetables[parseInt(id)])
    this.editingTimetableId = id
    this.currStep = 2
  }

  clear () {
    if (this.addingTimetable) {
      this.addingTimetable = this.newEmptyTimetable()
    } else if (this.editingTimetable) {
      const oldRef = this.editingTimetable.deviceRef
      this.editingTimetable = this.newEmptyTimetable()
      this.editingTimetable.deviceRef = oldRef
    }
  }

  finishTimetableEdit () {
    if (this.loading) {
      return
    }
    this.currStep = 0
    this.$emit('edit', {
      id: parseInt(this.editingTimetableId),
      spec: this.editingTimetable
    } as EditAction)
  }

  doDelete () {
    this.$buefy.dialog.confirm({
      type: 'is-danger',
      message: 'Delete timetable?',
      confirmText: 'Delete',
      onConfirm: () => {
        this.currStep = 0
        this.$emit('edit', {
          id: parseInt(this.editingTimetableId),
          spec: null
        } as EditAction)
      }
    })
  }

  finishTimetableAdd () {
    if (this.loading) {
      return
    }
    this.$emit('add', this.addingTimetable)
    this.addingTimetable = null
    this.currStep = 0
  }

  select (idStr: string, idx: number) {
    if (this.loading) {
      return
    }
    const id = parseInt(idStr)
    this.$emit('toggled', {
      id: id,
      option: idx
    } as ToggleAction)
  }

  toggle (idStr: string) {
    if (this.loading) {
      return
    }
    const id = parseInt(idStr)
    if (this.options) {
      (this.$refs['dropdown' + id] as any).toggle()
    } else if (this.values) {
      this.$emit('toggled', {
        id: id,
        blocked: this.values[id] === undefined 
      } as ToggleAction)
    }
  }

  @Watch('ids', { immediate: true }) initialAdd (ids: number[], old: number[] | undefined) {
    if (!ids.length && !old) {
      this.addTimetable()
    }
  }
}
</script>

<style scoped>
.timetable {
  cursor: pointer;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.faded {
  opacity: 0.5;
}

.appear-enter, .appear-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.appear-leave-active {
  position: absolute;
}
</style>
