<template>
  <div :class="{faded: loading}">
    <div class="is-flex is-align-items-center">
      <div class="ml-2">
        <div class="is-size-5 has-text-weight-semibold is-family-secondary">Select a timer</div>
        <div>{{ title }}</div>
      </div>
      <div class="is-flex-grow-1"/>
      <b-button
        v-if="!addingTimer"
        :disabled="loading"
        rounded
        type="is-primary"
        label="Create timer"
        icon-left="plus"
        @click="addingTimer = { day: '*', maxTimeSecs: 3600 }"
      />
    </div>
    <div class="ml-2 mt-3 pt-3 mb-3 border-top">
      <edit-timer
        v-if="addingTimer"
        :value="addingTimer"
        @input="addingTimer = $event; finishTimerAdd();"
        class="mb-6"
      />
      <transition-group name="appear">
        <div
          v-for="id in ids"
          :key="id"
          class="mb-5 mt-2"
          :class="{'is-clickable': editingTimer !== id}"
          @click="$event.stopPropagation(); toggle(id);"
        >
          <edit-timer
            v-if="editingTimer === id"
            :value="timers[editingTimer]"
            @input="finishTimerEdit($event)"
            :showDelete="true"
            class="mt-4 mb-5"
          />
          <div v-else>
            <div class="is-flex is-align-items-center mb-4 mt-1">
              <b-button
                icon-left="timer-edit-outline"
                rounded outlined
                type="is-primary"
                :disabled="loading"
                @click="$event.stopPropagation(); editingTimer = id;"
                size="is-medium"
              />
              <div class="ml-4">
                {{ timerDescriptions[id] }}
              </div>
              <div class="is-flex-grow-1"/>
              <b-dropdown
                v-if="options"
                :ref="'dropdown' + id"
                :disabled="loading"
                @click.native="$event.stopPropagation()"
                position="is-bottom-left"
              >
                <template #trigger>
                  <b-button
                    rounded
                    :label="!values[id] || values[id].selectedOption === -1 ? 'Excluded' : options.options[values[id].selectedOption].name"
                    :type="values[id] && values[id].selectedOption > 0 ? 'is-success' : 'is-light'"
                    icon-right="menu-down"
                  />
                </template>
                <b-dropdown-item
                  @click="select(id, -1)"
                >
                  Excluded
                </b-dropdown-item>
                <b-dropdown-item
                  v-for="(option, idx) in options.options.filter((_, idx) => !options.blockingOption || idx !== options.blockingOption)"
                  :key="idx"
                  @click="select(id, idx)"
                >
                  {{ option.name }}
                </b-dropdown-item>
              </b-dropdown>
              <b-checkbox
                v-else
                :value="values[id] !== undefined"
                @input="toggle(id)"
                :disabled="loading"
                @click.native="$event.stopPropagation()"
                type="is-primary"
              />
            </div>
            <div class="has-text-centered is-size-7">
              {{ screentimeMemberDescriptions[id] && screentimeMemberDescriptions[id].includes(' and ') ? 'Time shared between ' + screentimeMemberDescriptions[id] : '' }}
            </div>
          </div>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script lang="ts">
import { TimerSpec } from '@/requests/blocking/get-app-blocking'
import { CategoryOptionsMetadata } from '@/requests/blocking/get-category-blocking'
import { CategoryModel } from '@/requests/blocking/patch-category-blocking-base-ruleset'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import EditTimer from './edit-timer.vue'

export interface ToggleAction {
  id: number;
  blocked?: boolean;
  option?: number;
}

export interface EditAction {
  id: number;
  spec: TimerSpec | null;
}

@Component({
  components: {
    EditTimer
  }
})
export default class Timers extends Vue {
  @Prop() readonly loading: boolean | undefined
  @Prop() readonly ids: number[] | undefined
  @Prop() readonly timers: {[id: number]: TimerSpec} | undefined
  @Prop() readonly timerDescriptions: {[id: number]: string} | undefined
  @Prop() readonly screentimeMemberDescriptions: {[id: number]: string} | undefined
  @Prop() readonly title: string | undefined
  @Prop() readonly options: CategoryOptionsMetadata | undefined
  @Prop() readonly values: {[id: number]: CategoryModel} | undefined

  addingTimer: TimerSpec | null = null
  editingTimer = ''

  finishTimerAdd () {
    if (this.loading) {
      return
    }
    const newTimer = this.addingTimer
    this.addingTimer = null
    this.$emit('add', newTimer)
  }

  finishTimerEdit (newSpec: TimerSpec | null) {
    if (this.loading) {
      return
    }
    this.$emit('edit', {
      id: parseInt(this.editingTimer),
      spec: newSpec
    } as EditAction)
    this.editingTimer = ''
  }

  select (idStr: string, idx: number) {
    if (this.loading) {
      return
    }
    const id = parseInt(idStr)
    this.$emit('toggled', {
      id: id,
      option: idx
    } as ToggleAction)
  }

  toggle (idStr: string) {
    if (this.loading || idStr === this.editingTimer) {
      return
    }
    const id = parseInt(idStr)
    if (this.options) {
      (this.$refs['dropdown' + id] as any).toggle()
    } else if (this.values) {
      this.$emit('toggled', {
        id: id,
        blocked: this.values[id] === undefined 
      } as ToggleAction)
    }
  }

  @Watch('ids', { immediate: true }) initialAdd (ids: number[], old: number[] | undefined) {
    if (!ids.length && !old) {
      this.addingTimer = { day: '*', maxTimeSecs: 3600 } as TimerSpec
    }
  }
}
</script>

<style scoped>
.is-clickable {
  cursor: pointer;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.faded {
  opacity: 0.5;
}

.appear-enter, .appear-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.appear-leave-active {
  position: absolute;
}
</style>
