<template>
  <div class="outer" @mouseleave="showTooltip = false">
    <!-- Create a "table" out of absolutely positioned elements -->
    <div
      class="virtual-table"
    >
      <!-- An element that shows what's going on at the cursor -->
      <b-tooltip
        v-if="showTooltip"
        class="virtual-cell"
        type="is-light"
        style="width: 8px; border: 1px solid rgba(0, 0, 0, 0.5)"
        size="is-small"
        :multilined="true"
        :always="true"
        :append-to-body="true"
        position="is-top"
        :style="{
          left: tooltipLeft + 'px',
          top: tooltipTop + 'px',
          height: tooltipHeight + 'px'
        }"
      >
        <template v-slot:content>
          <div class="is-flex is-align-items-center">
            <div class="color-dot ml-2 mr-3" :class="'has-background-' + tooltipClass"/>
            <div>
              <div>
                {{ tooltipTime }}
              </div>
              <div>
                <div>
                  {{ tooltipExplanation }}
                </div>
              </div>
            </div>
          </div>
        </template>
      </b-tooltip>
      <!-- The header row containing times -->
      <span
        v-for="hour in hourRange"
        :key="'h' + hour"
        class="virtual-cell has-text-weight-bold is-flex pt-3 is-size-7"
        :style="{ left: (QUARTWIDTH*4+HGAP)*(hour+1) + 'px', top: '0px' }"
      >
        {{ hour % 3 === 0 ? formatHour(hour) : '' }}
      </span>
      <!-- Each row, containing day first then data -->
      <div
        style="position: static;"
        v-for="(day, dayIdx) in dayRange"
        :key="'d' + day[1]"
      >
        <span
          class="virtual-cell has-text-weight-bold pl-1 pt-1 is-size-7"
          :style="{ left: '0px', top: (HOURHEIGHT+VGAP)*(dayIdx+1) + 'px' }"
        >
          {{ day[0] }}
        </span>
        <div
          style="position: static;"
          v-for="hour in hourRange"
          :key="'h' + hour"
        >
          <div
            style="position: static;"
            v-for="quarter in quarterRange"
            :key="'q' + quarter"
          >
            <div
              v-for="(bind, idx) in quarterBinds(day[1], hour, quarter, dayIdx)"
              :key="idx"
              v-bind="bind"
              @mouseenter="updateTooltip($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Rule } from './stop-start-access-list.vue'

@Component
export default class Overview extends Vue {
  readonly HGAP = 3
  readonly VGAP = 4
  readonly QUARTWIDTH = 9
  readonly HOURHEIGHT = 30

  @Prop() readonly value: Rule[] | undefined

  showTooltip = false
  tooltipTime = ''
  tooltipClass = ''
  tooltipExplanation = ''
  tooltipLeft = 0
  tooltipTop = 0
  tooltipHeight = 0

  get hourRange (): number[] {
    const toReturn = []
    for (let i = 0; i < 24; i++) {
      toReturn.push(i)
    }
    return toReturn
  }

  get dayRange (): [string, number][] {
    return [ ['Mon', 0], ['Tue', 1], ['Wed', 2], ['Thu', 3], ['Fri', 4], ['Sat', 5], ['Sun', 6] ]
  }

  get quarterRange (): number[] {
    const toReturn = []
    for (let i = 0; i < 4; i++) {
      toReturn.push(i)
    }
    return toReturn
  }

  formatHour (hour: number): string {
    if (hour === 0) {
      return 12 + 'am'
    } else if (hour < 12) {
      return hour + 'am'
    } else if (hour === 12) {
      return 12 + 'pm'
    } else {
      return (hour - 12) + 'pm'
    }
  }

  formatHourAndMinute (hour: number, quarter: number, range: boolean): string {
    let currTime = ''
    let amPm = ''
    if (hour === 0) {
      currTime = '12'
      amPm = 'am'
    } else if (hour < 12) {
      currTime = hour + ''
      amPm = 'am'
    } else if (hour === 12) {
      currTime = '12'
      amPm = 'pm'
    } else {
      currTime = (hour - 12) + ''
      amPm = 'pm'
    }
    currTime += ':'
    if (quarter === 0) {
      currTime += '00'
    } else if (quarter === 1) {
      currTime += '15'
    } else if (quarter === 2) {
      currTime += '30'
    } else if (quarter === 3) {
      currTime += '45'
      // Special case: can't just do a range of minutes because this is the next hour, recurse
      return currTime + '-' + this.formatHourAndMinute(hour+1, 0, false)
    }
    if (!range) {
      return currTime
    }
    currTime += '-'
    quarter++
    if (quarter === 1) {
      currTime += '15'
    } else if (quarter === 2) {
      currTime += '30'
    } else if (quarter === 3) {
      currTime += '45'
    }
    return currTime
  }

  quarterBinds (day: number, hour: number, quarter: number, dayIdx: number): {[key: string]: string}[] {
    if (!this.value) {
      return []
    }
    let classes = []
    let descriptions: string[] = []
    const relevantDays = this.getRelevantDays(day)
    // If we find our own color, show that. Otherwise, show the last other color we can.
    const timers: number[] = []
    let timerDescription = ''
  outer: for (const rule of this.value) {
      if (rule.timer) {
        for (const currDay of relevantDays) {
          if (rule.timer.spec.day === currDay) {
            timers.push(rule.id)
            timerDescription = rule.text
            continue outer
          }
        }
      } else if (rule.timetable) {
        for (const currDay of relevantDays) {
          if (rule.timetable.spec.activeTimes[currDay][hour * 4 + quarter]) {
            classes.push(rule.color as string)
            descriptions.push(rule.text)
          }
        }
      }
    }
    if (!classes.length) {
      if (timers.length) {
        classes.push('grey-light')
      } else {
        classes.push('grey-dark')
      }
    }
    return classes.map((cls, clsIdx) => {
      const numClasses = classes.length
      const height = this.HOURHEIGHT / numClasses
      const top = (this.HOURHEIGHT+this.VGAP)*(dayIdx+1) + (height)*(clsIdx)
      const left = (this.QUARTWIDTH*4+this.HGAP)*(hour+1) + quarter * this.QUARTWIDTH
      const time = this.dayRange.filter(currDay => currDay[1] === day)[0][0] + ' ' + this.formatHourAndMinute(hour, quarter, true)
      return {
        'style': 'height: ' + height + 'px; top: ' + top + 'px; left: ' + left + 'px',
        'class': 'virtual-cell quarter-class ' + 'has-background-' + cls,
        'data-top': top + '',
        'data-left': left + '',
        'data-height': height + '',
        'data-show': cls === 'grey-dark' ? '' : '1',
        'data-time': time,
        'data-class': cls,
        'data-description': cls === 'grey-light' ? (timers.length > 1 ? timers.length + ' timers' : timerDescription) : descriptions[clsIdx]
      }
    })
  }

  getRelevantDays (day: number): string[] {
    const relevantDays = ['*', day + '']
    if (day > 4) {
      relevantDays.push('weekend')
    } else {
      relevantDays.push('weekday')
    }
    return relevantDays
  }

  updateTooltip (mousevent: MouseEvent) {
    const el = mousevent.target as HTMLDivElement
    const topStr = el.getAttribute('data-top')
    const leftStr = el.getAttribute('data-left')
    const ourClass = el.getAttribute('data-class')
    const heightStr = el.getAttribute('data-height')
    const tooltipTime = el.getAttribute('data-time')
    const tooltipExplanation = el.getAttribute('data-description')
    if (!topStr || !leftStr || !ourClass || !heightStr || !tooltipTime || !el.getAttribute('data-show') || !tooltipExplanation) {
      return
    }
    const top = parseInt(topStr)
    const left = parseInt(leftStr)
    const height = parseInt(heightStr)
    this.showTooltip = true
    this.tooltipLeft = left
    this.tooltipTop = top
    this.tooltipClass = ourClass
    this.tooltipHeight = height
    this.tooltipTime = tooltipTime
    this.tooltipExplanation = tooltipExplanation
  }
}
</script>

<style scoped lang="scss">
$vgap: 5px;
$hgap: 4px;
$quartwidth: 9px;
$hourheight: 30px;

.virtual-table {
  overflow: visible;
  position: relative;
  height: calc(8*#{$hourheight} + 8*#{$vgap});
  width: calc(24*#{$quartwidth} + 24*#{$hgap});
}

.virtual-cell {
  position: absolute;
}

table {
  width: 875px;
}

.outer {
  overflow-x: auto;
  overflow-y: visible;
  margin: auto;
}

.quarter-container {
  width: 34px;
  position: static;
}

.quarter {
  height: 20px;
  width: 8px;
  position: static;
  display: inline-block;
}

.quarter-class {
  width: $quartwidth;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  flex-shrink: 0;
}
</style>
