<template>
  <div id="app">
    <top-bar
      v-if="!immersive"
      :show="showHeaderFooter"
      :login="isNoAuthPage"
      :expanded.sync="isExpanded"
      :mobile="isMobile"
      :loading="loading"
      :subStatus.sync="subStatus"
      :hideNavbar="hideNavbar"
    ></top-bar>
    <navbar
      v-if="!isNoAuthPage && !immersive && !hideNavbar"
      :expanded.sync="isExpanded"
      :mobile="isMobile"
      :subStatus="subStatus"
    ></navbar>
    <div
      class="view-container"
      :class="{
        'pad-top': !immersive,
        'small-pad-top': immersive,
        'pad-left': !isNoAuthPage && !isMobile && !hideNavbar && isExpanded,
        'page-min-height': !isMobile && !isNoAuthPage
      }"
    >
      <router-view
        :mobile="isMobile"
        :loading.sync="loading"
        :subStatus.sync="subStatus"
        :isPro="isPro"
        :immersive="immersive"
      />
    </div>
    <app-footer v-if="showHeaderFooter && !immersive"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
// Individual buefy components don't have types:
/* eslint-disable @typescript-eslint/ban-ts-ignore */
// @ts-ignore
import { Datetimepicker, Progress, Button, Collapse, Dialog, Dropdown, Autocomplete, Checkbox, Datepicker, Field, Input, Numberinput, Radio, Select, Switch, Icon, Message, Modal, Pagination, Snackbar, Steps, Table, Tabs, Tag, Toast, Tooltip, Carousel, Image, Slider } from 'buefy'
import Component from 'vue-class-component'
import '@mdi/font/css/materialdesignicons.css'
import { polyFill } from '@/helpers/polyfills'
import { Watch } from 'vue-property-decorator'
import { Route } from 'vue-router'
import relativeTime from 'dayjs/plugin/relativeTime'
import dayjs from 'dayjs'

dayjs.extend(relativeTime)

Vue.use(Button)
Vue.use(Collapse)
Vue.use(Dialog)
Vue.use(Dropdown)
Vue.use(Autocomplete)
Vue.use(Checkbox)
Vue.use(Datepicker)
Vue.use(Field)
Vue.use(Input)
Vue.use(Numberinput)
Vue.use(Radio)
Vue.use(Select)
Vue.use(Switch)
Vue.use(Icon)
Vue.use(Message)
Vue.use(Modal)
Vue.use(Pagination)
Vue.use(Snackbar)
Vue.use(Steps)
Vue.use(Table)
Vue.use(Tabs)
Vue.use(Tag)
Vue.use(Toast)
Vue.use(Tooltip)
Vue.use(Carousel)
Vue.use(Image)
Vue.use(Progress)
Vue.use(Slider)
Vue.use(Datetimepicker)
polyFill()

const MOBILE_THRESHOLD = 870

declare let plausible: (event: string) => void

@Component({
  components: {
    AppFooter: () => import('@/components/common/footer.vue'),
    TopBar: () => import('@/components/common/top-bar.vue'),
    Navbar: () => import('@/components/common/navbar.vue')
  }
})
export default class App extends Vue {
  /**
   * Whether to show the mobile layout.
   */
  isMobile = false
  /**
   * Whether the nav is expanded (applies with mobile layout)
   */
  isExpanded = false
  /**
   * Whether to show a global loading state.
   */
  loading = true
  /**
   * The current subscription state.
   */
  subStatus = ''
  /**
   * Whether we are in "immersive" mode. This is used for embedded webviews on mobile
   * apps. It hides the header/footer and will also modify some components, e.g. not to
   * prompt to download the mobile app etc.
   */
  immersive = false

  constructor () {
    super()
    // Register listener for responsive nav
    window.addEventListener('resize', this.onResize.bind(this))
  }

  mounted () {
    this.onResize()
    this.checkPlausibleEvents()
    this.immersive = localStorage.getItem('my-ss-immersive') === '1'
  }

  checkPlausibleEvents () {
    if (this.$route.query['ref-follow'] && plausible) {
      plausible('orig-ref-' + this.$route.query['ref-follow'])
    }
  }

  /**
   * Triggered when the window resizes, to adjust
   * the navbar layout.
   */
  private onResize () {
    this.isMobile = window.innerWidth <= MOBILE_THRESHOLD
    if (this.isMobile) {
      this.isExpanded = false
    } else {
      this.isExpanded = true
    }
  }

  /**
   * @returns Whether we are on an unauthenticated page.
   */
  get isNoAuthPage (): boolean {
    if (!this.$route.meta) {
      return false
    }
    return this.$route.meta.noAuthAccess
  }

  get hideNavbar (): boolean {
    if (!this.$route.meta) {
      return false
    }
    return this.$route.meta.hideNavbar
  }

  /**
   * @returns Whether to show the top bar and footer.
   */
  get showHeaderFooter (): boolean {
    if (!this.$route.meta) {
      return true
    }
    return !this.$route.meta.hideHeaderFooter
  }

  get isPro (): boolean {
    switch (this.subStatus) {
      case 'ACTIVE':
      case 'COURTESY':
      case 'NON_RENEWING':
      case 'TRIAL':
      case 'TRIAL_CANCELLED':
      case 'FUTURE':
        return true
      default:
        return false
    }
  }

  @Watch('$route') routeChanged (curr: Route, old: Route) {
    this.loading = old.name !== curr.name
  }
}
</script>

<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
@import "./colors.scss";

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "primary-dark": ($primary-dark, $primary-dark-invert),
    "primary-darker": ($primary-darker, $primary-darker-invert),
    "primary-light": ($primary-light, $primary-light-invert),
    "info": ($info, $info-invert),
    "success": ($ss-success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($ss-danger, $danger-invert),
    "danger-dark": ($ss-danger-dark, $danger-invert),
    'pink': ($ss-pink, $primary-invert),
    'purple': ($ss-purple, $primary-invert),
    'deep-purple': ($ss-deep-purple, $primary-invert),
    'indigo': ($ss-indigo, $primary-invert),
    'blue': ($ss-blue, $primary-invert),
    'cyan': ($ss-cyan, $primary-invert),
    'teal': ($ss-teal, $primary-invert),
    'green': ($ss-green, $primary-invert),
    'light-green': ($ss-light-green, $primary-invert),
    'orange': ($ss-orange, $primary-invert),
    'contrast': ($contrast, $contrast-invert)
);

// SET YOUR BULMA VARIABLES HERE

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$family-secondary: 'Raleway', sans-serif;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.separated-item {
  border: 1px solid $primary;
}
</style>

<style>
html {
  background-color: #fafafa;
}

.view-container {
  padding-left: 40px;
  padding-right: 40px;
}

.pad-top {
  margin-top: 80px;
}

.small-pad-top {
  margin-top: 15px;
}

.page-min-height {
  min-height: calc(100vh - 60px);
}

/* Applied when the viewport is wide enough */
.pad-left {
  margin-left: 265px;
}

.blur {
  filter: blur(6px);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 650px) {
  .view-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
</style>
