<template>
  <div>
    <spinner v-if="loading"/>
    <div v-else>
      <div
        class="is-inline-flex"
        v-for="categoryId in categories.categoryOrder"
        :key="categoryId"
      >
        <div
          class="device px-4 py-4 mr-4 mb-2 mt-2 has-background-white"
          v-if="categoryId < 65532 && (categories.categoryData[categoryId].alertDefault || categories.categoryData[categoryId].displayed)"
        >
          <b-checkbox
            :value="value[categoryId]"
            @input="categoryChecked(categoryId, $event)"
          >
            {{ categories.categoryData[categoryId].name }}
          </b-checkbox>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import Spinner from '@/components/common/spinner.vue'
import { Prop } from 'vue-property-decorator'
import cloneDeep from 'lodash/cloneDeep'
import { CategoryMetadata } from '@/requests/blocking/get-category-blocking'
import GetCategoryBlockingMetadata from '@/requests/blocking/get-category-blocking-metadata'

@Component({
  components: {
    Spinner
  }
})
export default class IncludedCategories extends Vue {
  @Prop() readonly value: {[id: number]: boolean} | undefined
  categories: CategoryMetadata | null = null

  getCategoryBlockingMetadata = new GetCategoryBlockingMetadata()

  mounted () {
    this.getCategoryBlockingMetadata.handle({
      includeNotBlockable: true
    }).then(categories => {
      this.categories = categories.spec
      this.updateCategories()
    })
  }

  /**
   * If new categories were added that aren't in the
   * settings, add them with their default alert value.
   */
  updateCategories () {
    if (!this.categories) {
      return
    }
    const categories = this.categories
    const cloned = cloneDeep(this.value) as {[id: number]: boolean}
    let anyChanged = false
    if (this.categories) {
      this.categories.categoryOrder.forEach(categoryId => {
        if (cloned[categoryId] === undefined) {
          anyChanged = true
          cloned[categoryId] = categories.categoryData[categoryId].alertDefault
        }
      })
    }
    if (anyChanged) {
      this.$emit('input', cloned)
    }
  }

  /**
   * Update a category when the checked status changes.
   */
  categoryChecked (categoryID: number, checked: boolean) {
    const cloned = cloneDeep(this.value) as {[id: number]: boolean}
    cloned[categoryID] = checked
    this.$emit('input', cloned)
  }

  /**
   * @returns Whether the component is loading.
   */
  get loading (): boolean {
    return this.categories === null
  }
}
</script>

<style scoped>
.device {
  border-radius: 50px;
  box-shadow:  -5px -5px 10px #d9d9d9,
              5px 5px 10px #ffffff;
}
</style>
